<template>
<div>
  <div class="my_form_wrap">
    <el-form ref="addressForm" :model="addressForm" :rules="rules" :label-position="rightPos" label-width="120px">
      <el-form-item label="收货人姓名：" prop="receiver" class="width200">
        <el-input v-model="addressForm.receiver"  placeholder="填写收货人姓名"></el-input> 
      </el-form-item>
       <el-form-item label="所在地区：" prop="district">
         <v-distpicker @selected="onSelected" :province="addressForm.province" :city="addressForm.city" :area ="addressForm.district "></v-distpicker>
      </el-form-item>
      <el-form-item label="详细地址：" prop="detailed">
        <el-input type="textarea" v-model="addressForm.detailed"></el-input>
      </el-form-item>
      <el-form-item label="手机号:"  prop="mobile">
        <el-input v-model="addressForm.mobile"></el-input>
      </el-form-item>
      <el-form-item  class="my-button-bar">
          <el-button type="primary" @click="onSubmit('addressForm')" style="background:#8C1515;border-color:#8C1515">保存</el-button>
          <el-button class="cancle-btn" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</div>
</template>

<script>
import '@static/css/personal/invoice_open.less'
import VDistpicker from 'v-distpicker'
import { getAddressAPI } from '@/api/order/shopping'

export default {
  name: 'invoiceOpen',
  props:['formValue'],
  data() {
    return {
      rightPos:"right",
      addressForm: {
        receiver:null,
        detailed:null,
        mobile: null,
        province: null, 
        city: null, 
        district: null,
      },
      rules: { 
        receiver:[
          { required: true, message: '请输入收货人姓名'},
          { min: 1, max: 10, message: '请填写正确的收货人姓名'} 
        ],
        detailed:[
          { required: true, message: '请填写详细收获地址，例如街道名称、门牌号、楼号信息' },
          { min: 10, message: '字数过少'},
          { max: 50, message: '字数过多'} 
        ],
        mobile: [
          { required: true, message: '请输入手机号'},
          { pattern: /^1[34578]\d{9}$/, message: '手机号不正确' }
        ],
        district:[{required:true,message:'请选择所在地区'}]
      },
      

    }
  }, 
  components: { 
    VDistpicker 
  },
  mounted() {
    //判断是否有本地地址
    const localAdress=JSON.parse(window.localStorage.getItem('localAdressForm'));
    if(localAdress){
      this.addressForm=localAdress
    }else{
      this.getHistoryInfo()
    }
  },
  methods: {
    getHistoryInfo() {
      getAddressAPI().then(res => {
        if(res.data.code == 0){
          if(res.data.data){
            this.addressForm = res.data.data
          }
        }
      })
    },
    onSelected(data) {
      this.addressForm.province = data.province.value
      this.addressForm.city = data.city.value
      this.addressForm.district  = data.area.value
      this.$refs['addressForm'].clearValidate('district')
    },
    onSubmit(formName) {
      let that = this;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //将保存的地址存放到本地的localstrage
          window.localStorage.setItem('localAdressForm',JSON.stringify(this.addressForm))
          this.$emit("change-address", this.addressForm)
        } else{
          this.$message.error('请将地址填写完整')
        }
      });
    },
    cancel() {
        this.$emit("change-cancel")
    },
    updateAdress(){
      if(JSON.parse(window.localStorage.getItem('localAdressForm'))){
        this.addressForm=JSON.parse(window.localStorage.getItem('localAdressForm'))
      }else{
        this.getHistoryInfo()
      }
    }
  }
}
</script>

