<template>
  <div id="confirm">
    <div class="confirm_content">
      <div class="confirm_top">
        <div class="confirm_text">填写并核对订单信息</div>
        <div class="confirm_img">
          <img src="@/assets/images/shopping/confirm-order.png">
          <span>我的购物车</span>
          <span>填写订单</span>
          <span class="not_confirm">完成订单</span>
        </div>
      </div>
      <div class="confirm_table">
        <span class="confirm_info">商品信息</span>
        <span class="confirm_price">单价（元）</span>
        <span class="confirm_num">数量</span>
        <span class="confirm_total">小计</span>
      </div>
      <div class="confirm_ebook" v-for="(item,index) in list" :key="index">
        <div class="confirm_title">{{item.goodsTypeName}}</div>
        <div class="confirm_list" v-for="(info,index2) in item.shoppingCartInfoVos" :key="index2">
          <div class="confirm_image" @click="listDetails(info.goodsId,info.goodsType)" v-if="!(!info.cover && info.goodsType == 3)">
            <img :src="`${uploadUrl}file/?fileName=${info.cover}&isOnLine=true`" v-if="info.cover">
            <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-if="!info.cover && info.goodsType == 1">
            <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-if="!info.cover && info.goodsType == 4">
            <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-if="!info.cover && info.goodsType == 5">
            <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-if="!info.cover && info.goodsType == 6">
            <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-if="!info.cover && info.goodsType == 7">
          </div>
          <div  :class="!(!info.cover && info.goodsType == 3)?'confirm_name':'confirm_name cover_confirm_name'" @click="listDetails(info.goodsId,info.goodsType)">{{info.name}}</div>
          <div class="confirm_money">
            <span>￥{{info.salePrice.toFixed(2)}}</span>
            <span class="line_price" v-if="info.price">￥{{info.price.toFixed(2)}}</span>
          </div>
          <div class="confirm_number">{{info.num}}</div>
          <div class="confirm_total" style="font-weight:bold" v-if="info.salePrice">￥{{(info.salePrice*info.num).toFixed(2)}}</div>
        </div>
      </div>
      <div class="confirm_invoice" v-if="isExist">
        <div class="confirm_invoice_title">收货地址：</div>
        <div class="confirm_invoice_text">
          <el-checkbox v-model="address" style="margin-right:10px" @change="addressChange()"></el-checkbox>
          填写收货地址
        </div>
        <div class="confirm_invoice_info" v-if="address">
          <span>{{addressForm.province}}{{addressForm.city}}{{addressForm.district }}{{addressForm.addressDetails}}</span>
          <span @click="editAddressChange()" style="color:#C71009">编辑</span>
        </div>
      </div>
      <div class="confirm_invoice">
        <div class="confirm_invoice_title">发票信息：</div>
        <div class="confirm_invoice_text">
          <el-checkbox v-model="invioce" style="margin-right:10px" @change="invoiceChange(invioce)"></el-checkbox>
          需要开发票
        </div>
        <div class="confirm_invoice_info" v-if="invioce == true">
          <span v-if="isEdit == true">{{typeList[dataForm.invoiceContext-1]}}</span>
          <span v-if="isEdit == true">{{dataForm.invoiceTitle}}</span>
          <span v-if="isEdit == true">{{titleName[dataForm.invoiceType]}}</span>
          <span v-if="isEdit == true">{{dataForm.taxpayerIdentificationNumber}}</span>
          <span @click="editInvoice()" style="color:#C71009">编辑</span>
        </div>
      </div>
      <div class="confirm_order">
        <div class="confirm_goods"><div class="confirm_outside">共{{num}}件商品，商品总金额：<span v-if="totalPrice">￥{{totalPrice.toFixed(2)}}</span></div></div>
        <div class="confirm_goods"><div class="confirm_outside">商品优惠：<span v-if="saveMoney">￥{{saveMoney.toFixed(2)}}</span></div></div>
        <div class="confirm_goods confirm_payment"><div class="confirm_outside">应付总额：<span>￥{{paymentMoney.toFixed(2)}}</span></div></div>
        <div class="confirm_bottom">
          <div class="confirm_bottom_btn" @click="submitOrder()">提交订单</div>
          <router-link :to="{name:'shoppingCart',query:{ids:ids}}">
            <div class="confirm_bottom_tips">返回购物车修改</div>
          </router-link>
        </div>
      </div>

      <el-dialog :title="invioceTitle" :visible.sync="dialogFormVisible" width="600px" @close="closeInvioce">
         <invoice-open ref="invioceSon"  @change-data="receiveDate" @change-cancel="dialogFormVisible = false"></invoice-open>
      </el-dialog>

      <el-dialog title="填写收货地址" :visible.sync="addressDialog" width="600px" @close="closeAdress">
         <address-open ref="addressSon" @change-address="receiveAddress" @change-cancel="addressDialog = false"></address-open>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import "@static/css/shopping/confirm-order.less";
import invoiceOpen from "@/views/shopping/invoice"
import addressOpen from "@/views/shopping/address"
import { shoppingAPI, createOrderAPI, getGoodsInfo, confirmAddressAPI, hasBookAPI } from '@/api/order/shopping'
import { uploadUrl } from '@/utils/global';
import { setTimeout } from 'timers';
//import func from '../../../vue-temp/vue-editor-bridge';

export default {
  name: 'confirmOrder',
  data(){
    return {
      ids: this.$route.query.id,
      invioce: false,
      dialogFormVisible: false,
      list: [],
      uploadUrl: uploadUrl,
      num: 0,
      totalPrice: 0,
      saveMoney: 0,
      dataForm: {
        invoiceContext:"1",//图书,明细,资料
        invoiceTel:"",
        title:"",//人、公司
        invoiceType: 0,//发票抬头
        taxpayerIdentificationNumber: ""//纳税人识别号
      },
      invioceTitle: '发票信息',
      paymentMoney: 0,
      needInvoice: 0,
      typeList:['图书','明细','资料'],
      titleName:['个人','公司'],
      isEdit:false,
      addressDialog: false,
      address: false,
      addressForm:{
        receiver:null,
        detailed:null,
        mobile: null,
        province: null, 
        city: null, 
        district : null,
      },
      addressId: null,
      isExist: null,
    }
  },
  created(){
    if(this.$route.query.id && this.$route.query.type){//立即购买方式
      getGoodsInfo({id:this.$route.query.id, goodsType: this.$route.query.type}).then(res => {
        if(res.data.code == 0){
          this.list.push(
            {
              goodsTypeName: res.data.data.resourceTypeName,
              shoppingCartInfoVos:[
                {
                  goodsId: res.data.data.goodsid,
                  cover: res.data.data.cover,
                  name: res.data.data.name,
                  price: res.data.data.price,
                  salePrice: res.data.data.salePrice,
                  goodsType: res.data.data.type,
                  num: 1
                }
              ]
            }
          )
          this.getNum()
        }
      })
    } else{ //购物车方式
      this.getList();
    }
    this.hasBook()
  },
  components:{
    invoiceOpen,
    addressOpen
  },
  methods:{
    hasBook() { //是否有实体书--0无1有
      if(this.$route.query.id && this.$route.query.type){//立即购买通道
        if(this.$route.query.type == 11){//实体书类型
          this.isExist = 1
        } else{
          this.isExist = 0
        }
      } else{ //购物车判断是否有实体书
        hasBookAPI({ids:this.ids}).then(res => {
          if(res.data.code == 0){
            this.isExist = res.data.data
          }
        })
      }
    },
    getList() {
      shoppingAPI({ids:this.ids}).then(res => {
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('数据加载失败，请稍后再试')
        } else if(res.data.code == 0){
          this.list = res.data.data.shoppingCartTypeVos
          this.getNum()
        }
      })
    },
    getNum() {//获取总额-总num
      this.num = 0;
      this.totalPrice = 0;
      this.saveMoney = 0;
      this.paymentMoney = 0;
      this.list.map(el => {
        el.shoppingCartInfoVos.map(infoList => {
          this.num = infoList.num + this.num
          this.totalPrice = this.totalPrice + (infoList.price*infoList.num)
          this.saveMoney = this.saveMoney + (infoList.price-infoList.salePrice)*infoList.num
          this.paymentMoney = this.paymentMoney + (infoList.salePrice*infoList.num)
        })
      })
    },
    addressChange() {
      let that=this
      if(this.address){
        this.addressDialog = true;  
        setTimeout(function(){
          that.$refs.addressSon.updateAdress()
        },100)             
      } 
    },
    editAddressChange() {
      let that=this;
      setTimeout(function(){
        that.$refs.addressSon.updateAdress()
      },100)
      this.addressDialog = true;
    },
    closeAdress(){
      this.$refs.addressSon.$refs['addressForm'].resetFields()
    },
    invoiceChange(invioceType) {//更换发票方式
      let that=this
      if(invioceType) {//开发票
        this.dialogFormVisible = true;
        setTimeout(function(){
          that.$refs.invioceSon.updateInvoice()
        },100)
        this.needInvoice = 1
      } else{
        this.needInvoice = 0
      }
    },
    editInvoice() {//编辑发票
      let that=this
      this.invioceTitle = '发票信息'
      this.dialogFormVisible = true;
      setTimeout(function(){
          that.$refs.invioceSon.updateInvoice()
      },100)
    },
    closeInvioce(){
      this.$refs.invioceSon.$refs['invoiceForm'].resetFields()
    },
    receiveDate(val) {//获取数据
      this.isEdit = true
      this.dialogFormVisible = false;
      let { title: invoiceTitle, ...valData } = val
      this.dataForm =  {invoiceTitle, ...valData}
    },
    receiveAddress(val) {
      this.addressDialog = false;
      this.addressForm =  Object.assign({}, val)
    },
    submitOrder() {//提交订单
      //是否含有纸质书
      if(this.isExist){//含有纸质书
        if(this.address){
          let addressForm = this.addressForm
          if(addressForm.receiver&&addressForm.detailed&&addressForm.mobile&&addressForm.province&&addressForm.city&&addressForm.district){
            this.orderList() //地址已经填写--生成订单
          } else{
            this.$message.error('请填写地址')
          }
        } else{
          this.$message.error('请选择地址')
        }
      } else{//不含纸质书---直接生成订单
        this.orderList()
      }
    },
    orderList() {//确认购买---生成订单
      confirmAddressAPI(this.addressForm).then(res => {
        if(res.data.code == 0){
          this.addressId = res.data.data.id
            if(!this.$route.query.type){
              let goodsList = [];
              this.list.map(el => {
                el.shoppingCartInfoVos.map(info =>{
                  goodsList.push({
                    goodsId:info.goodsId,
                    goodsType:info.goodsType,
                    num:info.num,
                    salePrice:info.salePrice,
                  })
                })
              })
              let data = {
                buyType: 3, //购买类型 1.立即购买 2.再次购买 3.购物车 4.组合购买
                express: 0, //邮费 必传，如果没有邮费传值0
                goodsList: goodsList,
                invoiceForm: this.dataForm,
                shoppingCartIds: this.ids.split(","), // (Array[integer], optional): 购物车id
                needInvoice: this.needInvoice,
                addressId:this.addressId
              };
              createOrderAPI(data).then(res =>{
                if(res.data.code >0) {
                  this.$message.warning(res.data.msg)
                } else if (res.data.code <0) {
                  this.$message.error('订单提交失败，请稍后再试')
                } else if(res.data.code == 0){
                  this.$message.success('提交成功')
                  this.$router.push({name:'pay',query:{id:res.data.data}});
                }
              })
            }else{
              this.immeBuy(res.data.data.id);
            }
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    immeBuy(){//立即购买
      let goodsList = [];
      goodsList.push({
        goodsId:this.list[0].shoppingCartInfoVos[0].goodsId,
        goodsType:this.list[0].shoppingCartInfoVos[0].goodsType,
        num:1,
        salePrice:this.list[0].shoppingCartInfoVos[0].salePrice,
      })
      let data = {
        buyType: 1, //购买类型 1.立即购买 2.再次购买 3.购物车 4.组合购买
        express: 0, //(number, optional): 邮费 必传，如果没有邮费传值0
        goodsList: goodsList,
        invoiceForm: this.dataForm,
        needInvoice: this.needInvoice,
        addressId:this.addressId
      };
      createOrderAPI(data).then(res =>{
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('订单提交失败，请稍后再试')
        } else if(res.data.code == 0){
          this.$message.success('提交成功')
          this.$router.push({name:'pay',query:{id:res.data.data}});
        }
      })
    },
    listDetails(id,type) {//跳转商品详情
      if(type == '1' || type == '11'){//图书 --- 实体书
        this.$router.push({name:'bookDetails',query:{id:id}});
      } else if(type == '3'){//文章
        this.$router.push({name:'articleread',query:{id:id}});
      } else if(type == '4'){//图片
        this.$router.push({name:'imageDetails',query:{id:id}});
      } else if(type == '5'){//视频
        this.$router.push({name:'videoDetails',query:{id:id}});
      } else if(type == '6'){//音频
        this.$router.push({name:'audioDetails',query:{id:id}});
      } else if(type == '7'){//课件
        this.$router.push({name:'fileDetails',query:{id:id}});
      } else if(type == '9'){//在线课程
        this.$router.push({name:'courseDetails',query:{id:id}});
      }
    },
  },
  destroyed:function(){
    window.localStorage.removeItem('localAdressForm')
  }
}
</script>
