<template>
  <div id="shopping" v-loading="loading">
    <div class="shopping_content">
      <div v-if="list.length>0">
        <div class="shopping_top">
          <div class="shopping_text">我的购物车</div>
          <div class="shopping_img">
            <img src="@/assets/images/shopping/line.png">
            <span>我的购物车</span>
            <span class="not_shopping">填写订单</span>
            <span class="not_shopping">完成订单</span>
          </div>
        </div>
        <div class="shopping_soldout" v-if="dropCarts.length>0"> 
          <img src="@/assets/images/shopping/tip.png">
          您的购物车中有<span>{{dropCarts.length}}</span>件商品已下架，您可以<span @click="deleteResource(dropCarts,'确认清除下架商品？')">清除下架商品</span>
        </div>
        <div class="shopping_table">
          <span class="shopping_select">
            <el-checkbox  v-model="controlCheck" style="margin-right:10px" @change="controlChecked(controlCheck)"></el-checkbox>
            全选
          </span>
          <span class="shopping_info">商品信息</span>
          <span class="shopping_price">单价（元）</span>
          <span class="shopping_num">数量</span>
          <span class="shopping_total">小计</span>
          <span class="shopping_set">操作</span>
        </div>
        <!-- list -->
        <div class="shopping_ebook" v-for="item in list" :key="item.id">
          <div class="shopping_title">
            <el-checkbox v-model="item.totalCheck" style="margin-right:10px" @change="totalChecked(item.totalCheck,item.goodsType)"></el-checkbox>
            <span>{{item.goodsTypeName}}</span>
          </div>
          <div v-for="info in item.shoppingCartInfoVos" :key="info.id">
            <div class="shopping_list" v-if="info.bookStatus != 0">
              <el-checkbox v-model="info.checked" @change="single"></el-checkbox>
              <div class="shopping_image" @click="listDetails(info.goodsId,info.goodsType)" v-if="!(!info.cover && info.goodsType == 3)">
                <img :src="`${uploadUrl}file/?fileName=${info.cover}&isOnLine=true`" v-if="info.cover">
                <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-if="!info.cover && info.goodsType == 1">
                <!-- <img src="@/assets/images/resource/doctor_default.png" alt="默认封面" v-if="!info.cover && info.goodsType == 2"> -->
                <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-if="!info.cover && info.goodsType == 4">
                <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-if="!info.cover && info.goodsType == 5">
                <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-if="!info.cover && info.goodsType == 6">
                <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-if="!info.cover && info.goodsType == 7">
              </div>
              <div :class="!(!info.cover && info.goodsType == 3)?'shopping_name':'cover_shopping_name'" @click="listDetails(info.goodsId,info.goodsType)">
                <p v-if="info.name">{{info.name.length>40?info.name.substr(0,40)+'...':info.name}}</p>
              </div>
              <div class="shopping_money">
                <span><span v-if="info.salePrice">￥{{info.salePrice.toFixed(2)}}</span></span>
                <span class="line_price" v-if="info.price">￥{{info.price.toFixed(2)}}</span>
              </div>
              <div class="shopping_number" v-if="info.goodsType != 11">{{info.num}}</div>
              <div class="shopping_number" v-else>
                <el-input-number v-model="info.num" @change="handleNumChange(info.id)" :min="1"></el-input-number>
              </div>
              <div class="shopping_total">￥<span v-if="info.salePrice">{{info.shopTotal.toFixed(2)}}</span></div>
              <div class="shopping_btn">
                <p @click="favorite({id:info.goodsId,type:info.goodsType})">移入收藏</p>
                <p @click="deleteResource([info.id],'确定要删除已选商品吗?')">删除</p>
              </div>
            </div>
            <div class="shopping_list list_soldout" v-else>
              <span class="shopping_soldtext">下架</span>
              <div class="shopping_image">
                <img :src="`${uploadUrl}file/?fileName=${info.cover}&isOnLine=true`" v-if="info.cover">
                <img src="@/assets/images/resource/book_default.png" v-else>
              </div>
              <div class="shopping_name">{{info.name}}</div>
              <div class="shopping_money">
                <span>￥{{info.salePrice}}</span>
                <span class="line_price" v-if="info.price">￥{{info.price.toFixed(2)}}</span>
              </div>
              <div class="shopping_number">{{info.num}}</div>
              <div class="shopping_total">￥{{info.salePrice.toFixed(2)}}</div>
              <div class="shopping_btn">
                <p>移入收藏</p>
                <p @click="deleteResource([info.id],'确定要删除已选商品吗?')">删除</p>
              </div>
            </div>
          </div>
        </div>
        <!-- 结算 -->
        <div class="shopping_order">
          <el-checkbox v-model="controlCheck" @change="controlChecked(controlCheck)">全选</el-checkbox>
          <span class="shopping_collect" @click="batchFavorite()">移到我的收藏</span>
          <span class="shopping_delete" @click="batchDelete()">批量删除</span>
          <div class="shopping_bottom_btn" @click="settlement()">去结算</div>
          <div class="shopping_orderinfo">
            <p>商品件数：<i>{{num}}</i> 件  总金额：<i class="shopping_last_money">￥{{totalPrice.toFixed(2)}}</i>（不含运费）</p>
            <p>已节省：￥{{saveMoney.toFixed(2)}}</p>
          </div>
        </div>
      </div>
      <div v-else class="shopping_null">
        <img src="@/assets/images/shopping/bg.png">
        <div class="info">
          <p>您的购物车空空的哦，赶快去看看心仪的产品吧~</p>
          <router-link :to="{path:'/index'}">
            <span>去逛逛</span>
          </router-link>
        </div>
      </div>
      <!-- 推荐 -->
      <div class="shopping_recommend">
        <div class="shopping_recommend_title"><img src="@/assets/images/home/icon.png">为您推荐</div>
          <div class="personal_product">
            <div class="personal_productCon">
              <div class="personal_list" v-for="item in recommendList" :key="item.id">
                <router-link target="_blank" :to="{name:'bookDetails',query:{id:item.id}}">
                  <div class="image_box">
                    <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover" style="cursor: pointer" class="img">
                    <img src="@/assets/images/resource/book_default.png" v-else class="img">
                  </div>
                  <p class="shopping_name" :title="item.name">
                    <span v-if="item.name">{{item.name.length>20?item.name.substr(0,20)+'...':item.name}}</span>
                  </p>
                </router-link>
                <p class="personal_moneytext">
                  <span v-if="item.realPrice">￥{{item.realPrice.toFixed(2)}}</span>
                  <span v-if="item.realPrice == 0">免费</span>
                  <span v-if="!item.realPrice && item.realPrice != 0">未定价</span>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- 删除对话框 -->
    <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%" :append-to-body="true">
        <div class="el-dialog_text">{{dialogText}}</div>
        <div class="dialog_foot">
            <div class="dialog_confirm" @click="confirmDel">确定</div>
            <div class="dialog_cancel" @click="delDialogVisible = false">取消</div>
        </div>
    </el-dialog>
    <div class="sucDialog" v-if="sucDialog">{{sucDialogText}}</div>
  </div>
</template>

<script>
import "@static/css/shopping/index.less";
import { getListAPI, deleteAPI, recommendAPI, favoriteAPI, favoriteMoveAPI, isRepeatAPI, changeNumAPI } from '@/api/order/shopping'
import { shopCartAPI } from '@/api/common'
import { uploadUrl } from '@/utils/global'

export default {
  name: 'shoppingCart',
  data(){
    return {
      checked:null,
      dropCarts:[],
      list:[],
      controlCheck: true,
      num: 0,
      totalPrice: 0,
      saveMoney:0,
      uploadUrl: uploadUrl,
      recommendList:[],
      delDialogVisible: false,
      deleteId: null,
      ids: this.$route.query.ids,
      sucDialog: false,
      sucDialogText: null,
      dialogText: null,
      loading: true,
    }
  },
  created(){
    this.getList()
    
  },
  methods:{
    getList() {//购物车列表
      getListAPI().then(res => {
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('数据加载失败，请稍后再试')
        } else if(res.data.code == 0){
          this.dropCarts = res.data.data.dropCarts;
          if(this.ids){//确认订单返回
            res.data.data.shoppingCartTypeVos.map(el => {
              el.shoppingCartInfoVos.map(infoList => {
                if(this.ids.indexOf(infoList.id.toString()) != -1 || this.ids.indexOf(infoList.id) != -1){
                  infoList.checked = true
                } else{
                  this.controlCheck = false
                }
                infoList.shopTotal = infoList.salePrice*infoList.num
              })
            })
          } else{
            res.data.data.shoppingCartTypeVos.map(el => {
              el.totalCheck = false
              el.shoppingCartInfoVos.map(infoList => {
                if(infoList.bookStatus != 0) {
                  infoList.checked = false
                  this.controlCheck = false
                  infoList.shopTotal = infoList.salePrice*infoList.num
                }
              })
            })
          }
          this.list = res.data.data.shoppingCartTypeVos
          this.getNum()
        }
        this.getRecommend() //推荐位
      })
    },
    getNum() {//获取总额-总num
      this.controlCheck = true
      this.num = 0;
      this.totalPrice = 0;
      this.saveMoney = 0;
      this.list.map(el => {
        let checkedNum = 0
        el.shoppingCartInfoVos.map(infoList => {
          if(infoList.checked){
            if(infoList.bookStatus != 0) {
              checkedNum = checkedNum + 1
              this.num = this.num + infoList.num //总数量
              this.totalPrice = this.totalPrice + (infoList.salePrice*infoList.num)
              if(infoList.price) {
                this.saveMoney = this.saveMoney + ((infoList.price-infoList.salePrice)*infoList.num)
              }
            }
          } else{
            this.controlCheck = false
            infoList.totalCheck = false
          } 
        })
        if(checkedNum == el.shoppingCartInfoVos.length){
          el.totalCheck = true
        } else{
          el.totalCheck = false
        }
      })
    },
    single() {//单选change
      this.getNum()
    },
    controlChecked(controlCheck) {//全选
      this.list.map(el => {
        el.totalCheck = controlCheck
        el.shoppingCartInfoVos.map(infoList => {
          infoList.checked = controlCheck
        })
      }) 
      this.getNum()
    },
    totalChecked(totalCheck,goodsType) {//单块全选
      this.list.map(el => {
        if(el.goodsType == goodsType){
          el.shoppingCartInfoVos.map(infoList => {
            infoList.checked = totalCheck
          })
        }
      }) 
      this.getNum()
    },
    deleteResource(id,text) {//删除
      this.deleteId = id
      this.dialogText = text
      this.delDialogVisible = true;
    },
    confirmDel() {//确认删除
      deleteAPI(this.deleteId).then(res =>{
        this.delDialogVisible = false
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('删除失败，请稍后再试')
        } else if(res.data.code == 0){
          this.sucDialog = true
          this.sucDialogText = "删除成功"
          setTimeout(() => {
            this.sucDialog = false
          }, 1500)
          this.getList()
        }
      })
    },
    batchDelete() {//选中批量删除
      let ids = []
      this.list.map(el => {
        el.shoppingCartInfoVos.map(infoList => {
          if(infoList.checked){
            ids.push(infoList.id)
          }
        })
      })
      if(ids.length <= 0){
        this.$message.warning('请选择至少一条数据进行删除')
      } else{
        this.deleteResource(ids,'确定要删除已选商品吗?')
      }
    },
    getRecommend() {//推荐列表
      recommendAPI({num:5}).then(res => {
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('数据加载失败，请稍后再试')
        } else if(res.data.code == 0){
          this.recommendList = res.data.data
        }
        this.loading = false
      })
    },
    favorite(obj) {//收藏
      let goodsList = []
      if(obj instanceof Array){
        goodsList = obj
      } else{
        goodsList.push(obj)
      }
      favoriteMoveAPI({goodsList:goodsList}).then(res => {
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('收藏失败，请稍后再试')
        } else if(res.data.code == 0){
          this.sucDialog = true
          this.sucDialogText = "收藏成功"
          this.getList()
          setTimeout(() => {
            this.sucDialog = false
          }, 1500)
        }
      })
    },
    batchFavorite() {//选中批量收藏
      let ids = []
      this.list.map(el => {
        el.shoppingCartInfoVos.map(infoList => {
          if(infoList.checked){
            ids.push({
              id:infoList.goodsId,
              type:infoList.goodsType
            })
          }
        })
      })
      if(ids.length <= 0){
        this.$message.warning('请选择至少一条数据进行收藏')
      } else{
        this.favorite(ids)
      }
    },
    handleNumChange(id) { //实体书数量发生变化
      this.list.map(el => {
        el.shoppingCartInfoVos.map(infoList => {
          if(infoList.id == id){
            infoList.shopTotal = infoList.salePrice*infoList.num
            //请求接口告知后台num数量发生变化
            changeNumAPI({goodsId:infoList.goodsId,num:infoList.num,goodsType:infoList.goodsType}).then(res =>{})
          }
        })
        this.getNum()
      })
    },
    settlement() {//结算
      let ids = []
      this.list.map(el => {
        el.shoppingCartInfoVos.map(infoList => {
          if(infoList.checked && infoList.bookStatus){
            ids.push(infoList.id)
          }
        })
      })
      if(ids.length <= 0){
        this.sucDialog = true
        this.sucDialogText = "请选择要结算的商品"
        setTimeout(() => {
          this.sucDialog = false
        }, 1500)
      } else{
        let id = ids.join(',')
        isRepeatAPI({ids:id}).then(res => {
          if(res.data.code == 0){
            if(res.data.data == 1){//不能购买重复资源
              this.sucDialog = true
              this.sucDialogText = "不需要同时购买图书和书中的内容"
              setTimeout(() => {
                this.sucDialog = false
                this.$router.push({path:'/confirmOrder',query:{id:id}})
              }, 1500)
            } else{
              this.$router.push({path:'/confirmOrder',query:{id:id}})
            }
          }
        })
      }
    },
    listDetails(id,type) {//跳转商品详情
      if(type == '1' || type == '11'){//图书--实体书
        this.$router.push({name:'bookDetails',query:{id:id}});
      } else if(type == '3'){//文章
        this.$router.push({name:'articleread',query:{id:id}});
      } else if(type == '4'){//图片
        this.$router.push({name:'imageDetails',query:{id:id}});
      } else if(type == '5'){//视频
        this.$router.push({name:'videoDetails',query:{id:id}});
      } else if(type == '6'){//音频
        this.$router.push({name:'audioDetails',query:{id:id}});
      } else if(type == '7'){//课件
        this.$router.push({name:'fileDetails',query:{id:id}});
      } else if(type == '9'){//在线课程
        this.$router.push({name:'courseDetails',query:{id:id}});
      }
    },
    pushShopping(id,goodsType) {//加入购物车
      shopCartAPI({
        goodsId: id,
        goodsType,
        num: 1
      }).then(res => {
        if(res.data.code>0) {
          this.$message.error(res.data.msg)
        } else if(res.data.code<0) {
          this.$message.error('添加购物车失败，请稍后再试')
        } else{
          this.$message.success('添加购物车成功！')
          this.getList()
        }
      })
    },
  }
}
</script>

