#articleRead {
  font-size: 14px;
  background: #f8f8f8;
  width: 100%;
}
#articleRead .answer_main {
  width: 1200px;
  margin: 0 auto;
}
#articleRead .sub_right {
  width: 934px;
  margin-left: 12px;
  background: #fff;
  border: 1px solid #E6E3E0;
}
#articleRead .answer_sub {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
#articleRead .answer_sub .sub_left {
  flex: 1;
  height: 460px;
  background: #ffffff;
  border: 1px solid #E6E3E0;
}
#articleRead .subline_left {
  flex: 1;
  width: 250px;
  height: 3px;
  background-image: url(../../../src/assets/images/medical/line-left.png);
}
#articleRead .left_bg {
  position: absolute;
  left: 0;
  bottom: 0;
}
#articleRead .right_bg {
  position: absolute;
  right: 0;
  bottom: 0;
}
#articleRead .submit {
  background: #9D7B4B !important;
}
#articleRead .right_style {
  float: right;
}
#articleRead .right_style .reads {
  color: #BFBFBF;
}
#articleRead .right_style .heart_btn,
#articleRead .right_style .noheart_btn {
  padding-left: 20px;
  background-image: url(../../../src/assets/images/resource/icon_collection_hover.png);
  background-position: left center;
  background-size: 12px;
  background-repeat: no-repeat;
  margin-left: 16px;
  color: #EA8422;
}
#articleRead .right_style .noheart_btn {
  background-image: url(../../../src/assets/images/resource/icon_collection.png);
  color: #BFBFBF;
}
#articleRead .right_style .share {
  color: #bfbfbf;
  margin-left: 20px;
  position: relative;
}
#articleRead .right_style .share:hover .share_wrap {
  display: block;
}
#articleRead .right_style .share_wrap {
  display: none;
}
#articleRead .right_style .error_btn {
  color: #BFBFBF;
  margin-left: 16px;
}
#articleRead .right_style .error_btn.iconColor {
  color: #F2B67B;
}
#articleRead .pdf_read_btn span {
  cursor: pointer;
}
#articleRead .pdf_read_left .hot_list:hover .router-link-active {
  color: #205FC6 !important;
}
#articleRead .answer_location .answer_index {
  cursor: pointer;
}
#articleRead .answer_location a span {
  color: #999999;
}
#articleRead .answer_location span:last-child span:last-child {
  color: #2473D6;
}
#articleRead .errorAll {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
#articleRead .errorAll .errorAlert {
  width: 402px;
  height: 262px;
  background: #FCFBF9;
  border: 1px solid #D8CBBF;
  border-radius: 2px;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.2);
}
#articleRead .errorAll .errorAlert .errorTop {
  color: #46515A;
  height: 42px;
  line-height: 42px;
  width: 368px;
  padding: 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D8CBBF;
}
#articleRead .errorAll .errorAlert .errorTop span {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #46515a;
  line-height: 48px;
}
#articleRead .errorAll .errorAlert .errorTop .close {
  cursor: pointer;
  font-size: 24px;
  opacity: 0.5;
  color: #C6B8AB;
}
#articleRead .errorAll .errorAlert .errorText {
  position: relative;
}
#articleRead .errorAll .errorAlert .errorText textarea {
  border: none;
  height: 144px;
  width: 368px;
  padding: 15px 17px;
  resize: none;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  line-height: 24px;
  color: #46515a;
}
#articleRead .errorAll .errorAlert .errorText span {
  position: absolute;
  right: 8px;
  bottom: 5px;
  color: #999999;
  font-size: 12px;
  font-family: MicrosoftYaHei;
}
#articleRead .errorAll .errorAlert .btn {
  width: 100%;
  padding-top: 6px;
  border-top: 1px solid #D8CBBF;
}
#articleRead .errorAll .errorAlert .btn .submit {
  float: right;
  display: block;
  margin-right: 12px;
  border: none;
  width: 66px;
  height: 25px;
  background: #18adb8;
  border-radius: 2px;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
}
#articleRead .bg {
  background-image: url(../../../src/assets/images/resource/btn_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
#articleRead .limit_bg {
  background: url(../../../src/assets/images/resource/btn_bg.png) no-repeat center center;
  background-size: contain;
}
#articleRead .articleOver {
  height: auto;
  line-height: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #9A7646;
  padding-bottom: 80px;
}
#articleRead .articleOver .limit_tips {
  height: 30px;
  padding: 20px 38px;
  cursor: pointer;
}
#articleRead .articleOver a {
  color: #F2444A;
  text-decoration: none;
  cursor: pointer;
}
#articleRead .articleOver ul,
#articleRead .articleOver li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#articleRead .articleOver .article_limit {
  padding-top: 36px;
}
#articleRead .articleOver .article_limit .left_btn,
#articleRead .articleOver .article_limit .right_btn {
  cursor: pointer;
  display: inline-block;
  width: 234px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-weight: normal;
}
#articleRead .articleOver .article_limit .left_btn span,
#articleRead .articleOver .article_limit .right_btn span {
  font-weight: bold;
}
#articleRead .articleOver .article_limit .left_btn span del,
#articleRead .articleOver .article_limit .right_btn span del {
  padding-left: 10px;
  color: #E8CFAF;
  font-weight: normal;
}
#articleRead .articleOver .article_limit .left_btn {
  background-image: url(../../../src/assets/images/resource/left_btn.png);
  background-repeat: no-repeat;
  margin-right: 30px;
}
#articleRead .articleOver .article_limit .right_btn {
  background-image: url(../../../src/assets/images/resource/right_btn.png);
  background-repeat: no-repeat;
}
#articleRead .writeBg {
  padding: 30px;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
}
#articleRead .writeBg .articleTextarea {
  position: relative;
}
#articleRead .writeBg .articleTextarea textarea {
  resize: none;
}
#articleRead .writeBg .articleTextarea span {
  position: absolute;
  right: 8px;
  bottom: 5px;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 28px;
}
#articleRead .medetails_content_com .medetails_content_comTitle {
  font-size: 16px;
  color: #901414;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
#articleRead .medetails_content_com .medetails_content_comTitle::after {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: #901414;
  margin-top: 10px;
}
#articleRead .medetails_content_com .medetails_content_rate {
  margin-top: 32px;
  margin-bottom: 18px;
  overflow: hidden;
}
#articleRead .medetails_content_com .medetails_content_rate span {
  float: left;
}
#articleRead .medetails_content_com .medetails_content_rate .el-rate {
  float: left;
}
#articleRead .medetails_content_com .medetails_content_textarea {
  background-color: #F4F4F4;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 16px 10px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
}
#articleRead .medetails_content_com .medetails_content_btn {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: right;
  color: #fff;
  background: #394E79;
  cursor: pointer;
  margin-top: 16px;
}
#articleRead .medetails_content_com .medetails_content_item {
  overflow: hidden;
  margin-top: 60px;
  border-bottom: 1px dashed #DDD4C3;
  margin-bottom: 10px;
}
#articleRead .medetails_content_com .medetails_content_item .itemHeader {
  width: 54px;
  height: 54px;
  background: #f5f5f5;
  border-radius: 50%;
  float: left;
  display: block;
}
#articleRead .medetails_content_com .medetails_content_item .itemHeader img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
#articleRead .medetails_content_com .medetails_content_item .listCont {
  width: 785px;
  float: right;
  display: block;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit {
  width: 100%;
  height: 32px;
  overflow: hidden;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit span.title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
  float: left;
  display: block;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit .itemStar {
  float: left;
  position: relative;
  width: 120px;
  height: 30px;
  left: 20px;
  top: 0;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit .itemStar span {
  position: absolute;
  top: 5px;
  z-index: 3;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit .itemStar span img {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit .itemStar ul {
  position: absolute;
  z-index: 2;
  top: 5px;
  overflow: hidden;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit .itemStar ul li {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
  background: url("../../../src/assets/images/personal/startk.png") no-repeat;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemTit span:last-child {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemCont {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  line-height: 26px;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 5px;
  padding-bottom: 22px;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .comNum {
  padding-left: 20px;
  background: url("../../../src/assets/images/resource/reply_info.png") no-repeat center left;
  margin-right: 23px;
  cursor: pointer;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .comNum:hover {
  background: url(../../../src/assets/images/resource/reply_info_hover.png) no-repeat center left;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .comNum:hover span {
  color: #EA8422;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .comNum span {
  line-height: 26px;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .thumbNum {
  background-position: 0px 4px;
  cursor: pointer;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .thumbNum img {
  margin-top: -3px;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .thumbNum span {
  line-height: 26px;
}
#articleRead .medetails_content_com .medetails_content_item .listCont .itemOper .thumbNum span.fontColor {
  color: #EA8422;
}
#articleRead .medetails_content_com .medetails_content_item ul,
#articleRead .medetails_content_com .medetails_content_item li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#articleRead .medetails_content_com .medetails_content_more {
  color: #B37022;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 42px auto;
}
#articleRead .article_read_content {
  padding: 0 25px;
  font-size: 14px;
}
#articleRead .article_read_content .article_read_content_top {
  padding-bottom: 48px;
  border-bottom: 1px solid #E7E4E1;
  margin-bottom: 30px;
}
#articleRead .article_read_content .article_read_content_top .title {
  font-size: 24px;
  color: #666666;
  padding: 28px 0;
}
#articleRead .article_read_content .article_read_content_top .sub_title {
  color: #666;
  float: left;
}
#articleRead .article_read_content .article_read_content_top .sub_title span .sub-title-a {
  color: #8C1515;
}
#articleRead .article_read_content .article_read_content_inner {
  padding-bottom: 30px;
}
#articleRead .article_read_content .article_read_content_inner .article_read_content_block {
  margin-bottom: 40px;
}
#articleRead .article_read_content .article_read_content_inner .article_read_content_block .title {
  height: 30px;
  line-height: 30px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}
#articleRead .article_read_content .article_read_content_inner .article_read_content_block .txt {
  color: #666;
  line-height: 30px;
  text-indent: 28px;
}
#articleRead .article_read_content .article_read_content_inner .article_read_content_block .txt img {
  max-width: 807px;
  margin-left: -28px;
}
#articleRead .article_read_content .article_read_content_audio {
  text-align: center;
  position: relative;
}
#articleRead .article_read_content .article_read_content_audio .article_read_content_audiono {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 66px;
}
#articleRead .article_read_content .article_read_content_video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  position: relative;
}
#articleRead .article_read_content .article_read_content_video video {
  position: relative;
  max-width: 807px;
}
#articleRead .article_read_content .article_read_content_video .article_read_content_videono {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
}
#articleRead .article_read_right {
  overflow: hidden;
}
#articleRead .article_read_right .right_title {
  height: 40px;
  line-height: 40px;
  color: #8C1515;
  background: #F8F8F8;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  border-top: 3px solid #8C1515;
  margin-bottom: 27px;
}
#articleRead .article_read_right .article_read_list {
  width: 250px;
}
#articleRead .article_read_right .article_read_list p {
  color: #4A433A;
  line-height: 30px;
  margin: 10px 0;
  cursor: pointer;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#articleRead .article_read_right .article_read_list p span {
  background: #f6f3ee;
  color: #666666;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin: 0 14px;
}
#articleRead .article_read_right .article_read_list p:hover span {
  background: #FEAA5B;
  color: #fff;
}
#articleRead .article_read_right .article_read_list p a {
  color: #666666;
}
#articleRead .article_read_right .article_read_list p a:hover {
  color: #B18854;
}
#bdshare_weixin_qrcode_dialog.bd_weixin_popup {
  left: 1000px !important;
  top: 610px !important;
}
