
#articleRead {
  font-size: 14px;
  background: #f8f8f8;
  width: 100%;
  .answer_main {
      width: 1200px;
      margin: 0 auto;
  }
  .sub_right {
      width: 934px;
      margin-left: 12px;
      background: #fff;
      border: 1px solid #E6E3E0;
  }
  .answer_sub {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
  }

  .answer_sub .sub_left {
    flex: 1;
    height:460px;
    background: #ffffff;;
    border: 1px solid #E6E3E0;
  }

  .subline_left {
    flex: 1;
    width: 250px;
    height: 3px;
    background-image: url(../../../src/assets/images/medical/line-left.png);
  }
  .left_bg{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .right_bg{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .submit{
    background: #9D7B4B !important;
  }
  .right_style{
    float: right;
    .reads{
      color:#BFBFBF;
    }
    .heart_btn,.noheart_btn{
      padding-left: 20px;
      background-image:url(../../../src/assets/images/resource/icon_collection_hover.png);
      background-position: left center;
      background-size: 12px;
      background-repeat: no-repeat;
      margin-left: 16px;
      color: #EA8422;
    }
    .noheart_btn{
      background-image:url(../../../src/assets/images/resource/icon_collection.png);
      color: #BFBFBF;
    }
    .share{
      color: #bfbfbf;
      margin-left: 20px;
      position: relative;
      &:hover {
        .share_wrap {
          display: block;
        }
      }
    }
    .share_wrap {
      display: none;
    }
    .error_btn{
      color: #BFBFBF;
      margin-left: 16px;
      &.iconColor {
        color: #F2B67B;
      }
      // i {
        
      // }
    }
  }
  .pdf_read_btn {
    span {
      cursor: pointer
    }
  }
  .pdf_read_left {
    .hot_list:hover .router-link-active {
      color: #205FC6 !important;
    }
  }
  .answer_location {
    .answer_index {
      cursor: pointer;
    }
    a span {
      color: #999999;
    }
    span:last-child {
      span:last-child {
        color: #2473D6
      }
    }
  }
  .errorAll {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .errorAlert {
      width: 402px;
      height: 262px;
      background: #FCFBF9;
      border: 1px solid #D8CBBF;
      border-radius: 2px;
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.2);
      .errorTop {
        color: #46515A;
        height: 42px;
        line-height: 42px;
        width: 368px;
        padding: 0 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #D8CBBF;
        span {
          font-size: 16px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(70, 81, 90, 1);
          line-height: 48px;
        }
        .close{
          cursor: pointer;
          font-size: 24px;
          opacity: 0.5;
          color: #C6B8AB;
        }
      }
      .errorText {
        position: relative;
        textarea {
          border: none;
          height: 144px;
          width: 368px;
          padding: 15px 17px;
          resize: none;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          line-height: 24px;
          color: #46515a;
        }
        span {
          position: absolute;
          right: 8px;
          bottom: 5px;
          color: rgba(153, 153, 153, 1);
          font-size: 12px;
          font-family: MicrosoftYaHei;
        }

      }

      .btn {
        width: 100%;
        padding-top: 6px;
        border-top: 1px solid #D8CBBF;
        .submit {
          float: right;
          display: block;
          margin-right: 12px;
          border: none;
          width: 66px;
          height: 25px;
          background: rgba(24, 173, 184, 1);
          border-radius: 2px;
          font-size: 12px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 24px;
        }
      }
    }

  }
  .bg{
    background-image: url(../../../src/assets/images/resource/btn_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  .limit_bg{
    background: url(../../../src/assets/images/resource/btn_bg.png) no-repeat center center;
    background-size: contain;
  }
  .articleOver {
    height: auto;
    line-height: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: #9A7646;
    padding-bottom: 80px;
    .limit_tips{
      height: 30px;
      padding: 20px 38px;
      cursor: pointer;
    }
    a {
      color: #F2444A;
      text-decoration: none;
      cursor: pointer;
    }
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .article_limit{
      padding-top: 36px;
      .left_btn,.right_btn{
        cursor: pointer;
        display: inline-block;
        width: 234px;
        height: 44px;
        line-height: 44px;
        color: #fff;
        font-weight: normal;
        span {
          font-weight: bold;
          del {
            padding-left: 10px;
            color: #E8CFAF;
            font-weight: normal;
          }
        }
      }
      .left_btn{
        background-image: url(../../../src/assets/images/resource/left_btn.png);
        background-repeat:no-repeat;
        margin-right: 30px;
      }
      .right_btn{
        background-image: url(../../../src/assets/images/resource/right_btn.png);
        background-repeat:no-repeat;
      }
    }

  }
  .writeBg {
    padding: 30px;
    box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
    .articleTextarea {
      position: relative;
      textarea {
        resize: none;
      }
      span {
        position: absolute;
        right: 8px;
        bottom: 5px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(170, 170, 170, 1);
        line-height: 28px;
      }
    }
  }
  .medetails_content_com {
    .medetails_content_comTitle {
      font-size: 16px;
      color: #901414;
      font-weight: bold;
      border-bottom: 1px solid #ddd;
      &::after {
        content: "";
        display: block;
        width: 32px;
        height: 2px;
        background: #901414;
        margin-top: 10px;
      }
    }
    .medetails_content_rate {
      margin-top: 32px;
      margin-bottom: 18px;
      overflow: hidden;
      span {
        float: left;
      }
      .el-rate {
        float: left;
      }
    }

    .medetails_content_textarea {
      background-color: #F4F4F4;
      outline: none;
      border-radius: 3px;
      border: none;
      padding: 16px 10px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
    }

    .medetails_content_btn {
      width: 80px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      float: right;
      color: #fff;
      background: #394E79;
      cursor: pointer;
      margin-top: 16px;
    }

    .medetails_content_item {
      overflow: hidden;
      margin-top: 60px;
      border-bottom: 1px dashed #DDD4C3;
      margin-bottom: 10px;
      .itemHeader {
        width: 54px;
        height: 54px;
        background: #f5f5f5;
        border-radius: 50%;
        float: left;
        display: block;
        img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
        }
      }
      .listCont {
        width: 785px;
        float: right;
        display: block;
        .itemTit {
          width: 100%;
          height: 32px;
          overflow: hidden;
          span.title {
            font-family: MicrosoftYaHei-Bold;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
            line-height: 24px;
            float: left;
            display: block;
          }
          .itemStar {
            float: left;
            position: relative;
            width: 120px;
            height: 30px;
            left: 20px;
            top: 0;
            span {
              position: absolute;
              top: 5px;
              z-index: 3;
              img {
                float: left;
                display: block;
                width: 13px;
                height: 13px;
                overflow: hidden;
                margin-right: 5px;
              }
            }
            ul {
              position: absolute;
              z-index: 2;
              top: 5px;
              overflow: hidden;
              li {
                float: left;
                display: block;
                width: 13px;
                height: 13px;
                overflow: hidden;
                margin-right: 5px;
                background: url("../../../src/assets/images/personal/startk.png") no-repeat;
              }
            }
          }

          span:last-child {
            font-size: 12px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(183, 183, 183, 1);
            line-height: 24px;
            margin: 0;
            padding: 0;
          }
        }
        .itemCont {
          font-size: 14px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(85, 85, 85, 1);
          line-height: 26px;
        }
        .itemOper {
          height: 30px;
          display: flex;
          justify-content: flex-end;
          align-content: center;
          font-size: 12px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(170, 170, 170, 1);
          margin-top: 5px;
          padding-bottom: 22px;
          .comNum {
            padding-left: 20px;
            background: url("../../../src/assets/images/resource/reply_info.png") no-repeat center left;
            margin-right: 23px;
            cursor: pointer;
            &:hover {
              background: url(../../../src/assets/images/resource/reply_info_hover.png) no-repeat center left;
              span {
                color: #EA8422;
              }
            }
            span {
              line-height: 26px;
              // color: #A49482;
            }

          }
          .thumbNum {
            img {
              margin-top: -3px;
            }
            background-position: 0px 4px;
            cursor: pointer;
            span {
              line-height: 26px;
              &.fontColor {
                color: #EA8422;
              }
            }
          }
        }

      }
      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    .medetails_content_more {
      color: #B37022;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      margin: 42px auto;
    }
  }

  .article_read_content{
    padding: 0 25px;
    font-size: 14px;
    .article_read_content_top{
      padding-bottom: 48px;
      border-bottom: 1px solid #E7E4E1;
      margin-bottom: 30px;
      .title{
        font-size: 24px;
        color: #666666;
        padding: 28px 0;
      }
      .sub_title{
        color: #666;
        float: left;
        span{
          .sub-title-a{
            color: #8C1515;
          }
        }
      }
    }
    .article_read_content_inner{
      padding-bottom: 30px;
      .article_read_content_block{
        margin-bottom: 40px;
        .title{
          height: 30px;
          line-height: 30px;
          // padding-left: 30px;
          // background-image: url(../../../src/assets/images/home/article_title_icon.png);
          // background-repeat: no-repeat;
          // background-position: 0 5px;
          color: #333333;
          font-size:16px;
          font-weight:bold;
        }
        .txt{
          // background: #ccc;
          color:#666;
          line-height: 30px;
          text-indent: 28px;
          img{
            max-width: 807px;
            margin-left: -28px;
          }
        }
  
        
      }
    }
    .article_read_content_audio{
      text-align: center;
      position: relative;
      .article_read_content_audiono{
        position: absolute;
        z-index: 11;
        width:100%;
        height:66px;
      }
    }
    .article_read_content_video{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
      position: relative;
      video{
        position: relative;
        max-width: 807px;
      }
      .article_read_content_videono{
        position: absolute;
        z-index: 11;
        width:100%;
        height:100%;
      }
    }
    .audio_bg{
      // height: 150px;
      // margin:0 auto;
      // padding: 62px 90px 0 25px;
      // background: url(../../../src/assets/images/medical/audio_bg.png) no-repeat top center;
    }
  }
  .article_read_right{
    overflow: hidden;
    .right_title{
      height: 40px;
      line-height: 40px;
      color: #8C1515;
      background: #F8F8F8;
      padding-left: 10px;
      font-size:16px;
      font-weight:bold;
      box-sizing: border-box;
      border-top: 3px solid #8C1515;
      margin-bottom: 27px;
    }
    .article_read_list{
      width: 250px;
      p{
        color: #4A433A;
        line-height: 30px;
        margin: 10px 0;
        cursor: pointer;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        span{
          background: RGBA(246, 243, 238, 1);
          color: #666666;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          line-height: 20px;
          margin: 0 14px;
        }
        &:hover{
          span{
            background: #FEAA5B;
            color: #fff;
          }
        }
        a{
          color: #666666;
          &:hover{
            color: #B18854;
          }
        }
      }
      
    }
  }
}

#bdshare_weixin_qrcode_dialog.bd_weixin_popup {
  left: 1000px !important;
  top: 610px !important;
}