.course_home_page{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 48px;
  .course_left{
    float: left;
    width: 250px;
    overflow: hidden;
    border: solid 1px #E7E4E1;
    border-top: none;
    margin-bottom: 40px;
    .course_con{
      border-top: 3px solid #8C1515;
      background: #fff;
      padding-bottom: 24px;
      border-left: 1px solid #E7E4E1;
      .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
        background: #f8f5f1 !important;
        &:hover{
          background: #f8f5f1 !important;
        }
      }
      .el-tree-node:focus>.el-tree-node__content{
        background: #f8f5f1 !important;
      }
      .el-tree-node__content{
        &:hover{
          background: #f8f5f1 !important;
        }
      }
      .title{
        color:#771F1D;
        width: 250px;
        height: 42px;
        line-height: 42px;
        padding-left: 13px;
        font-size:16px;
        font-weight:bold;
        margin-bottom: 20px;
        background: #f8f8f8;
      }
    }
    .search_history_box{
      padding: 0 18px;
      overflow: hidden;
      span{
        display: inline-block;
        padding: 4px 16px;
        border: solid 1px #E3E3E3;
        color: #444444;
        border-radius:4px;
        font-size: 14px;
        margin-bottom: 14px;
        margin-right: 14px;
        cursor: pointer;
        &:hover{
          color: #C81D22;
        }
      }
    }
  }
  .course_right{
    float: right;
    width: 936px;
    .course_list{
      min-height: 500px;
      background-image: url(../../../src/assets/images/resource/list_top.png);
      background-repeat: no-repeat;
      border: solid 1px #E7E4E1;
      overflow: hidden;
      background: #fff;
    }
    .list_keyword{
      font-size:14px;
      height: 25px;
      line-height: 25px;
      margin: 15px 26px;
      span{
        color: #5A5248;
        margin-left: 12px;
        cursor: pointer;
      }
      .title{
        color: #494137;
        margin-left: 0;
        font-weight:bold;
      }
    }
    .check_keyword{
      margin: 15px 26px;
      font-size: 14px;
      .check_title{
        color: #555555;
      }
      .check_btn{
        height: 22px;
        line-height: 22px;
        border: solid 1px #9D8D7A;
        padding-left: 14px;
        color: #9D8D7A;
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
      }
      i{
        font-style: normal;
        background: #9D8D7A;
        color: #fff;
        text-align: center;
        width: 24px;
        height: 22px;
        line-height: 22px;
        display: inline-block;
        margin-left: 14px;
        
      }
      .clear_word{
        color: #9D8D7A;
        font-size:14px;
        margin-left: 10px;
        cursor: pointer;
      }
      
    }
    .course_search{
      height: 38px;
      line-height: 38px;
      background: #F8F8F8;
      color: #494137;
      font-size:14px;
      font-weight:bold;
      padding-left: 26px;
      .search_word{
        margin-left: 10px;
        cursor: pointer;
      }
      .icon{
        margin-left: 6px;
        margin-right: 20px;
      }
      .hover_color{
        color: #8C1515;
        margin-left: 10px;
        cursor: pointer;
      }
      .total_pages{
        color: #A2A2A2;
        font-size: 12px;
        float: right;
        margin-right: 25px;
        span{
          color: rgb(235, 133, 31);
          margin: 0px 4px;
        }
      }
    }
    .course_list_box{
      overflow: hidden;
    }
    .course_con_list{
      float: left;
      width: 200px;
      margin-left: 27px;
      margin-top: 30px;
    }
    .course_image{
      width: 200px;
      height: 142px;
      text-align: center;
      position: relative;
      img{
        max-width: 200px;
        max-height: 142px;
      }
    }
    .course_browse{
      height: 30px;
      width: 190px;
      background: rgba(0,0,0,0.3);
      position: absolute;
      left: 0;
      bottom:0;
      text-align: left;
      color: #fff;
      line-height: 30px;
      padding-left: 10px;
    }
    .course_title{
      color: #333;
      font-weight:bold;
      margin-top: 14px;
      margin-bottom: 10px;
      font-size:14px;
      width: 100%;
      overflow: hidden;
      text-overflow:ellipsis;//文本溢出显示省略号
      white-space:nowrap;//文本不会换行（单行文本溢出）
    }
    .course_descrption{
      color: #70737D;
      font-size:14px;
      margin-bottom: 10px;
      min-height: 38px;
    }
    .course_author{
      color: #666666;
      font-size:14px;
      .course_price{
        color: #EC383D;
        float: right;
      }
      .free_price{
        color: #EB851F;
      }
      .free_price{
        color: #11AA18;
      }
    }



  }
}