.coursePage {
  position: relative;
  background: #F8F8F8;
  padding-bottom: 48px;
}
.coursePage .left_bg {
  position: absolute;
  left: 0;
  bottom: 0;
}
.coursePage .right_bg {
  position: absolute;
  right: 0;
  bottom: 0;
}
.coursePage .course_wrap {
  border-bottom: solid 6px;
  border-image: url(../../../src/assets/images/resource/border.png) 30 30 round round;
  background: #fff;
}
.coursePage .course_main {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  padding: 40px 0;
  position: relative;
}
.coursePage .course_main .course_details_share {
  position: absolute;
  right: 0;
  top: 40px;
}
.coursePage .course_main .course_details_share .course_details_list {
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
.coursePage .course_main .course_details_share .course_details_list.share_list {
  position: relative;
}
.coursePage .course_main .course_details_share .course_details_list.share_list:hover .share_wrap {
  display: block;
}
.coursePage .course_main .course_details_share .course_details_list .share_box {
  width: 60px;
  height: 30px;
  color: #cccccc;
  background: #fff;
  border: 1px solid #cccccc;
  line-height: 30px;
  background-image: url(../../../src/assets/images/index/icon_share.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 10px 8px;
  display: inline-block;
  cursor: pointer;
}
.coursePage .course_main .course_details_share .course_details_list .share_box span {
  margin-left: 27px;
  font-size: 12px;
}
.coursePage .course_main .course_details_share .course_details_list .share_box:hover {
  border: 1px solid #EA8422;
  background-image: url(../../../src/assets/images/index/icon_share_hover.png);
}
.coursePage .course_main .course_details_share .course_details_list .share_box:hover span {
  color: #EA8422;
}
.coursePage .course_main .course_details_share .course_details_list .share_wrap {
  display: none;
}
.coursePage .course_main .course_details_share .course_details_list .noagreeH,
.coursePage .course_main .course_details_share .course_details_list .agreeH {
  width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  color: #cccccc;
  cursor: pointer;
  line-height: 30px;
}
.coursePage .course_main .course_details_share .course_details_list .noagreeH img,
.coursePage .course_main .course_details_share .course_details_list .agreeH img {
  width: 12px;
  margin-left: 9px;
  padding-right: 5px;
  float: left;
  margin-top: 9px;
}
.coursePage .course_main .course_details_share .course_details_list .agreeH {
  color: #EA8422;
  border: 1px solid #EA8422;
}
.coursePage .course_main .course_main_left {
  max-width: 500px;
  max-height: 360px;
  margin-right: 40px;
  border: solid 1px #EFE8DC;
  text-align: center;
  line-height: 358px;
}
.coursePage .course_main .course_main_left img {
  width: 500px;
  height: 360px;
}
.coursePage .course_main .course_main_left .cover_box {
  line-height: 360px;
}
.coursePage .course_main .course_main_left .cover {
  display: inline-block;
  max-width: 250px;
  max-height: 310px;
  vertical-align: middle;
}
.coursePage .course_main .course_main_left .cover_box_top {
  height: 287px;
  line-height: 287px;
  border: solid 1px #EFE8DC;
}
.coursePage .course_main .course_main_left .cover_box_top img {
  max-width: 288px;
  max-height: 202px;
  display: inline-block;
  vertical-align: middle;
}
.coursePage .course_main .course_main_left .file_cover {
  max-height: 360px;
  max-width: 260px;
  display: inline-block;
  vertical-align: middle;
}
.coursePage .course_main .course_main_left video {
  width: 360px;
  height: 360px;
  margin: 4px auto;
}
.coursePage .course_main .course_main_left .video_box {
  width: 360px;
  height: 360px;
  margin: 4px auto;
  line-height: 360px;
  position: relative;
}
.coursePage .course_main .course_main_left .video_box .cover {
  max-width: 360px;
  max-height: 360px;
  display: inline-block;
  vertical-align: middle;
}
.coursePage .course_main .course_main_left .video_box .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.coursePage .course_main .course_main_left .detailOut {
  position: absolute;
  width: 75px;
  height: 30px;
  background: #f44f4a;
  opacity: 0.8;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  line-height: 30px;
}
.coursePage .course_main .course_main_left .mecontent_image_cover {
  background: #fff;
  opacity: .7;
  width: 360px;
  height: 360px;
  position: absolute;
  left: 5px;
  top: 5px;
}
.coursePage .course_main .course_main_left .audio {
  margin-top: 20px;
}
.coursePage .course_main .course_main_left .notPay {
  position: absolute;
  width: 100%;
  height: 63px;
  bottom: 0;
}
.coursePage .course_main .course_main_right {
  flex: 1;
}
.coursePage .course_main .course_main_right .clear {
  clear: both;
}
.coursePage .course_main .course_main_right .course_main_title {
  width: 490px;
  font-size: 24px;
  color: #222222;
  cursor: pointer;
}
.coursePage .course_main .course_main_right .course_main_rate {
  margin-top: 16px;
  margin-bottom: 21px;
  overflow: hidden;
}
.coursePage .course_main .course_main_right .course_main_rate .el-rate {
  float: left;
  color: #967454;
}
.coursePage .course_main .course_main_right .course_main_list {
  color: #666666;
  font-size: 14px;
  margin-bottom: 20px;
  overflow: hidden;
}
.coursePage .course_main .course_main_right .course_main_list .list {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}
.coursePage .course_main .course_main_right .course_main_list .color {
  color: #8C1515;
  cursor: pointer;
}
.coursePage .course_main .course_main_right .course_main_synopsis {
  width: 622px;
  min-height: 20px;
  line-height: 28px;
}
.coursePage .course_main .course_main_right .course_main_synopsis .synopsis {
  color: #957355;
  float: left;
}
.coursePage .course_main .course_main_right .course_main_synopsis p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 622px;
  color: #333333;
}
.coursePage .course_main .course_main_right .course_main_extend {
  color: #AF997F;
  font-size: 14px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}
.coursePage .course_main .course_main_right .course_main_extend .main_extend_img {
  margin-left: 6px;
}
.coursePage .course_main .course_main_right .course_main_pirce {
  margin-top: 29px;
}
.coursePage .course_main .course_main_right .course_main_pirce span {
  color: #E40000;
  font-size: 24px;
}
.coursePage .course_main .course_main_right .course_main_pirce .price {
  margin-left: 10px;
  color: #999999;
  text-decoration: line-through;
  font-size: 14px;
}
.coursePage .course_main .course_main_right .course_main_tips {
  font-size: 16px;
  color: #B37022;
  line-height: 24px;
  margin-top: 10px;
}
.coursePage .course_main .course_main_right .course_main_btns {
  overflow: hidden;
  margin-top: 24px;
}
.coursePage .course_main .course_main_right .course_main_btns .course_shop_btn,
.coursePage .course_main .course_main_right .course_main_btns .hover_btn {
  width: 102px;
  height: 36px;
  background-size: 100% 100%;
  text-align: center;
  line-height: 36px;
  color: #F7FAFD;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  margin-right: 45px;
  border-radius: 4px;
  font-weight: bold;
}
.coursePage .course_main .course_main_right .course_main_btns .course_shop_btn {
  background: #901414;
}
.coursePage .course_main .course_main_right .course_main_btns .course_shop_btn:hover {
  background: #A52626;
}
.coursePage .course_main .course_main_right .course_main_btns .course_shop_car_btn {
  background-image: url(../../../src/assets/images/resource/details_shopping.png);
  width: 99px;
  height: 19px;
  line-height: 18px;
  margin-top: 10px;
  margin-left: 147px;
  cursor: pointer;
}
.coursePage .course_main .course_main_right .course_main_btns .course_shop_car_btn:hover {
  background-image: url(../../../src/assets/images/resource/details_shopping_hover.png);
}
.coursePage .course_main .course_main_right .course_main_btns .tips {
  clear: both;
  color: #B17026;
}
.coursePage .course_main .course_main_right .course_main_buytip {
  padding-top: 20px;
  color: #B37022;
}
.coursePage .details_content {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 14px;
  position: relative;
  z-index: 5;
}
.coursePage .details_content .details_left_cont {
  padding: 0 35px 20px;
  background: #fff;
  float: left;
  width: 936px;
  box-sizing: border-box;
}
.coursePage .details_content .details_left_cont .content_title {
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  color: #333;
  border-bottom: 1px solid #E6E3E0;
}
.coursePage .details_content .details_left_cont .content_title a {
  color: #333;
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .content_title img {
  margin: 0 20px;
}
.coursePage .details_content .details_left_cont .color {
  color: #7E0204;
}
.coursePage .details_content .details_left_cont .color a {
  color: #7E0204;
}
.coursePage .details_content .details_left_cont .intro {
  margin-top: 30px;
}
.coursePage .details_content .details_left_cont .intro .text {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 14px;
}
.coursePage .details_content .details_left_cont .catalogue {
  margin-top: 11px;
}
.coursePage .details_content .details_left_cont .catalogue .cata_list {
  overflow: hidden;
  line-height: 38px;
  padding: 0 14px;
  box-sizing: border-box;
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .catalogue .cata_list:hover {
  background: #F8F8F8;
}
.coursePage .details_content .details_left_cont .catalogue .cata_extend {
  color: #EA8422;
  font-size: 16px;
  padding-left: 14px;
  margin-top: 10px;
}
.coursePage .details_content .details_left_cont .catalogue .cata_extend span {
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .catalogue .cata_extend img {
  vertical-align: middle;
  margin-right: 7px;
}
.coursePage .details_content .details_left_cont .catalogue .cata_list_hour {
  font-size: 14px;
  color: #999999;
  width: 44px;
  display: inline-block;
}
.coursePage .details_content .details_left_cont .catalogue .cata_list_title {
  font-size: 14px;
  color: #333333;
  margin-left: 40px;
}
.coursePage .details_content .details_left_cont .catalogue .cata_list_time {
  font-size: 14px;
  color: #999999;
  float: right;
}
.coursePage .details_content .details_left_cont .details_resource {
  margin-top: 36px;
  margin-bottom: 50px;
}
.coursePage .details_content .details_left_cont .details_resource .resource_title {
  border-bottom: 1px solid #E0E0E0;
  font-size: 16px;
  color: #8C1515;
  font-weight: bold;
}
.coursePage .details_content .details_left_cont .details_resource .resource_title::after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background: #8C1515;
  margin-top: 10px;
}
.coursePage .details_content .details_left_cont .details_resource .resource_con {
  margin-top: 35px;
  overflow: hidden;
}
.coursePage .details_content .details_left_cont .details_resource .resource_list {
  float: left;
  width: 200px;
  margin-right: 22px;
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .details_resource .resource_list:last-child {
  margin-right: 0;
}
.coursePage .details_content .details_left_cont .details_resource .resource_list .resource_img {
  width: 200px;
  height: 142px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 142px;
  position: relative;
  border: 1px solid #ececec;
}
.coursePage .details_content .details_left_cont .details_resource .resource_list img {
  max-width: 198px;
  max-height: 140px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.coursePage .details_content .details_left_cont .details_resource .resource_list p {
  font-size: 14px;
  color: #333333;
}
.coursePage .details_content .details_left_cont .details_resource .resource_list .resource_pdf {
  position: absolute;
  width: 42px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  right: 11px;
  bottom: 11px;
}
.coursePage .details_content .details_left_cont .details_book .details_book_title {
  border-bottom: 1px solid #E0E0E0;
  font-size: 16px;
  color: #8C1515;
  font-weight: bold;
}
.coursePage .details_content .details_left_cont .details_book .details_book_title::after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background: #8C1515;
  margin-top: 10px;
}
.coursePage .details_content .details_left_cont .details_book .details_book_con {
  margin-top: 37px;
  padding-left: 49px;
  overflow: hidden;
}
.coursePage .details_content .details_left_cont .details_book .details_book_list {
  float: left;
  width: 140px;
  margin-right: 62px;
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .details_book .details_book_list:last-child {
  margin-right: 0;
}
.coursePage .details_content .details_left_cont .details_book .details_book_list .details_book_img {
  width: 132px;
  height: 188px;
  text-align: center;
  line-height: 188px;
  border: 1px solid #ececec;
  margin-bottom: 25px;
}
.coursePage .details_content .details_left_cont .details_book .details_book_list img {
  width: 130px;
  height: 186px;
  text-align: center;
  vertical-align: middle;
}
.coursePage .details_content .details_left_cont .details_book .details_book_list p {
  font-size: 14px;
  color: #333333;
}
.coursePage .details_content .details_left_cont .review {
  margin-top: 40px;
}
.coursePage .details_content .details_left_cont .review .review_title {
  border-bottom: 1px solid #E0E0E0;
  font-size: 16px;
  font-weight: bold;
  color: #771f1d;
}
.coursePage .details_content .details_left_cont .review .review_title::after {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: #8C1515;
  margin-top: 10px;
}
.coursePage .details_content .details_left_cont .review .details_content_rate {
  margin-top: 32px;
  margin-bottom: 18px;
  overflow: hidden;
}
.coursePage .details_content .details_left_cont .review .details_content_rate span {
  float: left;
}
.coursePage .details_content .details_left_cont .review .details_content_rate .el-rate {
  float: left;
}
.coursePage .details_content .details_left_cont .review .details_content_text {
  position: relative;
}
.coursePage .details_content .details_left_cont .review .details_content_text .details_content_textarea {
  background-color: #F4F4F4;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 16px 10px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
}
.coursePage .details_content .details_left_cont .review .details_content_text .details_content_textNum {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #aaa;
}
.coursePage .details_content .details_left_cont .review .details_content_btn {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: right;
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
  background: #394E79;
}
.coursePage .details_content .details_left_cont .review .details_content_item {
  overflow: hidden;
  margin-top: 60px;
  border-bottom: 1px dashed #DDD4C3;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}
.coursePage .details_content .details_left_cont .review .details_content_item .itemHeader {
  width: 54px;
  height: 54px;
  background: #f5f5f5;
  border-radius: 50%;
  margin-right: 20px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .itemHeader img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont {
  flex: 1;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit {
  width: 100%;
  height: 32px;
  overflow: hidden;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit span.title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
  float: left;
  display: block;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit .itemStar {
  float: left;
  position: relative;
  width: 120px;
  height: 30px;
  left: 20px;
  top: 0;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit .itemStar span {
  position: absolute;
  top: 5px;
  z-index: 3;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit .itemStar span img {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit .itemStar ul {
  position: absolute;
  z-index: 2;
  top: 5px;
  overflow: hidden;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit .itemStar ul li {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
  background: url("../../../src/assets/images/personal/startk.png") no-repeat;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemTit span:last-child {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemCont {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  line-height: 26px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 5px;
  padding-bottom: 22px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper .comNum {
  padding-left: 20px;
  background: url("../../../src/assets/images/personal/comico1.png") no-repeat center left;
  margin-right: 23px;
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper .comNum span {
  line-height: 26px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper .thumbNum {
  background-position: 0px 4px;
  cursor: pointer;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper .thumbNum img {
  margin-top: -3px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper .thumbNum span {
  line-height: 26px;
}
.coursePage .details_content .details_left_cont .review .details_content_item .listCont .itemOper .thumbNum span.fontColor {
  color: #EA8422;
}
.coursePage .details_content .details_left_cont .review .details_content_item ul,
.coursePage .details_content .details_left_cont .review .details_content_item li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.coursePage .details_content .details_left_cont .review .medetails_content_more {
  color: #8C1515;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 42px auto 0;
  padding-bottom: 30px;
}
.coursePage .details_content .details_right_con {
  float: right;
  padding-bottom: 28px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
}
.coursePage .details_content .details_right_con .subleft_botTitle {
  height: 40px;
  line-height: 40px;
  color: #771F1D;
  background: #E7E4E1;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: solid 3px #C0A477;
}
.coursePage .details_content .details_right_con .subleft_botTitle img {
  float: left;
  height: 12px;
  margin-top: 14px;
  margin-right: 6px;
}
.coursePage .details_content .details_right_con .meDetail_textbookList {
  width: 270px;
  height: auto;
  margin: 16px 14px 0;
}
.coursePage .details_content .details_right_con .meDetail_textbookList .meDetail_textbookTitle {
  width: 270px;
  display: block;
  height: 18px;
  line-height: 18px;
}
.coursePage .details_content .details_right_con .meDetail_textbookList .textbookList_num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #F3F3F3;
  color: #666666;
  float: left;
  margin-right: 12px;
  border-radius: 50%;
}
.coursePage .details_content .details_right_con .meDetail_textbookList .textbookList_text {
  color: #333333;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.coursePage .details_content .details_right_con .meDetail_textbook {
  width: 270px;
  height: 139px;
  display: block;
  overflow: hidden;
  margin: 15px auto 0px;
  border-bottom: 1px dashed #E6E6E6;
  background: #fff;
}
.coursePage .details_content .details_right_con .meDetail_textbook .commentRight_tip {
  width: 100px;
  float: left;
}
.coursePage .details_content .details_right_con .meDetail_textbook img {
  width: 82px;
  height: 110px;
  object-fit: cover;
  float: left;
  object-position: top;
  /*这行都可以不写，object-position 默认就是 center*/
}
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_number,
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_img,
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_tip {
  float: left;
}
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_number {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #B18854;
  color: #fff;
  border-radius: 50%;
}
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_img {
  margin: 0 12px;
  cursor: pointer;
}
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_tip {
  width: 100px;
}
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_title {
  color: #555;
  margin-bottom: 16px;
  width: 100px;
  cursor: pointer;
  font-size: 14px;
}
.coursePage .details_content .details_right_con .meDetail_textbook .textbook_author {
  color: #9E8063;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 16px;
}
.coursePage .details_content .details_right_con .meDetail_textbook .commentRight_price {
  color: #E51312;
}
.coursePage .details_content .recommend_details_right {
  width: 248px;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
  float: right;
}
.coursePage .details_content .recommend_details_right .recommend_con {
  overflow: hidden;
  height: max-content;
  padding-bottom: 40px;
  background: #fff;
  border: solid 1px #E7E4E1;
}
.coursePage .details_content .recommend_details_right .recommend_con .recommend_title {
  height: 40px;
  line-height: 40px;
  color: #771F1D;
  background: #E7E4E1;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: solid 3px #C0A477;
}
.coursePage .details_content .recommend_details_right .recommend_con .recommend_title img {
  margin-right: 6px;
}
.coursePage .details_content .recommend_details_right .recommend_con .recommend_list p {
  color: #4A433A;
  line-height: 30px;
  margin: 10px 0;
  cursor: pointer;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.coursePage .details_content .recommend_details_right .recommend_con .recommend_list p span {
  background: #f6f3ee;
  color: #666666;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin: 0 14px;
}
.coursePage .details_content .recommend_details_right .recommend_con .recommend_list p:hover {
  color: #99784F;
}
.coursePage .details_content .recommend_details_right .recommend_con .recommend_list p:hover span {
  background: #FEAA5B;
  color: #fff;
}
