.course_page {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 70px;
}
.course_page .book_title_box {
  height: 54px;
  border-bottom: solid 2px #8C1515;
  margin-top: 50px;
  line-height: 54px;
  clear: both;
}
.course_page .book_title_box .book_title_con {
  height: 54px;
  width: 148px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 22px;
  background-image: url(../../../src/assets/images/home/btn_icon.png);
  background-repeat: no-repeat;
}
.course_page .book_title_box .book_right_more {
  float: right;
  color: #666666;
  cursor: pointer;
  font-size: 14px;
}
.course_page .book_title_box .book_title_english {
  color: #999999;
  font-size: 16px;
  margin-left: 8px;
}
.course_page .book_title_box .book_sort_list {
  cursor: pointer;
  font-size: 16px;
  margin: 15px;
}
.course_page .course_recommend {
  overflow: hidden;
}
.course_page .course_list {
  color: #333;
  margin-top: 30px;
  width: 270px;
  margin-right: 40px;
  font-size: 14px;
  float: left;
}
.course_page .course_list:last-child {
  margin-right: 0;
}
.course_page .course_list .image_box {
  width: 270px;
  height: 190px;
  text-align: center;
  position: relative;
}
.course_page .course_list .image_box img {
  max-width: 270px;
  max-height: 190px;
  text-align: center;
}
.course_page .course_list .image_box .course_browse {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 255px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  text-align: left;
  padding-left: 15px;
}
.course_page .course_list .course_title {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
}
.course_page .course_list .course_description {
  color: #70737D;
  margin-bottom: 14px;
  line-height: 20px;
  min-height: 40px;
}
.course_page .course_list .course_author {
  color: #666666;
}
.course_page .course_list .course_author .course_price {
  color: #EC383D;
  float: right;
}
.course_page .course_list .course_author .free_price {
  color: #11AA18;
}
.course_page .course_list .course_author .no_price {
  color: #EB851F;
}
.course_page .resommend_image {
  width: 1200px;
  height: 120px;
  text-align: center;
  margin-top: 45px;
}
.course_page .resommend_image img {
  max-width: 1200px;
  max-height: 120px;
}
.course_page .resommend_adspace {
  width: 1200px;
  height: 120px;
  text-align: center;
  margin-top: 36px;
}
.course_page .resommend_adspace img {
  max-width: 1200px;
  max-height: 120px;
  cursor: pointer;
}
