.coursePage{
    position: relative;
    background: #F8F8F8;
    padding-bottom: 48px;
    .left_bg{
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .right_bg{
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .course_wrap {
        border-bottom: solid 6px;
        border-image: url(../../../src/assets/images/resource/border.png) 30 30 round round;
        background: #fff;
    }
    .course_main{//详情
      width: 1200px;
      margin: 0 auto;
      background: #ffffff;
      display: flex;
      padding: 40px 0;
      position: relative;
      .course_details_share { //分享
        position: absolute;
        right: 0;
        top: 40px;
        .course_details_list {
          float: left;
          margin-right: 10px;
          font-size: 12px;
          &.share_list {
            position: relative;
            &:hover {
              .share_wrap{
                display: block;
              }
            }
          }
          .share_box{
            width: 60px;
            height: 30px;
            color: #cccccc;
            background: #fff;
            border:1px solid #cccccc;
            line-height: 30px;
            background-image: url(../../../src/assets/images/index/icon_share.png);
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: 10px 8px;
            display: inline-block;
            cursor: pointer;
            span{
              margin-left: 27px;
              font-size:12px;
            }
            &:hover{
              border: 1px solid #EA8422;
              background-image: url(../../../src/assets/images/index/icon_share_hover.png);
              span{
                color: #EA8422;
              }
              
            }
          }
          .share_wrap {
            display: none;
          }
          .noagreeH,.agreeH {
            width: 60px;
            height: 30px;
            background: #fff;
            border: 1px solid #cccccc;
            border-radius: 2px;
            color: #cccccc;
            cursor: pointer;
            line-height: 30px;
            img {
              width: 12px;
              margin-left: 9px;
              padding-right: 5px;
              float: left;
              margin-top: 9px;
            }
          }
          .agreeH{
            color: #EA8422;
            border: 1px solid #EA8422;
          }
        }
      }
      .course_main_left{
        max-width: 500px;
        max-height: 360px;
        margin-right: 40px;
        border: solid 1px #EFE8DC;
        text-align: center;
        line-height: 358px;
        img {
          width: 500px;
          height: 360px;
        }
        .cover_box{
          line-height: 360px;
        }
        .cover{
          display: inline-block;
          max-width: 250px;
          max-height: 310px;
          vertical-align: middle;
        }
        .cover_box_top{
          height: 287px;
          line-height: 287px;
          border:solid 1px #EFE8DC;
          img{
            max-width: 288px;
            max-height: 202px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .file_cover{//课件
          max-height: 360px;
          max-width: 260px;
          display: inline-block;
          vertical-align: middle;
        }
        //视频
        video{
          width: 360px;
          height: 360px;
          margin: 4px auto;
        }
        .video_box{
          width: 360px;
          height: 360px;
          margin: 4px auto;
          line-height: 360px;
          position: relative;
          .cover{
            max-width: 360px;
            max-height: 360px;
            display: inline-block;
            vertical-align: middle;
          }
          .icon{
            position: absolute;
            left: 50%;
            top: 50%;   
            transform: translate(-50%, -50%);   
          }
        }
        //图片
        .detailOut {
          position: absolute;
          width: 75px;
          height: 30px;
          background: rgba(244, 79, 74, 1);
          opacity: 0.8;
          font-size: 16px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 24px;
          text-align: center;
          line-height: 30px;
        }
        .mecontent_image_cover{
          background: #fff;
          opacity: .7;
          width: 360px;
          height: 360px;
          position: absolute;
          left: 5px;
          top: 5px; 
        }
        .audio{
          margin-top: 20px;
        }
        .notPay{
          position: absolute;
          width: 100%;
          height: 63px;
          bottom: 0;
        }
      }
      .course_main_right{
        flex: 1;
        .clear{
          clear: both;
        }
        .course_main_title{
          width: 490px;
          font-size: 24px;
          color: #222222;
          cursor: pointer;
        }
        .course_main_rate{
          margin-top: 16px;
          margin-bottom: 21px;
          overflow: hidden;
          .el-rate{
            float: left;
            color: #967454;
          }
        }
        .course_main_list{
          color: #666666;
          font-size: 14px;
          margin-bottom: 20px;
          overflow: hidden;
          .list{
            float: left;
            margin-right: 20px;
            font-size: 14px;
          }
          .color{
            color: #8C1515;
            cursor: pointer;
          }
        }
        .course_main_synopsis {
          width: 622px;
          min-height: 20px;
          line-height: 28px;
          .synopsis {
            color: #957355;
            float: left;
          }
          p {
            padding: 0;
            margin: 0;
            font-size: 14px;
            width: 622px;
            color: #333333;
          }
          
        }
        .course_main_extend {
            color: #AF997F;
            font-size: 14px;
            float: right;
            margin-right: 40px;
            cursor: pointer;
            .main_extend_img {
                margin-left: 6px;
            }
        }
        .course_main_pirce{
          margin-top: 29px;
          span{
            color: #E40000;
            font-size:24px;
          }
          .price{
            margin-left: 10px;
            color: #999999;
            text-decoration: line-through;
            font-size: 14px;
          }
        }
        .course_main_tips{
          font-size: 16px;
          color: #B37022;
          line-height: 24px;
          margin-top: 10px;
        }
        .course_main_btns{
          overflow: hidden;
          margin-top: 24px;
          .course_shop_btn,.hover_btn{
            width: 102px;
            height: 36px;
            background-size: 100% 100%;
            text-align: center;
            line-height: 36px;
            color: #F7FAFD;
            cursor: pointer;
            float: left;
            margin-bottom: 20px;
            margin-right: 45px;
            border-radius: 4px;
            font-weight: bold;
          }
          .course_shop_btn{
            background: #901414;
            &:hover {
              background: #A52626;
            }
          }
          .course_shop_car_btn{
            background-image: url(../../../src/assets/images/resource/details_shopping.png);
            width: 99px;
            height: 19px;
            line-height: 18px;
            margin-top: 10px;
            margin-left: 147px;
            cursor: pointer;
            &:hover {
              background-image: url(../../../src/assets/images/resource/details_shopping_hover.png);
            }
          }
          .tips{
            clear: both;
            color:#B17026;
          }
        }
        .course_main_buytip{
          padding-top: 20px;
          color: #B37022;
        }
      }
    }
    .details_content{//详情-简介-目录-评论
      width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 14px;
      position: relative;
      z-index: 5;
      .details_left_cont{
        padding: 0 35px 20px;
        background: #fff;
        float: left;
        width: 936px;
        box-sizing: border-box;
        .content_title{
          height: 80px;
          line-height: 80px;
          font-size:22px;
          color: #333; 
          border-bottom: 1px solid #E6E3E0;
          a{
            color: #333; 
            cursor: pointer;
          }
          img{
            margin: 0 20px;
          }
          
        }
        .color{
          color: #7E0204;
          a{
            color: #7E0204;
          }
        }
        .intro{
            margin-top: 30px;
          .text{
            color: #333333;
            font-size:16px;
            font-weight:bold;
            line-height: 20px;
            padding-left: 14px;
          }
        }
        .catalogue {
            margin-top: 11px;
            .cata_list {
                overflow: hidden;
                line-height: 38px;
                padding: 0 14px;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    background: #F8F8F8;
                }
            }
            .cata_extend {
              color: #EA8422;
              font-size: 16px;
              padding-left: 14px;
              margin-top: 10px;
              span {
                cursor: pointer;
              }
              img {
                vertical-align: middle;
                margin-right: 7px;
              }
            }
            .cata_list_hour {
                font-size: 14px;
                color: #999999;
                width: 44px;
                display: inline-block;
            }
            .cata_list_title {
                font-size: 14px;
                color: #333333;
                margin-left: 40px;
            }
            .cata_list_time {
                font-size: 14px;
                color: #999999;
                float: right;
            }
        }
        .details_resource {
            margin-top: 36px;
            margin-bottom: 50px;
            .resource_title {
                border-bottom: 1px solid #E0E0E0;
                font-size: 16px;
                color: #8C1515;
                font-weight: bold;
                &::after {
                    content: "";
                    display: block;
                    width: 64px;
                    height: 2px;
                    background: #8C1515;
                    margin-top: 10px;
                }
            }
            .resource_con {
                margin-top: 35px;
                overflow: hidden;
            }
            .resource_list {
                float: left;
                width: 200px;
                margin-right: 22px;
                cursor: pointer;
                &:last-child {
                  margin-right: 0;
                }
                .resource_img {
                  width: 200px;
                  height: 142px;
                  margin-bottom: 16px;
                  text-align: center;
                  line-height: 142px;
                  position: relative;
                  border: 1px solid #ececec;
                }
                img {
                    max-width: 198px;
                    max-height: 140px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                }
                p {
                    font-size: 14px;
                    color: #333333;
                }
                .resource_pdf {
                  position: absolute;
                  width: 42px;
                  height: 22px;
                  text-align: center;
                  line-height: 22px;
                  background: rgba(0, 0, 0, 0.3);
                  color: #fff;
                  border-radius: 4px;
                  font-size: 12px;
                  right: 11px;
                  bottom: 11px;
                }
            }
        }
        .details_book {
            .details_book_title {
                border-bottom: 1px solid #E0E0E0;
                font-size: 16px;
                color: #8C1515;
                font-weight: bold;
                &::after {
                    content: "";
                    display: block;
                    width: 64px;
                    height: 2px;
                    background: #8C1515;
                    margin-top: 10px;
                } 
            }
            .details_book_con {
                margin-top: 37px;
                padding-left: 49px;
                overflow: hidden;
            }
            .details_book_list {
                float: left;
                width: 140px;
                margin-right: 62px;
                cursor: pointer;
                &:last-child {
                  margin-right: 0;
                }
                .details_book_img {
                  width: 132px;
                  height: 188px;
                  text-align: center;
                  line-height: 188px;
                  border: 1px solid #ececec;
                  margin-bottom: 25px;
                }
                img {
                    width: 130px;
                    height: 186px;
                    text-align: center;
                    vertical-align: middle;
                }
                p {
                    font-size: 14px;
                    color: #333333;
                }
            }
        }
        .review{
          margin-top: 40px;
          .review_title{
            border-bottom: 1px solid #E0E0E0;
            font-size:16px;
            font-weight:bold;
            color:rgba(119,31,29,1);
            &::after {
                content: "";
                display: block;
                width: 32px;
                height: 2px;
                background: #8C1515;
                margin-top: 10px;
            }
          }
          .details_content_rate {
            margin-top: 32px;
            margin-bottom: 18px;
            overflow: hidden;
            span {
              float: left;
            }
            .el-rate {
              float: left;
            }
          }
          .details_content_text{
            position: relative;
            .details_content_textarea {
              background-color: #F4F4F4;
              outline: none;
              border-radius: 3px;
              border: none;
              padding: 16px 10px;
              font-family: MicrosoftYaHei;
              font-size: 14px;
            }
            .details_content_textNum{
              position: absolute;
              bottom:8px;
              right:10px;
              color:#aaa;
            }
          }
          .details_content_btn {
            width: 80px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            float: right;
            color: #fff;
            cursor: pointer;
            margin-top: 16px;
            background: #394E79;
          }
          .details_content_item {
            overflow: hidden;
            margin-top: 60px;
            border-bottom: 1px dashed #DDD4C3;
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            .itemHeader {
              width: 54px;
              height: 54px;
              background: #f5f5f5;
              border-radius: 50%;
              margin-right: 20px;
              img {
                width: 54px;
                height: 54px;
                border-radius: 50%;
              }
            }
            .listCont {
              flex: 1;
              .itemTit {
                width: 100%;
                height: 32px;
                overflow: hidden;
                span.title {
                  font-family: MicrosoftYaHei-Bold;
                  font-weight: bold;
                  color: rgba(51, 51, 51, 1);
                  line-height: 24px;
                  float: left;
                  display: block;
                }
                .itemStar {
                  float: left;
                  position: relative;
                  width: 120px;
                  height: 30px;
                  left: 20px;
                  top: 0;
                  span {
                    position: absolute;
                    top: 5px;
                    z-index: 3;
                    img {
                      float: left;
                      display: block;
                      width: 13px;
                      height: 13px;
                      overflow: hidden;
                      margin-right: 5px;
                    }
                  }
                  ul {
                    position: absolute;
                    z-index: 2;
                    top: 5px;
                    overflow: hidden;
                    li {
                      float: left;
                      display: block;
                      width: 13px;
                      height: 13px;
                      overflow: hidden;
                      margin-right: 5px;
                      background: url("../../../src/assets/images/personal/startk.png") no-repeat;
                    }
                  }
                }
                span:last-child {
                  font-size: 12px;
                  font-family: MicrosoftYaHei;
                  font-weight: 400;
                  color: rgba(183, 183, 183, 1);
                  line-height: 24px;
                  margin: 0;
                  padding: 0;
                }
              }
              .itemCont {
                font-size: 14px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                color: rgba(85, 85, 85, 1);
                line-height: 26px;
              }
              .itemOper {
                height: 30px;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                font-size: 12px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                color: rgba(170, 170, 170, 1);
                margin-top: 5px;
                padding-bottom: 22px;
                .comNum {
                  padding-left: 20px;
                  background: url("../../../src/assets/images/personal/comico1.png") no-repeat center left;
                  margin-right: 23px;
                  cursor: pointer;
                  span {
                    line-height: 26px;
                  }
                }
                .thumbNum {
                  img {
                    margin-top: -3px;
                  }
                  background-position: 0px 4px;
                  cursor: pointer;
                  span {
                    line-height: 26px;
                    &.fontColor {
                      color: #EA8422;
                    }
                  }
                }
              }
            }
            ul, li {
              list-style: none;
              margin: 0;
              padding: 0;
            }
          }
          .medetails_content_more {
            color: #8C1515;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            margin: 42px auto 0;
            padding-bottom: 30px;
          }
        }
      }
      .details_right_con{
        float: right;
        padding-bottom: 28px;
        background: #fff;
        box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
        .subleft_botTitle {
          height: 40px;
          line-height: 40px;
          color: #771F1D;
          background: #E7E4E1;
          padding-left: 10px;
          font-size:16px;
          font-weight:bold;
          border-top: solid 3px #C0A477;
          img{
            float: left;
            height: 12px;
            margin-top: 14px;
            margin-right: 6px;
          }
        }
        .meDetail_textbookList {
          width: 270px;
          height:auto;
          margin: 16px 14px 0;
          .meDetail_textbookTitle{
            width: 270px;
            display: block;
            height:18px;
            line-height: 18px;
          }
          .textbookList_num {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background-color: #F3F3F3;
            color: #666666;
            float: left;
            margin-right: 12px;
            border-radius: 50%;
          }
          .textbookList_text {
            color: #333333;
            width:200px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            cursor: pointer;
          }
        }
        .meDetail_textbook{
          width: 270px;
          height: 139px;
          display: block;
          overflow: hidden;
          margin: 15px auto 0px;
          border-bottom: 1px dashed #E6E6E6;
          background: #fff;
          .commentRight_tip {
            width: 100px;
            float: left;
          }
          img {
            width: 82px;
            height: 110px;
            object-fit: cover;
            float: left;
            object-position: top;  /*这行都可以不写，object-position 默认就是 center*/
          }
          .textbook_number, .textbook_img, .textbook_tip {
            float: left;
          }
          .textbook_number {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background-color: #B18854;
            color: #fff;
            border-radius: 50%;
          }
          .textbook_img {
            margin: 0 12px;
            cursor: pointer;
          }
          .textbook_tip {
            width: 100px;
          }
          .textbook_title {
            color: #555;
            margin-bottom: 16px;
            width: 100px;
            cursor: pointer;
            font-size: 14px;
          }
          .textbook_author {
            color: #9E8063;
            width: 100px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            margin-bottom: 16px;
          }
          .commentRight_price{
            color: #E51312;
          }
        }
      }
      .recommend_details_right {
        width: 248px;
        box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
        float: right;
        .recommend_con{
          overflow: hidden;
          height: max-content;
          padding-bottom:40px;
          background: #fff;
          border: solid 1px #E7E4E1;
          .recommend_title{
            height: 40px;
            line-height: 40px;
            color: #771F1D;
            background: #E7E4E1;
            padding-left: 10px;
            font-size:16px;
            font-weight:bold;
            border-top: solid 3px #C0A477;
            img{
              margin-right: 6px;
            }
          }
          .recommend_list{
            p{
              color: #4A433A;
              line-height: 30px;
              margin: 10px 0;
              cursor: pointer;
              width: 90%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              span{
                background: RGBA(246, 243, 238, 1);
                color: #666666;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                margin: 0 14px;
              }
              &:hover{
                color: #99784F;
                span{
                  background: #FEAA5B;
                  color: #fff;
                }
              }
            }
            
          }
        }
      }
    }
}