.resource_index {
  font-size: 14px;
  background: #f5f5f5;
}
.resource_index .index_header {
  height: 274px;
  background-size: 100% 100%;
  padding-top: 30px;
}
.resource_index .index_header .header_con {
  width: 1200px;
  margin: 0 auto;
}
.resource_index .index_header .header_icon {
  cursor: pointer;
}
.resource_index .index_header .header_top {
  float: right;
}
.resource_index .index_header .message:hover {
  color: #7E0204;
}
.resource_index .index_header .message,
.resource_index .index_header .login {
  height: 30px;
  width: 91px;
  background-image: url(../../../src/assets/images/home/text_bg.png);
  color: #6E5D42;
  background-size: 100% 100%;
  text-align: center;
  line-height: 30px;
  float: left;
  margin-left: 4px;
  cursor: pointer;
  position: relative;
}
.resource_index .index_header .message span:hover,
.resource_index .index_header .login span:hover {
  color: #7E0204;
}
.resource_index .index_header .message i,
.resource_index .index_header .login i {
  position: absolute;
  right: 0;
  top: 0;
  height: 18px;
  width: 18px;
  font-size: 12px;
  border-radius: 50%;
  background: #B3221A;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  right: 10px;
}
.resource_index .index_header .login {
  width: 125px;
}
.resource_index .index_header .login .loginout_box {
  width: 96px;
  height: 76px;
  border: solid 1px #CFC4B4;
  margin-left: 14px;
  border-top: none;
}
.resource_index .index_header .login .loginout_box p {
  border-bottom: 1px dotted #DCD2C3;
  margin: 0 7px;
  line-height: 36px;
}
.resource_index .index_header .login .loginout_box p:last-child {
  border-bottom: none;
}
.resource_index .index_header .login .loginout_box p:hover {
  color: #7E0204;
}
.resource_index .index_header .searchBox {
  width: 1000px;
  height: 60px;
  margin-left: 100px;
  margin-top: 60px;
  background-image: url(../../../src/assets/images/medical/search_bg.png);
  background-size: 100% 100%;
  position: relative;
}
.resource_index .index_header .searchBox ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #D2C8BA;
}
.resource_index .index_header .searchBox :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #D2C8BA;
}
.resource_index .index_header .searchBox ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #D2C8BA;
}
.resource_index .index_header .searchBox :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #D2C8BA;
}
.resource_index .index_header .searchBox input {
  margin-left: 217px;
  color: #967454;
  border: none;
  background: none;
  line-height: 50px;
  font-size: 14px;
  width: 442px;
  outline: none;
  float: left;
}
.resource_index .index_header .searchBox .point {
  float: left;
  padding: 0 15px;
  margin-top: 22px;
  cursor: pointer;
}
.resource_index .index_header .searchBox .search_bg {
  float: right;
  width: 18px;
  height: 18px;
  margin-top: 16px;
  margin-right: 243px;
  cursor: pointer;
}
.resource_index .index_header .searchBox .searchTip {
  position: absolute;
  background: #fff;
  width: 550px;
  padding: 10px 20px;
  max-height: 200px;
  overflow-y: scroll;
  left: 190px;
  top: 60px;
}
.resource_index .index_header .searchBox .searchTip .content_list {
  line-height: 40px;
  border-bottom: 1px dotted #eee;
  cursor: pointer;
}
.resource_index .index_header .searchBox .searchTip .content_list:last-child {
  border-bottom: none;
}
.navs {
  width: 100%;
  margin: 0 auto;
  background: #f8f8f8 !important;
}
.resource_wrap {
  background: #f8f8f8;
}
.resource_con {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.reource_left {
  float: left;
  width: 250px;
  overflow: hidden;
  border: solid 1px #E7E4E1;
  border-top: none;
  margin-bottom: 40px;
}
.reource_left .left_con {
  border-top: 3px solid #901414;
  background: #fff;
  padding-bottom: 24px;
}
.reource_left .left_con .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #f8f5f1 !important;
}
.reource_left .left_con .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content:hover {
  background: #f8f5f1 !important;
}
.reource_left .left_con .el-tree-node:focus > .el-tree-node__content {
  background: #f8f5f1 !important;
}
.reource_left .left_con .el-tree-node__content:hover {
  background: #f8f5f1 !important;
}
.reource_left .left_con .title {
  color: #901414;
  width: 250px;
  height: 42px;
  line-height: 42px;
  background: #F8F8F8;
  padding-left: 13px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  box-sizing: border-box;
}
.reource_left .left_con .title img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
.reource_left .left_con .search {
  padding: 0 20px;
  margin-bottom: 14px;
  line-height: 35px;
}
.reource_left .left_con .search span {
  color: #494137;
  font-size: 14px;
  width: 64px;
  float: left;
}
.reource_left .left_con .search input {
  width: 130px;
  height: 30px;
  line-height: 30px;
  outline: none;
  border: solid 1px #D0C9BF;
  padding-left: 10px;
  background: #fff;
}
.reource_left .left_con .btn {
  height: 34px;
  width: 92px;
  line-height: 34px;
  color: #fff;
  background: #F98512;
  text-align: center;
  margin-left: 72px;
  margin-bottom: 10px;
  margin-top: 6px;
  cursor: pointer;
}
.reource_left .left_con .word {
  line-height: 28px;
  display: inline-block;
  color: #494137;
  border: solid 1px #E0D5C2;
  padding: 0 14px;
  font-size: 14px;
  margin-left: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}
.reource_left .left_con .word:hover {
  color: #771F1D;
}
.reource_left .word_list {
  width: 236px;
  padding-right: 14px;
  overflow: hidden;
  border-bottom: 1px solid #E7E4E1;
}
.resource_right {
  float: right;
  width: 936px;
  overflow: hidden;
  margin-bottom: 40px;
  background-image: url(../../../src/assets/images/resource/list_bottom.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
}
.resource_right .title_top {
  height: 150px;
  width: 100%;
  background-image: url(../../../src/assets/images/resource/top_bg.png);
  margin-bottom: 12px;
}
.resource_right .title_top .split_image {
  width: 41px;
  float: left;
  margin: 0 4px;
  margin-top: 72px;
}
.resource_right .title_top .con_image,
.resource_right .title_top .con_image_hover {
  margin-top: 39px;
  float: left;
  width: 72px;
  cursor: pointer;
}
.resource_right .title_top .con_image_hover {
  height: 100px;
  width: 100px;
  margin-top: 25px;
}
.resource_right .resource_list {
  min-height: 500px;
  background-image: url(../../../src/assets/images/resource/list_top.png);
  background-repeat: no-repeat;
  border: solid 1px #E7E4E1;
  overflow: hidden;
  background: #fff;
}
.resource_right .list_keyword {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  margin: 15px 26px;
}
.resource_right .list_keyword span {
  color: #5A5248;
  margin-left: 12px;
  cursor: pointer;
}
.resource_right .list_keyword .title {
  color: #494137;
  margin-left: 0;
  font-weight: bold;
}
.resource_right .check_keyword {
  margin: 15px 26px;
  font-size: 14px;
}
.resource_right .check_keyword .check_title {
  color: #555555;
}
.resource_right .check_keyword .check_btn {
  height: 22px;
  line-height: 22px;
  border: solid 1px #cccccc;
  padding-left: 14px;
  color: #444444;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.resource_right .check_keyword i {
  font-style: normal;
  background: #cccccc;
  color: #fff;
  text-align: center;
  width: 24px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  margin-left: 14px;
}
.resource_right .check_keyword .clear_word {
  color: #394E79;
  font-size: 14px;
  cursor: pointer;
}
.resource_right .search_list {
  height: 38px;
  line-height: 38px;
  background: #F8F8F8;
  color: #494137;
  font-size: 14px;
  font-weight: bold;
  padding-left: 26px;
}
.resource_right .search_list .search_word {
  margin-left: 10px;
  cursor: pointer;
}
.resource_right .search_list .icon {
  margin-left: 6px;
  margin-right: 20px;
}
.resource_right .search_list .hover_color {
  color: #C81D22;
  margin-left: 10px;
  cursor: pointer;
}
.resource_right .search_list .total_pages {
  color: #A2A2A2;
  font-size: 12px;
  float: right;
  margin-right: 25px;
}
.resource_right .con_list {
  border-bottom: 1px dotted #DDD4C3;
  padding: 24px 26px;
}
.resource_right .con_list .image {
  width: 166px;
  height: 186px;
  margin-right: 16px;
  float: left;
}
.resource_right .con_list .right {
  float: right;
}
