.resource_index{
  font-size: 14px;
  background: #f5f5f5;
  .index_header{
    height: 274px;
    // background-image: url(../../../src/assets/images/home/home_bg.png);
    background-size: 100% 100%;
    padding-top: 30px;
    .header_con{
      width: 1200px;
      margin: 0 auto;
    }
    .header_icon{
      cursor: pointer;
    }
    .header_top{
      float: right;
    }
    .message{
      &:hover{
        color: #7E0204;
      }
    }
    .message,.login{
      height: 30px;
      width: 91px;
      background-image: url(../../../src/assets/images/home/text_bg.png);
      color: #6E5D42;
      background-size: 100% 100%;
      text-align: center;
      line-height: 30px;
      float: left;
      margin-left: 4px;
      cursor: pointer;
      position: relative;
      span:hover{
        color: #7E0204;
      }
      i{
        position: absolute;
        right: 0;
        top: 0;
        height: 18px;
        width: 18px;
        font-size: 12px;
        border-radius: 50%;
        background: #B3221A;
        line-height: 18px;
        color: #fff;
        font-style: normal;
        right: 10px;
      }
    }
    .login{
      width: 125px;
      .loginout_box{
        width: 96px;
        height: 76px;
        border: solid 1px #CFC4B4;
        margin-left: 14px;
        border-top: none;
        p{
          border-bottom: 1px dotted #DCD2C3;
          margin: 0 7px;
          line-height: 36px;
          &:last-child{
            border-bottom: none;
          }
          &:hover{
            color: #7E0204;
          }
        }
      }
    }
    .searchBox{
      width: 1000px;
      height: 60px;
      margin-left: 100px;
      margin-top: 60px;
      background-image: url(../../../src/assets/images/medical/search_bg.png);
      background-size: 100% 100%;
      position: relative;
      ::-webkit-input-placeholder { /* WebKit browsers */
          color:    #D2C8BA;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #D2C8BA;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #D2C8BA;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
          color:    #D2C8BA;
      }
      input{
        margin-left: 217px;
        color: #967454;
        border: none;
        background: none;
        line-height: 50px;
        font-size:14px;
        width: 442px;
        outline: none;
        float: left;
        
      }
      .point{
        float: left;
        padding: 0 15px;
        margin-top: 22px;
        cursor: pointer;
      }
      .search_bg{
        float: right;
        width: 18px;
        height: 18px;
        margin-top: 16px;
        margin-right: 243px;
        cursor: pointer;
      }
      .searchTip{
        position: absolute;
        background: #fff;
        width: 550px;
        padding: 10px 20px;
        max-height: 200px;
        overflow-y: scroll;
        left: 190px;
        top: 60px;
        .content_list{
          line-height: 40px;
          border-bottom: 1px dotted #eee;
          cursor: pointer;
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  
    
  }
}
.navs{
  width: 100%;
  margin: 0 auto;
  background: #f8f8f8 !important;
}
.resource_wrap {
  background: #f8f8f8;
}
.resource_con{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.reource_left{
  float: left;
  width: 250px;
  overflow: hidden;
  border: solid 1px #E7E4E1;
  border-top: none;
  margin-bottom: 40px;
  .left_con{
    border-top: 3px solid #901414;
    background: #fff;
    padding-bottom: 24px;
    .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
      background: #f8f5f1 !important;
      &:hover{
        background: #f8f5f1 !important;
      }
    }
    .el-tree-node:focus>.el-tree-node__content{
      background: #f8f5f1 !important;
    }
    .el-tree-node__content{
      &:hover{
        background: #f8f5f1 !important;
      }
    }
    .title{
      color:#901414;
      width: 250px;
      height: 42px;
      line-height: 42px;
      background: #F8F8F8;
      padding-left: 13px;
      font-size:16px;
      font-weight:bold;
      margin-bottom: 18px;
      box-sizing: border-box;
      img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -3px;
      }
    }
    .search{
      padding: 0 20px;
      margin-bottom: 14px;
      line-height: 35px;
      span{
        color: #494137;
        font-size:14px;
        width: 64px;
        float: left;
      }
      input{
        width: 130px;
        height: 30px;
        line-height: 30px;
        outline: none;
        border:solid 1px #D0C9BF;
        padding-left: 10px;
        background: #fff;
      }
    }
    .btn{
      height: 34px;
      width: 92px;
      line-height: 34px;
      color: #fff;
      background: #F98512;
      text-align: center;
      margin-left: 72px;
      margin-bottom: 10px;
      margin-top: 6px;
      cursor: pointer;
    }
    .word{
      line-height: 28px;
      display: inline-block;
      color: #494137;
      border: solid 1px #E0D5C2;
      padding: 0 14px;
      font-size:14px;
      margin-left: 14px;
      margin-bottom: 14px;
      cursor: pointer;
      &:hover{
        color: #771F1D;
      }
    }
  }
  .word_list{
    width: 236px;
    padding-right: 14px;
    overflow: hidden;
    border-bottom: 1px solid #E7E4E1;
  }
}
.resource_right{
  float: right;
  width: 936px;
  overflow: hidden;
  margin-bottom: 40px;
  background-image: url(../../../src/assets/images/resource/list_bottom.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  .title_top{
    height: 150px;
    width: 100%;
    background-image: url(../../../src/assets/images/resource/top_bg.png);
    margin-bottom: 12px;
    .split_image{
      width: 41px;
      float: left;
      margin: 0 4px;
      margin-top: 72px;
    }
    .con_image,.con_image_hover{
      margin-top: 39px;
      float: left;
      width: 72px;
      cursor: pointer;
    }
    .con_image_hover{
      height: 100px;
      width: 100px;
      margin-top: 25px;
    }
  }
  .resource_list{
    min-height: 500px;
    background-image: url(../../../src/assets/images/resource/list_top.png);
    background-repeat: no-repeat;
    border: solid 1px #E7E4E1;
    overflow: hidden;
    background: #fff;
    
  }
  .list_keyword{
    font-size:14px;
    height: 25px;
    line-height: 25px;
    margin: 15px 26px;
    span{
      color: #5A5248;
      margin-left: 12px;
      cursor: pointer;
    }
    .title{
      color: #494137;
      margin-left: 0;
      font-weight:bold;
    }
  }
  .check_keyword{
    margin: 15px 26px;
    font-size: 14px;
    .check_title{
      color: #555555;
    }
    .check_btn{
      height: 22px;
      line-height: 22px;
      border: solid 1px #cccccc;
      padding-left: 14px;
      color: #444444;
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;
    }
    i{
      font-style: normal;
      background: #cccccc;
      color: #fff;
      text-align: center;
      width: 24px;
      height: 22px;
      line-height: 22px;
      display: inline-block;
      margin-left: 14px;
      
    }
    .clear_word{
      color: #394E79;
      font-size:14px;
      cursor: pointer;
    }
    
  }
  .search_list{
    height: 38px;
    line-height: 38px;
    background: #F8F8F8;
    // margin-top: 35px;
    color: #494137;
    font-size:14px;
    font-weight:bold;
    padding-left: 26px;
    .search_word{
      margin-left: 10px;
      cursor: pointer;
    }
    .icon{
      margin-left: 6px;
      margin-right: 20px;
    }
    .hover_color{
      color: #C81D22;
      margin-left: 10px;
      cursor: pointer;
    }
    .total_pages{
      color: #A2A2A2;
      font-size: 12px;
      float: right;
      margin-right: 25px;
    }
  }
  .con_list{
    border-bottom: 1px dotted #DDD4C3;
    padding: 24px 26px;
    .image{
      width: 166px;
      height: 186px;
      margin-right: 16px;
      float: left;
    }
    .right{
      float: right;
      
    }
  }
}


