.sort_page{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 48px;
}
.sort_page_list{
  float: left;
  width:280px;
  height: 524px;
  font-size:14px;
  background: #fff;
  margin-bottom: 30px;
  box-shadow:0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
  .sort_top_box{
    height: 118px;
    text-align: center;
    background-image: url(../../../src/assets/images/home/sort_list.png);
    background-repeat: no-repeat;
    background-size: cover;
    .sort_name{
      font-size:20px;
      font-weight:bold;
      color: #333;
      padding-top: 25px;
    }
    .sort_resource{
      margin-top: 12px;
      span{
        font-weight:bold;
        color: #8C1515;
      }
    }
    .sort_section{
      margin-top: 3px;
      span{
        font-weight:bold;
        color: #8C1515;
      }
    }
  }
  .sort_bottom_box{
    .sort_btm_list{
      height: 78px;
      margin: 0 16px;
      border-bottom: 1px solid #F0F0F0;
      font-size:14px;
      color: #666666;
      overflow: hidden;
      &:last-child{
        border-bottom: none;
      }
    }
    .sort_con_title{
      margin-top: 14px;
    }
    .sort_con_author{
      margin-top: 10px;
      .sort_con_price{
        color: #EC383D;
        float: right;
      }
    }
  }
}