
.subject_content_bg{
    background-color: #F8F8F8;
    padding-bottom:79px;
    position: relative;
    width: 100%;
}
.subject_wrap{
    border-bottom: 6px solid;
    border-image: url(../../../src/assets/images/resource/split_bottom.png) 27 27 27 27 round round;
    margin: 0px auto;
    background: #ffffff;;
    margin-bottom: 14px;
    .subject_details{
        width: 1200px;
        margin: 0 auto;
        background: #ffffff;;
    }
    .subject_top{
        padding: 0 35px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        box-sizing: border-box;
        position: relative;
        padding-bottom: 86px;
        &.bg{
            height: 440px;
            background-image: url()
        }
        .subject_top_opt{
            position: absolute;
            top:35px;
            right: 30px;
            .subject_opt_list{
                float: left;
                color: #606266;
                &.share_list {
                    position: relative;
                    &:hover {
                        .share_wrap {
                            display: block;
                        }
                    }
                }
                .el-button{
                    margin-right: 10px;
                }
                .share_wrap {
                    display: none;
                }
            }
        }
        .subject_top_pic{
            margin-top: 28px;
            margin-right: 40px;
            float: left;
            .subject_top_img{
                box-shadow: 10px 10px 0px #E3E3E3;
                width: 230px;
                height: 285px;
                cursor: pointer;
            }
        }
        .subject_top_more{
            position: absolute;
            bottom: 50px;
            right:47px;
            width: 112px;
            height: 27px;
            line-height: 45px;
            color: #AF997F;
            font-size:14px;
            background:url(../../../src/assets/images/medical/userother_btn_bg.png);
            cursor: pointer;
            background-size: 100% 100%;
            span{
                margin-left: 10px;
            }
        }
        .subject_top_content{
            margin-top:46px;
            padding-left: 270px;
            .subject_top_content_tit{
                font-size: 24px;
                margin-bottom: 18px;
                color:#333333;
            }
            .subject_top_content_author {
                color: #957355;
                font-size: 14px;
                margin-bottom: 29px;
            }
            .subject_top_content_text{
                color: #666666;
                line-height: 28px;
                font-size: 14px;
                p {
                    color: #666666;
                    line-height: 28px;
                    width: 856px;
                    word-wrap:break-word;
                }
            }
        }

    }
}
.subject_main{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 5;
    .subject_content_block{
       margin-bottom: 18px;
       overflow: hidden;
    }
    .subject_content_left{
        width: 936px;
        padding:16px 25px;
        float: right;
        box-sizing: border-box;
        background-color: #fff;
        .el-tabs__content {
            margin-top: -42px;
            padding-top: 42px;
        }
        .el-tabs__nav-wrap::after{
            background-color: transparent;
            height: 6px;
            background-image: url(../../../src/assets/images/medical/userother_left-tab-line.png);
        }
        .el-tabs__nav-scroll{
            margin-left: 0px;
            position: relative;
            .el-tabs__active-bar{
                display: none
            }
            .el-tabs__item{
                font-size: 18px;
            }
            .el-tabs__item:hover {
                color: #2473D6;
                cursor: pointer;
            }
        }
        .el-tabs__item.is-active{
            color:#2473D6;
            font-size: 22px;
        }
        .subject_content_list {
            padding: 53px 8px 68px 55px;
            overflow: hidden;
        }
        .subject_content_list_book {
            width: 140px;
            height: 292px;
            float: left;
            margin-right: 65px;
            margin-bottom: 49px;
            .subject_book_img {
                width: 100%;
                height: 192px;
                cursor: pointer;
                margin-bottom: 20px;
            }
            .subject_book_text {
                .subject_book_title {
                    font-size: 14px;
                    cursor: pointer;
                    margin-bottom: 12px;
                    a {
                        color: #333;
                    }
                }
                .subject_book_isbn {
                    color: #999999;
                    font-size: 14px;
                    margin-bottom: 13px;
                }
                .subject_book_author {
                    overflow: hidden;
                    font-size: 14px;
                    .author {
                        color: #333;
                    }
                    .price {
                        float: right;
                        color: #EC383D;
                    }
                    .free {
                        float: right;
                        color: #11AA18;
                    }
                    .no-price {
                        float: right;
                        color: #EB851F;
                    }
                }
            }
        }
        .userother_content_block_pic{
            padding-right: 15px;
            float: left;
            img {
                width: 82px;
                height: 106px;
                cursor: pointer;
            }
        }
    }
    .subject_content_right{
        width: 248px;
        float: left;
        background-color: #fff;
        .subject_content_right_tit{
            color:#8C1515;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            padding-left: 13px;
            position: relative;
            background: #F8F5F1;
            font-weight: bold;
            border-top: 3px solid #C3A87A;
            .icon{
                margin-right: 6px;
            }
            &:after{
                content:"";
                height:4px;
                position: absolute;
                bottom:0;
                left:0;
                width: 100%;
                background-image: url(../../../src/assets/images/medical/userother-right-tit-line.png)

            }
        }
        .subject_content_right_cont {
            padding: 27px 12px 16px 14px;
        }
        .subject_content_block{
            cursor: pointer;
            &:hover {
                .subject_content_block_icon {
                    background: #FEAA5B;
                    color: #fff;
                }
            }
            .subject_content_block_icon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #F4F4F4;
                text-align: center;
                line-height: 20px;
                float: left;
                color: #666666;
            }
            .subject_content_block_name {
                float: left;
                color: #4a433a;
                font-size: 14px;
                margin-left: 11px;
            }
        }
    }
}

.userother-footer .footerCon{
    height: 192px !important;
    overflow: hidden;
}
.pad-top-60{
    padding-top:60px;
}

#bdshare_weixin_qrcode_dialog.bd_weixin_popup {
    left: 1270px !important;
    top: 550px !important;
}
