.subject_body{
  width: 1200px;
  margin: 0 auto;
  overflow:hidden;
  .subject_search{
    height: 42px;
    line-height: 42px;
    color: #444444;
    background: #fff;
    font-size:14px;
    padding-left: 25px;
    padding-right: 22px;
  }
  .subject_order{
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    img{
      margin-left: 6px;
      display: inline-block;
    }
  }
  .subject_order_hover{
    color: #EC383D;
  }
  .subject_total{
    color: #A2A2A2;
    float: right;
    span{
      color: rgb(235, 133, 31);
      margin: 0px 4px;
    }
  }
  .subject_content{
    border-top: 2px solid #8C1515;
    margin-top: 10px;
    padding-bottom: 23px;
  }
  .subject_list{
    height: 246px;
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom: 1px solid #EDEDED;
    background: #fff;
    &:hover{
      background: #FBFBFD;
    }
    .subject_image_box{
      width: 160px;
      margin-top: 24px;
      margin-right: 28px;
      cursor: pointer;
      img{
        width: 160px;
        height: 198px;
      }
    }
    .subject_right_box{
      flex:1;
    }
    .subject_title{
      font-size:18px;
      color: #333333;
      margin-top: 40px;
      cursor: pointer;
    }
    .subject_author{
      color: #999;
      margin-top: 15px;
      font-size: 14px;
    }
    .description{
      color: #666;
      font-size:14px;
      margin-top: 20px;
      min-height: 62px;
      line-height:22px;
    }
    .browse{
      margin-top: 18px;
      color: #999999;
      font-size:14px;
      img{
        float: left;
        margin-right: 6px;
      }
      span{
        float: right;
        color: #999;
        cursor: pointer;
        &:hover{
          color: #8C1515;
        }
      }
      a{
        color: #999;
      }
    }
  }
}