.sucDialog{//静态弹窗
  position: fixed;
  background: rgba(0,0,0,0.7);
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  color: #fff;
  padding: 28px 64px;
  border-radius: 6px;
  font-size:18px;
}

.el-tabs__header{
  height: 55px;
  background: #fff;
  margin-bottom: 0 !important;
}
.is-top{
  line-height: 55px;
}
.el-tabs__item{
  line-height: 55px !important;
}
#articleRead .answer_sub .el-tabs__nav-scroll{
  padding-left: 40px;
}


.el-pagination button:disabled, .el-pagination button {
  border: 1px solid #ccc;
  color: #333;
}
.el-pager {
  margin: 0 10px !important;
}
.el-pager li {
  border: 1px solid #D8CFBF;
  color: #72695D;
  &:hover{
    color: #394E79 !important;
  }
}
.btn-next i,.btn-prev i{
  &:hover{
    color: #394E79 !important;
  }
}
.el-pager li.active {
  color: #fff;
  background-color: #394E79;
}
.el-pagination {
  display: inline-block;
  overflow: hidden;
}
.el-input__inner {
  border: 1px solid #ccc !important;
}

.el-pagination__total {
  margin-left: 20px;
  color: #72695D;
}

.pagination_box {
  background-color: #fff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  .pagination_wrap {
    width: 520px;
    margin: 0 auto;
  }

  .pagination_first {
    float: left;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
  }

  .pagination_end {
    float: right;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #E3E3E3;
    text-align: center;
    cursor: pointer;
  }

  .el-pager li:first-child {
    border: 1px solid #E3E3E3;
  }

  .el-pager li.active+li {
    width: 28px;
    height: 28px;
    border: 1px solid #E3E3E3;
    line-height: 28px;
    text-align: center;
  }

  .el-pager li.active {
    background-color: #394E79;
    color: #fff !important;
    &:hover{
      color: #fff;
    }
  }

  .el-pagination button:disabled, .el-pagination button {
    width: 28px !important;
    height: 28px !important;
    border: 1px solid #ccc;
    padding: 0 !important;
  }
}

.el-dialog__footer {
  text-align: center;
}

.el-dialog_text {
  text-align: center;
  font-size: 18px;
}

a{
  text-decoration: none;
}

.el-dialog__header {
  background-color: #F4F4F4;
  border-bottom: 1px solid #ccc;
  border-bottom: none;
  width: 100%;
  height: 38px;
  padding: 0 !important;
  line-height: 38px;
  span{
    padding-left: 14px;
  }
  .el-dialog__headerbtn{
    top: 10px;
  }
}

.el-dialog__title {
  // font-weight: bold;
  font-size: 14px;
}

.dialog_foot {
  text-align: center;
  margin-top: 30px;
}

.dialog_confirm, .dialog_cancel {
  display: inline-block;
  width: 80px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 2px;
  cursor: pointer;
}

.dialog_confirm {
  background-color: #8C1C1B;
  color: #fff;
}

.dialog_cancel {
  background-color: #EEEEEE;
  color: #BBBBBB;
  margin-left: 14px;
}

.dialog_footer {
  width:80px;
  height:32px;
  background:#F4494A;
  border-radius:3px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}

.el-tag {
  margin-right: 10px;
}

li {
  list-style: none;
}
