a{
  color: #666666;
}
#app{
  font-size: 14px;
  background: #f5f5f5;
  height: 100vh;
}
.index_header{
  height: 700px;
  position: relative;
  position: relative;
  overflow: hidden;
  .indexImg {
    position: absolute;
    height: 700px;
    width: 100%;
  }
  .header_con{
    width: 1200px;
    margin: 30px auto 0;
    overflow: hidden;
    position: relative;

  }
  .header_img {
    float: left;
  }
  .header_nav {
    float: left;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 121px;
    height: 36px;
    line-height: 36px;
    a {
      color: #fff;
    }
    span {
      display: inline-block;
      margin-right: 42px;
      cursor: pointer;
      &.active {
        font-weight: bold;
        &::after {
          content: "";
          display: block;
          height: 4px;
          background: #CB1E27;
        }
      }
    }
  }
  .header_top{
    float: right;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-top: 11px;
  }
  
  // .message{
  //   &:hover{
  //     color: #7E0204;
  //   }
  // }
  .message,.shopping,.login,.person,.loginout{
    color: #fff;
    float: left;
    cursor: pointer;
    position: relative;
    &.out {
      margin-right: 25px;
    }
    i{
      position: absolute;
      top: 0;
      left: 20px;
      height: 18px;
      width: 18px;
      font-size: 12px;
      border-radius: 50%;
      background: #B3221A;
      line-height: 18px;
      color: #fff;
      font-style: normal;
      text-align: center;
    }
    
  }
  .person img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .shopping_img {
    margin-right: 5px;
  }
  .login{
    overflow: hidden;
    .login_line {
      margin: 0 8px;
    }
    .loginout_box{
      width: 96px;
      height: 76px;
      border: solid 1px #CFC4B4;
      margin-left: 14px;
      border-top: none;
      p{
        border-bottom: 1px dotted #DCD2C3;
        margin: 0 7px;
        line-height: 36px;
        &:last-child{
          border-bottom: none;
        }
        &:hover{
          color: #7E0204;
        }
      }
    }
  }
  .index_search {
    position: relative;
    width: 597px;
    height: 165px;
    margin-left: 221px;
    margin-top: 258px;
  }
  .searchBox_index{
    width: 700px;
    height: 60px;
    background: #fff;
    border-radius: 4px;
    // background-image: url(../../src/assets/images/index/search_input.png);
    // background-size: 100% 100%;
    line-height: 60px;
    position: relative;
    ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #cccccc !important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #cccccc !important;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #cccccc !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #cccccc !important;
    }
    .type{
      color: #F7F0E8;
      margin-left: 217px;
      line-height: 50px;
      float: left;
      cursor: pointer;
    }
    span{
      margin-left: 24px;
      margin-right: 14px;
      cursor: pointer;
    }
    .serach_index_img{
      cursor: pointer;
    }
    input{
      color: #333;
      border: none;
      background: none;
      line-height: 50px;
      font-size:14px;
      width: 60%;
      outline: none;
      // float: left;
      padding-left: 23px;
    }
    .point{
      float: left;
      padding: 0 15px;
      margin-top: 22px;
      cursor: pointer;
    }
    .search_bg{
      float: right;
      width: 18px;
      height: 18px;
      margin-top: 20px;
      cursor: pointer;
      margin-right: 26px;
    }
  }
  .search_select_box{
    position: absolute;
    left: 0;
    top: 235x;
    width: 98px;
    height: 118px;
    background-image: url(../../src/assets/images/book_home/select_bg.png);
    background-repeat: no-repeat;
    z-index: 10;
    .search_book_list{
      font-size:14px;
      line-height: 28px;
      margin-left: 18px;
      color: #999999;
      cursor: pointer;
      &:first-child{
        margin-top: 20px;
      }
    }
    .search_hover_color{
      color: #8C1515;
    }
  }
  .keyword{
    color: #ffffff;
    margin-top: 10px;
    span{
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .searchTip{
    position: absolute;
    background: #fff;
    width: 550px;
    padding: 10px 20px;
    max-height: 200px;
    overflow-y: scroll;
    left: 190px;
    top: 60px;
    .content_list{
      line-height: 40px;
      border-bottom: 1px dotted #eee;
      cursor: pointer;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.index_subject{
  height: 703px;
  background-image: url(../../src/assets/images/index/bg_xkfl.png);
  background-size: 100% 100%;
  padding-top: 91px;
  box-sizing: border-box;
  .subject_con{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 510px;
    overflow: hidden;
    .subject_text {
      font-size: 32px;
      color: #000000;
      font-weight: 400;
    }
    .subject_list {
      height: 416px;
      margin-top: 75px;
      .subject_listCon {
        float: left;
        width: 128px;
        height: 422px;
        padding-top: 117px;
        box-sizing: border-box;
        margin-right: 4px;
        cursor: pointer;
        background-size: 100% 100%;
        transition: all .6s ease-out;
        &.active {
          width: 270px;
          height: 422px;
          padding-top: 74px;
          box-sizing: border-box;
        }
      }
      .subject_extendTitle {
        margin-top: 18px;
        margin-bottom: 18px;
        position: relative;
        max-height: 53px;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .subject_extendimg {
          left: 0;
        }
        span {
          display: inline-block;
          width: 129px;
          font-weight: bold;
          margin-left: 12px;
          font-size: 24px;
          color: #ffffff;
        }
      }
      .subject_listTitle {
        width: 24px;
        font-size: 20px;
        margin-top: 11px;
        color: #87634B;
        margin: 0 auto;
      }
    }
    .recommend_img{
      height: 117px;
      width: auto;
    }
  }
}
.index_recommend{
  height: 920px;
  background: #ffffff;
  .recommend_con {
    height: 340px;
    background-image: url(../../src/assets/images/index/bg_tjts.png);
    background-size: 100% 100%;
    padding-top: 62px;
  }
  .recommend_wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .recommend_top{
    color: #901414;
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 400;
  }
  .recommend_book_list {
    width: 100%;
    display: flex;
    .recommend_list {
      width: 910px;
      height: 472px;
      background: #ffffff;
      margin-right: 20px;
      box-shadow:0px 3px 24px 0px rgba(102,102,102,0.15);
      position: relative;
    }
    .recommend_listNav {
      height: 82px;
      width: 100%;
      border-bottom: 1px solid #ececec;
    }
    .recommend_listTop {
      padding-top: 36px;
      margin-left: 43px;
      overflow: hidden;
    }
    .recommend_navText {
      float: left;
      font-size: 16px;
      cursor: pointer;
      color: #333333;
      &:last-child {
        span {
          display: none;
        }
      }
      &.fontColor {
        color: #D00217;
        font-weight: bold;
      }
      span {
        color: #D6DCEF;
        margin-left: 10px;
        margin-right: 10px;
      }
      &:hover {
        color: #D00217;
        font-weight: bold;
      }
    }
    .recommend_listCon {
      margin-top: 40px;
      overflow: hidden;
      .recommend_noBook {
        width: 180px;
        margin: 90px auto;
        overflow: hidden;
        img {
          vertical-align: middle;
          float: left;
        }
        .noText {
          color: #999999;
          font-size: 18px;
          float: left;
          margin-top: 19px;
          margin-left: 14px;
        }
      }
    }
    .more_btn {
      position: absolute;
      bottom: 29px;
      right: 36px;
      color: #D00217;
      cursor: pointer;
    }
    .recommend_listLeft, .recommend_listRight {
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin-top: 92px;
      img {
        display: block;
        margin: 11px auto;
      }
    }
    .recommend_listLeft {
      float: left;
      margin-right: 14px;
      &.active {
        background: #394E79;
      }
    }
    .recommend_listRight {
      float: right;
      &.active {
        background: #394E79;
      }
    }
    .recommend_outlist {
      width: 370px;
    }
    .recommend_bookList{
      width: 150px;
      text-align: center;
      margin-right: 39px;
      cursor: pointer;
      overflow: hidden;
      float: left;
      img{
        width: 148px;
        height: 207px;
        border: 1px solid #ececec;
        object-fit: cover;
        object-position: center;
        float: left;
      }
      .recommoend_right{
        width: 152px;
        float: left;
        .description{
          max-width: 138px;
        }
      }
      .default_content{
        clear: both;
        width: 150px;
        text-align: center;
        .default_title{
          font-size:16px;
          color:rgba(51,51,51,1);
          padding: 18px 0 10px 0;
        }
        .default_author{
          color:#999999;
        }
      }
    }
    .hoverClass{
      width: 370px;
      transition: all .6s ease-out;
      text-align: left;
      img{
        margin-right: 26px;
        border: 1px solid #ececec;
        width: 188px;
        height: 262px;
        object-fit: cover;
        object-position: center;
        float: left;
        transition: all .6s ease-out;
      }
      .recommoend_right{
        .title{
          font-size:16px;
          color:rgba(51,51,51,1);
          padding: 20px 0;
        }
        .author{
          color:#977553;
          margin-bottom: 20px;
          font-size: 14px;
        }
        .description{
          font-size: 14px;
        }
        .btn {
          width: 80px;
          height: 26px;
          background: #D00217;
          text-align: center;
          line-height: 26px;
          color: #ffffff;
          font-size: 16px;
          border-radius: 13px;
          margin-top: 17px;
        }
        .free {
          color: #11AA18;
          font-size: 16px;
          margin-top: 17px;
        }
        .no_price {
          color: #EB851F;
          font-size: 16px;
          margin-top: 17px;
        }
      }
    }
    .recommend_ranking {
      flex: 1;
      height: 490px;
      background: #ffffff;
      box-shadow:0px 3px 24px 0px rgba(102,102,102,0.15);
      .subleft_botTitle {
        height: 54px;
        line-height: 54px;
        color: #8C1515;
        padding-left: 13px;
        font-size:20px;
        border-bottom: 1px solid #ECECEC;
        img{
          float: left;
          height: 20px;
          margin-top: 15px;
          margin-right: 11px;
        }
      }
      .meDetail_textbookList {
        width: 270px;
        height:auto;
        margin: 22px 14px 0;
        .meDetail_textbookTitle{
          width: 270px;
          display: block;
          height:18px;
          line-height: 18px;
        }
        .textbookList_num {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background-color: #F3F3F3;
          color: #666666;
          float: left;
          margin-right: 12px;
          border-radius: 50%;
        }
        .textbookList_text {
          color: #333333;
          width:200px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          cursor: pointer;
        }
      }
      .meDetail_textbook{
        width: 270px;
        height: 139px;
        display: block;
        overflow: hidden;
        margin: 15px auto 0px;
        border-bottom: 1px dashed #E6E6E6;
        background: #fff;
        .commentRight_tip {
          width: 100px;
          float: left;
        }
        img {
          width: 82px;
          height: 110px;
          object-fit: cover;
          float: left;
          object-position: top;  /*这行都可以不写，object-position 默认就是 center*/
        }
        .textbook_number, .textbook_img, .textbook_tip {
          float: left;
        }
        .textbook_number {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background-color: #CB1E27;
          color: #fff;
          border-radius: 50%;
        }
        .textbook_img {
          margin: 0 12px;
          cursor: pointer;
          width: 100px;
          height: 130px;
          border: 1px solid #ececec;
        }
        .textbook_tip {
          width: 100px;
        }
        .textbook_title {
          color: #333;
          margin-bottom: 25px;
          padding-top: 12px;
          width: 100px;
          cursor: pointer;
          font-size: 14px;
        }
        .textbook_author {
          color: #999999;
          width: 100px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          margin-bottom: 5px;
        }
        .commentRight_price{
          color: #E51312;
        }
        .commentRight_free {
          color: #11AA18;
        }
        .commentRight_noPrice {
          color: #EB851F;
        }
      }
    }
  }
  .page_style{
    margin-top: -10px;
    width: 60px;
    margin: 0 auto;
    overflow: hidden;
    .left_box,.right_box{
      float: left;
      width: 25px;
      height: 25px;
      background-image: url(../../src/assets/images/home/default_left.png);
      background-size: 100% 100%;
      cursor: pointer;
      &:hover{
        background-image: url(../../src/assets/images/home/hover_left.png);
      }
    }
    .right_box{
      background-image: url(../../src/assets/images/home/default_right.png);
      margin-left: 10px;
      &:hover{
        background-image: url(../../src/assets/images/home/hover_right.png);
      }
    }
    .left_con,.right_con{
      cursor: pointer;
    }
    .right{
      margin-left: 10px;
    }
  }
  .recommend_img{
    height: 110px;
    width: auto;
  }
  .list,.last_list{
    width: 270px;
    margin-right: 40px;
    float: left;
    cursor: pointer;
    .video_img_box{
      height: 190px;
      position: relative;
      line-height: 190px;
      text-align: center;
      .browse{
        position: absolute;
        left: 0;
        bottom:0;
        width: 95%;
        background: rgba(0,0,0,0.3);
        height: 34px;
        line-height: 34px;
        color: #fff;
        text-align: left;
        padding-left: 5%;
        font-size:14px;
      }
    }
    .video_img{
      max-height: 190px;
      max-width: 270px;
      display: inline-block;
      vertical-align: middle;
    }
    .video_name{
      width: 270px;
      padding: 20px 0 14px 0;
      text-align: center;
      font-size: 16px;
      min-height: 16px;
      font-weight: bold;
    }
    p{
      color: #787878;
      text-align: left;
      font-size: 14px;
    }
  }
  .last_list{
    margin-right: 0;
  }
  .recommend_course {
    width: 1200px;
    margin: 0 auto;
    padding-top: 53px;
  }
  .recommend_course_title {
    width: 443px;
    height: 27px;
    padding-top: 4px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 32px;
    color: #000000;
    background-image: url(../../src/assets/images/index/reco_video.png);
    background-size: 100% 100%;
    text-align: center;
  }
  .recommend_course_con {
    width: 100%;
    height: 332px;
    margin-top: 57px;
  }
  .recommend_course_list {
    width: 268px;
    height: auto;
    border: 1px solid #ececec;
    float: left;
    margin-right: 40px;
    background: #ffffff;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border-bottom: 4px solid #8C1515;
      .recommend_course_icon {
        display: block;
      }
      .recommend_course_img {
        transition: all 0.5s ease-out;
        .view_img {
          width: 268px;
          height: 156px;
        }
        height: 156px;
      }
      .recommend_course_view {
        display: none;
      }
      .recommend_course_text {
        .recommend_course_text_title {
          font-size: 16px;
          font-weight: bold;
          line-height: 26px;
          color: #8C1515;
        }
        .recommend_course_text_con {
          display: block;
          line-height: 22px;
          font-size: 12px;
          color: #555555;
        }
      }
    }
    .recommend_course_img {
      width: 270px;
      height: 190px;
      text-align: center;
      line-height: 190px;
      position: relative;
      .view_img {
        max-width: 268px;
        max-height: 190px;
      }
    }
    .recommend_course_view {
      width: 100%;
      height: 34px;
      line-height: 34px;
      padding-left: 16px;
      box-sizing: border-box;
      background:rgba(0,0,0,0.3);
      position: absolute;
      bottom: 0;
      color: #ffffff;
      text-align: left;
    }
    .recommend_course_text {
      width: 233px;
      padding: 24px 21px 0 16px;
      font-size: 16px;
      cursor: pointer;
      
      .recommend_course_text_title {
        padding-bottom: 17px;
        line-height: 26px;
        font-size: 16px;
        color: #333333;
      }
      .recommend_course_text_con {
        display: none;
      }
    }
    .recommend_course_icon {
      float: right;
      margin-top: 9px;
      display: none;
    }
  }
  .recommend_course_more {
    width: 152px;
    height: 38px;
    line-height: 44px;
    color: #ffffff;
    margin: 20px auto 0;
    background-image: url(../../src/assets/images/index/more_kecheng.png);
    background-size: 100% 100%;
    text-align: center;
    position: relative;
    cursor: pointer;

  }
}
.recommend_chapter {
  width: 100%;
  height: 560px;
  background-image: url(../../src/assets/images/index/bg_kecheng.png);
  background-size: 100% 100%;
  .recommend_chapter_wrap {
    padding-top:267px; 
    width: 1200px;
    margin: 0 auto;
  }
  .recommoend_con{
    width: 100%;
    height: 670px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 100;
    background-image: url(../../src/assets/images/index/bg_zhangjie.png);
    .recommoend_left{
      width: 149px;
      margin-left: 11px;
      margin-right: 6px;
    }
    .recommoend_Cright{
      flex: 1;
      border-top: 1px dotted #72695D;
    }
    .recommend_list{
      border-bottom: 1px dotted #DDD4C3;
      color: #72695D;
      padding: 20px 0;
      cursor: pointer;
      .recommend_common {
        overflow: hidden;
        .recommend_title{
          font-size:16px;
          font-weight:bold;
          color: #504639;
          display: inline-block;
          img{
            float: left;
            margin-right: 8px;
            margin-top: 3px;
          }
        }
        .recommend_source {
          color: #999999;
          font-size: 14px;
          float: right;
          .recommend_tit_a {
            color: #8C1515;
          }
        }
      }
      
      .recommend_description{
        font-size:14px;
        color: #72695D;
        padding-top: 22px;
        padding-bottom: 10px;
        line-height: 24px;
      }
    }
    .more_con{
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 152px;
      height: 38px;
      line-height: 38px;
      margin-left: -75px;
      background-image: url(../../src/assets/images/index/more_zj.png);
      text-align: center;
      color: #D00217;
      cursor: pointer;
    }
  }
}
.recommend_information {
  width: 100%;
  height: 590px;
  margin-top: 82px;
  background-image: url(../../src/assets/images/index/bg_banner.png);
  background-size: 100% 100%;
  .recommend_information_con {
    padding-top: 370px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .recommend_information_left {
    float: left;
    width: 890px;
    height: 120px;
    cursor: pointer;
  }
  .recommend_information_right {
    float: right;
    width: 296px;
    height: 120px;
    background-image: url(../../src/assets/images/index/bg_zixun.png);
    background-size: 100% 100%;
    cursor: pointer;
    padding: 50px 128px 48px 127px;
    box-sizing: border-box;
    a {
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
.medicine_con{
  background-image: url(../../src/assets/images/home/main_bg.png);
  background-size: 100% 100%;
  overflow: hidden;
  .medicine_content{
    width: 1200px;
    margin: auto !important;
  }
  .medicine_logo{
    height: 110px;
    padding-top: 50px;
  }
  .left_box,.right_box{
    float: right;
    width: 25px;
    height: 25px;
    background-image: url(../../src/assets/images/home/default_left.png);
    background-size: 100% 100%;
    margin-top: 104px;
    cursor: pointer;
    &:hover{
      background-image: url(../../src/assets/images/home/hover_left.png);
    }
  }
  .right_box{
    background-image: url(../../src/assets/images/home/default_right.png);
    margin-left: 10px;
    &:hover{
      background-image: url(../../src/assets/images/home/hover_right.png);
    }
  }
  .list,.last_list{
    width: 280px;
    float: left;
    margin-right: 26px;
    cursor: pointer;
    &:hover{
      border-bottom: solid 4px #9D7949;
    }
    .list_image{
      height: 180px;
      width:  100%;
      position: relative;
      line-height: 180px;
      text-align: center;
      .video_image{
        max-height: 180px;
        max-width: 280px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .headset{
      position: absolute;
      height: 56px;
      width: 56px;
      background: rgba(0,0,0,0.4);
      border-radius:50%;
      left: 110px;
      top: 62px;
      text-align: center;
      line-height: 56px;
      img{
        margin-top: 16px;
        height: 22px;
        display: inline-block;
      }
    }
    .outside{
      padding: 28px 20px 20px 22px;
      height: 110px;
      background: #fff;
    }
    .title{
      font-size:16px;
      font-weight:bold;
      color:rgba(51,51,51,1);
      border-bottom: 2px solid #9C191A;
      width: 20px;
      min-height: 20px;
      p{
        width: 220px;
        padding-bottom: 10px;
      }
    }
    .description{
      color: #666666;
      padding-top: 18px;
      padding-bottom: 30px;
      height: 16px;
    }
    .times{
      color: #9D7949;
    }
  }
  .last_list{
    margin-right: 0;
  }
  .index_banner{
    margin-top: 60px;
    margin-bottom: 40px;
    overflow: hidden;
    .banner_left{
      float: left;
      width: 836px;
      height: 130px;
      background-image:  url(../../src/assets/images/home/resource.png);
      background-size: 100% 100%;
      .btn{
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-image:  url(../../src/assets/images/home/btn.png);
        color: #fff;
        margin-left: 557px;
        font-size: 16px;
        margin-top: 49px;
        cursor: pointer;
      }
    }
    .banner_right{
      float: right;
      width: 338px;
    }
  }
}











