<template>
    <div class="browsing my_browsing">
        <div class="browsing_title">浏览记录</div>
        <div class="browse_check">
            <div class="browse_check_box" v-if="recordList && recordList.length>0">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                <span @click="delRecord" class="clear_box">清空记录</span>
            <!-- <a >清空记录</a> -->
            </div>
        </div>
        <div class="browsing_article">
            <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                <div class="browsing_list" v-if="recordList.length>0" v-for="item in recordList" :key="item.index">
                    <div class="browsing_input">
                       <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                    </div>
                    <div class="browsing_left" :class="{'hiddeClass':item.img=='null'}" v-if="!(!item.img && item.goodsType == 3)">
                        <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" @click="linkToDetil(item.goodsType,item.goodsId)" v-if="item.img" class="cover">
                        <!-- <img src="@/assets/images/resource/video.png" class="icon" v-if="item.img && item.goodsType == 5"> -->
                        <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-if="!item.img && item.goodsType == 1">
                        <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-if="!item.img && item.goodsType == 4">
                        <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-if="!item.img && item.goodsType == 5">
                        <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-if="!item.img && item.goodsType == 6">
                        <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-if="!item.img && item.goodsType == 7">
                        <img src="@/assets/images/resource/course_default.jpg" alt="默认封面" v-if="!item.img && item.goodsType == 9">
                    </div>
                    <div class="browsing_rightCon">
                        <div class="browsing_topic" v-if="item.name!=null" @click="linkToDetil(item.goodsType,item.goodsId)">
                            <span v-if="item.goodsType == 1">《{{item.name}}》</span>
                            <span v-else>{{item.name}}</span>
                        </div>
                        <!-- <div class="browsing_author" v-if="(item.goodsType == 1 || item.goodsType == 9) && item.author">作者：
                            <router-link :to="{name:'doctorDetails',query:{id:item.authorId}}" v-if="item.authorId">
                                <span>{{item.author}}</span>
                            </router-link>
                            <span v-else style="color:#333">{{item.author}}</span>
                        </div> -->
                        <div class="browsing_author" v-if="item.goodsType == 3 && (item.bookName || item.source)">来源：
                            <router-link v-if="item.bookId" :to="{name:'bookDetails',query:{id:item.bookId}}">
                                <span>{{item.bookName}}</span>
                            </router-link>
                            <span v-else class="text_color">{{item.source}}</span>
                        </div>
                        <div class="browsing_detail" v-if="item.text!=null" v-html="item.text.length > 100?item.text.substring(0,100)+'...' : item.text"></div>
                        <div class="browsing_time">浏览时间：{{item.createTime}}</div>
                    </div>
                </div>
              <div class="noHave" v-if="recordList.length<=0"><img src="@/assets/images/home/no-content.jpg" alt=""></div>
            </el-checkbox-group>
        </div>
    </div>
</template>

<script>
import { uploadUrl } from '@/utils/global'
import '@static/css/personal/browsing.less'
import { recordGetAPI,recordDelAllAPI } from '@/api/personal/myRecord'
export default {
    name: 'browsing',
    data(){
        return {
            checkAll: false,
            isIndeterminate: false,
            allId:[],//全部的id
            checkedId:[],//选中
            recordList:[],
            uploadUrl:uploadUrl,
            type:""//文章，图书
        }
    },
    mounted() {
        this.getRecordData();
    },
    methods: {
        getRecordData(){//获取浏览记录
            recordGetAPI().then(res=>{
                if(res.data.code==0){
                    this.recordList=res.data.data?res.data.data:[];
                    if(this.recordList.length>0){     
                      this.recordList.map((item,index,arr)=>{
                        this.allId.push(this.recordList[index]['id']);
                      });
                    }
                }else if(res.data.code<0){
                    this.$message('请求失败');
                }
            })
        },
        delRecord(){//删除浏览记录
            let arrId=this.checkedId;
            if(arrId.length<=0){
                this.$message.warning("您未选中要删除的列表");
                return;
            }
            recordDelAllAPI(arrId).then(res=>{
                let Vue=this;
                if (res.data.code > 0) {
                    this.$message.warning(res.data.msg)
                } else if (res.data.code < 0) {
                    this.$message.error(`删除失败`)
                } else {
                    this.$message.success(`删除成功`)
                    this.getRecordData();
                }
            })
        },
        linkToDetil(type,id){//点击封面进详情 //资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
            if(type == '1'){//图书
                this.$router.push({name:'bookDetails',query:{id:id}});
            } else if(type == '3'){//文章
                this.$router.push({name:'articleread',query:{id:id}});
            } else if(type == '4'){//图片
                this.$router.push({name:'imageDetails',query:{id:id}});
            } else if(type == '5'){//视频
                this.$router.push({name:'videoDetails',query:{id:id}});
            } else if(type == '6'){//音频
                this.$router.push({name:'audioDetails',query:{id:id}});
            } else if(type == '7'){//课件
                this.$router.push({name:'fileDetails',query:{id:id}});
            } else if(type == '9'){//课程
                this.$router.push({name:'courseDetails',query:{id:id}});
            }
        },
        handleCheckAllChange(val) {//全选
            this.checkedId = val ? this.allId : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {//单选
           let checkedCount = value.length;
           this.checkAll = checkedCount === this.recordList.length;
           this.isIndeterminate = checkedCount > 0 && checkedCount < this.recordList.length;
        }
    },
}
</script>

<style lang="less">
    .my_browsing{
        .browsing_list .el-checkbox__label{
            font-size: 0 !important;
        }
        .hiddeClass{
            display: none;
        }
        .el-checkbox-group{
            font-size: inherit !important;
        }
        .browsing_rightCon{
            min-width:705px;
            margin-left: 18px;
        }
    }
  .browsing{
    .browsing_article{
      padding:0 26px;
      box-sizing: border-box;
      min-height: 864px;
      background: #fff;
      .noHave{height:863px;background: #fff; display: flex; justify-content: center; align-items: center}
    }
  }
</style>
