<template>
  <div class="comment">
    <div class="comments_content">
      <div class="comments_main">
        <navbar :message="parentMsg"></navbar><!--面包屑-->
        <div class="commentLeft">
          <div class="replyArticle">
            <p style="cursor: pointer" @click="goBack">&lt;&lt; 返回评论列表</p>
          </div>
          <div class="comLfList">
            <ul>
              <li class="itemData"  style="border-bottom: none">
                <div style="width:100%; display: block; height:auto;">
                  <div class="itemHeader">
                    <img :src=fileUrl(detail.userImg) v-if="detail.userImg">
                    <img src='../../assets/images/personal/default.png' v-else>
                  </div>

                  <div class="listCont">
                    <div class="itemTit">
                      <span class="title">{{detail.userName}}</span>
                      <div class="itemStar">
                        <span>
                          <img src="../../assets/images/personal/starty.png" v-for="(val,index) in detail.score" :key="index">
                        </span>
                        <ul>
                          <li v-for="(item,index) in startNum" :key="index"></li>
                        </ul>
                      </div>
                      <span>{{detail.releaseTime}}</span>
                    </div>
                    <div class="itemCont">
                      {{detail.content}}
                    </div>
                    <div class="itemOper">
                      <div class="comNum" @click="lookCom(detail.id)"><span>{{detail.replyNum}}</span></div>
                      <div class="thumbNum" @click="commentAgree(detail.id,detail)">
                        <img src="@/assets/images/resource/reply_agree_hover.png" alt="" v-if="detail.isAgree">
                        <img src="@/assets/images/resource/reply_agree.png" alt="" v-else>
                        <span :class="detail.isAgree?'fontColor':''">{{fabulousNum}}</span></div>
                    </div>
                  </div>
                </div>

                <div class="commentList">
                  <div class="comInput" v-if="userType != 2">
                    <div class="triangle"></div>
                    <textarea name=""  cols="30" rows="10" placeholder="针对这条评论进行回复" style="resize:none" v-model="textReplyCont"></textarea>
                  </div>
                  <div class="btn3" @click="saveBtn" style="cursor: pointer" v-if="userType != 2">回复</div>
                  <ul class="itemUl">
                    <li class="itemData" v-for="(item,index2) in replyVoList" :key="index2">
                      <div class="listCont">
                        <div class="itemTit">
                          <span class="title">{{item.userName}} <b v-if="item.fatherId!=detail.id"> 回复 {{item.fatherName}}</b></span>
                          <span>{{item.releaseTime}}</span>
                        </div>
                        <div class="itemCont">
                          {{item.content}}
                        </div>
                        <div class="itemOper">
                          <div class="comNum" @click="isShowBtn(item.id)"></div>
                        </div>
                        <div class="replyReply" v-if="item.isShow">
                          <div class="triangle"></div>
                          <textarea cols="30" rows="10" placeholder="针对这条评论进行回复" style="resize:none" v-model="textReplyReply"></textarea>
                          <div class="btn5" @click="replyBtn(item.id,item.userName)">回复</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="commentRight">
          <div class="subleft_bot1">
            <div class="subleft_botTitle">热门图书</div>
            <div class="subleft_botLine"></div>
            <div class="subleft_textbookList" v-for="(book, index2) in sameList" :key="index2" @mousemove.prevent='mousemove(index2)'>
              <div  v-if="isShowBook!=index2" class="meDetail_textbookTitle">
                <div class="textbookList_num" >{{index2+1}}</div>
                <div class="commentRight_tip" @click="linkDetail(book.id)">
                  <div class="textbookList_text">《{{book.name}}》</div>
                </div>
              </div>
              <div class="subleft_textbook"  v-if="isShowBook==index2">
                <div class="textbook_number" >{{index2+1}}</div>
                <img :src=fileUrl(book.bookCover) class="textbook_img" @click="linkDetail(book.id)">
                <div class="commentRight_tip" @click="linkDetail(book.id)">
                  <div class="textbook_title">《{{book.name}}》</div>
                  <div class="textbook_author">{{book.author?book.author.length>5?book.author.slice(0,5):book.author:''}}</div>
                  <div class="commentRight_noprice" v-if="book.realPrice == null">未定价</div>
                  <div class="commentRight_free" v-if="book.realPrice == 0">免费</div>
                  <div class="commentRight_price" v-if="book.realPrice != null && book.realPrice != 0">￥{{book.realPrice?book.realPrice.toFixed(2):'0'}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="com_left" v-if="articleList.length>0">
            <div class="subleft_botTitle">相关文章</div>
            <div class="subleft_botLine"></div>
            <div class="hot_list" v-for="(item,index) in articleList" :key="index">
              <div class="hot_listImg"></div>
              <div class="hot_listText">{{item.synopsis}}</div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <loginAlert :isShowChild="isShowAlert"  @toFatherData="sendSonData"></loginAlert>

  </div>
</template>

<script>
  import "@static/css/personal/comments.less"
  import {getCommentDetailAPI,commentAgreeAPI,ebookOtherAPI,relevantArticleAPI,commentSaveAPI,resourceAPI } from '../../api/comment/comments';
  import navbar from '@/components/navbar.vue';

  export default {
    name: 'commentReply',
    components: {
      navbar
    },
    data() {
      return {
        startNum: 5,
        listData: [],
        textCont:'',
        comStatus:false,
        type:null,
        id:null,
        detail:{},
        sameList:[],
        articleList:[],
        isShowBook:null,
        isShowText:false,
        replyVoList:[],
        fabulousNum:0,
        textReplyCont:'',
        resourceList:{},
        resourceType:null,
        textReplyReply:'',
        searchVal:{
          searchVal:'',
          national:'',
          nationalNum:'',
        },
        isShowAlert:false,
        parentMsg: {id: this.$route.query.prevId, type: this.$route.query.type, name: this.$route.query.name},
        userType: localStorage.getItem("userType"),
      }
    },
    created() {
      this.type = this.$route.query.type;
      this.id = this.$route.query.id;
      this.getCommentDetail();
      this.ebookOther();
    },
    methods: {
      sendSonData(val){//登录
        let self=this;
        self.isShowAlert=false;
        this.$emit('getloginData'); //弹窗登录信息
        this.getCommentDetail();
        this.ebookOther();
      },
      /*返回*/
      goBack(){
        // this.$router.go(-1);
        this.$router.push({name: 'comments', query: this.parentMsg})
      },
      /*查看评论下的回复*/
      lookCom(id){
        this.$router.push({name: 'commentReply', query: {id: id,type:this.detail.resourceType}})
      },
      /*获取评论详情及回复列表*/
      getCommentDetail(){
        getCommentDetailAPI({
          oid:this.id
        }).then(res=>{
          this.detail=res.data.data;
          this.fabulousNum=res.data.data.fabulousNum;
          this.replyVoList=res.data.data.replyVoList;
          for(let i=0;i<this.replyVoList.length;i++){
            this.$set(this.replyVoList[i], 'isShow', false)
          }
        })
      },
      /*点赞*/
      commentAgree(id,item){
        if(localStorage.getItem("Y-Token")){
          if(this.userType != 2){
            if(!item.isAgree){
              commentAgreeAPI({
                commentId:id
              }).then(res=>{
                if(res.data.status){
                  this.$set(this.detail, 'isAgree', !this.detail.isAgree)
                  this.fabulousNum=this.fabulousNum+1;
                }
              })
            }else{//不可以取消点赞
              this.$message.warning('已点赞成功')
            }
          }
        }else{
          this.isShowAlert=true;
        }
      },
      /*热门图书*/
      ebookOther(){
        ebookOtherAPI({
          id:this.id,
          num:6,
          nationsType:this.searchVal.nationalNum,//民族 1蒙古族 2侗族 3藏族 4朝鲜族 5土家族 6回族 7满族 8汉族
        }).then(res=>{
          this.sameList=res.data.data;
          this.isShowBook = 0
          this.relevantArticle();
        })
      },
      /*同类书*/
      mousemove(index){
        this.isShowBook=index;
      },
      /*相同文章*/
      relevantArticle(){
        relevantArticleAPI({
          bookId:this.id,
          num:10,
        }).then(res=>{
          this.articleList=res.data.data;
        })
      },
      /*保存评论*/
      saveBtn() {
        let textCon=this.textReplyCont.replace(/^\s+|\s+$/g,'')
        if(localStorage.getItem("Y-Token")){
          if (textCon == '') {
            this.$message.warning("请填写评论内容！")
          } else {
            let data={
              content: textCon,//评论内容
              fatherId: this.detail.id,//父级评论id：0资源，其他评论id
              fatherName: this.detail.userName ,//父级评论用户名
              id: '',//评论id
              mainId: this.detail.id ,// 所属主评论id：0资源主评论，其他主评论id
              resourceType: this.type,//资源类型 0全部1理论 2药物 3方剂 4临床 5医案 6文化 7机构 8医论 9其他 10医著 注：1-9与文章类型一致
              resourceId: this.detail.resourceId,//资源id
              resourceName: this.detail.resourceName,//资源名称
              score: 5,
            };
            this.commentSave(data)

          }
        }else{
          this.isShowAlert=true;
        }


      },
      /*评论借口*/
      commentSave(data){
        commentSaveAPI(data).then(res=>{
          if (res.data.status){
            this.$message.success("评论成功，请耐心等待审核！")
            this.getCommentDetail()
            this.textReplyCont='';
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      /*点击回复中评论图标*/
      isShowBtn(id){
        if(this.userType != 2) {
          this.textReplyReply='';
          for(let i=0;i<this.replyVoList.length;i++){
            if(this.replyVoList[i].id==id){
              this.$set(this.replyVoList[i], 'isShow', !this.replyVoList[i].isShow)
            }else{
              this.$set(this.replyVoList[i], 'isShow', false)
            }
          }
        }
      },
      /*针对于回复回复*/
      replyBtn(id,name){
        console.log(id,677777777);
        let textCon=this.textReplyReply.replace(/^\s+|\s+$/g,'')
        if(localStorage.getItem("Y-Token")){
          if (textCon == '') {
            this.$message.warning("请填写评论内容！")
          } else {
            let data={
              content: textCon,//评论内容
              fatherId: id,//父级评论id：0资源，其他评论id
              fatherName: name ,//父级评论用户名
              id: '',//评论id
              mainId: this.detail.id ,// 所属主评论id：0资源主评论，其他主评论id
              resourceType: this.type,//资源类型 0全部1理论 2药物 3方剂 4临床 5医案 6文化 7机构 8医论 9其他 10医著 注：1-9与文章类型一致
              resourceId: this.detail.resourceId,//资源id
              resourceName: this.detail.resourceName,//资源名称
              score: 5,
            };
            this.commentSave(data)

          }
        }else{
          this.isShowAlert=true;
        }


      },
      /*跳转*/
      linkDetail(id){
        this.id=id;
        this.$router.push({name: 'bookDetails', query: {id: id}})
      },
    },
  }
</script>

<style>

</style>
