<template>
  <div class="comment">
    <div class="comments_content">
      <div class="comments_main">
        <navbar :message="parentMsg"></navbar>
        <div class="commentLeft">
          <div class="comLfArticle">
            <div class="comother" >{{name.length>30?name.substr(0,30)+'...':name}}</div>
            <div class="writeComment" @click="writeCom" v-if="userType!=2">评论</div>
          </div>
          <div class="comLfList" v-if="commentList&&commentList.length>0">
            <ul>
              <li class="itemData" v-for="(item,index) in commentList" :key="index">
                <div class="itemHeader">
                  <img :src=fileUrl(item.userImg) alt="" v-if="item.userImg&&item.userImg!=''">
                  <img src='@/assets/images/personal/default.png' alt="" v-else>
                </div>
                <div class="listCont">
                  <div class="itemTit">
                    <span class="title">{{item.userName}}</span>
                    <div class="itemStar">
                      <span><img src="../../assets/images/personal/starty.png" alt="" v-for="(val,index1) in item.score" :key="index1">
                      </span>
                      <ul>
                        <li v-for="(item,index) in startNum" :key="index"></li>
                      </ul>
                    </div>
                    <span>{{item.releaseTime}}</span>
                  </div>
                  <div class="itemCont">
                    {{item.content}}
                  </div>
                  <div class="itemOper">
                    <div class="comNum" @click="lookCom(item.id)">
                      <span>{{item.replyNum}}</span>
                    </div>
                    <div class="thumbNum" @click="commentAgree(item.id,item)">
                      <img src="@/assets/images/resource/reply_agree_hover.png" v-if="item.isAgree">
                      <img src="@/assets/images/resource/reply_agree.png" v-else>
                      <span :class="item.isAgree?'fontColor':''">{{item.fabulousNum}}</span></div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="pagination_box">
              <el-pagination  @current-change="handleCurrentChange" :current-page="pageNum" :page-size="pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
            </div>
          </div>
          <div v-else class="comNo">
            <img src="@/assets/images/home/no-content.jpg" alt="">
          </div>
        </div>

        <div class="commentRight">
          <div class="subleft_bot1">
            <div class="subleft_botTitle">热门图书</div>
            <div class="subleft_textbookList" v-for="(book,index) in sameList" :key="index" @mouseenter='mousemove(index)'>
              <div  v-if="isShowBook!=index" class="meDetail_textbookTitle">
                <div class="textbookList_num" >{{index+1}}</div>
                <div class="commentRight_tip" @click="linkDetail(book.id)">
                  <div class="textbookList_text">{{book.name}}</div>
                </div>
              </div>
              <div class="subleft_textbook"  v-if="isShowBook==index" >
                <div class="textbook_number" >{{index+1}}</div>
                <img :src=fileUrl(book.bookCover) class="textbook_img" @click="linkDetail(book.id)">
                <div class="commentRight_tip" @click="linkDetail(book.id)">
                  <div class="textbook_title">{{book.name}}</div>
                  <div class="textbook_author">{{book.author?book.author.length>5?book.author.slice(0,5):book.author:''}}</div>
                  <div class="commentRight_noprice" v-if="book.realPrice == null">未定价</div>
                  <div class="commentRight_free" v-if="book.realPrice == 0">免费</div>
                  <div class="commentRight_price" v-if="book.realPrice != null && book.realPrice != 0">￥{{book.realPrice?book.realPrice.toFixed(2):'0'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alertCont" v-if="comStatus">
      <div class="alertBg"></div>
      <div class="alertShow">
        <div class="title">
          <span>写评论</span>
          <span  @click="cancelBtn"><img src="../../assets/images/personal/close.png" alt=""></span>
        </div>
        <div class="cont2">
          <div class="itemWord">星评：</div>
          <el-rate v-model="changStar"></el-rate>
        </div>
        <div class="cont3">
          <textarea name="" id="" cols="30" rows="10" maxlength="300" style="resize:none" placeholder="商品这么赞，你就不想写点什么吗？"
                    v-model="textCont" @input="inputTextCont"></textarea>
          <span>{{textCont.length}}/300字</span>
        </div>
        <p class="tipMsg" v-if="isShowtextCont">请填写内容</p>
        <div class="cont4">
          <button class="btn1" @click="saveBtn">保存</button>
          <button class="btn2" @click="cancelBtn">取消</button>
        </div>
      </div>
    </div>
    <loginAlert :isShowChild="isShowAlert"  @toFatherData="sendSonData"></loginAlert>
  </div>
</template>

<script>
  import "@static/css/personal/comments.less"
  import Cookies from 'js-cookie';
  import navbar from '@/components/navbar.vue'

  import {
    getCommentListAPI,
    commentSaveAPI,
    authorLibraryDetailAPI,
    commentAgreeAPI,
    hotBookAPI,
  } from '@/api/comment/comments';

  export default {
    name: 'mongolia',
    data() {
      return {
        startNum: 5,
        listData: [],
        textCont: '',
        comStatus: false,
        searchVal:{
          searchVal:'',
          national:'',
          nationalNum:'',
        },
        changStar: 5,
        type: null,
        id:null,
        detail:{},
        pageNum:1,
        pageSize:15,
        commentList:[],
        resourceList:{},
        resourceType:null,
        sameList:[],
        isShowBook:null,
        isShowtextCont:false,
        total:0,
        isShowAlert:false,
        name: null,
        parentMsg: {id: this.$route.query.id},
        userType: localStorage.getItem("userType"),
        arrDetails: ['bookDetails','doctorDetails','articleread','imageDetails','videoDetails','audioDetails','fileDetails','subjectDetails','courseDetails']
      }
    },
    components: {
      navbar
    },
    created() {
      this.type = this.$route.query.type;
      this.id = this.$route.query.id;
      this.name = this.$route.query.name
      this.$route.meta.fatherName = this.arrDetails[Number(this.type-1)]
      if(this.$route.query.fatherId && this.$route.query.fatherId != 'underfined') {//跳转评论回复页面
        // let data = this.$route.query.fatherId
        // delete this.$route.query.fatherId
        this.$router.push({name: 'commentReply', query: {id:this.$route.query.fatherId,name:this.name,type:this.type,prevId:this.$route.query.id}})
      } else{
        this.getCommentList(); //评论列表
        this.ebookOther(); //热门书列表
      }
    },
    methods: {
      sendSonData(val){//登录弹窗
        let self=this;
        self.isShowAlert=false;
        this.$emit('getloginData'); //弹窗登录信息
      },
      getCommentList() { //查询列表
        getCommentListAPI({
          resourceId: this.id,
          resourceType: this.type,//资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        }).then(res => {
          this.commentList=res.data.data.list;
          this.total=res.data.data.total;
        })
      },
      writeCom() {
        if(localStorage.getItem("Y-Token")){
          this.comStatus = true
        }else{
          this.isShowAlert=true;
        }
      },
      /*点赞*/
      commentAgree(id,item){
        if(localStorage.getItem("Y-Token")){
          if(this.userType != 2) {
            this.$forceUpdate()
            if(!item.isAgree){
              commentAgreeAPI({
                commentId:id
              }).then(res=>{
                if(res.data.status){
                  this.$message.success("点赞成功！")
                  for(let i=0;i<this.commentList.length;i++){
                    if(this.commentList[i].id==id){
                      this.$set(this.commentList[i], 'isAgree', !this.commentList[i].isAgree);
                      this.commentList[i].fabulousNum++;
                    }
                  }
                }else{
                  this.$message.error(res.data.msg)
                }
              })
            }else{//不可以取消点赞
              this.$message.warning('已点赞成功')
            }
          }
        }else{
          this.isShowAlert=true;
        }
      },
      /*跳转*/
      lookCom(id) {
        this.$router.push({name: 'commentReply', query: {id:id,name:this.name,type:this.type,prevId:this.$route.query.id}})
      },
      /*保存评论*/
      saveBtn() {
        let textCon=this.textCont.replace(/^\s+|\s+$/g,'')
        if(localStorage.getItem("Y-Token")){
          if (textCon == '') {
            this.$message.warning("请填写评论内容！")
          } else {
            commentSaveAPI({
              content: textCon,//评论内容
              fatherId: 0,//父级评论id：0资源，其他评论id
              fatherName: '',//父级评论用户名
              id: '',//评论id
              mainId: 0, // 所属主评论id：0资源主评论，其他主评论id
              resourceType: this.$route.query.type, //资源类型 0全部1理论 2药物 3方剂 4临床 5医案 6文化 7机构 8医论 9其他 10医著 注：1-9与文章类型一致
              resourceId: this.$route.query.id, //资源id
              resourceName: this.$route.query.name, //资源名称
              score: this.changStar,
            }).then(res => {
              if(res.data.status){
                this.$message.success("评论成功，请耐心等待审核通过！")
                this.getCommentList();
                this.cancelBtn();
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }
        }else{
          this.isShowAlert=true;
        }
      },
      /*取消评论*/
      cancelBtn(){
        this.comStatus=false;
        this.textCont='';
        this.changStar=5;
        this.isShowtextCont=false;
      },
      /*输入验证*/
      inputTextCont(){
        if(this.textCont==''){
          this.isShowtextCont=true;
        }else{
          this.isShowtextCont=false;
        }
      },
      /*热门图书列表*/
      ebookOther(){
        hotBookAPI({
          num:6,
        }).then(res=>{
          this.sameList=res.data.data;
          this.isShowBook = 0
        })
      },
      /*同类书*/
      mousemove(index){
        this.isShowBook=index;
      },
      handleCurrentChange(val) {
        this.pageNum = val
        this.getCommentList()
      },
      /*跳转*/
      linkDetail(id){
        this.id=id;
        this.$router.push({name: 'bookDetails', query: {id: id}})
      },
    },
  }
</script>

<style lang="less">
  .pagination_box {
    background-color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
</style>
