<template>
    <div class="edit">
      <el-form :model="resourceForm" ref="resourceForm" :rules="rules" label-position="right" label-width="120px" class="ib">
      <div class="editpreson_title">基础信息</div>
      <div class="editpreson_listInfo">
        <el-form-item prop="nickName" label="昵称" label-width="80px">
          <el-input v-model="resourceForm.nickName" clearable placeholder="请输入昵称" style="width:200px"></el-input>
        </el-form-item>
      </div>
      <div class="editpreson_listInfo">
        <el-form-item label="头像" label-width="80px">
          <el-upload class="avatar-uploader" :action="`${uploadUrl}file/${uploadPath}`" :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
            <img  v-if="imagePath" :src="imageUrl" class="avatar">
            <img v-else src="@/assets/images/home/avatar.jpg" class="avatar-uploader-icon" style="width: 130px; height: 130px;">
          </el-upload>
          <div style="color:#C2B4A4;">建议尺寸122*122px, 支持jpg, gif, png或bmp格式的图片，文件大小不超过2M</div>
        </el-form-item>
      </div>
      <div class="editpreson_listInfo">
        <el-form-item label="性别" prop="sex" label-width="80px" >
          <el-radio-group v-model="resourceForm.sex">
            <el-radio :label="1">男</el-radio>
            <el-radio :label="0">女</el-radio>
          </el-radio-group>
        </el-form-item>
      </div>
      <div class="editpreson_listInfo">
        <el-form-item label="邮箱" label-width="80px" prop="email">
          <el-input v-model="resourceForm.email" clearable placeholder="请输入邮箱" style="width:300px"></el-input>
          <div style="color:#CBCBCB;">用于接收来自系统给您发送的邮件通知或找回密码使用</div>
        </el-form-item>
      </div>
      <div class="editpreson_title editpreson_infoTitle">完善信息</div>
      <div class="editpreson_listInfo">
        <el-form-item label="真实姓名" prop="name" label-width="80px">
          <el-input v-model="resourceForm.name" clearable placeholder="请输入真实姓名" style="width:300px"></el-input>
        </el-form-item>
      </div>
      <div class="editpreson_listInfo">
        <el-form-item label="学历" prop="academic" label-width="80px">
          <el-select v-model="resourceForm.academic" placeholder="请选择" style="width: 300px;">
            <el-option v-for="(val,key) in academic" :key="key" :label="val" :value="key"></el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="editpreson_listInfo">
        <el-form-item label="机构名称" prop="organName" label-width="80px">
          <el-input v-model="resourceForm.organName" clearable placeholder="请输入机构名称" style="width:300px"></el-input>
        </el-form-item>
      </div>
      <div class="editpreson_listInfo">
        <el-form-item label="部门" prop="dept" label-width="80px">
          <el-input v-model="resourceForm.dept" clearable placeholder="请输入部门" style="width:300px"></el-input>
        </el-form-item>
      </div>
      <!-- <div class="editpreson_listInfo">
        <el-form-item label="职称" prop="title" label-width="80px" >
          <el-select v-model="resourceForm.title"  placeholder="请选择" style="width:300px">
            <el-option v-for="(val,key) in title" :key="key" :label="val" :value="key"></el-option>
          </el-select>
        </el-form-item>
      </div> -->
      <div class="editpreson_save" @click="save">保存信息</div>
      </el-form>
    </div>
</template>

<script>
import "@static/css/personal/edit-personal.less";
import { editAPI , detailsAPI, educationAPI, titleAPI } from '@/api/personal/personal_information'
import { uploadUrl, uploadPath, requestPath } from '@/utils/global.js';

export default {
  name: 'edit',
  data(){
    const validateName=(rule, value, callback) => {
      if (value === null||value === ''|| value.replace(/(^\s*)|(\s*$)/g, "")=="") {
        callback(new Error('请输入真实姓名'));
      } else{
        if(value.length>10){
          callback(new Error('不能超过10个字符'));
        }
        callback()
      }
    };
    return {
      domain: process.env.BASE_API,
      requestPath: requestPath,
      uploadPath: uploadPath,
      resourceForm:{
        sex: 1,
        img: '',
        name:null,
        organName:null
      },
      uploadUrl: uploadUrl,
      academic: [],
      dept: null,
      title: [],
      imageUrl: '',
      imagePath: '',
      value: '',
      rules:{
        // title:[
        //   { required: true , message: '请选择职称', trigger: 'change' },
        // ],
        nickName: [
          { required: false, pattern: /^.{1,8}$/, message: '长度不超过8个字' , trigger: 'change' }
        ],
        name: [
          { required: true,validator: validateName,trigger: 'change' }
        ],
        academic: [
          { required: true , trigger: 'change', message: '请选择学历'}
        ],
        organName: [
          { required: true,  message: '请输入机构名称', trigger: 'change' },
          { pattern: /^.{1,20}$/, message:'机构名称长度不超过20字', trigger: 'change' }
        ],
        dept: [
          { required: true, message: '请输入部门', trigger: 'change' },
          { pattern: /^.{1,10}$/, message:'部门长度不超过10字', trigger: 'change'}
        ],
        email: [{required: false, pattern: /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/, message: '请输入正确的邮箱', trigger: 'change'  }]
      },
      accountName: null,
    }
  },
  created(){
    this.getEducation() 
    this.getDetails()
    // this.getTitle() //职称
    this.$nextTick(()=>{
      this.$refs['resourceForm'].resetFields()
    })
  },
  methods:{
    getDetails() {// 详情
      detailsAPI().then(res => {
        if(res.data.code ==0){
          this.resourceForm = res.data.data;
          this.resourceForm.academic = res.data.data.academic.toString()
          this.imageUrl = `${this.domain}${this.requestPath.file}?fileName=${this.resourceForm.img}&isOnLine=true`;
          this.imagePath = this.resourceForm.img
          this.accountName = res.data.data.account
        }
      })
    },
    getEducation() {//学历列表
      educationAPI().then(res => {
        if(res.data.code == 0){
          this.academic = res.data.data
        }
      })
    },
    getTitle() {//职称列表
      titleAPI().then(res => {
        if(res.data.code == 0){
          this.title = res.data.data
        }
      })
    },
    save() {// 保存
      this.$refs['resourceForm'].validate((valid) => {
        if (valid) {//必填名称--规则
          editAPI(this.resourceForm).then(res => {
            if(res.data.code === 0) {
              this.$message.success('保存成功');
              if(this.resourceForm.nickName!=''){
                localStorage.setItem("userName", this.resourceForm.nickName);//名字
              } else{
                localStorage.setItem("userName", this.accountName);//名字
              }
              if(this.resourceForm.img){
                localStorage.setItem('userImg',this.resourceForm.img); //头像
              }
              this.$emit('getloginData');
            }
          })
        }
      })
    },
    handleAvatarSuccess(res, file, fileList) {//上传图片成功
      this.$message.success('上传成功')
      this.imageUrl = `${this.domain}${this.requestPath.file}?fileName=${res}&isOnLine=true`;
      this.resourceForm.img = res;
      this.imagePath = res
    },
    beforeAvatarUpload(file) {//上传图片之前的事件
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg' || file.type === 'image/gif' || file.type === 'image/bmp';
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message.error('上传头像图片可以是 JPG, JPEG, PNG, GIF, BMP 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!');
      }
      return isJPG && isLt2M;
    },
    getdata() {
      this.userName = localStorage.getItem("userName")
      this.userType = localStorage.getItem("userType")
      this.userImg = localStorage.getItem("userImg")
    },
  }
}
</script>
