<template>
  <div class="favorite">
    <div class="favorite_rightTitle">我的收藏</div>
    <el-tabs v-model="activeName" @tab-click="handleClick" v-loading="loading">
      <el-tab-pane label="图书" name="1">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)">
            </div>
            <div class="favorite_left">
              <router-link :to="{name:'bookDetails',query:{id:item.objectId }}">
                <img :src=fileUrl(item.cover) class="cover" v-if="item.cover">
                <img src="@/assets/images/resource/book_default.png" v-else class="cover">
              </router-link>
            </div>
            <div class="favorite_rightCon">
              <router-link :to="{name:'bookDetails',query:{id:item.objectId }}" v-if="item.name">
                <div class="favorite_topic">《{{item.name}}》</div>
              </router-link>
              <div  style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="author" style="margin-bo
              tom:20px;color:#989898" v-if="item.author">
                作者：
                <router-link v-if="item.authorId" :to="{path:'medicalother',query:{id:item.authorId}}" style="color:#8C1515">
                  {{item.author}}
                </router-link>
                <span v-else>{{item.author}}</span>
              </div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
               <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="章节" name="3">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)">
            </div>
            <router-link :to="{name:'articleread',query:{id:item.objectId }}" v-if="item.cover">
              <div class="favorite_left" >
                <img :src=fileUrl(item.cover) class="cover">
              </div>
            </router-link>
            <div class="favorite_rightCon">
              <router-link :to="{name:'articleread',query:{id:item.objectId }}" v-if="item.name">
                <div class="favorite_topic">{{item.name}}</div>
              </router-link>
              <div  style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="favorite_author">
                <router-link :to="{name:'bookDetails',query:{id:item.fromId }}" v-if="item.fromId && item.fromTitle" style="color:#8C1515">
                  来源：《{{item.fromTitle}}》
                </router-link>
                <span v-if="!item.fromId && item.fromTitle">来源：《{{item.fromTitle}}》</span>
              </div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
                <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="图片" name="4">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)"></div>
              <div class="favorite_left">
                <router-link :to="{name:'imageDetails',query:{id:item.objectId }}">
                  <img :src=fileUrl(item.cover) class="cover" v-if="item.cover">
                  <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-else class="cover">
                </router-link>
              </div>
            <div class="favorite_rightCon">
              <router-link :to="{name:'imageDetails',query:{id:item.objectId }}" v-if="item.name">
                <div class="favorite_topic">{{item.name}}</div>
              </router-link>
              <div  style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="favorite_author" v-if="item.fromTitle">
                <router-link :to="{name:'bookDetails',query:{id:item.fromId }}" v-if="item.fromId && item.fromTitle" style="color:#8C1515">
                  来源：《{{item.fromTitle}}》
                </router-link>
                <span v-if="!item.fromId && item.fromTitle">来源：《{{item.fromTitle}}》</span>
              </div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
               <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="视频" name="5">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)">
            </div>
            <div class="favorite_left" >
              <router-link :to="{name:'videoDetails',query:{id:item.objectId }}" v-if="item.cover">
                <img :src=fileUrl(item.cover) class="cover">
                <img src="@/assets/images/resource/video.png" class="icon">
              </router-link>
              <router-link :to="{name:'videoDetails',query:{id:item.objectId }}" v-else>
                <img src="@/assets/images/resource/default_video.png" alt="默认封面" class="cover">
              </router-link>
            </div>
            <div class="favorite_rightCon">
              <router-link :to="{name:'videoDetails',query:{id:item.objectId }}" v-if="item.name">
               <div class="favorite_topic">{{item.name}}</div>
              </router-link>
              <div  style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
               <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="音频" name="6">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)">
            </div>
            <div class="favorite_left">
              <router-link :to="{name:'audioDetails',query:{id:item.objectId }}">
                <img :src=fileUrl(item.cover) class="cover" v-if="item.cover">
                <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-else class="cover">
              </router-link>
            </div>
            <div class="favorite_rightCon">
              <router-link :to="{name:'audioDetails',query:{id:item.objectId }}" v-if="item.name">
                <div class="favorite_topic">{{item.name}}</div>
              </router-link>
              <div  style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
               <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="课件" name="7">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)">
            </div>
            <div class="favorite_left">
              <router-link :to="{name:'fileDetails',query:{id:item.objectId }}">
                <img :src=fileUrl(item.cover) class="cover" v-if="item.cover">
                <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-else class="cover">
              </router-link>
            </div>
            <div class="favorite_rightCon">
              <router-link :to="{name:'fileDetails',query:{id:item.objectId }}" v-if="item.name">
                <div class="favorite_topic">{{item.name}}</div>
              </router-link>
              <div  style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
               <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <!-- <img src="@/assets/images/personal/icon.png" v-if="item.name&&item.isStatus==1"> -->
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="在线课程" name="9">
        <div class="favorite_con">
          <div class='favorite_article' v-for="(item,index) in collectionList" :key="index" v-if="collectionList && collectionList.length>0">
            <div class="info_input">
              <input type="checkbox" :checked="item.isChecked" @click="clickChang(item)"></div>
              <div class="favorite_left">
                <router-link :to="{name:'courseDetails',query:{id:item.objectId }}">
                  <img :src=fileUrl(item.cover) class="cover" v-if="item.cover">
                  <img src="@/assets/images/resource/course_default.jpg" alt="默认封面" v-else class="cover">
                </router-link>
              </div>
            <div class="favorite_rightCon">
              <router-link :to="{name:'courseDetails',query:{id:item.objectId }}" v-if="item.name">
                <div class="favorite_topic">{{item.name}}</div>
              </router-link>
              <div style="font-size: 16px;color: #999;" v-else>此资源已经被删除</div>
              <div class="favorite_details" v-html="item.intro"></div>
              <div class="favorite_time">
               <span>收藏时间：{{item.createTime}}</span>
                <span>
                  <a @click="cancelBtn(item)" class="favoriteBtn1">取消收藏</a>
                  <a @click="addShop(item)" class="favoriteBtn2" v-if="item.name&&item.isStatus==1">加入购物车</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <div class="noHave" v-if="total==0 && loading == false"><img src="@/assets/images/home/no-content.jpg" alt=""></div>
    </el-tabs>
    <div class="favorite_check" style="right:30px;"  v-if="collectionList && collectionList.length>0">
      <input class="check" type="checkbox" :checked="changAll" @click="checkAll">全选
      <a @click="moreCancel">批量取消</a>
    </div>
    <div class="pagination_box" v-if="total!=0">
      <el-pagination @current-change="handleCurrentChange" :current-page="pageNum" :page-size="pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
    </div>
  </div>
</template>

<script>
  import '@static/css/personal/favorite.less'
  import {myCollectionAPI, cancelcollectionAPI, shopCartAPI} from '../../api/comment/comments';

  export default {
    name: 'favorite',
    data() {
      return {
        status: null,
        activeName: '1',
        collectionList: [],
        activeList: [],
        pageSize: 10,
        pageNum: 1,
        type: '1',
        changAll: false,
        cancelList: [],
        total: 0,
        loading: true,
        userType: localStorage.getItem("userType"),
      }
    },
    created() {
      this.myCollection();
    },
    methods: {
      handleClick(tab, event) {
        this.pageNum=1;
        this.changAll = false;
        this.cancelList = [];
        this.total = 0;
        this.type = tab.name
        this.myCollection();
      },
      /*获取收藏列表*/
      myCollection() {
        this.loading = true
        let self = this;
        myCollectionAPI({
          goodsType: this.type,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        }).then(res => {
          this.collectionList = res.data.data.list;
          if (this.collectionList && this.collectionList.length>0) {
            this.collectionList.map(function (val) {
              if(val.intro && val.intro.length>100){
                val.intro = val.intro.substr(0,100)+'...'
              }
              return self.$set(val, "isChecked", false)
            })
          }
          this.total = res.data.data.total;
          this.loading = false
        })
      },
      /*单选*/
      clickChang(val) {
        let self = this;
        val.isChecked = !val.isChecked;
        if (val.isChecked) {
          self.cancelList.push(val)
        } else {
          for (let i = 0; i < self.cancelList.length; i++) {
            if (val.objectId == self.cancelList[i].objectId) {
              self.cancelList[i].isChecked=false;
            }
          }
        }
        this.changAll = this.collectionList.every(function (item) {
          return item.isChecked
        })
      },
      /*全选*/
      checkAll() {
        let self = this;
        self.changAll = !self.changAll;

        if (this.collectionList && self.collectionList.length > 0) {

          if (self.changAll) {
            this.cancelList = self.collectionList;
          } else {
            this.cancelList = [];
          }
          this.collectionList.map(function (val) {
            return val.isChecked = self.changAll;
          })

        }

      },
      /*单个取消收藏*/
      cancelBtn(val) {
        this.$confirm('确定取消收藏吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          cancelcollectionAPI({
            goodsList: [{
              id: val.objectId,
              type: this.type
            }],
            goodsType: this.type,
          }).then(res => {
            if (res.data.status) {
              this.myCollection();
              this.$message.success("已取消收藏")
            }
          })
        }).catch(() => {

        })

      },
      /*批量取消*/
      moreCancel() {
        let goods = [];
        if(this.cancelList.length>0){
          for (let i = 0; i < this.cancelList.length; i++) {
            if(this.cancelList[i].isChecked){
              let item = {
                id: this.cancelList[i].objectId,
                type: this.type,
              };
              goods.push(item)
            }
          }

          this.$confirm('确定批量取消收藏吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            cancelcollectionAPI({
              goodsList: goods,
              goodsType: this.type,
            }).then(res => {
              if (res.data.status) {
                this.$message.success('已批量取消收藏')
                this.myCollection();
                this.cancelList = [];
              }else{
                this.$message.error(res.data.msg)
              }
            })
          })

        }else{
          this.$message.warning("请选择要取消的数据！")
        }
      },
      handleCurrentChange(val) {
        this.pageNum = val
        this.myCollection()
      },
      /*添加购物车*/
      addShop(item) {
        shopCartAPI({
          goodsId: item.objectId,
          goodsType: this.type,
          num: 1
        }).then(res => {
          if (res.data.status) {
            this.$message.success('商品已加入购物车')
          }else{
            this.$message.error(res.data.msg)
          }

        })
      },
    }
  }
</script>

<style lang="less">
  .favorite .el-tabs__nav-wrap {
    width: 926px;
    margin-left: 27px;
    overflow: hidden;
  }

  .favorite .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
    font-size: 14px !important;
  }

  .favorite #pane-first .favorite_con .favorite_li .favorite_left,.favorite #pane-second .favorite_li .favorite_left {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  .favorite{
    width:100%;
    .noHave{  background: #fff; display: flex; justify-content: center; align-items: center}
  }

</style>

<style lang="less">
.favorite{
  .el-tabs__active-bar{
    background: #8C1515 !important; 
  }
  .el-tabs__item.is-active {
      color: #8C1515 !important;
      font-weight: bold; 
  }
  .el-tabs__nav .el-tabs__item.is-active:hover {
      color: #8C1515 !important; 
      font-weight: bold;
  }
  .dialog_confirm{
    background: #8C1515;
  }
  .el-tabs__item:hover {
    color: #8C1515;
  }
}
</style>
