<template>
    <div class="my_personal_box" style="height:100%;background-color:#fff">
      <div class="personal_top" >
        <div class="personal_person">
          <div class="top">
            <img v-if="userImg && userImg != 'null'" :src="`${uploadUrl}file/?fileName=${userImg}&isOnLine=true`"  class="header" @click="linkToeditPerson">
            <img v-else src="@/assets/images/home/avatar.jpg" class="header" @click="linkToeditPerson">
            <div class="name" @click="linkToeditPerson">{{userName}}</div>
            <div class="phone">{{phone}}</div>
          </div>
        </div>
        <div class="personal_order">
          <ul style="margin: 0;overflow: hidden;">
             <router-link :to="{name: 'order', query: {id: item.id}}" v-for="item in statusList" :key="item.id">
              <li class="personal_orderMon" style="margin-top: 30px;" @mouseenter.prevent="changeEnter(item.id)">
                <div class="person_payImg"  :style="{backgroundImage: 'url('+'../../../../static/index/'+(hoverId==item.id?item.hoverUrl:item.url)+'.png)',backgroundRepeat:'no-repeat'}">
                </div>
                <p :class="hoverId==item.id?'active':''">{{item.text}}</p>
                <span class="personal_orderNum is-fixed" v-if="paySize" >{{paySize}}</span>
              </li>
            </router-link>
          </ul>
        </div>
      </div>
      <div class="personal_wrap">
        <div class="personal_orderInfo" >
          <div class="personal_title">最近订单</div>
          <!-- 是否有订单 -->
          <div v-if="orderList && orderList.length!=0" class="hasOrder">
            <div class="personal_table">
              <span class="name">商品信息</span>
              <span class="num">数量</span>
              <span class="status">状态</span>
              <span class="set">操作</span>
            </div>
            <div class="orderCode">
              订单号：<span>{{orderList.code}}</span>{{orderList.createTime}}
            </div>
            <div class="orderlist_con">
                <div class="orderlist_info">
                  <div class="order_img" @click="listDetails(orderList.type,orderList.goodsid)" v-if="!(!orderList.goodsCover && orderList.type == 3)">
                      <img :src="`${uploadUrl}file/?fileName=${orderList.goodsCover}&isOnLine=true`" v-if="orderList.goodsCover">
                      <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-if="!orderList.goodsCover && orderList.type == 1">
                      <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-if="!orderList.goodsCover && orderList.type == 4">
                      <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-if="!orderList.goodsCover && orderList.type == 5">
                      <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-if="!orderList.goodsCover && orderList.type == 6">
                      <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-if="!orderList.goodsCover && orderList.resotypeurceType == 7">
                  </div>
                  <div class="order_name" @click="listDetails(orderList.type,orderList.goodsid)">
                    {{orderList.goodsName.length > 30 ? orderList.goodsName.substr(0,30) + '...' : orderList.goodsName}}
                  </div>
                </div>
                <div class="order_num">{{orderList.num}}</div>
                <div class="orderlist_status">
                  <div class="order_centerlist"> 
                    <div class="orderstatus_price">￥{{orderList.payment.toFixed(2)}}</div>
                    <div class="orderstatus_carriage" v-if="orderList.realReaderCarriage">(含运费：￥{{orderList.realReaderCarriage.toFixed(2)}}）</div>
                    <div class="orderstatus_text">{{orderList.statusZh}}</div>
                  </div>
                </div>
                <div class="orderlist_price">
                  <div class="order_rightlist">
                    <!-- 0(待支付) 1（已支付）6（已完成）-1（已取消） -->
                    <router-link :to="{path:'/pay',query:{id:orderList.id}}">
                      <div class="order_paymentbtn" v-if="orderList.status == 0">立即支付</div>
                    </router-link>
                    <p class="order_tips" v-if="orderList.status == 0">（剩余{{orderList.timeTips}}）</p>
                    <router-link :to="{path:'/review',query:{id:orderList.id}}">
                      <div class="order_reviewbtn" v-if="orderList.status == 6 && orderList.hasComment == 0">去评价</div>
                    </router-link>
                    <router-link :to="{path:'/orderDetails',query:{id:orderList.id}}" style="color: #000;">
                      <div class="order_detailsbtn">订单详情</div>
                    </router-link>
                    <div class="order_cancelbtn" v-if="orderList.status == 0" @click="cancelOrder(orderList.id)">取消订单</div>
                    <div class="order_deletebtn" v-if="orderList.status == -1" @click="deleteOrder(orderList.id)">删除</div>
                  </div>
                </div>
            </div>
          </div>
          <!-- 暂无订单 -->
          <div class="personal_orderNull" v-else>
            <div class="orderlist_no">
              <img src="@/assets/images/personal/order-null.png" >
              <p class="text">您最近没有新的订单哦~</p>
              <router-link :to="{path:'/index'}">
                <p class="loginBtn">去首页看看</p>
              </router-link>
            </div>
          </div>
        </div>
        <div class="personal_productInfo">
          <div class="personal_title">热门产品</div>
          <div class="personal_product">
            <div class="personal_productCon">
              <div class="personal_list" v-for="item in nearlyList" :key="item.id">
                <router-link :to="{name: 'bookDetails', query: {id: item.id}}">
                  <div class="personal_proImg">
                    <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover" class="header">
                    <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-if="!item.bookCover && item.resourceType == 1">
                    <!-- <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-if="!item.bookCover && item.resourceType == 4" class="header">
                    <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-if="!item.bookCover && item.resourceType == 5" class="header">
                    <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-if="!item.bookCover && item.resourceType == 6" class="header">
                    <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-if="!item.bookCover && item.resourceType == 7" class="header"> -->
                  </div>
                  <p class="personal_productName">{{item.name.length > 18 ? item.name.substr(0,18) + '...' : item.name}}</p>
                </router-link>
                <p class="personal_moneytext" v-if="item.realPrice && item.realPrice != 0">￥{{item.realPrice.toFixed(2)}}</p>
                <p class="free" v-if="item.realPrice == 0">免费</p>
                <p class="no_price" v-if="!item.realPrice && item.realPrice!= 0">未定价</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- 删除对话框 -->
      <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%">
          <div class="el-dialog_text">确定要{{tipText}}订单吗?</div>
          <div class="dialog_foot">
              <div class="dialog_confirm" @click="confirmDel">确定</div>
              <div class="dialog_cancel" @click="delDialogVisible = false">取消</div>
          </div>
      </el-dialog>
    </div>
</template>

<script>
import "@static/css/personal/personal.less";
import { getHotProductsAPI , orderListAPI} from '@/api/personal/personal_information'
import { cancelAPI , orderCountAPI , deleteAPI} from '@/api/order/index'
import { getPayAPI } from '@/api/personal/index'
import { uploadUrl } from '@/utils/global'
import { setInterval } from 'timers';
import { informationAPI } from '@/api/personal/personal_information'

var timerInterval = null

export default {
  name: 'personal',
  data(){
    return {
      uploadUrl:uploadUrl,
      status:null,
      msg: '',
      nearlyList:[],
      orderList: [],
      list: [],
      form: {},
      paySize: null,
      cancelSize: null,
      delDialogVisible: false,
      cancelId: null,
      deleteId: null,
      tipText: null,
      dataBase: [],
      userName: null,
      phone: null,
      hoverId: 1,
      id: null,
      statusList: [
       { id: '1', text: '待付款', url: '09',hoverUrl: '09a'},
       { id: '2', text: '已完成', url: '10',hoverUrl: '10a'},
       { id: '0', text: '全部订单', url: '11',hoverUrl: '11a'},
      ],
      userName: localStorage.getItem("userName"),
      userImg: localStorage.getItem("userImg"),
    }
  },
  destroyed () {
    window.clearInterval(timerInterval)
  },
  mounted() {
    this.phone=localStorage.getItem("userPhone");

    this.phone=this.phone.substr(0,3) + "****" +this.phone.substr(7)

    this.getHotProducts()
    this.recOrder()
    this.checkBalance()
    this.getOrderCount()
  },
  methods: {
    changeEnter(id) {
      this.hoverId = id
    },
    linkToeditPerson(){
      this.$router.push({path:'/editPerson'})
    },
    // 查询余额
    checkBalance() {
      getPayAPI().then(res => {
        this.form = res.data
      })
    },
    getOrderCount() {//获取订单数量
      orderCountAPI({status:0}).then(res => {
        if(res.data.data && res.data.data>0){
          if (res.data.data > 99 ) this.paySize = '99+'
          else { this.paySize = res.data.data }
        }
      })
      orderCountAPI({status:6}).then(res => {
        if(res.data.data && res.data.data>0){
          if (res.data.data > 99 ) this.cancelSize = '99+'
          else { this.cancelSize = res.data.data }
        }
      })
    },
    // 最近订单列表
    recOrder() {
      orderListAPI().then(res => {
        if(res.data.data[0]){
          this.dataBase = res.data.data[0]
          this.getTimes()
          timerInterval = setInterval(this.getTimes, 60000);
        } else{
          this.orderList = this.dataBase = []
        }
      })
    },
    // 订单失效倒计时
    getTimes() {
      if(this.dataBase) {
          if(this.dataBase.loseTime && this.dataBase.status == 0){//待支付
            let downDate =(new Date(this.dataBase.loseTime).getTime() - Date.now())/1000
            if(downDate > 0){
              let day = parseInt(downDate / ( 60 * 60 * 24))
              let afterDay = downDate- day*24*60*60;//取得算出天数后剩余的秒数
              let hour = parseInt(afterDay / ( 60 * 60 ))
              let afterHour = downDate - day*24*60*60 - hour*60*60;//取得算出小时数后剩余的秒数
              let min = parseInt(afterHour/60);//计算整数分
              if(day>0) {
                this.dataBase.timeTips = day+'天'+hour+'小时'+min+'分钟'
              } else if(day == 0 && hour>0) {
                this.dataBase.timeTips = hour+'小时'+min+'分钟'
              } else if(day == 0 && hour == 0 && min>0){
                this.dataBase.timeTips = min+'分钟'
              }
            } else{
              this.dataBase.timeTips = '0分钟，订单已失效'
            }
          }
        this.orderList = Object.assign({},this.dataBase,{'timeTips':this.dataBase.timeTips})
      }
    },
    // 取消订单
    cancelOrder(id) {//订单取消
      this.tipText = '取消'
      this.delDialogVisible = true
      this.cancelId = id
    },
    // 删除订单
    deleteOrder(id) {
      this.tipText = '删除'
      this.delDialogVisible = true
      this.deleteId = id
    },
     confirmDel() {//确认取消或删除订单
      this.delDialogVisible = false
      if(this.cancelId) {
        cancelAPI(this.cancelId).then(res => {
          if(res.data.code >0) {
            this.$message.warning(res.data.msg)
          } else if (res.data.code <0) {
            this.$message.error('取消失败，请稍后再试')
          } else if(res.data.code == 0){
            this.$message.success('取消成功')
            this.recOrder()
            clearInterval(timerInterval)
          }
          this.cancelId = null
        })
      }

      if(this.deleteId) {
        const id = this.deleteId;
        deleteAPI([id]).then(res => {
          if(res.data.code >0) {
            this.$message.warning(res.data.msg)
          } else if (res.data.code <0) {
            this.$message.error('删除失败，请稍后再试')
          } else if(res.data.code == 0){
            this.$message.success('删除成功')
            this.recOrder()
            clearInterval(timerInterval)
          }
          this.deleteId = null
        })
      }
      
    },
    
    listDetails(type,id) {//详情
      if(type == '1'){//图书
        this.$router.push({name:'bookDetails',query:{id:id}});
      } else if(type == '3'){//文章
        this.$router.push({name:'articleread',query:{id:id}});
      } else if(type == '4'){//图片
        this.$router.push({name:'imageDetails',query:{id:id}});
      } else if(type == '5'){//视频
        this.$router.push({name:'videoDetails',query:{id:id}});
      } else if(type == '6'){//音频
        this.$router.push({name:'audioDetails',query:{id:id}});
      } else if(type == '7'){//课件
        this.$router.push({name:'fileDetails',query:{id:id}});
      } else if(type == '9'){//在线课程
        this.$router.push({name:'courseDetails',query:{id:id}});
      }
    },
    getHotProducts() {// 热门产品
      getHotProductsAPI().then(res => {
        this.nearlyList = res.data.data;
      })
    },
  }
}
</script>
