<template>
<div class="my_invoice_wrap">
    <div class="invoice_title"><span>我的发票</span></div>
    <div class="invoice_substance">
        <div class="invoice_tip">
            <span class="invoice_tipTitle">补开发票:</span>
            <p class="invoice_tipContent">增值税普通发票订单完成后1年内可补开发票，目前暂不支持换开发票，开发票时请仔细检查发票信息。</p>
        </div>
        <div class="invoice_info">
            <div class="invoice_infoTitle">
                <ul>
                    <li>商品信息</li>
                    <li>数量</li>
                    <li>发票类型</li>
                    <li>状态</li>
                    <li>操作</li>
                </ul>
            </div>
            <div class="invoice_infoContent" v-for="item in invoice" :key="item.index">
                <div class="info_con_title">
                    订单编号:<span style="color:#333">{{item.code}}</span>
                    <span>{{item.createTime | invoiceDate}}</span>
                </div>
                <div class="info_con_content">
                    <div class="info_con_left">
                        <ul class="info_con_c1" v-for='list in item.infoList' :key="list.index">
                            <li class="my_invoice_cover" v-if="!(!list.cover && list.type == 3)" @click="linkTo(list.type,list.goodsid)">
                                <img :src="`${uploadUrl}file/?fileName=${list.cover}&isOnLine=true`" v-if="list.cover" alt="pic">
                                <img  src="@/assets/images/home/no-cover.jpg" v-else>
                            </li>
                            <li class="my_invoice_text">
                                <p class="name"  @click="linkTo(list.type,list.goodsid)">{{list.name}}</p>
                                <p class="num">{{list.num}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="info_con_right">
                        <p>普通电子发票</p>
                        <p class="info_con_not" :class="{'info_con_make':item.invoiceStatus==1}">{{item.invoiceStatus | myInvoiceType}}</p>
                        <p v-if="item.invoiceStatus==1" @click="invoiceDetails(item.id)">发票详情</p>
                        <p v-else-if="item.invoiceStatus==0" class="my_invoice_btn">
                            <el-button type="warning" plain size="small" @click="invoiceOpen(item.id)">申请开票</el-button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="noHave" v-if="invoice==0"><img src="@/assets/images/home/no-content.jpg" alt=""></div>
        </div>
    </div>
    <div class="pagination_box" v-if="invoice!=0">
        <el-pagination  @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
    </div>
    <el-dialog title="发票信息" :visible.sync="dialogFormVisible" width="600px" @close="closeFleg">
        <invoice-open :invoiceId="Id" :isChangeFlageEdit="fleg" @cancleP='cancleBtn' @refresh="getInvoiceDate"></invoice-open>
    </el-dialog>
</div>
</template>

<script>
import '@static/css/personal/invoice.less'
import "@static/css/common.less"
import { uploadUrl } from '@/utils/global'
import { invoiceGetAPI } from '@/api/personal/myInvoice'
import invoiceOpen from "@/views/personal/invoice_open"
export default {
  name: 'invoice',
  data() {
      return {
          fleg:true,//是否点击弹框
          data:null,
          invoice:[],
          uploadUrl:uploadUrl,
          dialogFormVisible:false,//显示弹框
          Id:null,//申请开票,
          total: null,
          listQuery: {//分页
                pageNum: 1,
                pageSize: 15,
                name: '我的发票'
          },
      }
  },
  components:{
      invoiceOpen
  },
  filters:{
      //2019-03-08 14:16:21===>2019-03-08
      invoiceDate(time){//发票创建时间
        return time.split(" ")[0]
      },
      myInvoiceType(typeNum){//发票状态
          switch(typeNum){
              case '1':
              return "已开票"
              break;
              case '0':
              return "未开票"
              break;
              default:
              return "没有此类型"
          }
          return typeNum
      }
  },
  mounted() {
        this.getInvoiceDate(this.listQuery)
  },
  methods: {
    //渲染列表方法
    getInvoiceDate(data){
        invoiceGetAPI(data).then(res => {
            let Vue=this;
            if(res.data.code==0){
                Vue.invoice=res.data.data.list;
                Vue.total = res.data.data.total;
            }else if(res.data.code<0){
                this.$message('请求失败');
            }
        })
    },
    invoiceDetails(id) {//跳转发票详情
        this.$router.push({path:'invoiceDetails',query:{id:id}});
    },
    invoiceOpen(id){
        this.Id=id;
        this.dialogFormVisible = true;
    },
    handleCurrentChange(val) {
        this.listQuery.pageNum = val;
        this.getInvoiceDate(this.listQuery);
        window.scrollTo(0, 0)
    },
    cancleBtn(fleg){
        this.dialogFormVisible=fleg;
    },
    linkTo(type,id){ //资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
       if(type == '1'){//图书
            this.$router.push({name:'bookDetails',query:{id:id}});
        } else if(type == '3'){//文章
            this.$router.push({name:'articleread',query:{id:id}});
        } else if(type == '4'){//图片
            this.$router.push({name:'imageDetails',query:{id:id}});
        } else if(type == '5'){//视频
            this.$router.push({name:'videoDetails',query:{id:id}});
        } else if(type == '6'){//音频
            this.$router.push({name:'audioDetails',query:{id:id}});
        } else if(type == '7'){//课件
            this.$router.push({name:'fileDetails',query:{id:id}});
        }
    },
    closeFleg(){
        this.fleg=!this.fleg;
    }
  }

}
</script>

<style lang="less">
.my_invoice_wrap{
    .noHave{
        text-align: center;
    }
    .el-dialog__header{
        background-color: #F4F4F4 !important;
        padding-top:12px;
        padding-bottom: 12px;
    }
    .el-dialog__title{
        color: #454545;
        font-size: 14px;
        font-weight: bold;
    }
    .my_invoice_cover{
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        margin-right:20px;
        cursor: pointer;
        img{
            max-width: 100px;
            max-height: 100px
        }
    }
    .info_con_c1{
        display:flex;
    }
    .my_invoice_text{
        flex:1;
        height: 100px;
        display: flex;
        p{
            height: 100px;
            line-height: 100px;
        }
        .name{
           flex:1;
           cursor: pointer;
           max-width: 200px;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
        }
        .num{
            width: 160px;
            text-align: center;
            float: right;
        }
    }
    p.info_con_make{
        color: #03B19F !important;
    }
    .my_invoice_btn{
        .el-button--warning.is-plain{
                color: #F4494A;
                background: transparent;
                border-color: #F4494A;
        }
    }
}
</style>
