<template>
  <div class="bookShelf">
    <div class="bookshelf_title">我的书架</div>
    <div class="bookShelfSheach1">
      <div class="search_left1">
        <div class="search_input">
          <input type="text" v-model="context" class="search" placeholder="输入标题搜索">
        </div>
        <div class="search_btn" @click="myShelf">
          <a class="btn">搜索</a>
        </div>
      </div>
    </div>
    <el-tabs v-model="activeName" @tab-click="handleClick" v-loading="loading">
      <el-tab-pane label="图书" name="1">
        <div class="bookshelf_list" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec">
            <router-link :to="{name:'bookDetails',query:{id:item.goodsid}}" v-if="item.cover">
              <img :src=fileUrl(item.cover) class="cover">
            </router-link>
            <img src="@/assets/images/resource/book_default.png" v-else class="cover">
          </div>
          <div class="bookshelf_rightCon">
            <div class="bookshelf_topic" v-if="item.name">
              <router-link :to="{name:'bookDetails',query:{id:item.goodsid}}">《{{item.name}}》</router-link>
            </div>
            <div style="font-size: 16px;color: #999;" v-else>此章节已经被删除</div>
            <div class="author" style="margin-bottom:20px;color:#989898" v-if="item.goodsBuyVo.author">
              作者：
              <router-link v-if="item.goodsBuyVo.authorId" :to="{path:'medicalother',query:{id:item.goodsBuyVo.authorId}}" style="color:#957355">
                {{item.goodsBuyVo.author}}
              </router-link>
              <span v-else>{{item.goodsBuyVo.author}}</span>
            </div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary"
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="章节" name="3">
        <div :class="item.cover?'bookshelf_list':'bookshelf_article'" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec" v-if="item.cover">
            <router-link :to="{name:'articleread',query:{id:item.goodsid}}">
              <img :src=fileUrl(item.cover) class="cover">
            </router-link>
          </div>
          <div :class="item.cover?'bookshelf_rightCon':''">
            <div class="bookshelf_topic" v-if="item.name">
              <router-link :to="{name:'articleread',query:{id:item.goodsid}}">{{item.name}}</router-link>
            </div>
            <div style="font-size: 16px;color: #999;" v-else>此章节已经被删除</div>
            <div class="bookshelf_author" v-if="item.goodsBuyVo.source">来源：
              <span class="source" @click="linkToBook(item.goodsBuyVo.sourceId)" v-if="item.goodsBuyVo.sourceId">《{{item.goodsBuyVo.source }}》</span>
              <span v-else>《{{item.goodsBuyVo.source }}》</span>
            </div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary" 
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="图片" name="4">
        <div class="bookshelf_list" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec">
            <router-link :to="{name:'imageDetails',query:{id:item.goodsid }}" v-if="item.goodsBuyVo.cover">
              <img :src=fileUrl(item.goodsBuyVo.cover) class="cover">
            </router-link>
            <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-else class="cover">
          </div>
          <div class="bookshelf_rightCon">
            <div class="bookshelf_topic" v-if="item.name">
              <router-link :to="{name:'imageDetails',query:{id:item.goodsid}}">{{item.name}}</router-link>
            </div>
            <div style="font-size: 16px;color: #999;" v-else>此章节已经被删除</div>
            <div class="bookshelf_author" v-if="item.goodsBuyVo.source" >来源：
              <span class="source" @click="linkToBook(item.goodsBuyVo.sourceId)" v-if="item.goodsBuyVo.sourceId">《{{item.goodsBuyVo.source }}》</span>
              <span v-else>《{{item.goodsBuyVo.source }}》</span>
            </div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary" 
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="视频" name="5">
        <div class="bookshelf_list" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec">
            <router-link :to="{name:'videoDetails',query:{id:item.goodsid }}" v-if="item.cover">
              <img :src=fileUrl(item.cover) class="cover">
              <img src="@/assets/images/resource/video.png" class="icon">
            </router-link>
            <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-else class="cover">
          </div>
          <div class="bookshelf_rightCon">
            <div class="bookshelf_topic" v-if="item.name">
              <router-link :to="{name:'videoDetails',query:{id:item.goodsid}}">{{item.name}}</router-link>
            </div>
            <div style="font-size: 16px;color: #999;" v-else>此章节已经被删除</div>
            <div class="bookshelf_author" v-if="item.goodsBuyVo.source">来源：
              <span class="source" @click="linkToBook(item.goodsBuyVo.sourceId)" v-if="item.goodsBuyVo.sourceId">《{{item.goodsBuyVo.source }}》</span>
              <span v-else>《{{item.goodsBuyVo.source }}》</span>
            </div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary" 
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="音频" name="6">
        <div class="bookshelf_list" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec">
            <router-link :to="{name:'audioDetails',query:{id:item.goodsid }}" v-if="item.cover" >
              <img :src=fileUrl(item.cover) class="cover">
              <!-- <img src="@/assets/images/resource/audio.png" class="icon"> -->
            </router-link>
            <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-else class="cover">
          </div>
          <div class="bookshelf_rightCon">
            <div class="bookshelf_topic" v-if="item.name"><router-link :to="{name:'audioDetails',query:{id:item.goodsid}}">{{item.name}}</router-link></div>
            <div style="font-size: 16px;color: #999;" v-else>此章节已经被删除</div>
            <div class="bookshelf_author" v-if="item.goodsBuyVo.source">来源：
              <span class="source" @click="linkToBook(item.goodsBuyVo.sourceId)" v-if="item.goodsBuyVo.sourceId">《{{item.goodsBuyVo.source }}》</span>
              <span v-else>《{{item.goodsBuyVo.source }}》</span>
            </div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary" 
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="课件" name="7">
        <div class="bookshelf_list" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec">
            <router-link :to="{name:'fileDetails',query:{id:item.goodsid }}" v-if="item.cover">
              <img :src=fileUrl(item.cover) class="cover">
            </router-link>
            <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-else class="cover">
          </div>
          <div class="bookshelf_rightCon">
            <div class="bookshelf_topic" v-if="item.name"><router-link :to="{name:'fileDetails',query:{id:item.goodsid}}">{{item.name}}</router-link></div>
            <div style="font-size: 16px;color: #999;" v-else>此章节已经被删除</div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary" 
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="在线课程" name="9">
        <div class="bookshelf_list" v-for="(item,index) in articleList" :key="index">
          <div class="bookshelf_left bookShelfImgSec">
            <router-link :to="{name:'courseDetails',query:{id:item.goodsid }}" v-if="item.cover">
              <img :src=fileUrl(item.cover) class="cover">
            </router-link>
            <img src="@/assets/images/resource/course_default.jpg" alt="默认封面" v-else class="cover">
          </div>
          <div class="bookshelf_rightCon">
            <div class="bookshelf_topic"><router-link :to="{name:'courseDetails',query:{id:item.goodsid}}">{{item.name}}</router-link></div>
            <div class="bookshelf_author" v-if="item.goodsBuyVo.source">来源：
              <span class="source" @click="linkToBook(item.goodsBuyVo.sourceId)" v-if="item.goodsBuyVo.sourceId">《{{item.goodsBuyVo.source }}》</span>
              <span v-else>《{{item.goodsBuyVo.source }}》</span>
            </div>
            <div class="bookshelf_details" v-if="item.goodsBuyVo && item.goodsBuyVo.summary" 
              v-html="item.goodsBuyVo.summary.length>90?item.goodsBuyVo.summary.substr(0,90)+'...':item.goodsBuyVo.summary">
            </div>
            <div class="bookshelf_time">购买时间：{{item.createTime}}</div>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>

    <div class="noHave" v-if="total==0 && loading == false"><img src="@/assets/images/home/no-content.jpg" alt=""></div>
    <div class="pagination_box" v-if="total!=0">
      <el-pagination  @current-change="handleCurrentChange" :current-page="pageNum" :page-size="pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
    </div>

  </div>
</template>

<script>
  import "@static/css/personal/my-bookshelf.less";
  import {myShelfAPI} from "../../api/comment/comments";

  export default {
    name: 'bookshelf',
    data() {
      return {
        status: null,
        activeName: '1',
        content: null,
        pageNum: 1,
        pageSize: 15,
        resourceList: {},
        type: '1',
        resourceType: null,
        context: null,//搜索框
        articleList:[{
          goodsBuyVo:{
            author:'',
            source:'',
            summary:'',
          }
        }],
        userType:'',
        total:0,
        loading:true,
      }
    },
    created() {

      this.myShelf();
    },
    watch:{
      $route(){
        this.context='';
        this.myShelf();
      }
    },
    methods: {
      linkToBook(id){
        this.$router.push({name:'bookDetails',query:{id:id}})
      },
      /*获取我的书架列表*/
      myShelf() {
        this.loading = true
        let self=this;
        myShelfAPI({
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          goodsType: this.type,
          context: this.context,
        }).then(res => {
          this.articleList=res.data.data.list;
          self.total=res.data.data.total;
          this.loading = false
        })
      },
      handleClick(tab, event) {
        this.pageNum=1;
        this.cancelList = [];
        this.total = 0;
        this.type = tab.name
        this.myShelf();
      },
      handleCurrentChange(val) {
        this.pageNum = val
        this.myShelf()
      }
    }
  }
</script>
<style lang="less">
  .bookShelf .el-tabs__header .el-tabs__nav-wrap {
    width: 926px;
    margin-left: 27px;
  }
  .bookShelf .bookshelf_list .bookshelf_rightCon .bookshelf_topic a,.bookShelf .bookshelf_article .bookshelf_topic a{ color:#333}
  .bookShelf .bookshelf_list .bookshelf_rightCon .bookshelf_topic a:hover,.bookShelf .bookshelf_article .bookshelf_topic a:hover{ color:#1F77F2}
  .bookShelfImg{
    img{
      max-width: 148px;
      max-height:148px;
    }

  }
  .bookShelf{
    position: relative;
    .el-tabs__content{
      background: #fff;
    }
  }

  .bookShelfSheach1{
    height: 32px;
    position: absolute;
    right:28px;
    top:83px;
    z-index:1;
    .search_left1 {
      width: 292px;
      height: 32px;
      float: left;
      .search_input {
        width: 230px;
        height: 30px;
        border: 1px solid rgba(238,238,238,1);
        border-radius:3px 0px 0px 3px;
        float: left;
        border-right: none;
        .search {
          width: 220px;
          height: 28px;
          padding-left: 10px;
          /*color: #cccccc!important;*/
        }
      }
      .search_btn {
        float: left;
        width: 60px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        background:#394E79;
        border-radius:0px 3px 3px 0px;
        cursor: pointer;
        .btn {
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(255,255,255,1);
          text-decoration:none;
        }
      }
      input {
        outline: none;
        border: none;
      }

    }
  }
  .pagination_box {
    background-color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
  .bookShelf{
    // margin-bottom: 20px;
    min-height:897px;
    width:100%;
    .noHave{background: #fff; display: flex; justify-content: center; align-items: center;min-height: 807px;}
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#C1C5CD
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color:#C1C5CD
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color:#C1C5CD
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#C1C5CD
  }

</style>


<style lang="less">
.bookShelf{
  .el-tabs__active-bar{
    background: #8C1515 !important; 
  }
  .el-tabs__item.is-active {
      color: #8C1515 !important; 
      font-weight: bold;
  }
  .el-tabs__nav .el-tabs__item.is-active:hover {
      color: #8C1515 !important; 
      font-weight: bold;
  }
  .dialog_confirm{
    background: #8C1515;
  }
  .el-tabs__item:hover {
    color: #8C1515;
  }
}
</style>
