<template>
<div class="myComment">
    <div class="comment_rightTitle">我的评论</div>
    <el-tabs v-model="activeName" @tab-click="handleClick" v-loading="loading">
        <el-tab-pane label="图书" name="1">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" @click="linkToComment(item.resourceId,item)">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img" alt="pic" class="cover">
                            <img src="@/assets/images/resource/book_default.png" v-else class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">《{{item.resourceName}}》</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class=" comment_details more_show">{{item.content&&item.content.length>100?item.content.substring(0,100)+'...':item.content}}</div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <el-tab-pane label="章节" name="3">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" :class="{'hiddeClass':item.img==null}">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" @click="linkToComment(item.resourceId,item)" class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">{{item.resourceName}}</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class="comment_details" :class="{'more_show':item.content&&item.content.length>100}">
                                {{item.content&&item.content.length>100?item.content.substring(0,100)+'...':item.content}}
                            </div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <el-tab-pane label="图片" name="4">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" @click="linkToComment(item.resourceId,item)">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img" alt="pic" class="cover">
                            <img src="@/assets/images/resource/null_img.png" alt="默认封面" v-else class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">{{item.resourceName}}</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class="comment_details" :class="{'more_show':item.content&&item.content.length>100}">
                                {{item.content&&item.content.length>100?item.content.substr(0,100)+'...':item.content}}
                            </div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <el-tab-pane label="视频" name="5">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" @click="linkToComment(item.resourceId,item)">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img" alt="pic" class="cover">
                            <img src="@/assets/images/resource/video.png" class="icon" v-if="item.img">
                            <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-else class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">{{item.resourceName}}</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class="comment_details" :class="{'more_show':item.content&&item.content.length>100}">
                                {{item.content&&item.content.length>100?item.content.substr(0,100)+'...':item.content}}
                            </div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <el-tab-pane label="音频" name="6">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" @click="linkToComment(item.resourceId,item)">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img" alt="pic" class="cover">
                            <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-else class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">{{item.resourceName}}</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class="comment_details" :class="{'more_show':item.content&&item.content.length>100}">
                                {{item.content&&item.content.length>100?item.content.substr(0,100)+'...':item.content}}
                            </div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <el-tab-pane label="课件" name="7">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" @click="linkToComment(item.resourceId,item)">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img" alt="pic" class="cover">
                            <img src="@/assets/images/resource/default_file.png" alt="默认封面" v-else class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">{{item.resourceName}}</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class="comment_details" :class="{'more_show':item.content&&item.content.length>100}">
                                {{item.content&&item.content.length>100?item.content.substr(0,100)+'...':item.content}}
                            </div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <el-tab-pane label="在线课程" name="9">
            <div class="comment_con my-comment" v-if="comment.length>0">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="comment_li" v-for="item in comment" :key="item.index">
                        <div class="info_input">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="comment_left" @click="linkToComment(item.resourceId,item)">
                            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img" alt="pic" class="cover">
                            <img src="@/assets/images/resource/course_default.jpg" alt="默认封面" v-else class="cover">
                        </div>
                        <div class="comment_rightCon">
                            <div class="comment_topic" @click="linkToComment(item.resourceId,item)">{{item.resourceName}}</div>
                            <el-rate v-model="item.score" disabled text-color="#ff9900"></el-rate>
                            <div class="comment_details" :class="{'more_show':item.content&&item.content.length>100}">
                                {{item.content&&item.content.length>100?item.content.substr(0,100)+'...':item.content}}
                            </div>
                            <div class="comment_time">
                                <span>评论时间：{{item.releaseTime}}</span>
                                <div class="del" @click='delSingle(item.id)'>
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
        </el-tab-pane>
        <div class="noHave" v-if="comment.length==0&&loading == false"><img src="@/assets/images/home/no-content.jpg"></div>
    </el-tabs>
  <div class="pagination_box" v-if="total!=0">
    <el-pagination  @current-change="handleCurrentChange" :current-page="pageNum" :page-size="pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
  </div>
    <div class="comment_check" v-if="comment && comment.length>0">
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
        <a @click="delAll" style="cursor: pointer">批量删除</a>
    </div>
</div>
</template>

<script>
import { uploadUrl } from '@/utils/global'
import '@static/css/personal/my-comment.less'
import { personAPI,personDelAPI,personDelAllAPI } from '@/api/personal/myCommit'
export default {
    name: 'comment',
    data() {
        return {
            checkAll: false,
            isIndeterminate: false,
            allId:[],
            checkedId:[],//选中
            comment:[],//评论列表
            type:'1',
            data:null,
            status:null,
            activeName:'1',
            uploadUrl:uploadUrl,
            pageNum: 1,
            pageSize: 10,
            total:0,
            data:{
                goodsType:1,
                pageNum:1,
                pageSize:10
            },
            loading: true,
        }
    },
    mounted() {
        this.getCommentDate(this.data)
    },
    created(){

    },
    methods:{
        handleClick(tab, event) {
            this.checkedId=[];//切换初始化选择状态
            this.pageNum=1;
            this.changAll = false;
            this.cancelList = [];
            this.total = 0;
            this.data.goodsType = tab.name
            this.getCommentDate(this.data);
        },
        //渲染列表方法
        getCommentDate(data){
            this.loading = true
            personAPI(data).then(res => {
                let Vue=this;
                if(res.data.code==0){
                    Vue.comment=res.data.data.list||[];
                    Vue.total=res.data.data.total;
                  if(Vue.comment.length>0){
                    Vue.comment.map(function(item,index,arr){
                      Vue.allId.push(Vue.comment[index]['id']);
                    })
                  }
                }else if(res.data.code<0){
                    this.$message('请求失败');
                }
                this.loading = false
            })
        },
        delSingle(id){//删除单行
            this.$confirm('确定删除此条评论吗?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                personDelAPI(id).then(res => {
                    if (res.data.code > 0) {
                        this.$message.warning(res.data.msg)
                    } else if (res.data.code < 0) {
                        this.$message.error(`删除失败`)
                    } else {
                        this.$message.success(`删除成功`)
                        this.getCommentDate(this.data)
                    }
                })
             })
        },
        delAll(){//删除全部
            let arrId=this.checkedId;
            if(arrId.length<=0){
                this.$message.warning("您未选中要删除的评论");
                return;
            }
          this.$confirm('确定要批量删除评论内容?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            personDelAllAPI(arrId).then(res => {
              if (res.data.code > 0) {
                this.$message.warning(res.data.msg)
              } else if (res.data.code < 0) {
                this.$message.error(`删除失败`)
              } else {
                this.$message.success(`删除成功`)
                this.getCommentDate(this.data)
              }
            })
          }).catch(()=>{

          })
        },
        handleCheckAllChange(val) {//全选
            this.checkedId = val ? this.allId : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {//单选
           let checkedCount = value.length;
           this.checkAll = checkedCount === this.comment.length;
           this.isIndeterminate = checkedCount > 0 && checkedCount < this.comment.length;
        },
        linkToComment(Id,val){//跳到全部评论页
            let id=Id;
            let type=this.type;
            this.$router.push({
                name:"comments",
                path:"/comments",
                query:{
                    id:id,
                    type:val.resourceType,
                    name:val.resourceName,
                    prevTitle: '我的评论', 
                    prevPath:'/comment'
                }
            })
        },
        handleCurrentChange(val) {//分页
            this.data.pageNum = val
            this.getCommentDate(this.data);
        }
  }
}
</script>

<style lang="less" >
    .my-comment .el-checkbox-group{
        font-size: inherit
    }

    .my-comment .el-checkbox__label{
        display: none !important
    }
    .my-comment{
        .hiddeClass{
            display: none;
        }
    }
  .myComment{
    min-height:932px;
    margin-bottom: 20px;
    .noHave{ min-height: 809px; background: #fff; display: flex; justify-content: center; align-items: center}
    .el-tabs__header .el-tabs__nav-wrap {
      width: 926px;
      margin-left: 27px;
    }
    .del{
        display: none;
    }
    .comment_li:hover{
        .del{
            display: block
        }
    }
  }

</style>



<style lang="less">
.myComment{
  .el-tabs__active-bar{
    background: #8C1515 !important; 
  }
  .el-tabs__item.is-active {
      color: #8C1515 !important; 
  }
  .el-tabs__nav .el-tabs__item.is-active:hover {
      color: #8C1515 !important; 
  }
  .dialog_confirm{
    background: #8C1515;
  }
  .el-tabs__item:hover {
    color: #8C1515
  }

  .el-button--primary {
      background-color: #000;
      border-color: #000
    }
}
</style>

