<template>
<div>
    <div class="contribute_title">我的贡献</div>
    <div class="contribute_info">
      <div class="contribute_list" v-if="list.length>0" v-for="item in list" :key="item.id">
        <router-link :to="{path: '/usoffer', query: {id: item.id}}">
          <div class="contribute_name">{{item.title}}</div>
        </router-link>
        <div class="contribute_words" >
          <span v-for="item in item.keyword" :key="item.id" >{{item}}</span>
        </div>
        <div class="contrubute_status">
          <!-- 已审核 -->
          <img v-if="item.status === 2" src="@/assets/images/personal/contribute-check.png" >
          <!-- 审核中 -->
          <img v-if="item.status === 1" src="@/assets/images/personal/contribute-checking.png">
          <!-- 已发布 -->
          <img v-if="item.status === 3" src="@/assets/images/personal/contribute-publish.png">
          <!-- 已驳回 -->
          <img v-if="item.status === -1" src="@/assets/images/personal/contribute-refuse.png">
        </div>
        <div class="contrubute_con">
          运气学说内容庞杂玄妙，历代医家对此褒贬不一，但多数医家均认为此为中医学之大关键。至当代李阳波先生论运气，将内经中亢害承制之说落
        </div>
        <div class="contribute_times">2018-10-31  11:15:30</div>
      </div>
      <div class="noHave" v-if="list.length==0"><img src="@/assets/images/home/no-content.jpg" alt=""></div>
    </div>

    <div class="pagination_box" v-if="list.length>0">
        <el-pagination  @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
    </div>
</div>
</template>

<script>
import "@static/css/personal/my-contribute.less";
import { getListAPI } from '@/api/personal/contribute'

export default {
  name: 'bookshelf',
  data(){
    return {
      status:null,
      activeName:'first',
      content:null,
      total: null,
      list: [],
      listQuery: {
        pageNum: 1,
        pageSize: 15
      },
      list: [],
      total: null,
    }
  },

  mounted() {
    this.getList()
  },
  methods:{
    getList() {
      getListAPI(this.listQuery).then(res => {
        if(res.data.code === 0) {
          this.list = res.data.data.list
          this.total = res.data.data.total;
          let arr = []
          let regex = /,|，|\\s+/; 
          res.data.data.list.map(node => {
            if(node.keywords == '' || node.keywords == null) {
              return 
            } else {
              arr = node.keywords.split(regex)
              return  node.keyword = arr;
            }
            
          })
        }
      })
    },
    handleClick(tab, event) {
      console.log(tab.index);
      console.log(this.activeName);
    },
    handleCurrentChange(val) {
        this.listQuery.pageNum = val
        this.getList()
    }
  }
}
</script>
<style lang="less" scoped>
  .contribute_info{
    margin-bottom: 20px;
    min-height: 862px;
    .noHave{ height: 860px; background: #fff; display: flex; justify-content: center; align-items: center}
  }
</style>
