<template>
    <div class="myNote">
        <div class="note_title">我的笔记</div>
        <div class="note_content">
            <div class="note_conTop">
                <NoteSearch @search="searchNote"></NoteSearch>
                <div class="note_check">
                    <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                    <a style="margin:0 18px;text-decoration:underline;cursor:pointer;color:#7E0204;" @click="delAll">批量删除</a>
                    <!-- <a style="text-decoration:underline;cursor:pointer;" @click="exportNote">导出</a> -->
                </div>
            </div>
            <div class="note_bot" v-if="noteList&&noteList.length>0" :loading="loading">
                <el-checkbox-group v-model="checkedId" @change="handleCheckedCitiesChange">
                    <div class="note_list" v-for="(item,index) in noteList" :key="index">
                        <div class="note_info">
                            <el-checkbox :label="item.id" :key="item.id"></el-checkbox>
                        </div>
                        <div class="note_rightCon">
                            <div class="note_botCon">{{item.dataContent&&item.dataContent.length>110?item.dataContent.substring(0,110)+'...':item.dataContent}}</div>
                            <div class="note_synopsis">
                                <p class="note_stip">笔记内容：</p>
                                <p class="note_scon">
                                    <span v-if="!item.extend">{{item.description}}</span>
                                    <span v-else>{{item.content}}</span>
                                    <span class="note_more" @click="open(index)" v-if="item.content&&item.content.length>110">
                                        <span class="note_extend" v-if="!item.extend">&lt;展开&gt;</span>
                                        <span v-else>&lt;收起&gt;</span>
                                    </span>
                                </p>
                            </div>
                            <div class="note_source">
                                <div class="source">来源：<span class="bookName" @click="bookDetails(item.bookId)">《{{item.bookName}}》</span></div>
                                <div class="note_time">
                                    <div class="del_icon" @click="delNote(item.id)"><i class="el-icon-delete"></i>删除</div>
                                    <div class="time">{{item.createTime}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-checkbox-group>
                <div class="paginationBox" v-if="total!=0">
                    <el-pagination  @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
                </div>
            </div>
            <div class="noHave" v-else><img src="@/assets/images/home/no-content.jpg"></div>
        </div>
    </div>
</template>

<script>
import '@static/css/personal/my-note.less'  
import queryString from 'query-string'
import NoteSearch from '@/components/NoteSearch.vue' 
import { requestPath } from '@/utils/global'
import { errorMessage, modifySuccess, warningMessage } from '@/utils/tip'
import { getNoteListAPI , delNoteAPI } from '@/api/personal/note'

export default {
    name: 'note',
    components:{
        NoteSearch
    },
    data () {
        return {
            domain: process.env.BASE_API,
            requestPath: requestPath,
            checkAll: false,
            isIndeterminate: false,
            allId:[],
            listQuery: {
                pageNum: 1,
                pageSize: 10,
                bookName: null
            },
            checkedId: [],
            noteList: [],
            total: null,
            loading: false,
        }
    },
    mounted() {
        this.getNoteList()
    },
    methods: {
        getNoteList() { //我的笔记列表
            getNoteListAPI(this.listQuery).then(res => {
                let _this = this
                if(res.data.code == 0) {
                    _this.noteList = res.data.data.list||[]
                    _this.total = res.data.data.total
                    if(_this.noteList.length > 0) {
                        _this.noteList.forEach((item,index)=>{
                            item.description = item.content && item.content.length>110 ? item.content.substr(0,110)+'...' : item.content
                            item.extend = false
                            _this.allId.push(_this.noteList[index]['id'])
                        })
                    }
                } else {
                    errorMessage('获取数据失败，请稍后再试!')
                }
            })
        },
        searchNote(data) { //搜索
            this.listQuery.bookName = data
            this.getNoteList(this.listQuery)
        },
        bookDetails(id) { //来源跳转到图书详情
            let routeUrl = this.$router.resolve({name: 'bookDetails', query: {id: id}})
            window.open(routeUrl.href,'_blank')
        },
        delNote(id) { //删除笔记
            this.$confirm('确定删除此条笔记吗?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                const params = { ids: [id] }
                delNoteAPI(params).then(res => {
                    if(res.data.code == 0) {
                        modifySuccess('笔记已删除~')
                        this.getNoteList()
                    } else {
                        errorMessage('删除失败，请稍后再试~')
                    }
                })
            })
        },
        delAll() { //删除全部
            let arrId = this.checkedId
            if(arrId.length<=0) {
                warningMessage('您未选中要删除的评论')
                return
            }
            this.$confirm('确定删除选中的笔记吗?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                const params = {ids: arrId}
                delNoteAPI(params).then(res => {
                    if(res.data.code == 0) {
                        modifySuccess('笔记已删除~')
                        this.getNoteList()
                    } else {
                        errorMessage('删除失败，请稍后再试~')
                    }
                })
            })
        },
        open(i) { //展开/收起
            this.noteList.map((el,index) => {
                if(i == index){
                    el.extend = !el.extend
                }
            })
            //强制刷新view
            this.$forceUpdate()
        },
        handleCheckAllChange(val) {//全选
            this.checkedId = val ? this.allId : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {//单选
           let checkedCount = value.length;
           this.checkAll = checkedCount === this.noteList.length;
           this.isIndeterminate = checkedCount > 0 && checkedCount < this.noteList.length;
        },
        exportNote() {
            let {pageNum, pageSize, ...params} = this.listQuery
            let tempParams = {}
            for (const key in params) {
                if (({}).hasOwnProperty.call(params, key) && params[key]!== null && params[key]!== '' && params[key]!== undefined) {
                    tempParams[key] = params[key]
                }
            }
            let paramStr = queryString.stringify(tempParams)
            console.log(paramStr);
            
            // window.open(`${process.env.BASE_API}${requestPath.member}/member/export`)
            window.open(`${process.env.BASE_API}${requestPath.resource}/note/export`)
        },
        // 翻页
        handleCurrentChange(val) {
            this.listQuery.pageNum = val
            this.getNoteList()
            window.scrollTo(0, 0)
        },
    },
}
</script>

<style>

</style>
