<template>
  <div class="organization_body">
    <div class="center_box">
      <div class="flex_box">
        <div class="left">
          <div class="bottom">
            <div class="main">
              <router-link to="organizationIndex">机构主页</router-link>
            </div>
            <div class="main-set">内容管理</div>
            <router-link to="organizationBookshelf">
              <div class="list">我的书架</div>
            </router-link>
            <router-link to="organizationFavorite">
              <div class="list">我的收藏</div>
            </router-link>
            <router-link to="organizationBrowsing">
              <div class="list">浏览记录</div>
            </router-link>
            <div class="account-set">账户设置</div>
            <router-link to="organizationSet">
              <div class="list">账户安全</div>
            </router-link>
          </div>
        </div>
        <div class="right_box">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import bus from '@/assets/eventBus.js'
  import {informationAPI} from '@/api/personal/personal_information'
  import {log} from 'util';
  import {uploadUrl} from '@/utils/global';
  import {loginOutAPI} from '@/api/comment/comments';
  import Cookies from 'js-cookie';
  import { linksAPI, dictionaryAPI, footerAPI, messageAPI } from '@/api/common'

  export default {
    data() {
      return {
        uploadUrl: uploadUrl,
        havMessage: null,
        searchValue: null,
        wordList: [],
        resourceData:[
          {
            keyword: 'book',
            namesZh: '图书',
            resource: 1,
          },
          {
            keyword: 'article',
            namesZh: '文章',
            resource: 3,
          },
          {
            keyword: 'image',
            namesZh: '图片',
            resource: 4,
          },{
            keyword: 'video',
            namesZh: '视频',
            resource: 5,
          }, {
            keyword: 'audio',
            namesZh: '音频',
            resource: 6,
          }, {
            keyword: 'file',
            namesZh: '视频',
            resource: 7,
          }, {
            keyword: 'doctor',
            namesZh: '医家',
            resource: 2,
          }
        ],
        resourceWord: '图书',
        listShow: null,
        resourceDetails: {},
        accountShow: false,
        userType: localStorage.getItem("userType"),
        userName: localStorage.getItem("userName"),
      }
    },
    components: {
    },
    created(){
      this.getMessage()
    },
    methods: {
      getMessage() {//是否有未读消息
        if(localStorage.getItem("Y-Token")){//判断是否登录
          messageAPI().then(res => {
            if (res.data.data>0) {
              this.havMessage = res.data.data
            }
          })
        }
      },
      shopping() {//购物车
        if(localStorage.getItem("Y-Token")){//判断是否登录
          this.$router.push('/shoppingCart')
        } else{
          this.$router.push('/login')
        }
      },
      messagePage() {//消息
        if(localStorage.getItem("Y-Token")){//判断是否登录
          this.$router.push({name:'message'})
        } else{
          this.$router.push('/login')
        }
      },
      changeResource(item) {//改变资源
        this.listShow = false
        this.resourceWord = item.namesZh
        this.resourceDetails = item
      },
      /*搜索按钮*/
      searchBtn(){
        Cookies.set('resourceName','book');
        Cookies.set('resourceType',1);
        Cookies.set('resourceNameZh','图书');
        if(this.searchValue) {
          Cookies.set('content',this.searchValue);
        }
        this.$router.push({path: '/resource'})
      },
      personalIndex() {//跳转个人中心
        if(this.userType == 2) {// 机构
          this.$router.push({path:'/organizationIndex'})
        } else{// 个人
          this.$router.push({path:'/personalIndex'})
        }
      },
      toggleList() {//切换个人中心
        this.accountShow = !this.accountShow
      },
      loginOut() {//退出登录
        loginOutAPI().then(res => {
          if (res.data.code == 0) {
            this.$message.success("退出登录成功！")
            localStorage.clear();
            this.$store.dispatch('setMessageNum')
            this.$router.push({name: 'login'})
          } else {
            this.$message.error(res.data.msg)
          }
        })
      },
    }
  }
</script>

<style lang="less">
 .organization_body{
  .center_box {
    font-size: 14px;
    height: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
  }

  .flex_box {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    width: 1200px;
    margin: 0 auto;
  }

  .right_box {
    flex: 1;
    margin-top: 12px;
    position: relative;
    margin-bottom: 40px;
  }

  .left {
    width: 210px;
    margin-right: 10px;
    margin-top: 12px;
    background: #fff;
    margin-bottom: 40px;
    .top {
      width: 210px;
      height: 240px;
      background: #fff;
      text-align: center;
      overflow: hidden;
      .header {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin: 14px;
        display: inline-block;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 10px;
      }
      .phone {
        color: #AAAAAA;
        font-size: 14px;
        padding-bottom: 18px;
        border-bottom: 1px solid #F5F5F5;
      }
    }
    .bottom-icon {
      width: 100%;
      text-align: center;
      span {
        float: left;
        width: 50%;
        color: #666;
        cursor: pointer;
        box-sizing: border-box;
        height: 40px;
        vertical-align: middle;
        margin-top: 10px;
        &:first-child {
          border-right: 1px solid #F5F5F5;
        }
        // &:hover{
        //   color:#1F77F2;
        // }
      }
      img {
        height: 20px;
        width: 20px;
        margin-bottom: 8px;
      }
    }
    .bottom {
      background: #fff;
      // margin-top: 8px;
      padding-bottom: 20px;
      // height: 630px;
      a {
        color: #333333;
      }
      .main {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        padding-left: 36px;
      }
      .main-set, .account-set {
        border-top: 1px solid #F5F5F5;
        font-size: 16px;
        font-weight: bold;
        padding-top: 26px;
        padding-left: 36px;
        padding-bottom: 10px;
      }
      .account-set {
        margin-top: 20px;
      }
      .list {
        margin-left: 36px;
        line-height: 36px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
 }
</style>
