<template>
    <div id="success_app">
        <div class="success_top">
            <div class="top_img"><img src="@/assets/images/personal/success_rbg.png"></div>
        </div>
        <div class="success_content">
            <div class="success_left"><img src="@/assets/images/personal/success_ico.png"></div>
            <div class="success_center">
                <div class="center_title">恭喜您已经支付成功!</div>
                <div class="center_order">订 单 号：AM20164467311272357</div>
                <div class="center_pay">支付方式：微信支付</div>
                <div class="center_payMoney">支付金额：￥20.00</div>
                <div class="center_payTime">支付时间：2018-11-13 11:27:56</div>
                <div class="center_orderDetails">您可能还需要：<span>查看订单详情</span>或者<a href="#">去逛逛</a></div>
            </div>
            <div class="success_right">
                <div class="success_right_list">
                    <div class="success_list_title">微信公众号</div>
                    <div class="success_list_img"><img src="@/assets/images/personal/weixin.jpg"></div>
                    <div class="success_list_text">轻松扫码&nbsp;&nbsp;服务相伴</div>
                </div>
                <div class="success_right_list active">
                    <div class="success_list_title">阅读</div>
                    <div class="success_list_img"><img src="@/assets/images/personal/weibo.png"></div>
                    <div class="success_list_text">随时随地&nbsp;&nbsp;想看就看</div>
                </div>
            </div>
        </div>
        <div class="success_bot">
            <div class="bot_img"><img src="@/assets/images/personal/success_lbg.png"></div>
        </div>
    </div>
</template>

<script>
import '@static/css/personal/pay-success.less'    
import Footer from '@/components/Footer.vue' 

export default {
    name: 'success',
    components:{
        Footer
    }
}
</script>
