<template>
  <div class="review_page">
    <div style="width:1200px;margin:0 auto;">
       <navbar></navbar>
    </div>
    <div class="review_content">
      <div class="review_topic">发表评论</div>
      <div class="review_list" v-for="item in list" :key="item.id">
        <div class="review_left">
          <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover" class="cover">
          <img src="@/assets/images/resource/book_default.png" v-if="!item.cover && item.type == 1" class="cover">
          <img src="@/assets/images/resource/null_img.png" v-if="!item.cover && item.type == 4" class="cover">
          <div class="default_cover" v-if="!item.cover && item.type == 5">
              <img src="@/assets/images/resource/video_bg.png" alt="默认封面">
          </div>
          <div class="default_cover" v-if="!item.cover && item.type == 6">
              <img src="@/assets/images/resource/audio_bg.png" alt="默认封面">
          </div>
          <div class="default_cover" v-if="!item.cover && item.type == 7">
              <img src="@/assets/images/resource/file_bg.png" alt="默认封面">
          </div>
          <p>
            {{item.name.length >20 ?item.name:item.name.substr(0,20)}}
            <span v-if="item.name.length>20">...</span>
          </p>
        </div>
        <div class="review_right">
          <div class="review_rightCon">
            <span class="review_title">商品评分</span><el-rate v-model="item.score" show-score></el-rate>分
          </div>
          <div class="review_rightCon">
            <span class="review_title">发表评论</span>
            <el-input type="textarea" :rows="5" placeholder="商品这么赞，快来评论吧~" v-model="item.content" maxLength="300"></el-input>
          </div>
        </div>
      </div>
      <div class="review_btn" @click="submitReview">发表评论</div>
    </div>  
  </div>
</template>

<script>
import "@static/css/personal/review.less";
import navbar from '@/components/navbar.vue'
import { uploadUrl } from '@/utils/global'
import { getReviewAPI, reviewAPI } from '@/api/order/review'

export default {
  name: 'bookshelf',
  data(){
    return {
      reviewId: this.$route.query.id,
      uploadUrl: uploadUrl,
      list:[],
      textarea:null,
      value1:null,
      infoList:[],
    }
  },
  created(){
    this.getList()
  },
  components:{
    navbar
  },
  methods:{
    getList() {
      getReviewAPI({id:this.reviewId}).then(res =>{
        if(res.data.code >0) {
          this.$message.warning(res.data.msg)
        } else if (res.data.code <0) {
          this.$message.error('数据加载失败，请稍后再试')
        } else if(res.data.code == 0){
          res.data.data.map(el => {
            el.content = null,
            el.score = null
          })
          this.list = res.data.data
        }
      })
    },
    submitReview() {//发表评论
      let infoList = []
      const isReview = this.list.every(el => !el.content || !el.score)
      if(isReview){
        this.$message.error('至少对一个商品进行评价哦~')
      } else{
        this.list.map(el => {
          if(el.content && el.score) {
            infoList.push({id: el.id,content: el.content,score: el.score})
          }
        })
        reviewAPI({id:this.reviewId,infoList}).then(res => {
          if(res.data.code >0) {
            this.$message.warning(res.data.msg)
          } else if (res.data.code <0) {
            this.$message.error('发表失败，请稍后再试')
          } else if(res.data.code == 0){
            this.$message.success('发表成功')
            this.$router.push('/order')
          }
        })
      }
    },
  }
}
</script>