* {
    box-sizing: border-box;
}
html {
    overflow-y:scroll;
    font-family: microsoft yahei;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0;
    padding:0;
}
body{
    font:12px"microsoft yahei","Arial Narrow",HELVETICA;
    background:#fff;
    -webkit-text-size-adjust:100%;
}
h1, h2, h3, h4, h5, h6{
    font-size:100%;
    font-weight:normal;
}
ul, ol, li {
    list-style: none;
}
input, img, select {
    vertical-align: middle;
}
button, input, select, textarea {
    font-size:100%;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
    border:0;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
.clearfix::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix {
    *zoom: 1;
}