<!-- 电子书笔记 -->
<template>
  <div class="note-wrap">
    <span class="close-note" @click="close"><i class="el-icon-close "></i></span>
    <h3 class="tip">笔记</h3>
    <div class="note-content">
        <ul class="note_list_wrap">
          <li class="note_list" v-for="list in content " :key="list.index">
            <p class="artical-text">{{list.dataContent}}</p>
            <p class="note-text">{{list.content}}</p>
            <div class="note_btn">
              <span>{{list.createTime}}</span>
              <span class="del_btn" @click="delNote(list.id)"><i class="el-icon-delete"></i>删除</span>
            </div>
            <div class="line_list"></div>
          </li>
        </ul>
    </div>
  </div>
</template>
<script >
  export default {
    props: ['content'],
    methods: {
      close() {
        this.$emit('closeNote', {close: true})
      },
      delNote(id){
        this.$emit('deleteNote', {close: false,delId:id})
      }
    }
  }
</script>
<style lang="scss">
  .note-wrap{
    padding: 30px;
    height: 100%;
    .close-note{
      width: 100%;
      display: block;
      font-size: 20px;
      i:hover{ opacity: 0.5; }
    }
    .tip{
      width: 100%;
      text-align: center;
      font-size:20px;
      margin-bottom: 20px;
      font-family:MicrosoftYaHei-Bold;
      font-weight:bold;
      color: #46515A;
    }
    .note-content{
      height: 90%;
      overflow-y: auto;
      
    }
    .note_list_wrap{
      font-size: 14px;
      color: #46515A;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      padding: 0 49px;
      .note_list{
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom:1px dashed #46515A;
      }
      .artical-text{
        line-height: 24px;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: break-all;
        margin-bottom: 10px;
      }
      .note-text{
        line-height: 24px;
        color: #0089EE;
        margin-bottom: 10px;
      }
      .note_btn{
        display: flex;
        justify-content: space-between;
      }
      .del_btn{
        cursor:pointer;
        &:hover{
          color: #0089EE;
        }
      }
    }
  }
</style>