.browsing .browsing_title {
  height: 60px;
  line-height: 60px;
  background: #fff;
  position: relative;
  margin-bottom: 8px;
  padding-left: 26px;
  color: #333333;
  font-size: 20px;
}
.browsing .browse_check {
  height: 55px;
  line-height: 55px;
  background: #fff;
  text-align: right;
}
.browsing .browse_check .browse_check_box {
  margin: 0 26px;
  height: 54px;
  border-bottom: 1px solid #F5F5F5;
}
.browsing .browse_check .browse_check_box .clear_box {
  margin-right: 9px;
  color: #05B5BB;
  text-decoration: underline;
  cursor: pointer;
}
.browsing .browsing_list {
  padding: 33px 0 22px;
  background: #fff;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
}
.browsing .browsing_list:hover {
  background: #FBFCFE;
}
.browsing .browsing_input {
  padding-top: 48px;
  padding-bottom: 48px;
  float: left;
}
.browsing .browsing_left {
  width: 148px;
  height: 148px;
  margin: 0 18px;
  text-align: center;
  line-height: 148px;
  position: relative;
}
.browsing .browsing_left img {
  max-width: 148px;
  max-height: 148px;
  display: inline-block;
  vertical-align: middle;
}
.browsing .browsing_left .default_cover {
  width: 148px;
  height: 148px;
  background: #ece8dc;
  text-align: center;
}
.browsing .browsing_left .default_cover img {
  display: inline-block;
  height: 70px;
}
.browsing .browsing_left .icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.browsing .browsing_rightCon {
  width: 100%;
  position: relative;
}
.browsing .browsing_rightCon .browsing_topic {
  font-size: 18px;
  color: #333333;
  margin-bottom: 21px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 660px;
}
.browsing .browsing_rightCon .browsing_topic:hover {
  color: #957355;
}
.browsing .browsing_rightCon .browsing_author {
  color: #180c0c;
  margin-bottom: 20px;
}
.browsing .browsing_rightCon .browsing_author span {
  color: #957355;
}
.browsing .browsing_rightCon .browsing_author .text_color {
  color: #180c0c;
}
.browsing .browsing_rightCon .browsing_detail {
  color: #666;
  width: 100%;
  padding-bottom: 30px;
  line-height: 24px;
}
.browsing .browsing_rightCon .browsing_time {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: #AAAAAA;
}
.browsing .browsing_text {
  padding: 33px 32px 22px;
  background: #fff;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border-bottom: 1px solid #EDEDED;
}
.browsing .browsing_text:hover {
  background: #FBFCFE;
}
.browsing .browsing_text .browsing_input {
  margin-right: 18px;
}
