body {
  height: 100vh;
  background: #f5f5f5;
}
#app {
  font-size: 14px;
  background: none !important;
}
input,
button,
select,
textarea {
  outline: none;
}
.comment {
  height: 100%;
}
.comment .comments_content {
  width: 100%;
  height: auto;
  min-height: 550px;
  /*display: block;*/
  overflow: auto;
  position: relative;
  margin-bottom: 20px;
}
.comment .comments_content .commentsRightBg {
  position: absolute;
  background: url("../../../src/assets/images/medical/emblazonry-right.png") no-repeat right;
  height: 418px;
  width: 208px;
  right: 0;
  z-index: -1;
  top: 47px;
}
.comment .comments_content .commentsLeftBg {
  position: absolute;
  background: url("../../../src/assets/images/medical/emblazonry-left.png") no-repeat right;
  height: 622px;
  width: 301px;
  left: 0;
  z-index: -1;
  bottom: 47px;
}
.comment .comments_content .comments_main {
  width: 1200px;
  margin: 0 auto 22px;
  z-index: 11;
}
.comment .comments_content .comments_main .medical_location {
  font-size: 14px;
  color: #999;
  padding: 0;
}
.comment .comments_content .comments_main .medical_location .location_img {
  padding-right: 6px;
}
.comment .comments_content .comments_main .medical_location .location_img img {
  width: 12px;
  height: 17px;
}
.comment .comments_content .comments_main .medical_location span:last-child {
  color: #1F77F2;
}
.comment .comments_content .comments_main .commentLeft {
  width: 816px;
  min-height: 500px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
  float: left;
  display: block;
  padding: 0 30px 20px;
  /*评论回复*/
}
.comment .comments_content .comments_main .commentLeft .comLfArticle {
  height: 90px;
  background: url("../../../src/assets/images/personal/comTit.png") bottom repeat-x;
}
.comment .comments_content .comments_main .commentLeft .comLfArticle .comother {
  float: left;
  width: 630px;
  font-weight: 400;
  color: #333333;
  font-size: 18px;
  line-height: 90px;
}
.comment .comments_content .comments_main .commentLeft .comLfArticle .writeComment {
  width: 70px;
  height: 30px;
  background: #394E79;
  border-radius: 3px;
  float: right;
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  margin-top: 30px;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentLeft .replyArticle {
  width: 100%;
  height: 75px;
  background: url("../../../src/assets/images/personal/comTit.png") bottom repeat-x;
  text-align: right;
  color: #7A2A29;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  line-height: 34px;
}
.comment .comments_content .comments_main .commentLeft .replyArticle p {
  padding-top: 10px;
}
.comment .comments_content .comments_main .commentLeft .comLfList {
  margin-top: 9px;
  margin-bottom: 40px;
  /*评论回复*/
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData {
  height: auto;
  margin-top: 26px;
  border-bottom: 1px solid #eee;
  display: block;
  overflow: hidden;
  padding-bottom: 15px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont {
  width: 738px;
  float: right;
  display: block;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit {
  width: 100%;
  height: 32px;
  overflow: hidden;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit span.title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
  float: left;
  display: block;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit .itemStar {
  float: left;
  position: relative;
  width: 120px;
  height: 30px;
  left: 20px;
  top: 0;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit .itemStar span {
  position: absolute;
  top: 5px;
  z-index: 3;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit .itemStar span img {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit .itemStar ul {
  position: absolute;
  z-index: 2;
  top: 5px;
  overflow: hidden;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit .itemStar ul li {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
  background: url("../../../src/assets/images/personal/startk.png") no-repeat;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemTit span:last-child {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemCont {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  line-height: 26px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 5px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper .comNum {
  padding-left: 20px;
  background: url("../../../src/assets/images/personal/comico1.png") no-repeat center left;
  margin-right: 23px;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper .comNum span {
  line-height: 26px;
  color: #A49482;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper .thumbNum {
  cursor: pointer;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper .thumbNum img {
  margin-top: 4px;
  float: left;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper .thumbNum span {
  line-height: 26px;
  color: #A49482;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .itemOper .thumbNum .fontColor {
  color: #EA8422;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .replyReply .triangle {
  margin-left: 23px;
  display: block;
  width: 0;
  height: 0;
  border-width: 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent #F4F4F4;
  /*透明 透明  黄*/
  top: 0px;
  left: 0px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .replyReply textarea {
  width: 708px;
  height: 65px;
  float: right;
  display: block;
  background: #f4f4f4;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000;
  line-height: 26px;
  padding: 13px 15px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemData .listCont .replyReply .btn5 {
  float: right;
  display: block;
  width: 70px;
  height: 30px;
  margin-bottom: 14px;
  margin-top: 14px;
  background: #A4845B;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemHeader {
  width: 54px;
  height: 54px;
  background: #f5f5f5;
  border-radius: 50%;
  float: left;
  display: block;
}
.comment .comments_content .comments_main .commentLeft .comLfList .itemHeader img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
}
.comment .comments_content .comments_main .commentLeft .comLfList ul,
.comment .comments_content .comments_main .commentLeft .comLfList li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .comInput {
  display: block;
  overflow: hidden;
  width: 100%;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .comInput .triangle {
  margin-left: 100px;
  display: block;
  width: 0;
  height: 0;
  border-width: 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent #F4F4F4;
  /*透明 透明  黄*/
  top: 0px;
  left: 0px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .comInput textarea {
  width: 708px;
  height: 65px;
  float: right;
  display: block;
  background: #f4f4f4;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000;
  line-height: 26px;
  padding: 13px 15px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .btn3 {
  float: right;
  display: block;
  width: 70px;
  height: 30px;
  margin-bottom: 14px;
  margin-top: 14px;
  background: #394E79;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemUl {
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #eee;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData {
  width: 738px;
  height: auto;
  margin-top: 26px;
  border-bottom: 1px solid #eee;
  display: block;
  overflow: hidden;
  float: right;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont {
  width: 738px;
  float: right;
  display: block;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit {
  width: 100%;
  height: 32px;
  overflow: hidden;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit span.title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
  float: left;
  display: block;
  padding-right: 55px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit .itemStar {
  float: left;
  position: relative;
  width: 120px;
  height: 30px;
  left: 20px;
  top: 0;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit .itemStar span {
  position: absolute;
  top: 5px;
  z-index: 3;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit .itemStar span img {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit .itemStar ul {
  position: absolute;
  z-index: 2;
  top: 5px;
  overflow: hidden;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit .itemStar ul li {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
  background: url("../../../src/assets/images/personal/startk.png") no-repeat;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemTit span:last-child {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemCont {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  line-height: 26px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemOper {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 5px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemOper .comNum {
  padding-left: 20px;
  background: url("../../../src/assets/images/personal/comico1.png") no-repeat center left;
  margin-right: 23px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemOper .comNum span {
  line-height: 26px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemOper .thumbNum {
  padding-left: 20px;
  background: url("../../../src/assets/images/personal/comico2.png") no-repeat;
  background-position: 0px 4px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .listCont .itemOper .thumbNum span {
  line-height: 26px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .replyInput {
  display: block;
  overflow: hidden;
  width: 100%;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .replyInput .triangle {
  margin-left: 25px;
  display: block;
  width: 0;
  height: 0;
  border-width: 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent #F4F4F4;
  /*透明 透明  黄*/
  top: 0px;
  left: 0px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .replyInput textarea {
  width: 708px;
  height: 65px;
  float: right;
  display: block;
  background: #f4f4f4;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000;
  line-height: 26px;
  padding: 13px 15px;
}
.comment .comments_content .comments_main .commentLeft .comLfList .commentList .itemData .btn4 {
  float: right;
  display: block;
  width: 70px;
  height: 30px;
  margin-bottom: 0px;
  margin-top: 14px;
  background: url("../../../src/assets/images/personal/replay1.png") no-repeat;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
}
.comment .comments_content .comments_main .commentLeft .comNo {
  width: 600px;
  height: 460px;
  margin: 0 auto;
}
.comment .comments_content .comments_main .commentRight {
  width: 310px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
  float: right;
  display: block;
}
.comment .comments_content .comments_main .commentRight .subleft_bot1 {
  width: 310px;
  height: auto;
  padding-bottom: 36px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
}
.comment .comments_content .comments_main .commentRight .subleft_botTitle {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #8C1515;
  border-top: 3px solid #8C1515;
  background: #F8F8F8;
}
.comment .comments_content .comments_main .commentRight .subleft_botTitle img {
  margin-right: 6px;
}
.comment .comments_content .comments_main .commentRight .subleft_botLine {
  height: 4px;
  background-image: url(../../../src/assets/images/personal/combg.png);
}
.comment .comments_content .comments_main .commentRight .subleft_textbook {
  width: 270px;
  height: 139px;
  display: block;
  overflow: hidden;
  margin: 15px auto 0px;
  border-bottom: 1px dashed #E6E6E6;
  background: #fff;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook img {
  max-width: 80px;
  max-height: 108px;
  border: 1px solid #ececec;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_tip {
  width: 140px;
  float: right;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_tip .textbook_title {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_tip .textbook_author {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_price,
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_noprice,
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_free {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  line-height: 24px;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_price {
  color: #E51312;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_noprice {
  color: #EB851F;
}
.comment .comments_content .comments_main .commentRight .subleft_textbook .commentRight_free {
  color: #11AA18;
}
.comment .comments_content .comments_main .commentRight .textbook_number {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #FEAA5B;
  color: #fff;
  border-radius: 50%;
}
.comment .comments_content .comments_main .commentRight .textbook_number,
.comment .comments_content .comments_main .commentRight .textbook_img,
.comment .comments_content .comments_main .commentRight .textbook_tip {
  float: left;
}
.comment .comments_content .comments_main .commentRight .textbook_img {
  margin: 0 12px;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentRight .textbook_tip {
  width: 140px;
}
.comment .comments_content .comments_main .commentRight .textbook_title {
  color: #555;
  font-weight: bold;
}
.comment .comments_content .comments_main .commentRight .textbook_author {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #999999;
  margin-top: 36px;
  margin-bottom: 10px;
}
.comment .comments_content .comments_main .commentRight .subleft_textbookList {
  width: 270px;
  height: auto;
  margin: 16px auto 0;
}
.comment .comments_content .comments_main .commentRight .subleft_textbookList .meDetail_textbookTitle {
  width: 270px;
  display: block;
  height: 18px;
  line-height: 18px;
}
.comment .comments_content .comments_main .commentRight .textbookList_num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #f6f3ee;
  color: #666666;
  float: left;
  margin-right: 12px;
  border-radius: 50%;
}
.comment .comments_content .comments_main .commentRight .textbookList_text {
  color: #333333;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentRight .com_left {
  background: #fff;
  margin-top: 12px;
  width: 310px;
  height: 450px;
}
.comment .comments_content .comments_main .commentRight .com_left .subleft_botTitle {
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #454545;
}
.comment .comments_content .comments_main .commentRight .com_left .subleft_botLine {
  height: 4px;
  background-image: url(../../../src/assets/images/personal/combg.png);
}
.comment .comments_content .comments_main .commentRight .com_left .hot_list {
  height: 13px;
  margin-left: 14px;
  margin-top: 22px;
  color: #666666;
  cursor: pointer;
}
.comment .comments_content .comments_main .commentRight .com_left .hot_list .hot_listImg,
.comment .comments_content .comments_main .commentRight .com_left .hot_list .hot_listText {
  float: left;
  width: 265px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comment .comments_content .comments_main .commentRight .com_left .hot_list .hot_listImg {
  width: 16px;
  height: 13px;
  background-image: url(../../../src/assets/images/medical/information-li.png);
  margin-top: 5px;
  margin-right: 6px;
}
.comment .comments_content .comments_main .commentRight .com_left .hot_list:hover {
  color: #205FC6;
}
.comment .comments_content .comments_main .commentRight .com_left .hot_list:hover .hot_listImg {
  background-image: url(../../../src/assets/images/medical/information-li-hover.png);
}
.comment .alertCont {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment .alertCont .alertBg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.comment .alertCont .alertShow {
  z-index: 12;
  width: 520px;
  height: 350px;
  background: #fff;
}
.comment .alertCont .alertShow .title {
  height: 36px;
  padding: 0px 14px;
  background: #f4f4f4;
  border-radius: 3px 3px 0px 0px;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #454545;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
}
.comment .alertCont .alertShow .title img {
  width: 12px;
  height: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.comment .alertCont .alertShow .cont2 {
  width: 440px;
  height: 40px;
  display: block;
  padding: 29px 40px 0 40px;
}
.comment .alertCont .alertShow .cont2 .itemWord {
  float: left;
  display: block;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #666666;
}
.comment .alertCont .alertShow .cont2 .itemStar {
  float: left;
  display: block;
  position: relative;
  width: 120px;
  height: 30px;
  left: 5px;
  top: 0;
}
.comment .alertCont .alertShow .cont2 .itemStar span {
  position: absolute;
  top: 3px;
  z-index: 3;
}
.comment .alertCont .alertShow .cont2 .itemStar span img {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
}
.comment .alertCont .alertShow .cont2 .itemStar ul,
.comment .alertCont .alertShow .cont2 .itemStar li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment .alertCont .alertShow .cont2 .itemStar ul {
  position: absolute;
  z-index: 2;
  top: 3px;
  overflow: hidden;
}
.comment .alertCont .alertShow .cont2 .itemStar ul li {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
  background: url("../../../src/assets/images/personal/startk.png") no-repeat;
}
.comment .alertCont .alertShow .cont3 {
  position: relative;
  padding: 0px 40px 0 40px;
}
.comment .alertCont .alertShow .cont3 textarea {
  width: 414px;
  height: 140px;
  background: #ffffff;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000;
  line-height: 26px;
  padding: 13px 15px;
}
.comment .alertCont .alertShow .cont3 span {
  position: absolute;
  bottom: 0;
  right: 44px;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #cccccc;
  line-height: 40px;
}
.comment .alertCont .alertShow .tipMsg {
  color: #F40303;
  padding: 0px 40px 0 40px;
}
.comment .alertCont .alertShow .cont4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.comment .alertCont .alertShow .cont4 .btn1 {
  width: 80px;
  height: 32px;
  cursor: pointer;
  background: #394E79;
  border-radius: 3px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  border: none;
  margin-right: 10px;
}
.comment .alertCont .alertShow .cont4 .btn2 {
  width: 80px;
  height: 30px;
  cursor: pointer;
  background: #eeeeee;
  border-radius: 3px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #999999;
  line-height: 32px;
  border: none;
}
