.edit {
  background-color: #fff;
  padding: 20px 0 50px 20px;
  min-height: 902px;
}
.edit .editpreson_title {
  margin-top: 27px;
  margin-bottom: 24px;
  padding-left: 40px;
  font-size: 20px;
  color: #333;
}
.edit .editpreson_title img {
  margin-right: 6px;
}
.edit .editpreson_infoTitle {
  margin-top: 36px;
}
.edit .editpreson_listInfo {
  padding-left: 46px;
  vertical-align: middle;
  overflow: hidden;
}
.edit .editpreson_listInfo input {
  height: 40px;
  padding-left: 12px;
  border: solid 1px #DBDEE5;
  border-radius: 3px;
}
.edit .editpreson_tip {
  color: #CBCBCB;
  margin-left: 104px;
}
.edit .editpreson_save {
  width: 120px;
  height: 34px;
  line-height: 34px;
  background: #8C1515;
  color: #fff;
  text-align: center;
  margin-left: 114px;
  margin-top: 10px;
  cursor: pointer;
}
.edit .editpreson_save:hover {
  background: #B91C24;
}
.edit .avatar-uploader {
  display: inline-block;
}
.edit .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.edit .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.edit .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
}
.edit .avatar {
  width: 130px;
  height: 130px;
  line-height: 130px;
  display: block;
}
.edit .el-upload {
  width: 130px;
  height: 130px;
  line-height: 130px;
  display: inline-block;
}
.edit .el-upload--text {
  width: 130px;
  height: 130px;
  line-height: 130px;
  display: inline-block;
}
.edit .el-radio {
  height: 44px;
  line-height: 44px !important;
}
