.el-tabs__nav .el-tabs__item.is-active:hover {
  color: #409EFF;
}
.el-tabs__nav .el-tabs__item:hover {
  color: #303133;
  cursor: pointer;
}
.favorite_rightTitle {
  height: 60px;
  background: #fff;
  margin-bottom: 8px;
  padding-left: 26px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
.favorite_check {
  display: inline-block;
  position: absolute;
  top: 80px;
  right: 39px;
}
.favorite_check a {
  width: 56px;
  height: 13px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #05B5BB;
  line-height: 34px;
  border-bottom: 1px solid #05B5BB;
  margin-left: 16px;
  cursor: pointer;
}
.favorite_con {
  padding-bottom: 62px;
  background: #fff;
  overflow: hidden;
}
.favorite_article {
  margin: 0 27px ;
  padding-top: 33px;
  padding-bottom: 22PX;
  background: #fff;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border-bottom: 1px solid #EDEDED;
}
.favorite_article:hover {
  background: #F9F9FC;
}
.info_input {
  padding-top: 48px;
  padding-bottom: 48px;
  float: left;
}
.favorite_left {
  width: 103px;
  height: 158px;
  margin-left: 40px;
  text-align: center;
  line-height: 148px;
  position: relative;
}
.favorite_left .cover {
  max-width: 103px;
  max-height: 158px;
  display: inline-block;
  vertical-align: middle;
}
.favorite_left .icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.favorite_rightCon {
  flex: 1;
  margin-left: 41px;
}
.favorite_topic {
  width: 620px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.favorite_topic:hover {
  color: #8C1515;
}
.favorite_author {
  color: #999999;
  margin-bottom: 22px;
  cursor: pointer;
}
.favorite_author a {
  color: #999999;
}
.favorite_author .favorite_color {
  color: #8C1515;
}
.favorite_details {
  color: #666;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 24px;
  line-height: 25px;
  min-height: 50px;
}
.favorite_time {
  color: #AAAAAA;
}
.favorite_time span:first-child {
  float: left;
}
.favorite_time span:nth-child(2) {
  float: right;
}
.favorite_time .favoriteBtn1,
.favorite_time .favoriteBtn2 {
  color: #999999;
  border: solid 1px #eee;
  width: 86px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}
.favorite_time .favoriteBtn1:hover {
  color: #8C1515;
  border-color: #DEC2C2;
}
.favorite_time .favoriteBtn2:hover {
  background: #8C1515;
  color: #fff;
}
.favorite_time .cancel {
  float: right;
}
