ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.invoice_title {
  width: 100%;
  height: 60px;
  background: #fff;
  line-height: 60px;
  margin-bottom: 8px;
}
.invoice_title span {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  margin-left: 26px;
}
.invoice_substance {
  min-height: 828px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 26px 28px 26px 26px;
}
.invoice_substance .invoice_tip {
  width: 926px;
  height: 86px;
  background: #fffdee;
  border: 1px solid #F9E5B0;
  padding-left: 21px;
  padding-top: 16px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.invoice_substance .invoice_tip .invoice_tipTitle {
  display: inline-block;
  width: 60px;
  height: 12px;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #ff6600;
}
.invoice_substance .invoice_tip .invoice_tipContent {
  margin: 0;
  padding: 0;
  width: 639px;
  height: 13px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ff6600;
  margin-top: 10px;
}
.invoice_substance .invoice_info .invoice_infoTitle {
  width: 926px;
  height: 36px;
  line-height: 36px;
  background: #F8F5F1;
  margin-bottom: 10px;
}
.invoice_substance .invoice_info .invoice_infoTitle ul {
  margin: 0;
  padding: 0;
  width: 684px;
  height: 12px;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #454545;
  float: right;
  margin-right: 50px;
}
.invoice_substance .invoice_info .invoice_infoTitle ul li {
  height: 100%;
  list-style: none;
  float: left;
}
.invoice_substance .invoice_info .invoice_infoTitle ul li:nth-child(2) {
  margin: 0 106px 0 194px;
}
.invoice_substance .invoice_info .invoice_infoTitle ul li:nth-child(3) {
  margin-right: 94px;
}
.invoice_substance .invoice_info .invoice_infoTitle ul li:nth-child(4) {
  margin-right: 92px;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_title {
  width: 926px;
  height: 32px;
  background: #FBF9F7;
  border: 1px solid #E7E4E1;
  box-sizing: border-box;
  color: #AAAAAA;
  font-size: 12px;
  padding-left: 13px;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_title span {
  display: inline-block;
  height: 12px;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  line-height: 32px;
  margin-left: 13px;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content {
  width: 926px;
  box-sizing: border-box;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left {
  width: 535px;
  border-right: 1px solid #eeeeee;
  float: left;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left .info_con_c1 {
  width: 535px;
  height: 124px;
  box-sizing: border-box;
  padding: 12px 0 12px 26px;
  border-bottom: 1px solid #eeeeee;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left .info_con_c1:last-child {
  border-bottom: none;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left .info_con_c1 li {
  list-style: none;
  float: left;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left .info_con_c1 li:nth-child(2) span {
  display: inline-block;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left .info_con_c1 li:nth-child(2) span:first-child {
  height: 34px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 22px;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_left .info_con_c1 li:nth-child(2) span:nth-child(2) {
  display: inline-block;
  height: 11px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_right {
  text-align: center;
  float: left;
  widows: 388px;
  position: absolute;
  height: 100%;
  right: 0;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_right p {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_right p:first-child {
  width: 138px;
  border-right: 1px solid #eeeeee;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_right p:nth-child(2) {
  width: 120px;
  border-right: 1px solid #eeeeee;
  cursor: pointer;
}
.invoice_substance .invoice_info .invoice_infoContent .info_con_content .info_con_right p:nth-child(3) {
  width: 128px;
  cursor: pointer;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_left {
  height: 100%;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_left .info_con_c2 {
  width: 535px;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 0px 24px 13px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_left .info_con_c2 li {
  list-style: none;
  float: left;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_left .info_con_c2 li:nth-child(2) span {
  display: inline-block;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_left .info_con_c2 li:nth-child(2) span:first-child {
  width: 154px;
  height: 34px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 22px;
  margin: 10px 0 0 20px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_left .info_con_c2 li:nth-child(2) span:nth-child(2) {
  display: inline-block;
  width: 4px;
  height: 11px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
  margin-left: 160px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_right {
  height: 100%;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_right p {
  height: 100%;
  line-height: 103px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(3) .info_con_content .info_con_right p:nth-child(3) a {
  display: inline-block;
  line-height: 30px;
  width: 74px;
  height: 30px;
  border: 1px solid #f4494a;
  border-radius: 3px;
  color: #f4494a;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(4) .info_con_content {
  height: 124px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(4) .info_con_content .info_con_left {
  height: 100%;
  box-sizing: border-box;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(4) .info_con_content .info_con_left .info_leftTitle {
  width: 329px;
  height: 60px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  float: left;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(4) .info_con_content .info_con_left p {
  float: left;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(4) .info_con_content .info_con_right {
  height: 100%;
  line-height: 124px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(4) .info_con_content .info_con_right p {
  height: 100%;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content {
  height: 124px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_left {
  height: 100%;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_left .info_con_c1 {
  width: 535px;
  box-sizing: border-box;
  padding: 12px 0 12px 26px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_left .info_con_c1 li {
  list-style: none;
  float: left;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_left .info_con_c1 li:nth-child(2) span {
  display: inline-block;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_left .info_con_c1 li:nth-child(2) span:first-child {
  width: 154px;
  height: 34px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 22px;
  margin: 26px 0 36px 34px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_left .info_con_c1 li:nth-child(2) span:nth-child(2) {
  display: inline-block;
  width: 4px;
  height: 11px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
  margin-left: 160px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_right {
  height: 100%;
  line-height: 124px;
}
.invoice_substance .invoice_info .invoice_infoContent:nth-child(5) .info_con_content .info_con_right p {
  height: 100%;
}
p.info_con_make {
  color: #03B19F;
  cursor: pointer;
}
p.info_con_not {
  color: #FC9322;
  cursor: pointer;
}
