ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.invoice_detailsTitle {
  height: 60px;
  background: #ffffff;
  line-height: 60px;
  margin-bottom: 8px;
}
.invoice_detailsTitle span {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  margin-left: 26px;
}
.invoice_details {
  padding: 30px 28px 30px 26px;
  box-sizing: border-box;
  background: #fff;
}
.invoice_details ul {
  width: 926px;
  height: 280px;
  background-image: url(../../../src/assets/images/personal/invoice-bg.png);
  padding: 35px 0 35px 37px;
  box-sizing: border-box;
  position: relative;
}
.invoice_details ul li {
  list-style: none;
}
.invoice_details ul li:first-child {
  font-weight: bold;
  color: #333333;
  margin-bottom: 24px;
}
.invoice_details ul li:nth-child(3),
.invoice_details ul li:nth-child(4),
.invoice_details ul li:nth-child(5),
.invoice_details ul li:nth-child(6),
.invoice_details ul li:nth-child(7) {
  margin-top: 10px;
}
.invoice_details ul li:nth-child(2) span,
.invoice_details ul li:nth-child(3) span,
.invoice_details ul li:nth-child(4) span,
.invoice_details ul li:nth-child(6) span,
.invoice_details ul li:nth-child(7) span {
  margin-left: 35px;
}
.invoice_details ul li:nth-child(5) span {
  margin-left: 8px;
}
.invoice_details ul li:last-child {
  position: absolute;
  width: 130px;
  height: 26px;
  background: #ffffff;
  border: 1px solid#8C1515;
  border-radius: 2px;
  line-height: 26px;
  text-align: center;
  right: 30px;
  bottom: 30px;
}
.invoice_details ul li:last-child a {
  color: #8C1515;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.invoice_details ul li:last-child a:hover {
  background: #8C1515;
  color: #FFFFFF;
}
