
a {
    color: #000;
}


.message_main {
    padding-bottom: 20px;
    .message_main_top {
        width: 100%;
        height: 60px;
        padding-top: 21px;
        box-sizing: border-box;
        margin-bottom: 8px;
        background-color: #fff;
        .message_main_top_left {
            float: left;
            margin-left: 26px;
            .message_main_top_left_info {
                float: left;
                cursor: pointer;
                position: relative;
                color: #333333;
                font-size: 16px;
                vertical-align: middle;
                display: inline-block;
                .message_main_top_left_num {
                    background-color: #f56c6c;
                    border-radius: 10px;
                    color: #fff;
                    display: inline-block;
                    font-size: 12px;
                    height: 18px;
                    line-height: 18px;
                    padding: 0 6px;
                    text-align: center;
                    white-space: nowrap;
                    border: 1px solid #fff;
                }
                .message_main_top_left_num.is-fixed {
                    position: absolute;
                    top: -2px;
                    right: 6px;
                    -webkit-transform: translateY(-50%) translateX(100%);
                    transform: translateY(-50%) translateX(100%);
                }
            }
            .message_main_top_line {
                margin: 0 15px;
                float: left;
                color: #ccc;
                display: inline-block;
                height: 16px;
                font-size: 20px;
                margin-top: 2px;
            }
        }
        .message_main_top_right {
            float: right;
            margin-right: 22px;
            border-bottom: 1px solid #05B5BB;
            color: #05B5BB;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .message_main_bot {
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        padding: 0 40px 20px;
        box-sizing: border-box;
        .message_main_bot_wrap {
            min-height: 500px;
        }
        .message_main_bott_wrap {
            padding: 50px 0;
            position: relative;
            max-width: 1090px;
            border-bottom: 1px solid #EDEDED;
            cursor: pointer;
            &.active {
                display: none;
            }
            .message_main_bot_title{
                cursor: pointer;
                color: #000000;
                float: left;
                font-size: 18px;
                &:hover {
                    color: #8C1515;
                }
            }
            .message_main_bot_circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #f56c6c;
                float: left;
                margin-top: 4px;
                margin-right: 6px;
            }
            .message_main_bot_time {
                position: absolute;
                top: 40px;
                right: 0;
                color: #AAAAAA;
            }

            .message_main_bot_text{
                margin-top: 40px;
                color: #666666 !important;
                margin-right: 2px;
                font-size: 14px;
                line-height: 24px;
            }
            .hoverColor{
                color: #999 !important;
            }
            
            .message_main_bot_del {
                overflow: hidden;
                float: right;
                color: #999999;
                cursor: pointer;
                margin-top: 4px;
                padding-bottom: 17px;
                img {
                    margin-right: 5px;
                    float: left;
                    margin-top: 4px;
                }
            }

        }
    }
}


.fontSize {
    font-size: 20px !important;
}


// 系统消息/详情样式
.message_content {
    width: 100%;
    min-height: 400px;
    background-color: #f8f8f8;
    overflow: hidden;
    .message_wrap {
        width: 1200px;
        margin: 0 auto;
        .message_wrap_con {
            background-color: #fff;
            width: 100%;
            padding: 0 38px 56px;
            box-sizing: border-box;
            margin-bottom: 40px;
            .message_wrap_s {
                border-bottom: 1px dashed #E3E3E3;
                margin-bottom: 30px;
                .message_wrap_title {
                    font-size: 26px;
                    color: #3a3a3a;
                    text-align: center;
                    padding-top: 50px;
                    margin-bottom: 20px;
                }
                .message_wrap_source {
                    text-align: center;
                    color: #BBBBBB;
                    padding-bottom: 28px;
                    .message_wrap_source_time {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

.message_main_no_message {
    width: 600px;
    margin: 50px auto;
}
