.el-tabs__nav .el-tabs__item.is-active:hover{
  color: #409EFF;
}
.el-tabs__nav .el-tabs__item:hover{

  color:#303133;
  cursor: pointer;
}

#bookshelf{
  width: 100%;
  background-color: #f5f5f5;
}
.bookshelf_content{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.bookshelf_right{
  flex: 1;
  margin-top: 12px;
}
.bookshelf_title{
  height: 60px;
  background: #fff;
  margin-bottom: 10px;
  padding-left: 26px;
  line-height: 60px;
  font-size:20px;
  font-weight:400;
  color:#333;
}
.bookshelf_article{
  padding: 30px 0 30px 19px;
  margin:0 30px;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #EDEDED;
  width:900px;
  &:hover{
    background: #FBFCFE;
  }
}
.bookshelf_list{
  padding: 30px 0;
  margin:0 27px;
  background: #fff;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 1px solid #EDEDED;
  width:920px;
  // &:hover{
  //   background: #FBFCFE;
  // }
}
.bookshelf_left{
  width: 148px;
  height: 148px;
  margin: 0 18px;
  text-align: center;
  position: relative;
  line-height: 148px;
  .cover{
    max-width: 148px;
    max-height:148px;
    display: inline-block;
    vertical-align: middle;
  }
  .default_cover{
    width: 148px;
    height: 148px;
    background: #ece8dc;
    text-align: center;
    img{
      display: inline-block;
      width: 80px;
      height: 56px;
      margin-top: 46px;
    }
  }
  .icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.bookshelf_rightCon{
  width:744px;
}
.bookshelf_topic{
  font-size:18px;
  color:rgba(51,51,51,1);
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover{
    color: #8C1515 ;
    a{
      color: #8C1515 !important ;
    }
  }
}
.bookshelf_author{
  color: #999999;
  margin-bottom: 22px;
  .bookshelf_color{
    color: #8C1515;
  }
  a{
    color: #999999;
  }
  .source{
    color: #8C1515;
    cursor: pointer;
  }
}
.bookshelf_details{
  color: #666;
  width: 100%;
  line-height: 25px;
  margin-bottom: 30px;
}
.bookshelf_time{
  float: right;
  color: #AAAAAA;
}
