
img {
    vertical-align: middle;
}

#comment_app {
    font-size: 14px;
    height: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.comment_rightTitle {
    height: 60px;
    background: #fff;
    margin-bottom: 8px;
    padding-left: 26px;
    line-height: 60px;
    font-size:20px;
    font-weight:400;
    color:#333;
}

.comment_check {
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 39px;
    a {
        width:56px;
        height:13px;
        font-size:14px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:#05B5BB;
        line-height:34px;
        border-bottom: 1px solid #05B5BB;
        margin-left: 16px;
    }
}

.comment_con {
  background: #fff;
}

.comment_li{
    margin: 0 27px;
    padding-top: 33px;
    padding-bottom: 22px;
    padding-right: 10px;
    background: #fff;
    overflow: hidden;
    display: -webkit-flex;
    flex-flow: row;
    border-bottom: 1px solid #EDEDED;
    // &:hover{
    //   background: #FBFCFE;
    // }
  }
  .info_input {
    padding-top: 48px;
    padding-bottom: 48px;
    float: left;
  }
  .comment_left{
    width: 148px;
    height: 148px;
    margin: 0 18px;
    text-align: center;
    line-height: 148px;
    position: relative;
    .cover{
      max-width: 148px;
      max-height: 148px;
      display: inline-block;
      vertical-align: middle;
    }
    .default_cover{
        width: 148px;
        height: 148px;
        background: #ece8dc;
        text-align: center;
        img{
            display: inline-block;
            height: 80px;
        }
    }
    .icon {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .comment_rightCon{
    margin-left: 18px;
    flex: 1;
  }
  .comment_topic{
    font-size:18px;
    color:rgba(51,51,51,1);
    margin-bottom: 15px;
    cursor: pointer;
    width: 660px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      color: #957355;
    }
  }
  .comment_author{
    color: #999999;
    cursor: pointer;
    .comment_color{
      color: #957355;
    }
  }
  .comment_details{
    color: #666;
    width: 100%;
    margin: 22px 0 30px 0;
    max-height: 40px;
    position: relative;
    // &.more_show{
    //     padding-right: 4px;
    // }
    // &.more_show::after{
    //     content:"...";
    //     position:absolute;
    //     top:21px;
    //     right: 0;
    // }
    img {
        margin-top: -5px;
    }
  }
  .comment_time{
    span {
        &:first-child {
            float: left;
        }
    }

    .del {
        float: right;
        cursor: pointer;
        width: 47px;
        background-image: url(../../../src/assets/images/personal/del.png);
        background-repeat: no-repeat;
        background-position-y: 2px;
        &:hover{
            background-image: url(../../../src/assets/images/personal/del_hover.png);
            span{
                color: #7E0204;
            }
        }
        span {
            margin-left: 5px;
            color: #999999;
            float: right;
        }
    }

    a {
        display: inline-block;
        width:86px;
        height:26px;
        border:1px solid rgba(238,238,238,1);
        border-radius:13px;
        text-align: center;
        line-height: 26px;
        &:hover {
            background:rgba(244,73,74,1);
            color:rgba(255,255,255,1);
        }
        &:nth-child(2) {
            margin-left: 8px;
        }
    }

    .cancel {
        float: right;
    }
    color: #AAAAAA;
  }

  .comment_article {
    padding: 33px 32px 22px;
    background: #fff;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    border-bottom: 1px solid #EDEDED;
    &:hover{
      background: #FBFCFE;
    }

    .info_input {
        margin-right: 18px;
    }
}



