.myNote .note_title {
  background: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  padding-left: 26px;
  margin-bottom: 8px;
}
.myNote .note_content {
  background: #fff;
  padding: 0 26px;
  min-height: 500px;
}
.myNote .note_content .note_conTop {
  padding-top: 12px;
  padding-bottom: 11px;
  height: 32px;
  border-bottom: 1px solid #f5f5f5;
}
.myNote .note_content .note_check {
  float: right;
}
.myNote .note_content .note_bot .el-checkbox__label {
  display: none !important;
}
.myNote .note_content .note_bot .el-checkbox-group {
  font-size: 14px;
}
.myNote .note_content .note_list {
  padding-top: 30px;
  padding-bottom: 23px;
  border-bottom: 1px dashed #DDD4C3;
  display: -webkit-flex;
  flex-flow: row;
}
.myNote .note_content .note_info {
  float: left;
  padding-top: 66px;
}
.myNote .note_content .note_rightCon {
  margin-left: 20px;
  flex: 1;
}
.myNote .note_content .note_rightCon .note_botCon {
  color: #666666;
  margin-bottom: 18px;
}
.myNote .note_content .note_rightCon .note_synopsis {
  width: 100%;
  height: auto;
  background: #F6F6F6;
  padding: 20px 17px 21px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}
.myNote .note_content .note_rightCon .note_synopsis::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #F6F6F6;
  position: absolute;
  top: -8px;
}
.myNote .note_content .note_rightCon .note_stip {
  color: #444444;
  font-weight: bold;
}
.myNote .note_content .note_rightCon .note_scon {
  color: #666666;
  font-weight: 400;
  line-height: 24px;
}
.myNote .note_content .note_rightCon .note_scon .note_more {
  cursor: pointer;
  color: #F4494A;
}
.myNote .note_content .note_rightCon .note_source {
  overflow: hidden;
  margin-top: 24px;
}
.myNote .note_content .note_rightCon .source {
  float: left;
  color: #999999;
  cursor: pointer;
}
.myNote .note_content .note_rightCon .source .bookName {
  color: #987444;
}
.myNote .note_content .note_rightCon .note_time {
  float: right;
  overflow: hidden;
}
.myNote .note_content .note_rightCon .note_time .del_icon,
.myNote .note_content .note_rightCon .note_time .time {
  float: left;
  color: #999999;
}
.myNote .note_content .note_rightCon .note_time .del_icon {
  cursor: pointer;
}
.myNote .note_content .note_rightCon .note_time .el-icon-delete {
  margin-right: 4px;
}
.myNote .note_content .note_rightCon .note_time .time {
  margin-left: 40px;
  padding-top: 2px;
}
.myNote .note_content .paginationBox {
  text-align: center;
  padding: 40px 0;
}
.myNote .note_content .noHave {
  width: 600px;
  height: 460px;
  margin: 0 auto;
}
