
.myNote {
    .note_title {
        background: #fff;
        height: 60px;
        line-height: 60px;
        font-size:20px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(51,51,51,1);
        padding-left: 26px;
        margin-bottom: 8px;
    }
    .note_content {
        background: #fff;
        padding: 0 26px;
        min-height: 500px;
        .note_conTop {
            padding-top: 12px;
            padding-bottom: 11px;
            height: 32px;
            border-bottom: 1px solid #f5f5f5;
        }
        .note_check {
            float: right;
        }
        .note_bot {
            .el-checkbox__label {
                display: none !important;
            }
            .el-checkbox-group {
                font-size: 14px;
            }
        }
        .note_list {
            padding-top: 30px;
            padding-bottom: 23px;
            border-bottom: 1px dashed #DDD4C3;
            display: -webkit-flex;
            flex-flow: row;
        }
        .note_info {
            float: left;
            padding-top: 66px;
        }
        .note_rightCon {
            margin-left: 20px;
            flex: 1;
            .note_botCon {
                color: #666666;
                margin-bottom: 18px;
            }
            .note_synopsis {
                width: 100%;
                height: auto;
                background: #F6F6F6;
                padding: 20px 17px 21px 20px;
                box-sizing: border-box;
                border-radius: 4px;
                position: relative;
                &::after {
                    content: "";
                    width:0;
                    height:0;
                    border-right:10px solid transparent;
                    border-left:10px solid transparent;
                    border-bottom:10px solid #F6F6F6;
                    position: absolute;
                    top: -8px;
                }
            }
            .note_stip {
                color: #444444;
                font-weight: bold;
            }
            .note_scon {
                color: #666666;
                font-weight: 400;
                line-height: 24px;
                .note_more {
                    cursor: pointer;
                    color: #F4494A;
                }
                // .note_extend {
                //     cursor: pointer;
                //     color: #F4494A;
                // }
            }
            .note_source {
                overflow: hidden;
                margin-top: 24px;
            }
            .source {
                float: left;
                color: #999999;
                cursor: pointer;
                .bookName {
                    color: #987444;
                }
            }
            .note_time {
                float: right;
                overflow: hidden;
                .del_icon, .time {
                    float: left;
                    color: #999999;
                }
                .del_icon {
                    cursor: pointer;
                }
                .el-icon-delete {
                    margin-right: 4px;
                }
                .time {
                    margin-left: 40px;
                    padding-top: 2px;
                }
            }
        }
        .paginationBox {
            text-align: center;
            padding: 40px 0;
        }
        .noHave {
            width: 600px;
            height: 460px;
            margin: 0 auto;
        }
    }
}


