.order_box {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 932px;
}
.order_title {
  height: 60px;
  background: #fff;
  margin-bottom: 8px;
  padding-left: 26px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
.order_con {
  background: #fff;
  padding: 0 26px;
  overflow: hidden;
  padding-bottom: 25px;
  min-height: 783px;
  position: relative;
}
.order_con .nullStyle {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  top: 250px;
  text-align: center;
}
.order_con .list_null {
  width: 600px;
}
.order_con p {
  color: #999;
  margin-top: 20px;
  font-size: 16px;
}
.order_top {
  height: 36px;
  line-height: 36px;
  background: #F5F5F5;
  width: 100%;
  margin-top: 22px;
  color: #454545;
  font-weight: bold;
}
.order_top .goods_info {
  margin-left: 165px;
}
.order_top .price {
  margin-left: 174px;
}
.order_top .num {
  margin-left: 80px;
}
.order_top .status {
  margin-left: 110px;
  margin-right: 120px;
}
.order_list {
  border: solid 1px #E7E4E1;
  margin-top: 10px;
}
.order_code {
  height: 28px;
  line-height: 28px;
  color: #aaa;
  padding-left: 13px;
  font-size: 12px;
  background: #fbfbfb;
  border-bottom: 1px solid #eeeeee;
}
.order_code .times {
  margin: 0 12px;
  color: #aaa;
}
.order_code .code {
  color: #333;
}
.orderlist_con {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.orderlist_left {
  width: 626px;
}
.orderlist_left .order_outcontent {
  height: 100px;
  line-height: 100px;
  padding: 12px 0;
  clear: both;
  border-bottom: 1px solid #EEEEEE;
}
.orderlist_left .order_outcontent:last-child {
  border-bottom: 0;
}
.orderlist_left .order_img {
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 12px;
  margin-right: 21px;
  line-height: 100px;
  cursor: pointer;
  text-align: center;
}
.orderlist_left img {
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  vertical-align: middle;
}
.orderlist_left .order_name,
.orderlist_left .order_price_text,
.orderlist_left .order_num,
.orderlist_left .article_name {
  display: inline-block !important;
  vertical-align: middle;
  color: #333333;
}
.orderlist_left .order_name {
  margin-right: 90px;
  line-height: 20px;
  width: 154px;
  cursor: pointer;
}
.orderlist_left .article_name {
  margin-left: 24px;
  margin-right: 90px;
  width: 270px;
}
.orderlist_left .order_price_text {
  width: 80px;
  margin-right: 96px;
  text-align: center;
  line-height: 30px;
}
.orderlist_left .order_price_text .line_price {
  text-decoration: line-through;
  color: #CCCCCC;
  display: block;
}
.orderlist_center {
  width: 147px;
  border-left: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  color: #333333;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.orderlist_center .orderstatus_price {
  font-weight: bold;
  color: #333333;
}
.orderlist_center .orderstatus_carriage {
  color: #999;
}
.orderlist_center .orderstatus_text {
  margin-top: 20px;
}
.orderlist_right {
  flex: 1;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.orderlist_right .order_rightlist {
  padding: 20px 0;
}
.orderlist_right .order_rightlist div {
  margin-bottom: 16px;
  cursor: pointer;
}
.orderlist_right .order_reviewbtn {
  font-weight: bold;
  color: #FC9322;
}
.orderlist_right .order_paymentbtn {
  color: #F4494A;
  font-weight: bold;
}
.orderlist_right .order_tips {
  color: #999999;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 16px;
}
.orderlist_right .order_detailsbtn {
  color: #000;
}
.order_review_size,
.order_pay_size,
.order_cancel_size {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #F4494A;
  z-index: 1000;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.order_pay_size {
  left: 160px;
  top: 74px;
}
.order_cancel_size {
  top: 74px;
  left: 242px;
}
.search_left {
  width: 292px;
  height: 32px;
  float: left;
  position: absolute;
  right: 25px;
  top: 78px;
  z-index: 1000;
}
.search_left .search_input {
  width: 230px;
  height: 30px;
  border: 1px solid #eeeeee;
  border-radius: 3px 0px 0px 3px;
  float: left;
  border-right: none;
}
.search_left .search_input .search {
  width: 220px;
  height: 28px;
  padding-left: 10px;
}
.search_left .search_input .search::placeholder {
  color: #CCCCCC;
}
.search_left .search_btn {
  float: left;
  width: 60px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #394E79;
  border-radius: 0px 3px 3px 0px;
  color: #FFFFFF;
}
.search_left .search_btn .btn {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
}
.search_left input {
  outline: none;
  border: none;
}
.order_box .el-tabs__item:not(.is-active):hover {
  color: #303133;
}
.order_box .el-tabs__nav-wrap::after {
  height: 0 ;
}
