img {
  vertical-align: middle;
}
#success_app {
  font-size: 14px;
  margin: 0 auto;
  height: auto;
  background: #fff;
}
.success_top {
  margin-top: 121px;
}
.top_img {
  width: 599px;
  height: 47px;
  float: right;
}
.success_content {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0 111px 200px;
  background: #fff;
  overflow: hidden;
}
.success_left {
  float: left;
}
.success_center {
  float: left;
  margin-left: 34px;
}
.center_title {
  width: 281px;
  height: 28px;
  font-size: 28px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000000;
  line-height: 20px;
  padding-top: 24px;
  margin-bottom: 32px;
}
.center_pay,
.center_payMoney,
.center_payTime {
  margin-top: 10px;
}
.center_orderDetails {
  margin-top: 18px;
}
.center_orderDetails span {
  display: inline-block;
  width: 108px;
  height: 30px;
  background: #8C1515;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
}
.center_orderDetails a {
  color: #3585F5;
  text-decoration: underline;
  margin-left: 5px;
}
.success_right {
  float: left;
  margin-left: 196px;
  margin-top: 30px;
  overflow: hidden;
}
.success_right .success_right_list {
  float: left;
  min-width: 124px;
  text-align: center;
}
.success_right .success_right_list.active {
  margin-left: 50px;
}
.success_right .success_right_list .success_list_title {
  margin-bottom: 14px;
  color: #222222;
  font-size: 16px;
  font-weight: bold;
}
.success_right .success_right_list .success_list_img {
  width: 118px;
  height: 118px;
  border: 1px solid #E3E3E3;
  margin-bottom: 16px;
}
.success_right .success_right_list .success_list_img img {
  width: 102px;
  height: 102px;
  padding-top: 10px;
}
.success_right .success_right_list .success_list_text {
  color: #9D1616;
}
.success_bot {
  margin-bottom: 111px;
}
