#pay_app {
  font-size: 14px;
  margin: 0 auto;
  height: auto;
  background: #fff;
}
#pay_app .pay_content {
  width: 1200px;
  margin: 0 auto;
  height: 670px;
}
#pay_app .pay_top {
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  margin: 0 28px;
}
#pay_app .pay_left {
  padding: 48px 0 33px 0;
  padding-bottom: 0;
  float: left;
}
#pay_app .pay_title {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}
#pay_app .pay_title span:first-child {
  margin-right: 10px;
}
#pay_app .pay_tip {
  height: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #a8a8a9;
  margin-top: 20px;
}
#pay_app .pay_right {
  float: right;
  margin-top: 60px;
  height: 18px;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
}
#pay_app .pay_right span {
  width: 70px;
  height: 23px;
  font-size: 30px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #f44b4a;
  line-height: 36px;
}
#pay_app .pay_bottom {
  padding: 75px 0 0 66px;
}
#pay_app .bottom_title {
  width: 94px;
  height: 12px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
}
#pay_app .pay_ment {
  margin-top: 39px;
  padding-left: 31px;
  overflow: hidden;
}
#pay_app .pay_ment .ment_left {
  float: left;
}
#pay_app .pay_ment .ment_left:nth-child(2),
#pay_app .pay_ment .ment_left:nth-child(3) {
  margin-left: 40px;
}
#pay_app .pay_ment img {
  vertical-align: middle;
  margin-left: 5px;
}
#pay_app .immediate_pay {
  width: 120px;
  height: 38px;
  background: #8C1515;
  border-radius: 2px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-weight: bold;
  font-family: MicrosoftYaHei-Bold;
  margin: 129px auto;
  cursor: pointer;
}
