.my_personal_box {
  background: #F9F9F9 !important;
}
.personal_top {
  width: 100%;
  display: -webkit-flex;
  flex-flow: row;
}
.personal_person {
  width: 289px;
  height: 132px;
}
.personal_person .top {
  width: 220px;
  background: #fff;
  overflow: hidden;
  padding: 30px;
}
.personal_person .top .header {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 14px;
  display: block;
  cursor: pointer;
  float: left;
}
.personal_person .top .name {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px 0;
  cursor: pointer;
}
.personal_person .top .phone {
  color: #999999;
  font-size: 14px;
}
.personal_order {
  flex: 1;
  height: 132px;
  background: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
.personal_order ul {
  overflow: hidden;
}
.personal_order ul li {
  float: left;
  width: 32%;
  color: #898989;
  list-style: none;
  cursor: pointer;
  height: 132px;
}
.personal_order ul li img {
  width: 34px;
  height: 34px;
  height: auto;
}
.personal_order ul li:hover {
  color: #333333;
}
.personal_order .person_payImg3 {
  width: 34px;
  height: 34px;
  display: inline-block;
  background-size: 100% 100%;
  margin-bottom: 14px;
  background-image: url(../../../src/assets/images/personal/order.png);
}
.personal_order .personal_orderMon {
  position: relative;
}
.personal_order .personal_orderMon .person_payImg {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: 100% 100%;
  margin-bottom: 14px;
}
.personal_order .personal_orderMon .active {
  color: #333;
}
.personal_order .personal_orderMon .personal_orderNum {
  background-color: #f56c6c;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
}
.personal_order .personal_orderMon .personal_orderNum.is-fixed {
  position: absolute;
  top: -10px;
  right: 64px;
}
.personal_wrap {
  background: #fff;
}
.personal_orderInfo {
  margin-bottom: 10px;
  padding-bottom: 22px;
}
.personal_orderInfo .personal_table {
  background: #F5F5F5;
  height: 36px;
  line-height: 36px;
  margin: 22px 27px 10px;
  color: #454545;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  display: flex;
}
.personal_orderInfo .personal_table span {
  display: inline-block;
  text-align: center;
  width: 150px;
}
.personal_orderInfo .personal_table .name {
  flex: 1;
}
.personal_orderInfo .orderCode {
  background: #EEEEEE;
  color: #AAAAAA;
  margin: 0 27px;
  padding-left: 13px;
  font-size: 12px;
  border: #EEEEEE solid 1px;
}
.personal_orderInfo .orderCode span {
  color: #333;
  margin-right: 20px;
  height: 32px;
  line-height: 32px;
}
.personal_orderInfo .personal_title,
.personal_productInfo .personal_title {
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  color: #333;
  padding-left: 26px;
  border-bottom: 1px solid #EEEEEE;
}
.personal_orderInfo .personal_title img,
.personal_productInfo .personal_title img {
  margin-right: 7px;
}
.personal_orderInfo .personal_orderNull,
.personal_productInfo .personal_orderNull {
  height: 210px;
  width: 400px;
  margin: 0 auto;
}
.personal_orderInfo .personal_orderNull .orderlist_no,
.personal_productInfo .personal_orderNull .orderlist_no {
  margin-top: 78px;
}
.personal_orderInfo .personal_orderNull img,
.personal_productInfo .personal_orderNull img {
  width: 95px;
  height: auto;
  vertical-align: middle;
  margin-right: 20px;
  float: left;
}
.personal_orderInfo .personal_orderNull .text,
.personal_productInfo .personal_orderNull .text {
  color: #999999;
  font-size: 18px;
  display: inline-block;
}
.personal_orderInfo .personal_orderNull .loginBtn,
.personal_productInfo .personal_orderNull .loginBtn {
  width: 100px;
  height: 26px;
  text-align: center;
  background: #8C1515;
  margin-left: 115px;
  color: #fff;
  line-height: 26px;
  border-radius: 2px;
  margin-top: 18px;
}
.personal_orderInfo .personal_orderNull .loginBtn:hover,
.personal_productInfo .personal_orderNull .loginBtn:hover {
  background: #B91C24;
}
.personal_orderInfo .orderlist_con,
.personal_productInfo .orderlist_con {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border-bottom: 1px solid #EEEEEE;
  margin: 0 27px;
  border: #EEEEEE solid 1px;
  border-top: none;
}
.personal_orderInfo .orderlist_info,
.personal_productInfo .orderlist_info {
  flex: 1;
  display: flex;
  padding-left: 20px;
}
.personal_orderInfo .orderlist_info .order_img,
.personal_productInfo .orderlist_info .order_img {
  float: left;
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 12px 0;
}
.personal_orderInfo .orderlist_info .order_img img,
.personal_productInfo .orderlist_info .order_img img {
  width: 74px;
  height: 100px;
  object-fit: cover;
  object-position: top;
}
.personal_orderInfo .orderlist_info .order_name,
.personal_productInfo .orderlist_info .order_name {
  display: inline-block !important;
  vertical-align: middle;
  color: #333333;
  line-height: 20px;
  cursor: pointer;
  word-wrap: break-word;
  flex: 1;
}
.personal_orderInfo .order_num,
.personal_productInfo .order_num,
.personal_orderInfo .orderlist_status,
.personal_productInfo .orderlist_status,
.personal_orderInfo .orderlist_price,
.personal_productInfo .orderlist_price,
.personal_orderInfo .orderlist_info,
.personal_productInfo .orderlist_info {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.personal_orderInfo .order_num,
.personal_productInfo .order_num {
  width: 150px;
  text-align: center;
}
.personal_orderInfo .orderlist_status,
.personal_productInfo .orderlist_status {
  width: 150px;
  border-left: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  color: #333333;
  text-align: center;
}
.personal_orderInfo .orderlist_status .orderstatus_price,
.personal_productInfo .orderlist_status .orderstatus_price {
  font-weight: bold;
  color: #333333;
}
.personal_orderInfo .orderlist_status .orderstatus_carriage,
.personal_productInfo .orderlist_status .orderstatus_carriage {
  color: #999;
}
.personal_orderInfo .orderlist_status .orderstatus_text,
.personal_productInfo .orderlist_status .orderstatus_text {
  margin-top: 20px;
}
.personal_orderInfo .orderlist_price,
.personal_productInfo .orderlist_price {
  width: 150px;
  text-align: center;
}
.personal_orderInfo .orderlist_price .order_rightlist,
.personal_productInfo .orderlist_price .order_rightlist {
  padding: 20px 0;
}
.personal_orderInfo .orderlist_price .order_rightlist div,
.personal_productInfo .orderlist_price .order_rightlist div {
  margin-bottom: 16px;
  cursor: pointer;
}
.personal_orderInfo .orderlist_price .order_reviewbtn,
.personal_productInfo .orderlist_price .order_reviewbtn {
  font-weight: bold;
  color: #fc9322;
}
.personal_orderInfo .orderlist_price .order_paymentbtn,
.personal_productInfo .orderlist_price .order_paymentbtn {
  color: #F4494A;
  font-weight: bold;
}
.personal_orderInfo .orderlist_price .order_tips,
.personal_productInfo .orderlist_price .order_tips {
  color: #999999;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 16px;
}
.personal_product {
  display: -webkit-flex;
  flex-flow: row;
  margin: 30px;
  margin-bottom: 0;
}
.personal_product .personal_icon {
  width: 20px;
  height: 40px;
  margin-top: 100px;
  display: inline-block;
  cursor: pointer;
}
.personal_product .personal_productCon {
  flex: 1;
  margin: 0 30px;
  display: -webkit-flex;
  flex-flow: row;
}
.personal_product .personal_list {
  padding: 20px 30px;
  cursor: pointer;
}
.personal_product .personal_list:hover {
  -moz-box-shadow: inset 0 0 10px #EEEEEE;
  -webkit-box-shadow: inset 0 0 10px #EEEEEE;
  box-shadow: inset 0 0 10px #EEEEEE;
}
.personal_product .personal_list:last-child {
  margin-right: 0px;
}
.personal_product .personal_list img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  /*这行都可以不写，object-position 默认就是 center*/
}
.personal_product .personal_list .personal_proImg {
  width: 150px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}
.personal_product .personal_list .personal_proImg img {
  max-height: 200px;
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
}
.personal_product .personal_list .personal_productName {
  width: 150px;
  height: 30px;
  word-wrap: break-word;
}
.personal_product .personal_list p {
  color: #333333;
  margin-top: 12px;
}
.personal_product .personal_list .personal_moneytext {
  color: #E30C00;
}
.personal_product .personal_list .free {
  color: #11AA18;
}
.personal_product .personal_list .no_price {
  color: #EB851F;
}
.personal_bottom {
  height: 84px;
  line-height: 84px;
  background: #fff;
  text-align: center;
}
.personal_bottom span {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  border: solid 1px #AAAAAA;
  margin-right: 10px;
  cursor: pointer;
}
.personal_bottom span:hover {
  background: #AAAAAA;
}
.orderlist_left .order_img {
  margin-left: 12px;
  margin-right: 21px;
}
.orderlist_left img {
  max-width: 100px;
  max-height: 100px;
}
.orderlist_left .order_money {
  width: 80px;
  text-align: center;
  margin-right: 50px;
  margin-left: 80px;
}
.orderlist_left .order_money .line_price {
  color: #333333;
  display: block;
  margin-top: 10px;
}
.personal_productInfo {
  padding-bottom: 40px;
}
