img {
  vertical-align: middle;
}
#recharge_app {
  font-size: 14px;
  margin: 0 auto;
  height: auto;
  background: #f5f5f5;
}
.recharge_content {
  width: 1200px;
  margin: 0 auto;
}
.recharge_location {
  padding: 19px 0 22px 0;
}
.recharge_location img {
  margin-right: 8px;
}
.recharge_location span {
  line-height: 30px;
}
.recharge_location span:nth-child(3) {
  color: #957355;
}
.recharge_main {
  height: 800px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0 30px;
  border-bottom: 1px solid #EEEEEE;
}
.recharge_title {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #EEEEEE;
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}
.recharge_title span {
  font-size: 30px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #f44b4a;
  margin-right: 5px;
}
.recharge_way {
  line-height: 46px;
  padding: 73px 0 0 39px;
  overflow: hidden;
}
.recharge_way .way_tip,
.recharge_way .way_alipay {
  float: left;
}
.recharge_way .way_alipay:nth-child(2) {
  margin-left: 8px;
}
.recharge_way .way_alipay:nth-child(3) {
  margin-left: 40px;
}
.recharge_money {
  padding: 62px 0 0 39px;
  overflow: hidden;
}
.money_tip,
.money_sellping {
  float: left;
}
.money_sellping {
  width: 148px;
  height: 69px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-left: 14px;
  text-align: center;
  padding: 19px 0 12px 0;
  cursor: pointer;
}
.money_sellping:hover {
  border-color: #7aaefc;
}
.money_sellping:hover .sell_money,
.money_sellping:hover .sell_price {
  color: #7aaefc;
}
.money_sellping + .money_sellping {
  margin-left: 20px;
}
.sell_money {
  font-size: 24px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #666666;
  margin-bottom: 23px;
}
.sell_price {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #666666;
}
.recharge {
  width: 120px;
  height: 38px;
  background: #4c8efb;
  border-radius: 2px;
  text-align: center;
  line-height: 38px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #ffffff;
  margin: 50px auto 100px;
  cursor: pointer;
}
.recharge_bot {
  border-top: 1px solid #EEEEEE;
  padding: 30px 0 0 69px;
}
.bot_tip {
  font-weight: bold;
  margin-bottom: 18px;
}
.bot_tip1 + .bot_tip1 {
  margin-top: 8px;
}
