.review_page{
  width: 100%;
  min-height: 400px;
  background:#F7F7F7;
  overflow:hidden;
  padding-bottom: 20px;
}
.review_content{
  width: 1200px;
  margin: 0 auto;
  min-height: 400px;
  background: #fff;
  border-top:solid 3px #BBBBBB;
  padding-bottom: 55px;
}
.review_topic{
  font-size:16px;
  font-weight:bold;
  color:rgba(51,51,51,1);
  padding: 20px 0;
  padding-top: 40px;
  margin: 0 30px;
  border-bottom:5px solid;
  border-image: url(../../../src/assets/images/personal/review.png) 27 27 27 27 round round;
  margin-bottom: 20px;
}
.review_list{
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  height: 260px;
  border-bottom: 1px solid #EEEEEE;
}
.review_left{
  width: 320px;
  height: 260px;
  text-align: center;
  border-right: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  .cover{
    max-height:100px; 
    max-width:100px;  
    object-fit: cover;
    object-position: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .default_cover{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 100px;
    background: #ece8dc;
    text-align: center;
      img{
          display: inline-block;
          height: 50px;
          vertical-align: middle;
      }
  }
  p{
    width: 153px;
    margin: auto;
  }
  .review_text{
    width: 240px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    text-align: left;
  }
  .review_name{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
  }
}
.review_middle{
  line-height:260px;
}
.review_right{
  flex: 1;
  padding-left: 52px;
  padding-top: 60px;
}
.review_rightCon{
  margin-bottom: 28px;
  .review_title{
    margin-right: 14px;
  }
  .el-textarea{
    width: 80% !important;
    vertical-align: top !important;
  }
  .el-rate{
    display: inline;
  }
}
.review_btn{
  width:120px;
  height:38px;
  line-height: 38px;
  background:#8C1515;
  border-radius:2px;
  color: #fff;
  margin-left: 40%;
  text-align: center;
  margin: 0 50%;
  margin-top: 50px;
  cursor: pointer;
}

