#account {
  width: 100%;
  background-color: #f5f5f5;
}
.account_content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}
.account_right {
  flex: 1;
  margin-top: 12px;
}
.account_title {
  height: 60px;
  background: #fff;
  margin-bottom: 10px;
  padding-left: 26px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
.account_info {
  min-height: 801px;
  background: #fff;
  padding: 0 44px;
  padding-top: 25px;
}
.account_list {
  height: 40px;
  padding: 30px 25px;
  border-bottom: 1px solid #EEEEEE;
  line-height: 40px;
}
.account_list span {
  float: left;
}
.account_list .account_icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-left: 25px;
  margin-right: 20px;
  float: left;
}
.account_list .account_text {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-right: 34px;
  width: 100px;
}
.account_list .account_tips {
  color: #999999;
}
.account_list .account_btn {
  float: right;
  width: 80px;
  height: 30px;
  text-align: center;
  color: #8C1515;
  cursor: pointer;
}
.account_list .account_wx {
  border: solid 1px #8C1515;
  line-height: 30px;
}
