img {
  vertical-align: middle;
}
#wechat_app {
  font-size: 14px;
  margin: 0 auto;
  height: auto;
  background: #fff;
}
.wechat_content {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 0 28px;
  box-sizing: border-box;
}
.wechat_top {
  overflow: hidden;
}
.wechat_left {
  padding: 48px 0 33px 0;
  float: left;
}
.wechat_title {
  height: 15px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}
.wechat_title span:first-child {
  margin-right: 10px;
}
.wechat_tip {
  height: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #a8a8a9;
  margin-top: 20px;
}
.wechat_right {
  float: right;
  margin-top: 60px;
  width: 193px;
  height: 18px;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
}
.wechat_right span {
  width: 70px;
  height: 23px;
  font-size: 30px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #f44b4a;
  line-height: 36px;
}
.wechat {
  margin-top: 92px;
  padding-bottom: 20px;
  padding-left: 11px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}
.wechat_pay {
  float: left;
}
.wechat_pay span {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
}
.wechat_other {
  float: right;
  cursor: pointer;
  margin-right: 10px;
}
.wechat_other span {
  color: #088CE1;
}
.wechat_bottom {
  padding: 65px 247px 123px 294px;
  overflow: hidden;
}
.bottom_left {
  width: 250px;
  float: left;
}
.bottom_search {
  width: 250px;
  height: 58px;
  background: #f65850;
  margin-top: 10px;
}
.bottom_right {
  float: left;
  width: 320px;
  margin-left: 29px;
  margin-top: -22px;
}
