<template>
    <div class="bookTipCom">
        <div class="tipTitle">提示<i class="el-icon-close" @click="close()"></i></div>
        <div class="tipWrap">
            <el-radio v-model="bookType" label="1">电子书</el-radio>
            <el-radio v-model="bookType" label="11">纸质书</el-radio>
        </div>
        <div class="tipBot">
            <div class="tipSubmit" @click="submitType">确认</div>
            <div class="tipCancel" @click="close()">取消</div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            bookType: '1',
        }
    },
    methods: {
        close() {
            this.$emit('sendClose')
        },
        submitType() {
            this.$emit('sendType',this.bookType)
        }
    }
}
</script>

<style lang="less" scoped>
    .bookTipCom {
        width: 360px;
        height: 200px;
        background: #ffffff;
        .tipTitle {
            width: 100%;
            height: 36px;
            padding-left: 14px;
            padding-right: 16px;
            box-sizing: border-box;
            line-height: 36px;
            background: #F4F4F4;
            color: #333333;
            font-weight: bold;
            .el-icon-close {
                float: right;
                line-height: 36px;
                cursor: pointer;
            }
        }
        .tipWrap {
            width: 290px;
            margin: 46px auto 0;
            text-align: center;
        }
        .tipBot {
            overflow: hidden;
            width: 166px;
            margin: 41px auto 0;
            .tipSubmit,.tipCancel {
                float: left;
                width: 76px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 2px;
                cursor: pointer;
            }
            .tipSubmit {
                background: #8c1515;
                color: #FFFFFF;
            }
            .tipCancel {
                background: #eeeeee;
                color: #BBBBBB;
                margin-left: 14px;
            }
        }
    }
</style>
<style>
    /* .tipWrap .el-radio__label {
        font-size: 18px !important;
        color: #666666 !important;
    }
    .tipWrap .el-radio__input.is-checked .el-radio__inner {
        background: #dddddd !important;
        border-color: #A8A8A9 !important;
    } */
</style>