<template>
<div @click="searchDialog = false">
  <div class="com_header">
    <div class="com_header_box">
      <router-link :to="{name:'index'}">
        <img src="@/assets/images/subject/logo.png" class="com_header_logo">
      </router-link>
      <div class="com_header_nav">
        <router-link :to="{name:'index'}"><span>首页</span></router-link>
        <router-link :to="{name:'bookhome'}"><span>图书</span></router-link>
        <router-link :to="{name:'resource_book'}"><span :class="pageName == 'resource'?'border_style':''">资源</span></router-link>
        <span :class="pageName == 'coursepage'?'border_style':''" @click="courseDetails()">在线课程</span>
        <router-link :to="{name:'medicine'}"><span :class="pageName == 'medicine'?'border_style':''">资讯</span></router-link>
      </div>
      <div class="com_header_right">
        <span class="com_header_info" @click="messagePage()">消息</span>
        <span class="com_header_info" v-if="userType!='2'" @click="shopping()"><img src="@/assets/images/subject/shop.png" class="com_header_shop">购物车</span>
        <span class="com_header_info" v-if="userName">
          <img @click="personalIndex()" :src="`${uploadUrl}file/?fileName=${userImg}&isOnLine=true`" class="com_header_userImg" v-if="userImg && userImg!= 'null'">
          <img @click="personalIndex()" src="@/assets/images/subject/header.png" v-else class="com_header_userImg">
          <span @click="personalIndex()">{{userName&&userName.length>4?userName.substr(0,4)+'...':userName}}</span>
          <span></span>&nbsp;|&nbsp;<span @click="loginOut()">退出</span>
        </span>
        <span v-else class="com_header_info">
          <router-link :to="{name:'login'}">登录</router-link>
          &nbsp;/&nbsp;
          <router-link :to="{name:'register'}">注册</router-link>
        </span>
      </div>
      <div class="com_header_search">
        <span @click.stop="searchDialog = !searchDialog">{{searchType}}</span>
        <img src="@/assets/images/book_home/bottom.png" @click.stop="searchDialog = !searchDialog">
        <input type="text" v-model="searchWord" placeholder="请输入关键字" maxlength="30">
        <img src="@/assets/images/subject/search.png" class="search_icon" @click="searchBtn()">
      </div>
      <!-- 下拉搜索列表 -->
      <div class="search_select_box" v-if="searchDialog">
        <div 
          v-for="item in searchList" :key="item.type"
          :class="searchType == item.name?'search_book_list search_hover_color':'search_book_list'" 
          @click="changeSearchType(item.name,item.type)">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
  <!--面包屑-->
  <div class="navs" v-if="$route.name != 'comments'&&$route.name != 'commentReply'" style="background:#fff;">
    <navbar style="width:1200px;margin:0 auto;z-index:10"></navbar>
  </div>
  <router-view style="min-height:400px;" ref="refPage" @getloginData="getdata" @getSearchWord='changeSearch'></router-view>
  <Footer></Footer>
</div>
</template>

<script>
import {loginOutAPI} from '../api/comment/comments';
import {hasCourseAPI} from '../api/common';
import navbar from '@/components/navbar.vue';
import Footer from '@/components/Footer.vue';
import Cookies from 'js-cookie';
import { uploadUrl } from '@/utils/global';

export default {
  name: 'comHeader',
  components: {
    navbar,
    Footer,
  },
  data() {
    return{
      userType: localStorage.getItem("userType"),
      userName: localStorage.getItem("userName"),
      userImg: localStorage.getItem("userImg"),
      uploadUrl: uploadUrl,
      searchList:[
        {name:'全库搜索',type:'resource_book'},
        {name:'图书专题',type:'subject'},
        {name:'在线课程',type:'coursehome'},
      ],
      searchType: '全库搜索',
      searchDialog: false,
      searchWord: null,
      searchPage: '',
      routerList:['resource_book','resource_article','resource_image','resource_video','resource_audio','resource_file','resource_doctor'],
      routerNames:['/resource/commonleft/resource_book','/resource/commonleft/resource_article','/resource/commonleft/resource_image','/resource/commonleft/resource_video','/resource/commonleft/resource_audio','/resource/commonleft/resource_file','/resource/commonleft/resource_doctor'],
      pageName: null,
    }
  },
  mounted () {
    this.changeSearchType('全库搜索','resource_book')
      if(this.$route.name == 'coursepage'){ //搜索下拉框
        this.pageName = 'coursepage'
      }
      if(this.routerList.includes(this.$route.name)){
        this.pageName = 'resource_book'
      }
      if(this.$route.name == 'medicine'){//标题头部的字体切换加粗加下划线
        this.pageName =  'medicine' //pageName --- 当前页面名字
      }
  },
  // mounted(){
  //   this.searchWord = this.$store.state.searchContent;
  //   let resourceName = this.routerList.includes(this.$route.name);
  //   if(this.$route.name == 'subject'){
  //     this.changeSearchType('图书专题','subject')
  //   }
  //   if(this.$route.name == 'coursepage'){ //搜索下拉框
  //     this.pageName = 'coursepage'
  //   }
  //   if(this.$route.name == 'coursehome'){ //搜索下拉框
  //     this.changeSearchType('在线课程','coursehome')
  //   }
  //   if(resourceName){
  //     this.changeSearchType('全库搜索','resource_book')
  //     this.pageName = 'resource_book'
  //   }
  //   if(this.$route.name == 'medicine'){//标题头部的字体切换加粗加下划线
  //    this.pageName =  'medicine' //pageName --- 当前页面名字
  //   }
  // },
  watch:{//搜索下拉框 //标题头部的字体切换加粗加下划线
    '$route.path':function(newVal,oldVal){//标题头部的字体切换加粗加下划线
      // if(!this.searchWord){
      //   this.changeSearchType('全库搜索','resource_book')
      // }
      if(newVal == '/commonheader/coursepage'){//课程
        this.pageName = 'coursepage'
      }
      else if(newVal == '/commonheader/coursehome'){//专题
        // this.changeSearchType('在线课程','coursehome')
        this.pageName = ''
      }
      else if(newVal == '/medical/medicine'){//资讯
        this.pageName = 'medicine'
      }
      else if(this.routerNames.includes(newVal)){//资源
        this.pageName = 'resource'
        // this.changeSearchType('全库搜索','resource_book')
      }
      else{
        this.pageName = ''
      }
    }
  },
  methods: {
    courseDetails() {//课程详情
      hasCourseAPI().then(res =>{
        if(res.data.code == 0){
          if(res.data.data){
            this.$router.push({name:'coursepage'}) //课程推荐位
          } else{
            window.open('https://zfdxcbsts.tmall.com/index.htm?spm=a220o.1000855.w5002-15518525577.2.385d726fERBDhw');
          }
        }
      })
    },
    changeSearch(data) {
      this.searchWord = data
    },
    changeSearchType(name,type) {//切换搜索按钮
      this.searchType = name
      this.searchPage = type
      this.searchDialog = false
    },
    searchBtn() {//搜索按钮
      this.$store.commit('changeSearchWord',{searchContent:this.searchWord}) //更改vuex登录状态
      let resourceName = this.routerList.includes(this.searchPage); 
      if(this.routerList.includes(this.$route.name)){ //resource页面
        if(resourceName){ //不跳转
          this.$refs.refPage.searchCon(this.searchWord)
        } else{ //跳转
          if(this.searchPage){
            this.$router.push({name: this.searchPage})
          } else{
            this.$router.push({name: 'resource'})
          }
        }
      } else{//不在资源页面
        if(this.$route.name == this.searchPage){ // 在当前页
          this.$refs.refPage.searchCon(this.searchWord)
        } else{//跳转对应页面
          if(this.searchPage){
            this.$router.push({name: this.searchPage})
          } else{
            this.$router.push({name: 'resource'})
          }
        }
      }
    },
    shopping() {//购物车
      if(localStorage.getItem("Y-Token")){//判断是否登录
        this.$router.push('/shoppingCart')
      } else{
        this.$router.push('/login')
      }
    },
    messagePage() {//消息
      if(localStorage.getItem("Y-Token")){//判断是否登录
        this.$router.push({name:'message'})
      } else{
        this.$router.push('/login')
      }
    },
    personalIndex() {//跳转个人中心
      if(this.userType == 2) {// 机构
        this.$router.push({name:'organizationIndex'})
      } else{// 个人
        this.$router.push({name:'personalIndex'})
      }
    },
    loginOut() {//退出登录
      loginOutAPI().then(res => {
        if (res.data.code == 0) {
          this.$message.success("退出登录成功！")
          localStorage.clear();
          this.$store.dispatch('setMessageNum')
          this.$router.push({name: 'login'})
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    getdata(name) {
      this.userName = localStorage.getItem("userName")
      this.userType = localStorage.getItem("userType")
      this.userImg = localStorage.getItem("userImg")
    },
  }
}
</script>

<style lang="less" scoped>
.com_header{
  height: 300px;
  background-image: url(../assets/images/subject/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.com_header_box{
  width: 1200px;
  margin: 0 auto;
  padding-top: 27px;
  position: relative;
  .com_header_logo{
    float: left;
    width: 222px;
    height: auto;
    margin-right: 65px;
    margin-bottom: 76px;
    margin-top: -15px;
  }
  .com_header_nav{
    float: left;
    line-height: 46px;
    span{
      margin-right: 42px;
      color: #fff;
      font-size:16px;
      cursor: pointer;
      display: inline-block;
      height: 40px;
    }
    .border_style{
      border-bottom: 4px solid #CB1E27;
      font-weight: bold;
    }
  }
  .com_header_right{
    float: right;
    color: #fff;
    line-height: 46px;
    font-size:14px;
    .com_header_info{
      margin-left: 26px;
      cursor: pointer;
      float: left;
      a{
        color: #fff;
      }
    }
    .com_header_shop{
      display: inline-block;
      width: 16px;
      margin-right: 10px;
    }

    .com_header_userImg{
      height: 25px;
      width: 25px;
      border-radius: 50%;
      float: left;
      margin-right: 7px;
      margin-top: 12px;
    }
  }
  .com_header_search{
    clear: both;
    margin: 0 auto;
    width: 596px;
    height: 52px;
    background: #fff;
    border-radius:4px;
    span{
      margin-left: 24px;
      margin-right: 14px;
      cursor: pointer;
    }
    input{
      width: 60%;
      height: 40px;
      line-height: 50px;
      border: none;
      outline: none;
      margin: 6px 15px;
      background: #fff;
    }
    img{
      cursor: pointer;
    }
    .search_icon{
      float: right;
      height: 18px;
      margin-right: 26px;
      margin-top: 17px;
    }
  }
  .search_select_box{
    position: absolute;
    left: 310px;
    top: 210px;
    width: 98px;
    height: 118px;
    background-image: url(../assets/images/book_home/select_bg.png);
    background-repeat: no-repeat;
    z-index: 99;
    .search_book_list{
      font-size:14px;
      line-height: 28px;
      margin-left: 16px;
      color: #999999;
      cursor: pointer;
      &:first-child{
        margin-top: 20px;
      }
    }
    .search_hover_color{
      color: #8C1515;
    }
  }
}
</style>