<template>
  <div class="editor_wrap">
      <editor v-model='tinymceHtml' :init='init'></editor>
  </div>
</template>

<script>
import tinymce from 'tinymce/tinymce'
import Editor from '@tinymce/tinymce-vue'
import 'tinymce/themes/modern/theme'
  export default {
    name:"myeditor",
    data() {
        return {
            tinymceHtml: '',
            init: {
                language_url: '/static/tinymce/zh_CN.js',
                language: 'zh_CN',
                skin_url: '/static/tinymce/skins/lightgray',
                plugins: 'link lists image code table colorpicker textcolor wordcount contextmenu',
                toolbar:'bold italic underline strikethrough | fontsizeselect | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent blockquote | undo redo | link unlink image code | removeformat',
                branding: false,
                plugins : "advlink"
            },
        }
    },
    mounted () {
       tinymce.init({});
    },
    methods: {
      passVal(){
        this.$emit("passVal",this.tinymceHtml)
      },
      pass() {
        this.$emit("pass",this.tinymceHtml);
      },
    passvalx() {
        this.$emit("passvalx",this.tinymceHtml);
      },

    },
    components:{
        Editor
    }
  }
</script>

<style lang="less" scoped>

</style>
