<template>
  <div class="page">
    <div class="footerCon">
      <div class="footer_link">
        <span class="footer_title">友情链接</span>
        <span class="footer_title_english">Friendship</span>
        <span v-for="(item,index) in linksList" :key="item.id" @click="linkChange(item.url)">
          <span class="footer_text">{{item.title}}</span>
          <span class="footer_line" v-if="index != linksList.length-1">|</span>
        </span>
      </div>
      <div class="footer_content">
        <span v-for="(item,index) in footerList" :key="item.id" class="footer_content_text">
          <router-link :to="{path:'/aboutUs',query:{id:item.id}}">
            <span>{{item.title}}</span>
          </router-link>
          <span v-if="index != footerList.length-1" class="footer_line">|</span>
        </span>
      </div>
      <div class="footer_dictionary" v-html="dictionaryText"></div>
      <div class="footer_bottom"><span>地&nbsp;&nbsp;&nbsp;址：</span>北京市海淀区西土城路25号院5号<span>电&nbsp;&nbsp;&nbsp;话：</span>010-58908285</div>
      <div class="footer_try">试用申请：010-5890-8434 (林老师)</div>
    </div>
    <div class="tips">温馨提示，为了获得最佳用户体验，建议您使用Chrome，Firefox，IE10+，360浏览器极速模式</div>
  </div>
</template>

<script>
import {  footerAPI , dictionaryAPI, linksAPI } from '@/api/common'

export default {
    data () {
      return {
        footerList: [],
        dictionaryText: null,
        footerQuery: {
          pageNum: 1,
          pageSize: 6
        },
        linksList:[]
      }
    },
    mounted () {
      this.getFooter()
      this.getLink()
      this.getdictionary()
    },
    methods: {
      getFooter () {//页脚
        footerAPI(this.footerQuery).then(res => {
          this.footerList = res.data.data.list
        })
      },
      getLink() {//友情链接
        linksAPI({num:4}).then(res => {
          if(res.data.code == 0){
            this.linksList = res.data.data
          }
        })
      },
      // 底部版权
      getdictionary() {//底部版权
        dictionaryAPI().then(res => {
          this.dictionaryText = res.data.data.value
        })
      },
      linkChange(url) {//链接跳转
        window.open(url)
      },
    }
}
</script>

<style lang="less" scoped>
.page{
  width: 100%;
  // height: 276px;
  background-image: url(../../src/assets/images/home/footer_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footerCon{
  width: 1200px;
  margin: 0 auto;
  height: 276px;
  overflow: hidden;
  color: #fff;
}
.footer_link{
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #fff;
  margin-top: 20px;
  .footer_title{
    font-size: 24px;
  }
  .footer_title_english{
    margin-right: 50px;
  }
  .footer_text{
    font-size:14px;
    cursor: pointer;
  }
  .footer_line{
    margin: 0 25px;
  }
}
.footer_content{
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  a{
    color: #fff;
  }
  .footer_content_text{
    margin-top: 34px;
    display: inline-block;
  }
  .footer_line{
    margin: 0 20px;
  }
}
.footer_dictionary{
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
}
.footer_bottom{
  text-align: center;
  font-size: 14px;
}
.footer_try{
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.tips{
  height: 39px;
  background: #223356;
  text-align: center;
  color: #fff;
  line-height: 39px;
  font-size: 14px;
}
a{
  text-decoration: none;
}
</style>

