<template>
  <div>
    <div class="header">
      <div class="login">
        <router-link to="/index">
          <img src="@/assets/images/login/logo.png" class="login_image">
        </router-link>
        <router-link to="/index">
          <span>返回首页&lt;&lt;</span>
        </router-link>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<style lang="less" scoped>
  .header{
    width: 100%;
    overflow: hidden;
    height: 100px;
    line-height: 100px;
    background: #fff;
  }
  .login{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    position: relative;
    .login_image{
      position: absolute;
      left: 0;
      top: 50%;
      transform:translateY(-50%); /*针对元素本身向左以及向上移动50%*/
    }
    span{
      float: right;
      margin-right: 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #394E79;
      width: 120px;
      height: 30px;
      line-height: 32px; 
      text-align: center;
      margin-top: 35px;
      font-size:14px;
    }
    .login_right{
      width: 14px;
      position: absolute;
      right: 0;
      top: 50%;
      transform:translateY(-50%); /*针对元素本身向左以及向上移动50%*/
    }
  }
</style>
