<template>
  <div class="loginAlert" v-if="isShowAlertCom" @click="closeDialog()">
    <div class="login_box" @click.stop="bb()">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="快速登录" name="phone_login">
          <div class="login_account">
            <el-input type="text" placeholder="手机号" v-model="phone" @input="changeTipPhone" clearable></el-input>
          </div>
          <div class="phone_code">
            <el-input v-model="smsCode" placeholder="手机验证码"  @keyup.enter.native="phoneLoginBtn" @input="changeTipPhone"></el-input>
            <span class="register_text" @click="getCode" v-if="times == 60">获取验证码</span>
            <span class="register_tips" v-else>{{times}}s</span>
          </div>
          <div class="login_tip">
            <span class="login_error_tips">{{phoneTipText}}</span>
          </div>
          <div class="login_btn" @click="phoneLoginBtn">登录</div>
          <div class="login_bottom">
            <a href="https://graph.qq.com/oauth2.0/authorize?client_id=appid&redirect_uri=url&state=state&response_type=code&state=1"><img src="@/assets/images/login/qq.png"></a>
            <a href="https://open.weixin.qq.com/connect/qrconnect?appid=APPID&redirect_uri=http://218.245.4.93:8090/fg/mall/index.html&response_type=code&scope=snsapi_login&state=2"><img src="@/assets/images/login/wx.png"></a>
            <router-link :to="{path:'/register'}">
              <span class="login_register" @click="registerPage">去注册</span>
            </router-link>
          </div>
        </el-tab-pane>

        <el-tab-pane label="账号登录" name="account_login">
          <div class="login_account">
            <el-input type="text" placeholder="账号" v-model="account" @input="changeTip" clearable @keyup.enter.native="loginBtn" @blur="havError"></el-input>
          </div>
          <div class="login_password">
            <el-input type="password" placeholder="密码" v-model="password" @input="changeTip" clearable @keyup.enter.native="loginBtn"></el-input>
          </div>
          <div class="login_code" v-if="errorTimes == 1">
            <input type="text" placeholder="验证码" v-model="code" @input="changeTip"/>
            <img :src="codeImage" class="login_codeImg" @click="changeCode">
          </div>
          <div class="login_tip">
            <span class="login_error_tips">{{tipText}}</span>
          </div>
          <div class="login_btn" @click="loginBtn">登录</div>
          <div class="login_bottom">
            <a href="https://graph.qq.com/oauth2.0/authorize?client_id=appid&redirect_uri=url&state=state&response_type=code&state=1"><img src="@/assets/images/login/qq.png"></a>
            <a href="https://open.weixin.qq.com/connect/qrconnect?appid=APPID&redirect_uri=http://218.245.4.93:8090/fg/mall/index.html&response_type=code&scope=snsapi_login&state=2"><img src="@/assets/images/login/wx.png"></a>
            <router-link :to="{path:'/register'}">
              <span class="login_register" @click="registerPage">去注册</span>
            </router-link>
          </div>
        </el-tab-pane>

      </el-tabs>
    </div>
  </div>
    
</template>

<script>
  import { loginAPI, codeAPI, phoneSmsAPI, phoneLoginAPI, errorAPI } from '@/api/login/index';
  import md5 from 'js-md5';
  var data = '';
  var timerInterval = null;

  export default {
    props: {
      isShowChild: Boolean
    },
    data() {
      return {
        status:null,
        activeName:'first',
        content:null,
        resourceForm:{
          title:11
        },
        account:'',
        password:'',
        code:'',
        errorTpye: 0,
        tipText: null,
        errorTimes: null,
        codeImage:null,
        isShowAlertCom:false,
        status:null,
        activeName:'phone_login',
        phone: null,
        smsCode: null,
        phoneTipText: null,
        times: 60,
      }
    },
    created(){
      if (localStorage.getItem("errorLogin") == 1) {
        this.errorTimes = 1;
        this.changeCode()
      } else{
        this.errorTimes = 0
      }
    },
    watch:{
      isShowChild(val,oldVal){
        if(val){
          this.code = null;
          this.account = null;
          this.password = null;
          this.isShowAlertCom=true;
        }
      }
    },
    destroyed () {
      window.clearInterval(timerInterval)
    },
    methods: {
      closeDialog() {
        this.isShowAlertCom=false;
        this.$emit('toFatherData', this.isShowAlertCom)
      },
      handleClick(tab, event) {
        this.tipText = ''
        this.phoneTipText = '' //清空提示
      },
      phoneLoginBtn() {//快速登录
        this.phoneTipText = null
        let regs =  /^((13[0-9])|(17[0-1,6-8])|(15[^4,\\D])|(18[0-9]))\d{8}$/;
        //判断账号
        if (this.phone == null || this.phone.replace(/(^\s*)|(\s*$)/g, "") == "") {
          this.phoneTipText = '请输入手机号'
          return
        }
        if(!regs.test(this.phone)){
          this.phoneTipText = '请输入正确的手机号'
          return
        }
        if (this.smsCode == null || this.smsCode.replace(/(^\s*)|(\s*$)/g, "") == "") {
          this.phoneTipText = '请输入验证码'
          return
        }
        data = {
          account: this.phone,
          code: this.smsCode
        }
        phoneLoginAPI(data).then(res => {
          if(res.data.code == 0) {
            this.isShowAlertCom=false;
            this.$message.success('登录成功')
            localStorage.setItem('Y-Token', res.data.data.token)//token
            localStorage.setItem("userName", res.data.data.nickName?res.data.data.nickName:res.data.data.account);//名字
            localStorage.setItem("userType", res.data.data.level); //用户类型 0--普通用户 2--机构用户（1--专家用户）
            localStorage.setItem('userImg',res.data.data.img); //头像
            localStorage.setItem('userPhone',res.data.data.phone); //用户手机号
            this.$store.dispatch('setMessageNum')
            this.$emit('toFatherData', this.isShowAlertCom)
          } else if(res.data.code > 0) {
            this.phoneTipText = res.data.msg
          } else{
            this.phoneTipText = '登录失败，请稍后再试'
          }
        })
      },
      havError() {//登录错误次数
        errorAPI({account:this.account}).then(res => {
          if(res.data.data>5){
            this.errorTimes = 1
            this.changeCode()
          }
        })
      },
      changeCode() {//更改图形验证码
        codeAPI().then(res => {
          this.codeImage = res.data.img
          localStorage.setItem("uuid", res.data.uuid,{expires:5/1440});
          localStorage.setItem("codeImg", res.data.img,{expires:5/1440});
        })
      },
      loginBtn() {//登录
        this.errorTpye = 0
        this.tipText = null
        //判断用户名
        if (this.account == null || this.account.replace(/(^\s*)|(\s*$)/g, "") == "") {
          this.errorTpye = 1
          this.tipText = '请输入账号'
          return
        } else if(this.account.length<4 || this.account.length>20) {

          this.tipText = '请输入4-20字符以内的账号!'
          this.errorTpye = 1
          return
        }

        //判断密码
        if (this.password == null || this.password.replace(/(^\s*)|(\s*$)/g, "") == "") {
          this.errorTpye = 1
          this.tipText = '请输入密码'
          return
        }
        if(localStorage.getItem("errorLogin")){
          //判断code
          if (this.code == null || this.code.replace(/(^\s*)|(\s*$)/g, "") == "") {
            this.errorTpye = 1
            this.tipText = '请输入验证码'
            return
          }
          data = {
            account: this.account,
            password: md5(this.password).toUpperCase(),
            uuid: localStorage.getItem("uuid"),
            code: this.code
          }
        } else{
          data = {
            account: this.account,
            password: md5(this.password).toUpperCase()
          }
        }
        loginAPI(data).then(res => {
          if(res.data.code >0 && res.data.code != 4) {
            this.errorTpye = 1
            this.tipText = res.data.msg
          } else if (res.data.code <0) {
            this.errorTpye = 1
            this.tipText = '登录失败，请稍后再试'
          } else if(res.data.code == 0){
            this.isShowAlertCom=false;
            this.$message.success('登录成功')
            localStorage.clear(); //Cookies.remove('uuid') Cookies.remove('codeImg') Cookies.remove('errorLogin')
            localStorage.setItem('Y-Token', res.data.data.token)//token
            localStorage.setItem("userName", res.data.data.nickName?res.data.data.nickName:res.data.data.account);//名字
            localStorage.setItem("userType", res.data.data.level); //用户类型 0--普通用户 2--机构用户（1--专家用户）
            localStorage.setItem('userImg',res.data.data.img); //头像
            localStorage.setItem('userPhone',res.data.data.phone); //用户手机号
            this.$store.dispatch('setMessageNum')
            this.$emit('toFatherData', this.isShowAlertCom)
          } else if(res.data.code == 4){//密码错误-五次以上需要输入验证码
            this.errorTpye = 1
            this.tipText = '账号密码不匹配！'
            if (res.data.msg >= 5) {//次数
              this.errorTimes = 1
              this.changeCode()
            }
          } else if(res.data.code == 3) {//验证码错误
            this.changeCode()
          }
        })
      },
      getCode() {//获取手机短信验证码
        let regs =  /^((13[0-9])|(17[0-1,6-8])|(15[^4,\\D])|(18[0-9]))\d{8}$/;
        if (this.phone == null || this.phone.replace(/(^\s*)|(\s*$)/g, "") == "") {
          this.phoneTipText = '请输入手机号'
          return
        }
        if(!regs.test(this.phone)){
          this.$message.error('请输入正确的手机号')
        } else {//获取验证码
          phoneSmsAPI({phone:this.phone}).then(res => {
            if(res.data.code >0) {
              this.phoneTipText = res.data.msg
            } else if (res.data.code <0) {
              this.phoneTipText = '发送失败，请稍后再试'
            } else if(res.data.code == 0){
              this.$message.success('发送成功，请注意查收')
              this.timesDown()
            }
          })
        }
      },
      timesDown() {//倒计时
        const that = this
        timerInterval = setInterval(that.intervalFun, 1000);
      },
      intervalFun() {
        const that = this
        if(that.times == 0){
          that.times = 60
          window.clearInterval(timerInterval)
        } else{
          that.times = that.times-1
        }
      },
      cancelBtn(){
        this.isShowAlertCom=false;
        this.$emit('toFatherData', this.isShowAlertCom)
      },
      registerPage() {//跳转注册页面
        this.$router.push('/register');
      },
      changeTip( ){//更改错误提示
        this.tipText = null
      },
      changeTipPhone( ) {//更改手机号登录的错误提示
        this.phoneTipText = null
      },
      bb(){//阻止关闭弹窗
        
        
      },
    }
  }
</script>

<style lang="less" scoped>
  .loginAlert{
    position: fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    top:0;
    left:0;
    z-index:11;
    display: flex;
    justify-content: center;
    align-items: center;
    .login_box{
      width:390px;
      height:auto;
      background: #fff;
      border-radius:4px;  
      padding: 30px 40px;
      padding-top:10px;
      box-sizing: border-box;
    }
    .login_account,.login_password,.login_code{
      height: 60px;
      position: relative;
      border-bottom:solid 1px #EDEDED;
      line-height: 60px;
      margin-top: 13px;
      input{
        border:none;
        outline: none;
        height: 40px;
        width: 100%;
        padding-left: 8px;
        font-size: 16px;
        color: #333;
      }
      &:focus-within{
        border-bottom-color: #987444 !important
      }
      input::-webkit-input-placeholder {
        color: #ccc;
        font-size: 12px;
      }
      input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset;}
    }
    .login_password,.login_code{
      margin-top: 0;
    }
    .login_code input{
      width: 60%;
    }
    .login_tip{
      height: 56px;
      line-height: 56px;
      .login_error_tips{
        color:#F40303;
      }
      .login_forget_password{
        color: #AAB9D2;
        float: right;
        cursor: pointer;
      }
    }
    .login_btn{
      width: 310px;
      height: 44px;
      background:#987444;
      color: #fff;
      line-height: 44px;
      text-align: center;
      box-shadow:0px 2px 20px 0px rgba(7,10,75,0.1);
      border-radius:4px;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .login_bottom{
      img{
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
      .login_register{
        color: #7E0204;
        float: right;
        cursor: pointer;
        font-size:12px;
      }
    }
    .login_codeImg{
      height: 40px;
      width: 80px;
      float: right;
      margin-top: 10px;
    }
    .login_content{
      .el-form-item{
        margin-bottom: 0 !important;
      }
      
    }
    .phone_code{
      width: 100%;
      border-bottom:solid 1px #EDEDED;
      height: 60px;
      line-height: 60px;
      &:focus-within{
        border-bottom-color: #987444 !important
      }
      input::-webkit-input-placeholder {
        color: #ccc;
        font-size: 12px;
      }
      input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset;}
      .el-input{
        width:200px;
        float: left;
      }
      .el-input__inner{
        padding: 0;
        padding-left: 8px;
      }
      span{
        color: #987444;
        font-size:14px;
        padding: 5px 5px 5px 20px;
        border-left: 1px solid #EDEDED;
        cursor: pointer;
      }
    }
  }
</style>
<style lang="less">
.loginAlert{
  .el-input,.el-input__inner{
    border: none !important;
  }
  .el-tabs__nav-scroll{
    margin-left: 0 !important;
  }
  .el-tabs__item{
    font-size:18px !important;
  }
  .el-tabs__active-bar{
    height: 3px !important;
  }
  .el-tabs__item.is-active{
    color: #333333;
  }
  .el-tabs__item:hover{
    color: #333333;
  }
  .el-tabs__active-bar{
    background-color: #7E0204;
  }
}
  
</style>
