<template>
  <div class="page">
    <div class="footer">
      <div class="aboutUs">
          <span v-for="(item,index) in footerList" :key="item.id"><router-link :to="{path:'/aboutUs',query:{id:item.id}}">{{item.title}}</router-link><i v-if="index != footerList.length-1">|</i></span>
      </div>
      <div class="footerText" style="cursor: auto" v-html="dictionaryText"></div>
      <div class="indexText"><span> 地&nbsp;&nbsp;&nbsp;址  ：</span>北京市海淀区西土城路25号院5号<span>电&nbsp;&nbsp;&nbsp;话：</span>010-58908285</div>
      <div class="tryText">试用申请：010-5890-8434 (林老师)</div>
    </div>
  </div>
</template>
<script>
  import {footerAPI,dictionaryAPI } from '@/api/common'
export default {
  data() {
    return {
      footerList:[],
      footerQuery: {
        pageNum:1,
        pageSize:4
      },
      dictionaryText: null,
    }
  },
  created(){
    this.getFooter();
    this.getdictionary();
  },
  methods: {
    getFooter () {//页脚
      footerAPI(this.footerQuery).then(res => {
        this.footerList = res.data.data.list
      })
    },
    getdictionary() {//底部版权
      dictionaryAPI().then(res => {
        this.dictionaryText = res.data.data.value
      })
    },

  }

}
</script>
<style lang="less" scoped>

.page{
  width: 100%;
}
.footer{
  height: 200px;
  overflow: hidden;
  font-size:14px;
}
.footerText,.aboutUs{
  text-align: center;
  margin: 20px 0;
  color:#333333;
  span{
    color:#666;
    a{
      margin:0 15px;
      color: #666;
    }
  }
  span:first-child{
    margin-left: 0;
  }
  span:last-child{
    margin-right: 0;
  }
}
.aboutUs{
  margin-top: 50px;
}
.indexText{
  text-align: center;
  margin: 20px 0;
  color:#333333;
  span{
    margin-left: 30px;
  }
}
.tryText {
  text-align: center;
  color: #333333;
}
</style>

