<template>
  <el-breadcrumb class="app-breadcrumb" separator-class="el-icon-arrow-right">
    <img src="@/assets/images/medical/location.png" class="location_img">
    <span class='text active'>您的当前位置：</span>
    <el-breadcrumb-item v-for="(item,index) in levelList" :key="item.path" class="nav_list_box">
      <span @click="changePage(item,index)" class="active" style="cursor: pointer;" v-if="item.meta.title">{{item.meta.title}}</span>
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
import { constantRouterMap } from '@/router'
var routerArr = []
export default {
  name: 'navbar',
  props: {
      message: {},
  },
  data() {
    return{
      levelList: null,
      id: null,
      fatherName: null,
    }
  },
  created() {
    this.getBreadcrumb();
    this.id = this.$route.query.id
  },
  watch: {
    $route(to, from) {
      this.getBreadcrumb();
    }
  },
  methods: {
    getBreadcrumb() { 
      routerArr = [] //清空数组
      this.$route.matched.map(el =>{//循环路由匹配到的组件类
        if(el.meta.fatherName){//判断是否有带有伪父元素的路由
          this.filterName(constantRouterMap,el.meta.fatherName) //加入到路由
        }
        if(el.meta.title) {//路由title
          routerArr.push(el)
        }
      })
      let index = [{ name: 'index', meta: { title: '首页' }}]
      routerArr = index.concat(routerArr) //合并带有首页的路由
      this.levelList = routerArr; //负值
    },
    filterName(arr,names) {//筛选路由
      let that = this
      arr.forEach(router => { //循环路由
        if(router.name == names){//判断father是否等于循环中的name
          if(router.meta.fatherName){//判断当前fatherName对应的路由是否还有fatherName
            that.filterName(constantRouterMap,router.meta.fatherName)
          }
          routerArr.push(router)
          return
        }
        else{
          if(router.children && router.children.length>0){
            that.filterName(router.children,names)
          }
        }
      })
    },
    changePage(item,index) {
      if(index < this.levelList.length-1) {
        if(this.message != null){
          if(this.message.type) {
            this.$router.push({name:item.name,query: { id: this.message.id,type: this.message.type, name: this.message.name }})
          }  else{
            this.$router.push({name:item.name,query: { id: this.message.id}})
          }
        } else{
          this.$router.push({name:item.name})
        }
      }
    },
  }
}
</script>

<style lang="less" scoped>

  .app-breadcrumb{
    height: 60px;
    line-height: 60px;
    color: #999999;
  }
  .location_img{
    float: left;
    margin-top: 23px !important;
    margin-right: 8px;
  }
  .text{
    float: left;
  }
  span {
    &.active {
      color: #999999;
    }
  }
  .nav_list_box{
    &:last-child{
       span {
        &.active {
          color: #8C1515 !important;
        }
      }
    }
  }

</style>

