<template>
    <div class="search_left">
        <div class="search_input">
            <el-input placeholder="输入内容搜索" v-model="content"></el-input>
        </div>
        <div class="search_btn">
            <a class="btn" @click="searchBtn">搜索</a>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            content: ''
        }
    },
    methods: {
        searchBtn() {
            this.$emit('search',this.content)
        }
    },
}
</script>

<style lang="less" scoped>
     .search_left {
        width: 292px;
        height: 32px;
        float: left;
        .search_input {
            width: 230px;
            height: 30px;
            border: 1px solid rgba(238,238,238,1);
            border-radius:3px 0px 0px 3px;
            float: left;
            border-right: none;
            
        }
        .search_btn {
            float: left;
            width: 60px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            background:#C1B3A2;
            border-radius:0px 3px 3px 0px;
            .btn {
                font-family:MicrosoftYaHei;
                font-weight:400;
                color:rgba(255,255,255,1);
                cursor: pointer;
            }
        }
    }
</style>
<style lang="less">
    .search_left {
        .el-input__inner {
            border: none !important;
            width: 228px;
            height: 28px;
            padding-left: 10px;
        }
    }
</style>

