<template>
  <div class="left">
    <div class="bottom">
      <div class="main" @click="homePage()">我的首页</div>
      <div v-for="item in dataList" :key="item.title">
        <div class="main-set">{{item.title}}</div>
        <div class="list" :class="info.router == $route.name?'routeName':''" v-for="info in item.list" :key="info.router" @click="listRoute(info.router)">{{info.name}}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { informationAPI } from '@/api/personal/personal_information'
import { log } from 'util';

  export default {
      data () {
        return {
          id: null,
          resourceForm: {
            img: null,
            account: '',
            // phone: '',
            id:''
          },
          routerName:'',
          userType: localStorage.getItem("userType"),
          accountList: [
            {
              title: '内容管理',
              list: [
                {name: '我的订单', router: 'order'},
                {name: '我的书架', router: 'bookshelf'},
                {name: '我的收藏', router: 'favorite'},
                {name: '我的笔记', router: 'note'},
                {name: '我的评论', router: 'comment'},
                {name: '浏览记录', router: 'browsing'}
              ],
            },
            {
              title: '账户设置',
              list: [
                {name: '个人信息', router: 'editPerson'},
                {name: '我的发票', router: 'invoice'},
                {name: '账户安全', router: 'set'}
              ],
            }
          ],
          organizationList: [
            {
              title: '内容管理',
              list: [
                {name: '我的书架', router: 'bookshelf'},
                {name: '我的收藏', router: 'favorite'},
                {name: '浏览记录', router: 'browsing'}
              ],
            },
            {
              title: '账户设置',
              list: [
                {name: '账户安全', router: 'set'}
              ],
            }
          ],
          dataList: []
        }
      },
      mounted () {
        this.routerName=this.$route.name;
        this.getInformation();
        if(this.userType == 0) { //普通用户
          this.dataList = this.accountList
        } else { //机构用户
          this.dataList = this.organizationList
        }
      },
    watch:{
        $route(){
          this.routerName=this.$route.name;
        },
    },
      methods: {
        homePage() {
          if(this.userType == 0) { //普通用户
            this.$router.push({name: 'personalIndex'})
          } else { //机构用户
            this.$router.push({name: 'organizationIndex'})
          }
        },
        listRoute(router) {
          this.$router.push({name: router})
        },
        linkToeditPerson(){//个人信息
          this.$router.push({name:'editPerson'})
        },
        getInformation() {// 查询个人信息
          informationAPI().then(res => {
            this.resourceForm = res.data.data;
            // let myphone = res.data.data.phone.substr(3,4);
            // this.resourceForm.phone = res.data.data.phone.replace(myphone, "****")
          })
        }
      }
  }
</script>

<style lang="less" scoped>
.left{
  width: 210px;
  margin-right: 10px;
  margin-top: 12px;
  background: #fff;
  .router-link-active{
    .list{
      color: #7E0204
    }
  }
  .bottom-icon{
    width: 100%;
    text-align: center;
    span{
      float: left;
      width: 50%;
      color: #666;
      cursor: pointer;
      box-sizing: border-box;
      height: 40px;
      vertical-align: middle;
      margin-top: 18px;
      &:first-child{
        border-right: 1px solid #F5F5F5;
        .bottom-img {
          width: 19px;
          height: 19px;
          background-image: url(../assets/images/personal/edit.png);
          margin: 0 auto 10px;
        }
        .bottom_img {
          width: 19px;
          height: 19px;
          background-image: url(../assets/images/personal/set.png);
          margin: 0 auto 10px;
        }
        p {
          margin-top: 12px;
        }
      }
    }
    img{
      height: 20px;
      width: 20px;
      margin-bottom: 8px;
    }
  }
   .top{
    width: 210px;
    height: 240px;
    background:#fff;
    text-align: center;
    overflow: hidden;
    .header{
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin: 14px;
      display: inline-block;
      cursor: pointer;
    }
    .name{
      font-size:16px;
      font-weight:bold;
      color:rgba(0,0,0,1);
      margin-bottom: 10px;
    }
    .phone{
      color: #AAAAAA;
      font-size:14px;
      padding-bottom: 18px;
      border-bottom: 1px solid #F5F5F5;
    }

    .router-link-exact-active {
        .bottom-img {
          width: 19px;
          height: 19px;
          background-image: url(../assets/images/personal/edit-hover.png) !important;
          margin: 0 auto 10px;
        }
        .bottom_img {
          width: 19px;
          height: 19px;
          background-image: url(../assets/images/personal/safety-hover.png) !important;
          margin: 0 auto 10px;
        }
        p {
          color:#7E0204;
          font-weight: 400;
        }
    }
  }
  .bottom{
    background: #fff;
    padding-bottom: 20px;
    .routeName{
      color: #8C1515;
      font-weight: bold;
    }
    a{
      color: #333333;
    }
    .main{
      color: #333333;
      font-size:16px;
      font-weight:bold;
      height: 60px;
      line-height: 60px;
      padding-left: 36px;
      cursor: pointer;
    }
    .main-set,.account-set{
      border-top: 1px solid #F5F5F5;
      font-size:16px;
      font-weight:bold;
      padding-top: 26px;
      padding-left: 36px;
      padding-bottom: 10px;
    }
    .account-set{
      margin-top: 20px;
    }
    .list{
      margin-left: 36px;
      line-height: 36px;
      font-size:14px;
      position: relative;
      img{
        position: absolute;
        left: -20px;
        top:8px;
      }
      cursor: pointer;
    }
  }
}
</style>


