<template>
  <div class="personHeader">
    <div class="special_header">
      <div class="header_con">
        <router-link to="/index">
          <img src="@/assets/images/index/logo.png" class="header_icon">
        </router-link >
        <div class="header_top">
          <div class="login" v-if="userName">
            <div class="message" @click="messagePage()">消息
              <i v-if="messageNum">{{messageNum>99?'99+':messageNum}}</i>
              <span class="login_line">|</span>
            </div>
            <div class="shopping" v-if="userType!='2'"  @click="shopping">购物车<span class="login_line">|</span></div>
            <div class="person" @click="personalIndex()">
              <img  v-if="userImg && userImg!= 'null'" :src="`${uploadUrl}file/?fileName=${userImg}&isOnLine=true`">
              <img v-else src="@/assets/images/home/avatar.jpg">
              <span >
                {{userName&&userName.length>4?userName.substr(0,4)+'...':userName}}
              </span>
              <span class="login_line">|</span>
            </div>
            <div @click="loginOut()" class="loginout">退出</div>
          </div>
          <div class="login" v-else>
            <div class="message" @click="messagePage()">消息<i v-if="messageNum">{{messageNum>99?'99+':messageNum}}</i>&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="message" v-if="userType!='2'" @click="shopping">购物车&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="login">
              <router-link to="/login" style="color:#6E5D42;"><span>登录</span></router-link> / 
              <router-link to="/register" style="color: #6E5D42;"><span>注册</span></router-link>
            </div>
          </div>
          <div class="searchBox">
            <input type="text" placeholder="请输入内容" @keyup.enter="searchBtn()" v-model="searchValue">
            <img src="@/assets/images/personal/search.png" @click="searchBtn()">
          </div>
        </div>
      </div>
    </div>
    <div class="center_box">
      <router-view @getloginData="getdata"></router-view>
    </div>
    <perFooter></perFooter>
  </div>
</template>

<script>
  import Footer from '@/components/Footer.vue';
  import perFooter from '@/components/perFooter.vue';
  import {loginOutAPI} from '../api/comment/comments';
  import { linksAPI, dictionaryAPI, footerAPI, messageAPI } from '@/api/common'
  import Cookies from 'js-cookie';
  import { uploadUrl } from '@/utils/global';
  
  export default {
    data() {
      return {
        uploadUrl:uploadUrl,
        isShowInput:false,
        searchVal:'',
        havMessage: null,
        searchValue: null,
        userType: null,
        userName: null,
        wordList: [],
        accountShow: false,
        userType: localStorage.getItem("userType"),
        userName: localStorage.getItem("userName"),
        userImg: localStorage.getItem("userImg"),
        messageNum: null,
      }
    },
    components: {
      Footer,
      perFooter
    },
    created() {
      this.getMessage()
    },
    watch: {
      '$route.path': function (newVal, oldVal) {
        this.getMessage()
      }
    },
    methods: {
      getMessage() {
        messageAPI().then(res => {
          if (res.data.data > 0) {
            this.messageNum = res.data.data
          } else {
            this.messageNum = null
          }
        })
      },
      shopping() {//购物车
        if(localStorage.getItem("Y-Token")){//判断是否登录
          this.$router.push('/shoppingCart')
        } else{
          this.$router.push('/login')
        }
      },
      messagePage() {//消息
        if(localStorage.getItem("Y-Token")){//判断是否登录
          this.$router.push({name:'message'})
        } else{
          this.$router.push('/login')
        }
      },
      /*搜索按钮*/
      searchBtn(){
        Cookies.set('resourceName','book');
        Cookies.set('resourceType',1);
        Cookies.set('resourceNameZh','图书');
        if(this.searchValue) {
          Cookies.set('content',this.searchValue);
        }
        this.$router.push({path: '/resource'})
      },
      personalIndex() {//跳转个人中心
        if(this.userType == 2) {// 机构
          this.$router.push({path:'/organizationIndex'})
        } else{// 个人
          this.$router.push({path:'/personalIndex'})
        }
      },
      loginOut() {//退出登录
        loginOutAPI().then(res => {
          if (res.data.code == 0) {
            this.$message.success("退出登录成功！")
            localStorage.clear();
            this.$store.dispatch('setMessageNum')
            this.$router.push({name: 'login'})
          } else {
            this.$message.error(res.data.msg)
          }
        })
      },
      getdata() {
        this.userName = localStorage.getItem("userName")
        this.userType = localStorage.getItem("userType")
        this.userImg = localStorage.getItem("userImg")
        this.getMessage()
      },
    }
  }
</script>

<style lang="less" scoped>
  .special_header{
    height: 100px;
    background: #8C1515;
    .header_con{
      width: 1200px;
      margin: 0 auto;
      padding-top: 19px;
    }
    .header_icon{
      cursor: pointer;
    }
    .header_top{
      padding-top: 17px;
      float: right;
    }
    .message,.shopping,.person,.loginout{
      float: left;
    }
    .message {
      cursor: pointer;
      i{
        position: absolute;
        left: 20px;
        top: 0;
        height: 18px;
        width: 18px;
        font-size: 12px;
        border-radius: 50%;
        background: #B3221A;
        line-height: 18px;
        color: #fff;
        font-style: normal;
      }
    }
    .person {
      img {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .login{
      position: relative;
      height: 32px;
      color: #FFFFFF;
      background-size: 100% 100%;
      text-align: center;
      line-height: 30px;
      overflow: hidden;
      float: left;
      cursor: pointer;
      font-size: 14px;
      a {
        color: #fff !important;
      }
      .login_line {
        color: #fff;
        margin: 0 10px;
      }
    }
    .searchBox{
      float: left;
      width: 220px;
      height: 34px;
      border: 1px solid #B86161;
      border-radius: 4px;
      margin-top: -4px;
      margin-left: 19px;
      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #BF5D5D !important;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #BF5D5D !important;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #BF5D5D !important;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #BF5D5D !important;
      }
      input{
        color: #A69583;
        border: none;
        background: none;
        line-height: 36px;
        font-size:14px;
        width: 172px;
        outline: none;
        float: left;
        padding-left: 8px;
      }
      img {
        float:right;
        padding-top:7px;
        padding-right:8px;
        cursor:pointer;
      }
    }
  }
  .personHeader{
    .center_box {
      font-size: 14px;
      height: auto;
      margin: 0 auto;
      background-color: #f5f5f5;
      .personal_productInfo{
        min-height: 508px;
      }
    }
  }
</style>
