<template>
  <div class="audio-wrap" v-loading="audio.waiting">
    <audio ref="audio" class="hide" 
      :src="url" 
      :preload="audio.preload"
      @play="onPlay" 
      @error="onError"
      @waiting="onWaiting"
      @pause="onPause" 
      @timeupdate="onTimeupdate" 
      @loadedmetadata="onLoadedmetadata" ></audio>
    <div class="mock-audio-con">
      <!-- 播放、暂停控制 -->
      <a
        @click="startPlayOrPause" 
        :class="['play-control',{'opt-play':audio.playing, 'opt-pause':!audio.playing}]">
        <i></i>
      </a>
      <!-- 播放进度条 -->
      <el-slider
        v-show="!controlList.noProcess"
        v-model="sliderTime"
        :format-tooltip="formatProcessToolTip"
        @change="changeCurrentTime"
        class="slider" ></el-slider>
      <!-- 播放时间进度 -->
      <span class="audio-time">{{ audio.currentTime | formatSecond}} / {{ audio.maxTime | formatSecond }}</span>
      <!-- 控制播放静音 -->
      <a
        v-show="!controlList.noMuted"
        @click="startMutedOrNot" 
        :class="['muted-control',{'opt-muted':audio.muted, 'opt-not-muted':!audio.muted}]">
        <i></i>
      </a>
    </div>
  </div>
</template>

<script>
  import { realFormatSecond } from '@/utils/str'

  export default {
    props: {
      audioUrl: {
        type: String,
        required: true,
      },
      controlList: {
        type: String,
        default: ''
      }
    },
    name: 'VueAudio',
    data() {
      return {
        url: this.audioUrl || 'http://front-end.bjcnc.scs.sohucs.com/track-report-sit/falling-star.mp3',
        audio: {
          currentTime: 0,
          maxTime: 0,
          playing: false,
          muted: false,
          waiting: true,
          preload: 'auto'
        },
        sliderTime: 0,
        volume: 100,
        controlList: {
          // 不显示静音
          noMuted: false,
          // 不显示进度条
          noProcess: false,
          // 只能播放一个
          onlyOnePlaying: false,
        }
      }
    },
    methods: {
      setControlList () {
        let controlList = this.controlList.split(' ')
        controlList.forEach((item) => {
          if(this.controlList[item] !== undefined){
            this.controlList[item] = true
          }
        })
      },
      startMutedOrNot() {
        this.$refs.audio.muted = !this.$refs.audio.muted
        this.audio.muted = this.$refs.audio.muted
      },
      // 进度条toolTip
      formatProcessToolTip(index = 0) {
        index = parseInt(this.audio.maxTime / 100 * index)
        return '进度条: ' + realFormatSecond(index)
      },
      // 播放跳转
      changeCurrentTime(index) {
        this.$refs.audio.currentTime = parseInt(index / 100 * this.audio.maxTime)
      },
      startPlayOrPause() {
        return this.audio.playing ? this.pausePlay() : this.startPlay()
      },
      // 开始播放
      startPlay() {
        this.$refs.audio.play()
      },
      // 暂停
      pausePlay() {
        this.$refs.audio.pause()
      },
      // 当音频暂停
      onPause () {
        this.audio.playing = false
      },
      // 当发生错误, 就出现loading状态
      onError () {
        this.audio.waiting = true
      },
      // 当音频开始等待
      onWaiting (res) {
        console.log(res)
      },
      // 当音频开始播放
      onPlay (res) {
        console.log(res)
        this.audio.playing = true
        this.audio.loading = false

        if(!this.controlList.onlyOnePlaying){
          return 
        }

        let target = res.target

        let audios = document.getElementsByTagName('audio');

        [...audios].forEach((item) => {
          if(item !== target){
            item.pause()
          }
        })
      },
      // 当timeupdate事件大概每秒一次，用来更新音频流的当前播放时间
      onTimeupdate(res) {
        // console.log('timeupdate')
        // console.log(res)
        this.audio.currentTime = res.target.currentTime
        this.sliderTime = parseInt(this.audio.currentTime / this.audio.maxTime * 100)
      },
      // 当加载语音流元数据完成后，会触发该事件的回调函数
      // 语音元数据主要是语音的长度之类的数据
      onLoadedmetadata(res) {
        console.log('loadedmetadata')
        console.log(res)
        this.audio.waiting = false
        this.audio.maxTime = parseInt(res.target.duration)
      }
    },
    filters: {
      formatSecond(second = 0) {
        return realFormatSecond(second)
      },
      transPlayPause(value) {
        return value ? '暂停' : '播放'
      },
      transMutedOrNot(value) {
        return value ? '放音' : '静音'
      },
    },
    created() {
      this.setControlList()
    }
  }

</script>

<style lang="scss" scoped>
  .audio-wrap{
    width: 100%;
    margin: 20px auto;
    // background: rgba(255,255,255,1);
    box-shadow: 0px 2px 20px 0px rgba(1,2,2,0.08);
    // border-radius: 30px;
    text-align: center;
    display: block;
    .mock-audio-con{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .play-control{
      margin-right: 20px;
      i{
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;
      }
    }
    .opt-play{
      i{
        background: url('~@/assets/images/audio/icon_bofang.png') center center no-repeat;
        background-size: 100% 100%;
      }
    }
    .opt-pause{
      i{
        background: url('~@/assets/images/audio/icon_zanting.png') center center no-repeat;
        background-size: 100% 100%;
      }
    }

    .slider {
      display: inline-block;
      width: 50%;
      position: relative;
      margin-right: 20px;
    }
    .audio-time{
      display: inline-block;
      margin-right: 20px;
    }

    .muted-control{
      i{
        display: inline-block;
        width: 28px;
        height: 28px;
      }
    }
    .opt-muted{
      i{
        background: url('~@/assets/images/audio/icon_jingyin.png') center center no-repeat;
        background-size: 100% 100%;
      }
    }
    .opt-not-muted{
      i{
        background: url('~@/assets/images/audio/icon_yinliang.png') center center no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  
</style>
<style lang="less">
.el-slider__button{
  border: 2px solid #8C1515  !important;
}
.el-slider__bar{
  background-color: #8C1515  !important;
}
</style>

