// @import "@/app.scss";
* {
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: inherit;
}
.ebook-container{
  width: 100%;
  height: 100vh;
  // 添加笔记
  .add-note-dy-button {
    i,span {
      color: #fff !important;
    }
  }
  .ebook-aside{
    width: 375px;
    background-color: #6A7075;
    position: relative;

    /* 左侧边的关联资源 */
    .resource-wrap{
      font-size:14px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      width: 90%;
      min-height: 300px;
      border-right: 1px solid #7B8287;
      padding: 20px 0;
      transition: width 0.5s ease;
    }
    .resource-wrap.transition{
      width: 0;
      overflow: hidden;
    }
    .semi-circle-right{
      width: 20px;
      height: 40px; 
      background-color: #7B8287;
      border-radius: 0 20px 20px 0; /* 左上、右上、右下、左下 */
      position: absolute;
      right: 11px;
      top: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.5s ease; 
      span{
        width: 0;
        height: 0;
        display: block;
        /*background-color: #A9B6C0;*/
        border-width: 8px 8px 8px 0;
        border-style: solid;
        border-color: transparent #A9B6C0 transparent transparent;
        margin-right: 5px;
        cursor: pointer;
      }
    }
    .semi-circle-right.transition{
      right: 279px;
      span{
        width: 0;
        height: 0;
        display: block;
        /*background-color: #A9B6C0;*/
        border-width: 8px 0 8px 8px;
        border-style: solid;
        border-color: transparent transparent transparent #A9B6C0 ;
        margin-right: 5px;
        cursor: pointer;
      }
    }
    .resource-cat-ul{
      margin-bottom: 10px;
      padding: 8px 15px;
      display: flex;
      font-size:16px;
      font-weight: 500;
      position: relative;
      color: #A4B0BC;
      border-bottom: 1px solid #7B8287;
      li.active{
        color: #E7F1FA;
        position: relative;
        a { 
          color: #E7F1FA;
          line-height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
          display: block;
        }
        a:after{
          width: 64px;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -7px;
          content: '';
          background-color: #E7F1FA;
        }
      }
    }
    .result-list-ul{
      padding: 0 15px 5px;
      font-size: 14px;
      /*color: #333;*/
      color: #A4B0BC;
      li{
        position: relative;
        margin: 0 10px 15px 15px;
        // a{ @include text-more-ellipsis(1); }
        a { 
          color: #ACB9C5;
          line-height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
          display: block;
        }
        a:hover{ color: #E7F1FA; } 
      }
      li:before{
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #ccc;
        position: absolute;
        top: 9px;
        left: -15px;
      }
    }


    /* 右侧边操作区 */
    .ebook-opt{
      margin: 22px;
      li{
        width: 40px;
        height: 40px;
        border: 1px solid #7E878E;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          display: block;
          width: 21px;
          height: 18px;
          cursor: pointer;
        }
      }
      li.home{
        i{
          width: 21px;
          height: 18px;
          background: url('~@/assets/ebook/zy_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.home.active, li.home:hover{
        i{
          background: url('~@/assets/ebook/zy_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.catalogue{
        i{
          width: 19px;
          height: 15px;
          background: url('~@/assets/ebook/ml_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.catalogue.active, li.catalogue:hover{
        i{
          background: url('~@/assets/ebook/ml_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.setting{
        i{
          width: 19px;
          height: 19px;
          background: url('~@/assets/ebook/sz_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.setting.active, li.setting:hover{
        i{
          background: url('~@/assets/ebook/sz_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.note{
        i{
          width: 18px;
          height: 18px;
          background: url('~@/assets/ebook/bj_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.note.active, li.note:hover{
        i{
          background: url('~@/assets/ebook/bj_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.collect{
        i{
          width: 18px;
          height: 18px;
          background: url('~@/assets/ebook/shoucang_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.collect.active, li.collect:hover{
        i{
          background: url('~@/assets/ebook/shoucang_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.reply{
        i{
          width: 21px;
          height: 18px;
          background: url('~@/assets/ebook/huifu_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.reply.active, li.reply:hover{
        i{
          background: url('~@/assets/ebook/huifu_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.jiucuo{
        i{
          width: 21px;
          height: 18px;
          background: url('~@/assets/ebook/jc_nor.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
      li.jiucuo.active, li.jiucuo:hover{
        i{
          background: url('~@/assets/ebook/jc_pre.png') center center no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .ebook-paging-opt{
      padding-top: 20px;
      li{
        color: #ACB9C5;
        font-size: 20px;
        margin-bottom: 10px;
      }
      li.disabled{
        color: #eee;
        background: #ccc;
        cursor: not-allowed;
      }
      li:not(.disabled):hover{
        color: #EEF1F3;
        background: #18ADB8;
      }
    }
  }
  .ebook-main{
    background-color: #F0F4F6;
    padding: 0 55px;
    position: relative;
    overflow: hidden;
    height: 100%;

    ::selection {
      background: #D8EED1; 
      color: #47525B;
    }
    ::-moz-selection {
      background: #D8EED1;
      color: #47525B;
    }

    .title{
      font-size:14px;
      color: #9AA7B0;
      font-family:MicrosoftYaHei;
      font-weight:400;
      padding: 10px 0;
      border-bottom: 1px solid #DBE2E6;
    }
    .ebook-main-content {
      text-indent: 2em;
      padding: 10px 0;
      font-size:16px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(71,82,91,1);
      line-height:36px;
      height: 80%;
      overflow-y: auto;
      // img:first-child {
      //   width: auto !important;
      //   height: 700px !important;
      //   text-align: center;
      // }
    }
    .ebook-main-content-supplement {
      padding: 30px 0px 180px;
    }
    /* 权限相关 */
    .auth-part{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      .opt-con {
        width: 100%;
        min-height: 100px;
        padding: 10px;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background: linear-gradient(#f0f4f6,#f0f4f6);
      }
      .tip{
        font-size:16px;
        color:rgba(24,173,184,1);
        margin: 5px 0;
      }
      .buyVip{
        display: block;
        width:160px;
        height:36px;
        line-height: 36px;
        text-align: center;
        background: #18ADB8;
        border-radius:2px;
        color: #fff;
        margin: 5px auto;
      }
      .for-login{
        display: block;
        color: #999999;
        margin: 5px 0;
        .login{
          color: #FC9224;
        }
      }
    }

    /* 目录 */
    .catalogue{
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background-color: #F0F4F6;
      transition: right 0.5s ease;
    }
    .catalogue.transition{
      right: 0;
    }
    /* 设置 */
    .setting{
      position: absolute;
      top: 0;
      right: -100%;
      width: 42%;
      height: 100vh;
      background-color: #F0F4F6;
      transition: right 0.5s ease;
      background:rgba(240,244,246,1);
      box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.22);
    }
    .setting.transition{
      right: 0;
    }
    /* 笔记 note */
    .note{
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background-color: #F0F4F6;
      transition: right 0.5s ease;
    }
    .note.transition{
      right: 0;
    }
  }
}



/* 电子书设预设样式 */
.ebook-container{
  .ebook-main{
    /*font-fanily*/
    .ebook-main-content.fontfamily-songti{
      h1, h2, h3, h4, h5, h6, hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
        font-family: SimSun!important;
      }
    }
    .ebook-main-content.fontfamily-yahei{
      h1, h2, h3, h4, h5, h6, hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
        font-family: 微软雅黑, MicrosoftYaHei!important;
      }
    }
    .ebook-main-content.fontfamily-kaiti{
      h1, h2, h3, h4, h5, h6, hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
        font-family: KaiTi!important;
      }
    }

    /* 字体大小 */
    @for $i from 12 through 40 {
      .ebook-main-content.fontsize-#{$i}{
        // h1, h2, h3, h4, h5, h6, hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
        //   font-size: #{$i+'px'}!important;
        // }
        h1 {
          font-size: #{$i+4+'px'} !important;
        }
        h2,h3 {
          font-size: #{$i+3+'px'} !important;
        }
        h4, h5, h6 {
          font-size:  #{$i+2+'px'} !important;
        }
        hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
          font-size: #{$i+'px'}!important;
        }
      }
    }
    /* 行间距 */
    @for $i from 24 through 60 {
      .ebook-main-content.lineHeight-#{$i}{
        h1, h2, h3, h4, h5, h6, hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
          line-height: #{$i+'px'}!important;
        }
      }
    }
  }

  /*topic*/
  @each $color in E8E9E4, CEE4D1, DAF2F5, E8EBED, D1CDCE, EED0D1, 606262 {
    .ebook-main.topic-#{$color} {
      background-color: #{'#'+$color}!important;
      .ebook-main-content{
        h1, h2, h3, h4, h5, h6, hr, p, div, span, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, table, a{
          font-family: 微软雅黑, MicrosoftYaHei!important;
          background-color: #{'#'+$color}!important;
        }
      }
    }
  }
}



/* 添加笔记动态操作button */
.add-note-dy-button{
  width: 132px;
  height: 43px;
  background-color: #008AEF;
  color: #fff;
  display: none;
  position: absolute;
  z-index: 999;
  border-radius: 3px;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  i{ font-size: 15px; margin-right: 5px; }
  .up-triangle{
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #008AEF;
    position: absolute;
    left: 42%;
    top: -20px;
  }
}

/* 添加笔记弹窗 */
.add-note-dy-modal{
  position: absolute;
  display: none;
  width: 362px;
  min-height: 228px;
  background-color: #FFFFFF;
  border: 1px solid #BFCCD8;
  border-radius: 2px;
  top: 200px;
  left: 100px;
  .up-triangle{
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
  }
  .up-triangle-top{ 
    left: 40%;
    top: -29px;
    border: 17px solid transparent;
    border-bottom: 16px solid #BFCCD8;
  }
  .up-triangle-bottom{ 
    left: 42%;
    top: -20px; 
  }
  .note-textarea-con{
    position: relative;
    textarea{ background-color: #fff; border: none; } 
    .remnant{
      color: #AAAAAA;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }
  }
  .bottom-opt{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F9FBFC;
    border-top: 1px solid #BFCCD8;
    .btn{
      width: 66px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 2px;
      display: block;
      font-size:12px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      margin-right: 15px;
    }
    .submit{
      background: rgba(24,173,184,1);
      color:#fff;
    }
    .cancel{
      background: #fff;
      color: #666;
      border: 1px solid #BFCCD8;
    }
  }
}

/* 文章中查看大图弹窗 */
.artical-img-modal{
  .artical-img-wraper{
    /*max-width: 800px;
    max-height: 500px;*/
    padding: 10px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      /*max-height: 500px;*/
    }
  }
}

// 纠错弹窗
.errorAll {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: rgba($color: #000000, $alpha: 0.3);
  .errorAlert {
    width: 402px;
    height: 262px;
    background: #FCFBF9;
    border: 1px solid #D8CBBF;
    border-radius: 2px;
    box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.2);
    .errorTop {
      color: #46515A;
      height: 42px;
      line-height: 42px;
      width: 368px;
      padding: 0 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #D8CBBF;
      span {
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(70, 81, 90, 1);
        line-height: 48px;
      }
      .close{
        cursor: pointer;
        font-size: 24px;
        opacity: 0.5;
        color: #C6B8AB;
      }
    }
    .errorText {
      position: relative;
      textarea {
        border: none;
        height: 144px;
        width: 368px;
        padding: 15px 17px;
        resize: none;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        line-height: 24px;
        color: #46515a;
      }
      span {
        position: absolute;
        right: 8px;
        bottom: 5px;
        color: rgba(153, 153, 153, 1);
        font-size: 12px;
        font-family: MicrosoftYaHei;
      }

    }

    .btn {
      width: 100%;
      padding-top: 6px;
      border-top: 1px solid #D8CBBF;
      .submit {
        float: right;
        display: block;
        margin-right: 12px;
        border: none;
        width: 66px;
        height: 25px;
        background: rgba(24, 173, 184, 1);
        border-radius: 2px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 24px;
      }
    }
  }
}




