.set-form-fontSize{
    padding: 0;
    margin: 0;
    display: flex;
    width: 204px;
    border:1px solid rgba(200,215,223,1);
    border-radius:3px;
    li{
      width: 80px;
      height: 30px;
      flex:1;
      text-align: center;
      border-right: 1px solid rgba(200,215,223,1);
      a{
        display: block;
        width: 100%;
        height: 100%;
        color: #000;
      }
    }
    li:nth-child(2){ a{cursor: default; color: blue;} }
    li:last-child{
      border-right: none;
    }
  }
  
  .set-form-lineHeight{
    padding: 0;
    margin: 0;
    display: flex;
    width: 204px;
    border:1px solid rgba(200,215,223,1);
    border-radius:3px;
    li{
      width: 80px;
      height: 30px;
      flex:1;
      text-align: center;
      border-right: 1px solid rgba(200,215,223,1);
      a{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .lineHeight-icon{
          width: 18px;
          height: 12px;
          display: inline-block;
          background: url('~@/assets/ebook/line-height.png') center center no-repeat;
          background-size: 100% 100%;
          vertical-align: middle;
          margin-right: 2px;
        }
      }
    }
    li:nth-child(2){ a{cursor: default;} }
    li:last-child{
      border-right: none;
    }
  }