img {
    vertical-align: middle;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

#number{
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: rgb(255, 254, 254);
  }

  .number_content {
    padding: 68px 185px 0 201px;
  }

  .number_bg {
    height: 100%;
    background-image: url(../../../src/assets/images/login/account-number.png);
    background-size: 100% 100%;
  }

  .number_box {
    width:440px;
    height: 500px;
    background:#fff;
    margin: 0 auto;
    box-shadow: 0 0 20px #ccc;
  }

  .number_top {
    text-align: center;
  }

  .number_boxHeader {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      display: inline-block;
      margin-top: 49px;
  }

  .number_tip {
    font-weight:400;
    color:rgba(153,153,153,1);
    margin-top: 19px;
    margin-bottom: 30px;
  }

  .number_input {
    padding: 0 50px;
  }

  .number_account,.number_password {
      height: 61px;
      border-bottom: 1px solid rgba(237,237,237,1);
  }

  .number_account input,.number_password input {
      border: none;
      outline: none;
      height: 42px;
      width: 300px;
      font-size: 16px;
      color: #333;
      padding-top: 18px;
  }
  input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 12px;
  }

  .number_loginbtn,.number_create {
    width:340px;
    height:44px;
    border-radius:4px;
    text-align: center;
    line-height: 44px;
    font-size:16px;
    font-weight:400;
    cursor: pointer;
  }
  .number_loginbtn {
    margin-top: 40px;
    background: #987444;
    color:#fff;
  }
  .number_create{
    margin-top: 16px;
    border:1px solid #DCC9B0;
    color: #987444;
  }

  .number_page{
    width: 100%;
    margin-top: 30px;
  }

  .number_bottom{
    height: 200px;
    overflow: hidden;
  }
  .footerText,.aboutUs{
    text-align: center;
    margin: 20px 0;
    color:#333333;
    span{
      a{
        color:#333333;
        margin:0 15px;
      }
    }
    span:first-child{
      margin-left: 0;
    }
    span:last-child{
      margin-right: 0;
    }
  }
  .aboutUs{
    margin-top: 50px;
  }
  .indexText{
    text-align: center;
    margin: 20px 0;
    color:#333333;
    margin-bottom: 50px;
    span{
      margin-left: 30px;
    }
  }
