img {
  vertical-align: middle;
}
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}
#create {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: #fffefe;
}
.create_con {
  padding: 68px 185px 0 201px;
}
.create_bg {
  height: 100%;
  background-image: url(../../../src/assets/images/login/account-number.png);
  background-size: 100% 100%;
}
.create_box {
  width: 440px;
  height: 620px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0 20px #ccc;
}
.create_top {
  text-align: center;
}
.create_boxHeader {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 49px;
}
.create_tip {
  font-weight: 400;
  color: #999999;
  margin-top: 19px;
  margin-bottom: 30px;
}
.create_input {
  padding: 0 50px;
}
.create_account,
.create_password,
.create_phone,
.create_code {
  height: 50px;
  border-bottom: 1px solid #ededed;
}
.create_account input,
.create_password input,
.create_phone input {
  border: none;
  outline: none;
  width: 300px;
  font-size: 16px;
  color: #333;
  margin-top: 18px;
}
.create_code input {
  width: 210px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  border-right: 1px solid #ddd;
  margin-top: 18px;
}
.create_code {
  position: relative;
}
.create_code .textTip {
  font-weight: bold;
  color: #987444;
  margin-left: 26px;
  position: absolute;
  top: 8px;
  cursor: pointer;
}
.create_rules {
  margin-top: 30px;
  font-size: 12px;
  color: #9faec8;
  margin-bottom: 18px;
}
.create_rules .el-checkbox {
  margin-right: 5px;
}
.create_loginbtn,
.create_create {
  width: 340px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.create_loginbtn {
  margin-top: 18px;
  background: #987444;
  color: #fff;
}
.create_create {
  border: 1px solid #DCC9B0;
  color: #987444;
}
.create_create {
  margin-top: 16px;
}
.create_page {
  width: 100%;
}
.create_bottom {
  height: 200px;
  overflow: hidden;
}
.footerText,
.aboutUs {
  text-align: center;
  margin: 20px 0;
  color: #333333;
}
.footerText span a,
.aboutUs span a {
  color: #333333;
  margin: 0 15px;
}
.footerText span:first-child,
.aboutUs span:first-child {
  margin-left: 0;
}
.footerText span:last-child,
.aboutUs span:last-child {
  margin-right: 0;
}
.aboutUs {
  margin-top: 50px;
}
.indexText {
  text-align: center;
  margin: 20px 0;
  color: #333333;
  margin-bottom: 50px;
}
.indexText span {
  margin-left: 30px;
}
