#login{
  width: 100%;
  height: 100%;
  .el-tabs__nav-scroll{
    margin-left: 0 !important;
  }
  .el-tabs__item{
    font-size:18px !important;
  }
  .el-tabs__active-bar{
    height: 3px !important;
  }
  .el-tabs__item.is-active{
    color: #262B33;
  }
  .el-tabs__item:hover{
    color: #262B33;
  }
  .el-tabs__active-bar{
    background-color: #8C1515;
  }
}
.login_content{
  width: 100%;
  background: url(../../../src/assets/images/login/banner.png);
  height: 560px;
  background-size: 100% 100%;
}
.login_outside{
  width: 1200px;
  margin: 0 auto;
}
.login_box{
  width: 310px;
  background: #fff;
  float: right;
  margin-right: 30px;
  margin-top: 60px;
  box-shadow:0px 2px 20px 0px rgba(7,10,75,0.1);
  border-radius:4px;  
  padding: 30px 40px;
  padding-top:10px;
}
.login_account,.login_password,.login_code{
  height: 60px;
  position: relative;
  border-bottom:solid 1px #EDEDED;
  line-height: 60px;
  margin-top: 13px;
  input{
    border:none;
    outline: none;
    height: 40px;
    width: 100%;
    padding-left: 8px;
    font-size: 16px;
    color: #333;
  }
  &:focus-within{
    border-bottom-color: #987444 !important
  }
  input::-webkit-input-placeholder {
    color: #CCCCCC;
    font-size: 12px;
  }
  input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset;}
}
.login_password,.login_code{
  margin-top: 0;
}
.login_code input{
  width: 60%;
  
}
.login_tip{
  height: 56px;
  line-height: 56px;
  .login_error_tips{
    color:#F40303;
    font-size: 14px;
  }
  .login_forget_password{
    color: #999999;
    float: right;
    cursor: pointer;
  }
}
.login_btn{
  width: 310px;
  height: 44px;
  background:#8C1515;
  color: #fff;
  line-height: 44px;
  text-align: center;
  box-shadow:0px 2px 20px 0px rgba(7,10,75,0.1);
  border-radius:4px;
  margin-bottom: 30px;
  cursor: pointer;
}
.login_bottom{
  img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .login_register{
    color: #8C1515;
    float: right;
    cursor: pointer;
    font-size:12px;
  }
}
.login_codeImg{
  height: 40px;
  width: 80px;
  float: right;
  margin-top: 10px;
}
.login_content{
  .el-form-item{
    margin-bottom: 0 !important;
  }
  .el-input,.el-input__inner{
    border: none !important;
  }
}
.phone_code{
  width: 100%;
  border-bottom:solid 1px #EDEDED;
  height: 60px;
  line-height: 60px;
  &:focus-within{
    border-bottom-color: #987444 !important
  }
  input::-webkit-input-placeholder {
    color: #CFC7BB;
    font-size: 12px;
  }
  input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset;}
  .el-input{
    width:200px;
    float: left;
  }
  .el-input__inner{
    padding: 0;
    padding-left: 8px;
  }
  span{
    color: #8C1515;
    font-size:14px;
    padding: 5px 5px 5px 20px;
    border-left: 1px solid #EDEDED;
    cursor: pointer;
  }
}