#register{
  width: 100%;
  height: 100%;
  .el-tabs__nav-scroll{
    margin-left: 0 !important;
  }
  .el-tabs__item{
    font-size:18px !important;
  }
  .el-tabs__active-bar{
    height: 3px !important;
  }
  .el-tabs__item.is-active{
    color: #262B33;
  }
  .el-tabs__item:hover{
    color: #262B33;
  }
  .el-tabs__active-bar{
    background-color: #8C1515;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #7E0204;
    border-color: #7E0204;
  }
  .el-checkbox__inner:hover {
    border-color: #7E0204;
  }
}
.register_content{
  height: 620px;
  width: 100%;
  background: url(../../../src/assets/images/login/banner.png);
  background-size: 100% 100%;
}
.register_outside{
  width: 1200px;
  margin: 0 auto;
}
.register_box{
  width: 310px;
  background: #fff;
  float: right;
  margin-right: 30px;
  margin-top: 60px;
  box-shadow:0px 2px 20px 0px rgba(7,10,75,0.1);
  border-radius:4px;  
  padding: 30px 40px;
  padding-top:10px;
}
.register_account,.register_password,.register_code,.register_phone{
  line-height: 60px;
  margin-top: 13px;
  border-bottom:solid 1px #EDEDED !important;
  input{
    border:none;
    outline: none;
    height: 40px;
    width: 200px;
    padding-left: 4px;
    font-size: 16px;
    color: #333;
    width: 100%;
    border-radius: 0;
    height: 60px;
    line-height: 60px;
  }
  input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 12px;
   }
  &:focus-within{
    border-bottom-color: #987444 !important
  }
  input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 12px;
  }
}
.register_password,.register_code{
  margin-top: 0;
}
.register_code .phone_code{
  float: left;
  width: 50%;
}
.register_code .register_text,.register_tips{
  color: #8C1515;
  float: right;
  margin-right: 16px;
  font-size:12px;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  padding-left: 30px;
  border-left: 1px solid #EDEDED;
}
.register_code {
  .demo-ruleForm .el-input{
    border-bottom:0 !important;
  }
  border-bottom: solid 1px #EDEDED !important;
}
.register_rules{
  margin-top: 30px;
  font-size:12px;
  color:#C8C8C8;
  margin-bottom: 18px;
  .el-checkbox{
    margin-right: 5px;
  }
}
.register_btn{
  width: 310px;
  height: 44px;
  background:#8C1515;
  color: #fff;
  line-height: 44px;
  text-align: center;
  box-shadow:0px 2px 20px 0px rgba(7,10,75,0.1);
  border-radius:4px;
  margin-bottom: 25px;
  cursor: pointer;
}
.register_bottom{
  text-align: center;
  font-size:14px;
  span{
    color: #8C1515;
    cursor: pointer;
  }
}
.register_content{
  .el-form-item{
    margin-bottom: 0 !important;
  }
  .el-input,.el-input__inner{
    border: none !important;
  }
  input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}
}
.agreement_content{
  .content{
    height: 344px;
    overflow-y: scroll;
    p{
      font-size: 14px;
      line-height: 40px;
      color: #5B5B5B;
      text-indent: 28px
    }
  }
}
.my_cancle,.my_sure{
  padding: 9px 16px !important;
}
.my_cancle{
  background-color:#EEEEEE;
  color: #BBBBBB;
  border: none
}
.el-button--primary{
    background-color: #F07C7D;
    color: #fff;
    border:none
  }
  .my_sure:hover {
    background: #F07C7D;
    border-color: #F07C7D;
    color: #FFF;
}
.my_cancle:hover {
  color: #BBBBBB;
  border-color: none;
  background-color: #EEEEEE;
}