img {
  vertical-align: middle;
}
.el-input__inner::-webkit-input-placeholder {
  color: #CFC7BB;
}
.el-input__inner::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #CFC7BB;
}
.el-input__inner:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #CFC7BB;
}
.el-input__inner:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CFC7BB;
}
#password .el-input__inner {
  border: none !important;
}
#password .el-input {
  width: auto !important;
  height: 100%;
}
#password .password_code .el-input__suffix-inner {
  width: 0;
}
#password .password_code .el-icon-circle-close {
  right: 10px;
}
#password input {
  border: none;
  outline: none;
  height: 39px;
  font-size: 16px;
  color: #333;
}
#password {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: #fffefe;
}
.password_con {
  padding: 68px 185px 0 201px;
}
.password_bg {
  height: 100%;
  background-image: url(../../../src/assets/images/login/account-number.png);
  background-size: 100% 100%;
}
.password_box {
  width: 540px;
  height: 500px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0 20px #ccc;
  margin-bottom: 20px;
}
.password_title {
  width: 90px;
  margin: 0 auto;
  height: 22px;
  font-size: 22px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
  padding-top: 51px;
}
.password_status {
  margin-top: 54px;
}
.password_setstatus {
  display: block;
  width: 310px;
  margin: 0 auto;
}
.password_text {
  margin: 10px auto;
  width: 390px;
}
.password_text .verify,
.password_text .setpassword,
.password_text .alter {
  float: left;
  width: 70px;
}
.password_text .verify {
  margin-left: 20px;
  color: #33AF06;
  font-weight: 400;
}
.password_text .setpassword {
  margin-left: 70px;
  margin-right: 86px;
  color: #33AF06;
}
.setpasswordColor {
  color: #999999;
  margin-left: 70px;
  float: left;
  width: 70px;
  margin-right: 86px;
}
.alterColor {
  color: #999999;
  float: left;
  width: 70px;
}
.password_text .alter {
  color: #33AF06;
}
.password_verify,
.password_setpassword {
  width: 340px;
  margin: 87px auto;
  margin-bottom: 40px;
}
.password_verify .password_phone:focus-within,
.password_verify .password_code:focus-within {
  border-color: #987444;
}
.password_setpassword .set_newpassword:focus-within,
.password_setpassword .repeat_password:focus-within {
  border-color: #987444;
}
.password_phone,
.password_code,
.set_newpassword,
.repeat_password {
  height: 60px;
  border-bottom: 1px solid #EDEDED;
}
.password_phone input,
.set_newpassword input,
.repeat_password input {
  width: 340px;
  padding-top: 20px;
}
.password_code {
  position: relative;
}
.password_code input {
  width: 200px;
  padding-top: 20px;
}
.password_code .line {
  height: 22px;
  width: 1px;
  display: inline-block;
  background: #E0E0E0;
  position: absolute;
  top: 26px;
}
.password_code span:nth-child(3) {
  position: absolute;
  margin-left: 26px;
  top: 26px;
  font-weight: 400;
  color: #987444;
  cursor: pointer;
}
.password_submit {
  width: 340px;
  height: 44px;
  background: #987444;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 44px;
  margin: 0 auto;
  cursor: pointer;
}
.set_success {
  margin-top: 74px;
}
.set_success .password_success {
  display: block;
  width: 19px;
  height: 19px;
  margin: 0 auto;
}
.set_success .password_tip {
  margin: 22px auto 0;
  width: 270px;
  height: 17px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  line-height: 18px;
}
.set_success .password_tips {
  width: 294px;
  margin: 24px auto 0;
  color: #CCCCCC;
}
.set_success .password_tips a {
  color: #987444;
  font-weight: bold;
}
.set_success .password_tips span {
  width: 294px;
  display: block;
  text-align: center;
  margin-top: 5px;
}
.password_page {
  width: 100%;
}
.password_bottom {
  height: 200px;
  overflow: hidden;
}
.footerText,
.aboutUs {
  text-align: center;
  margin: 20px 0;
  color: #333333;
}
.footerText span,
.aboutUs span {
  /*margin:0 15px;*/
}
.footerText span a,
.aboutUs span a {
  color: #333333;
  margin: 0 15px;
}
.footerText span:first-child,
.aboutUs span:first-child {
  margin-left: 0;
}
.footerText span:last-child,
.aboutUs span:last-child {
  margin-right: 0;
}
.aboutUs {
  margin-top: 50px;
}
.indexText {
  text-align: center;
  margin: 20px 0;
  color: #333333;
}
.indexText span {
  margin-left: 30px;
}
.tryText {
  text-align: center;
  color: #333333;
  padding-bottom: 50px;
}
