#confirm {
  width: 100%;
  background: #fff;
}
.confirm_content {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.confirm_top {
  height: 123px;
  background: #fff;
  overflow: hidden;
}
.confirm_top .confirm_text {
  float: left;
  line-height: 160px;
  font-size: 18px;
  color: #333333;
}
.confirm_top .confirm_img {
  float: right;
  width: 490px ;
}
.confirm_top .confirm_img img {
  width: 100%;
  display: inline-block;
  margin-top: 40px;
}
.confirm_top .confirm_img span {
  color: #F47519;
  display: inline-block;
  width: 160px;
  margin-top: 5px;
  text-align: center;
}
.confirm_top .confirm_img .not_confirm {
  color: #CCCCCC;
}
.confirm_table {
  height: 40px;
  line-height: 40px;
  background: #F5F5F5;
  clear: both;
}
.confirm_table span {
  display: inline-block;
  color: #454545;
  font-weight: bold;
}
.confirm_table .confirm_info {
  width: 620px;
  text-align: center;
}
.confirm_table .confirm_price,
.confirm_table .confirm_num,
.confirm_table .confirm_total {
  width: 180px;
  text-align: center;
}
.confirm_ebook .confirm_title,
.confirm_article .confirm_title {
  font-weight: bold;
  color: #8C1515;
  height: 41px;
  line-height: 50px;
  overflow: hidden;
  font-size: 14px;
}
.confirm_ebook .confirm_list,
.confirm_article .confirm_list {
  height: 130px;
  border: 1px solid #EEEEEE;
  border-bottom: none;
}
.confirm_ebook .confirm_list:last-child,
.confirm_article .confirm_list:last-child {
  border-bottom: 1px solid #EEEEEE;
}
.confirm_ebook .confirm_list:hover,
.confirm_article .confirm_list:hover {
  background: #F9F9FC;
}
.confirm_ebook .confirm_list .confirm_image,
.confirm_article .confirm_list .confirm_image {
  float: left;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  margin: 0 20px;
  margin-top: 15px;
  line-height: 100px;
}
.confirm_ebook .confirm_list img,
.confirm_article .confirm_list img {
  max-width: 98px;
  max-height: 98px;
  border: 1px solid #ececec;
  display: inline-block;
  vertical-align: middle;
}
.confirm_ebook .confirm_list .confirm_name,
.confirm_article .confirm_list .confirm_name,
.confirm_ebook .confirm_list .confirm_money,
.confirm_article .confirm_list .confirm_money,
.confirm_ebook .confirm_list .confirm_number,
.confirm_article .confirm_list .confirm_number,
.confirm_ebook .confirm_list .confirm_total,
.confirm_article .confirm_list .confirm_total,
.confirm_ebook .confirm_list .confirm_reviewbtn,
.confirm_article .confirm_list .confirm_reviewbtn,
.confirm_ebook .confirm_list .confirm_list_name,
.confirm_article .confirm_list .confirm_list_name {
  display: inline-block !important;
  vertical-align: middle;
  color: #333333;
  line-height: 130px;
}
.confirm_ebook .confirm_list .confirm_name,
.confirm_article .confirm_list .confirm_name {
  margin-right: 250px;
  line-height: 20px;
  width: 260px;
  cursor: pointer;
}
.confirm_ebook .confirm_list .cover_confirm_name,
.confirm_article .confirm_list .cover_confirm_name {
  margin-left: 15px;
  width: 385px;
}
.confirm_ebook .confirm_list .confirm_list_name,
.confirm_article .confirm_list .confirm_list_name {
  width: 380px;
  margin-right: 270px;
  line-height: 22px;
  margin-left: 20px;
  max-height: 70px;
  overflow: hidden;
}
.confirm_ebook .confirm_list .confirm_money,
.confirm_article .confirm_list .confirm_money {
  width: 100px;
  text-align: center;
  margin-right: 100px;
}
.confirm_ebook .confirm_list .confirm_money span,
.confirm_article .confirm_list .confirm_money span {
  line-height: 20px;
  display: block;
}
.confirm_ebook .confirm_list .confirm_money .line_price,
.confirm_article .confirm_list .confirm_money .line_price {
  text-decoration: line-through;
  color: #ccc;
}
.confirm_ebook .confirm_list .confirm_number,
.confirm_article .confirm_list .confirm_number {
  width: 100px;
  margin-right: 100px;
  text-align: center;
}
.confirm_ebook .confirm_list .confirm_reviewbtn,
.confirm_article .confirm_list .confirm_reviewbtn {
  height: 30px;
  width: 92px;
  color: #957355;
  line-height: 30px;
  text-align: center;
}
.confirm_ebook .confirm_list .confirm_reviewbtn:hover,
.confirm_article .confirm_list .confirm_reviewbtn:hover {
  color: #fff;
  background: #957355;
}
.confirm_invoice {
  margin: 20px 0;
  height: 140px;
  border: 1px solid #EEEEEE;
  padding-left: 20px;
  font-size: 14px;
}
.confirm_invoice .confirm_invoice_title {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #8C1515;
  font-size: 16px;
}
.confirm_invoice .confirm_invoice_text {
  margin-bottom: 12px;
}
.confirm_invoice .confirm_invoice_info span {
  margin-right: 20px;
}
.confirm_invoice .confirm_invoice_info span:last-child {
  color: #751D1C;
  cursor: pointer;
}
.confirm_order {
  color: #333;
  border: 1px solid #EEEEEE;
  padding-top: 20px;
  font-size: 14px;
}
.confirm_order .confirm_goods {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 20px;
}
.confirm_order .confirm_outside {
  float: right;
  margin-right: 20px;
}
.confirm_order .confirm_outside span {
  width: 80px;
  display: inline-block;
  text-align: right;
}
.confirm_order .confirm_payment {
  color: #F4494A;
}
.confirm_order .confirm_payment span {
  font-size: 18px;
  font-weight: bold;
}
.confirm_order .confirm_bottom {
  height: 60px;
  background: #F9F9F9;
  margin-top: 30px;
  line-height: 60px;
}
.confirm_order .confirm_bottom_tips {
  color: #088CE1;
  float: right;
  text-decoration: underline;
  cursor: pointer;
}
.confirm_order .confirm_bottom_btn {
  float: right;
  background: #F44B4A;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 110px;
  height: 60px;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}
