#shopping {
  width: 100%;
  background: #f7f7f7;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 40px;
  box-sizing: border-box;
}
#shopping .el-checkbox__input.is-checked .el-checkbox__inner,
#shopping .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #7E0204;
  border-color: #7E0204;
}
#shopping .el-checkbox__inner:hover {
  border-color: #7E0204;
}
#shopping .dialog_confirm {
  background: #8C1C1B !important;
}
#shopping .el-checkbox__input.is-checked .el-checkbox__inner,
#shopping .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background: #751D1C;
  color: #751D1C;
  border-color: #751D1C;
}
.shopping_content {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  margin-top: 36px;
  padding: 0 20px;
  box-sizing: border-box;
}
.shopping_top {
  height: 123px;
  background: #fff;
  overflow: hidden;
}
.shopping_top .shopping_text {
  float: left;
  line-height: 160px;
  font-size: 18px;
  color: #333333;
}
.shopping_top .shopping_img {
  float: right;
  width: 490px ;
}
.shopping_top .shopping_img img {
  width: 100%;
  display: inline-block;
  margin-top: 40px;
}
.shopping_top .shopping_img span {
  color: #F47519;
  display: inline-block;
  width: 160px;
  margin-top: 5px;
  text-align: center;
}
.shopping_top .shopping_img .not_shopping {
  color: #CCCCCC;
}
.shopping_soldout {
  height: 34px;
  line-height: 34px;
  border: solid 1px #eee;
  padding-left: 14px;
  margin-bottom: 12px;
  color: #666;
  display: inline-block;
  padding-right: 10px;
}
.shopping_soldout span {
  color: #4990FB;
  margin: 0 5px;
  cursor: pointer;
}
.shopping_soldout img {
  float: left;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  margin-right: 6px;
}
.shopping_table {
  height: 40px;
  line-height: 40px;
  background: #F5F5F5;
  clear: both;
}
.shopping_table span {
  display: inline-block;
  color: #454545;
  font-weight: bold;
}
.shopping_table .shopping_select {
  margin-left: 14px;
}
.shopping_table .shopping_info {
  width: 380px;
  text-align: center;
}
.shopping_table .shopping_price {
  width: 180px;
  text-align: center;
}
.shopping_table .shopping_num {
  width: 180px;
  text-align: center;
}
.shopping_table .shopping_total {
  width: 180px;
  text-align: center;
}
.shopping_table .shopping_set {
  width: 142px;
  text-align: center;
}
.shopping_ebook {
  font-size: 14px;
}
.shopping_ebook .el-input-number--mini,
.shopping_article .el-input-number--mini {
  width: 80px;
}
.shopping_ebook .el-input-number__decrease,
.shopping_article .el-input-number__decrease,
.shopping_ebook .el-input-number__increase,
.shopping_article .el-input-number__increase {
  width: 20px !important;
}
.shopping_ebook .shopping_title,
.shopping_article .shopping_title {
  font-weight: bold;
  color: #8C1515;
  height: 41px;
  line-height: 50px;
  overflow: hidden;
  margin-left: 14px;
}
.shopping_ebook .shopping_list,
.shopping_article .shopping_list {
  height: 130px;
  border: 1px solid #EEEEEE;
  border-bottom: none;
}
.shopping_ebook .shopping_list:last-child,
.shopping_article .shopping_list:last-child {
  border-bottom: 1px solid #EEEEEE;
}
.shopping_ebook .shopping_list:hover,
.shopping_article .shopping_list:hover {
  background: #F9F9FC;
}
.shopping_ebook .shopping_list .el-checkbox,
.shopping_article .shopping_list .el-checkbox {
  float: left;
  line-height: 130px;
  margin-left: 27px;
  margin-right: 10px;
}
.shopping_ebook .shopping_list .shopping_image,
.shopping_article .shopping_list .shopping_image {
  float: left;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  margin: 0 20px;
  margin-top: 15px;
  line-height: 100px;
}
.shopping_ebook .shopping_list img,
.shopping_article .shopping_list img {
  max-width: 98px;
  max-height: 98px;
  border: 1px solid #ececec;
  display: inline-block;
  vertical-align: middle;
}
.shopping_ebook .shopping_list .shopping_name,
.shopping_article .shopping_list .shopping_name,
.shopping_ebook .shopping_list .cover_shopping_name,
.shopping_article .shopping_list .cover_shopping_name,
.shopping_ebook .shopping_list .shopping_money,
.shopping_article .shopping_list .shopping_money,
.shopping_ebook .shopping_list .shopping_number,
.shopping_article .shopping_list .shopping_number,
.shopping_ebook .shopping_list .shopping_total,
.shopping_article .shopping_list .shopping_total,
.shopping_ebook .shopping_list .shopping_reviewbtn,
.shopping_article .shopping_list .shopping_reviewbtn,
.shopping_ebook .shopping_list .shopping_list_name,
.shopping_article .shopping_list .shopping_list_name,
.shopping_ebook .shopping_list .shopping_btn,
.shopping_article .shopping_list .shopping_btn {
  display: inline-block !important;
  vertical-align: middle;
  color: #333333;
  line-height: 130px;
}
.shopping_ebook .shopping_list .shopping_name,
.shopping_article .shopping_list .shopping_name {
  margin-right: 10px;
  line-height: 20px;
  width: 265px;
  cursor: pointer;
  font-size: 14px;
}
.shopping_ebook .shopping_list .shopping_list_name,
.shopping_article .shopping_list .shopping_list_name {
  width: 329px;
  margin-right: 140px;
  line-height: 22px;
  margin-left: 20px;
  max-height: 70px;
  overflow: hidden;
}
.shopping_ebook .shopping_list .shopping_money,
.shopping_article .shopping_list .shopping_money {
  width: 140px;
  text-align: center;
  margin-right: 60px;
}
.shopping_ebook .shopping_list .shopping_money span,
.shopping_article .shopping_list .shopping_money span {
  line-height: 20px;
  display: block;
}
.shopping_ebook .shopping_list .shopping_money .line_price,
.shopping_article .shopping_list .shopping_money .line_price {
  text-decoration: line-through;
  color: #ccc;
}
.shopping_ebook .shopping_list .shopping_number,
.shopping_article .shopping_list .shopping_number {
  width: 130px;
  text-align: center;
  margin-right: 10px;
}
.shopping_ebook .shopping_list .shopping_total,
.shopping_article .shopping_list .shopping_total {
  width: 180px;
  text-align: center;
  margin-right: 20px;
  font-weight: bold;
}
.shopping_ebook .shopping_list .shopping_btn,
.shopping_article .shopping_list .shopping_btn {
  width: 120px;
  text-align: center;
}
.shopping_ebook .shopping_list .shopping_btn p,
.shopping_article .shopping_list .shopping_btn p {
  margin-bottom: 10px;
  line-height: 20px;
  cursor: pointer;
}
.shopping_ebook .shopping_list .shopping_btn p:last-child,
.shopping_article .shopping_list .shopping_btn p:last-child {
  margin-bottom: 0;
}
.shopping_ebook .shopping_list .shopping_reviewbtn,
.shopping_article .shopping_list .shopping_reviewbtn {
  height: 30px;
  width: 92px;
  color: #1F77F2;
  line-height: 30px;
  text-align: center;
}
.shopping_ebook .shopping_list .shopping_reviewbtn:hover,
.shopping_article .shopping_list .shopping_reviewbtn:hover {
  color: #fff;
  background: #1F77F2;
}
.list_soldout {
  background: #EEEEEE;
  border-bottom: 1px solid #fff !important;
}
.list_soldout:hover {
  background: #EEEEEE !important;
}
.list_soldout .shopping_name,
.list_soldout .cover_shopping_name,
.list_soldout .shopping_money,
.list_soldout .shopping_number,
.list_soldout .shopping_total,
.list_soldout .shopping_reviewbtn,
.list_soldout .shopping_list_name,
.list_soldout .shopping_btn {
  color: #BBBBBB !important;
}
.list_soldout .shopping_soldtext {
  width: 36px;
  height: 16px;
  line-height: 16px;
  background: #FEE1CA;
  color: #FA6104;
  float: left;
  margin-left: 14px;
  margin-top: 57px;
  text-align: center;
  border-radius: 2px;
}
.shopping_order {
  color: #454545;
  border: 1px solid #EEEEEE;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  padding-left: 14px;
  font-size: 14px;
}
.shopping_order .shopping_collect,
.shopping_order .shopping_delete {
  text-decoration: underline;
  cursor: pointer;
}
.shopping_order .shopping_collect {
  margin-left: 29px;
  margin-right: 19px;
}
.shopping_order .shopping_orderinfo {
  margin-top: 10px;
  float: right;
  text-align: center;
}
.shopping_order .shopping_orderinfo p {
  line-height: 20px;
}
.shopping_order .shopping_orderinfo i {
  font-style: normal;
  color: #F44B4A;
}
.shopping_order .shopping_orderinfo .shopping_last_money {
  font-weight: bold;
}
.shopping_order .shopping_bottom_btn {
  float: right;
  background: #F44B4A;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 110px;
  height: 60px;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}
.shopping_recommend {
  margin-top: 50px;
  padding-top: 16px;
}
.shopping_recommend .shopping_recommend_title {
  height: 25px;
  line-height: 25px;
  color: #333;
  font-size: 18px;
  padding-left: 12px;
  border-bottom: 1px solid #E7E4E1;
  padding-bottom: 26px;
}
.shopping_recommend .shopping_recommend_title img {
  float: left;
  margin-top: 7px;
  margin-right: 4px;
}
.shopping_recommend .personal_product {
  overflow: hidden;
  margin: 30px;
  margin-bottom: 0;
}
.shopping_recommend .personal_product .personal_productCon {
  overflow: hidden;
}
.shopping_recommend .personal_product .personal_icon {
  width: 20px;
  height: 40px;
  margin-top: 100px;
  display: inline-block;
}
.shopping_recommend .personal_product .personal_list {
  width: 150px;
  height: 284px;
  padding: 20px 25px;
  margin-right: 18px;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}
.shopping_recommend .personal_product .personal_list:last-child {
  margin-right: 0px;
}
.shopping_recommend .personal_product .personal_list .image_box {
  height: 200px;
  width: 150px;
  line-height: 200px;
  text-align: center;
}
.shopping_recommend .personal_product .personal_list .image_box .img {
  max-width: 148px;
  max-height: 198px;
  border: 1px solid #ececec;
  display: inline-block;
  vertical-align: middle;
}
.shopping_recommend .personal_product .personal_list .img_favorite {
  float: right;
  border: solid 1px #eee;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: -30px;
  background-image: url(../../../src/assets/images/shopping/shopping.png);
  background-repeat: no-repeat;
  background-position: 6px 7px;
  cursor: pointer;
}
.shopping_recommend .personal_product .personal_list p {
  color: #333333;
  margin-top: 12px;
  cursor: pointer;
}
.shopping_recommend .personal_product .personal_list .shopping_name {
  height: 36px;
  font-size: 14px;
  width: 160px;
  text-align: left;
}
.shopping_recommend .personal_product .personal_list .personal_moneytext {
  color: #E30C00;
  text-align: left;
}
.shopping_recommend .personal_product .personal_list:hover {
  -moz-box-shadow: inset 0 0 10px #EEEEEE;
  -webkit-box-shadow: inset 0 0 10px #EEEEEE;
  box-shadow: inset 0 0 10px #EEEEEE;
}
.shopping_recommend .personal_product .personal_list:hover .img_favorite {
  background: #F44B4A;
  background-image: url(../../../src/assets/images/shopping/shopping_hover.png);
  background-repeat: no-repeat;
  background-position: 6px 7px;
}
.shopping_recommend .personal_bottom {
  height: 84px;
  line-height: 84px;
  background: #fff;
  text-align: center;
}
.shopping_recommend .personal_bottom span {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  border: solid 1px #AAAAAA;
  margin-right: 10px;
}
.shopping_recommend .personal_bottom .personal_pointhover {
  background: #AAAAAA;
}
.shopping_null {
  height: 450px;
}
.shopping_null img {
  float: left;
  width: 140px;
  height: auto;
  margin-left: 340px;
  margin-top: 180px;
}
.shopping_null .info {
  float: left;
  margin-left: 20px;
  margin-top: 220px;
}
.shopping_null p {
  color: #999999;
}
.shopping_null span {
  background: #8C1515;
  color: #fff;
  width: 100px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  margin-top: 17px;
}
.cover_shopping_name {
  height: 36px;
  font-size: 14px;
  width: 400px;
  margin-right: 0;
  margin-left: 10px;
  text-align: left;
  line-height: 28px !important;
}
