<template style="height:100%">
  <div id="articleRead">
    <div class="pdf_read_content" style="min-height: 600px;position: relative;padding-bottom:40px;">
      <div class="answer_main">
        <div class="answer_sub">
          <!-- 左边的 -->
          <div class="sub_right pdf_read_right" style="margin-right:12px;margin-left:0">
            <!-- 阅读器 -->
            <div style="margin-bottom:20px;box-sizing:border-box">
              <div class="article_read_content">
                <div class='article_read_content_top'>
                  <div class="title">{{detail.name}}</div>
                  <div class="sub_title" v-if="detail.bookName||detail.source">来源：
                    <span v-if="detail.bookName">
                      <router-link :to="{name:'bookDetails',query:{id:detail.bookId}}" :class="detail.bookId?'sub-title-a':''">
                        《{{detail.bookName}}》
                      </router-link>
                    </span>
                    <span v-if="detail.source">《{{detail.source}}》</span>
                  </div>
                  <div class='right_style'>
                    <div class='pdf_read_btn'>
                      <span class="reads">{{detail.browseNum}}人阅读</span>
                      <span :class="isCollection?'heart_btn':'noheart_btn'" @click="tapCollection">收藏</span>
                      <span class="share">
                        <div style="display:inline-block;"><i class="el-icon-share" style="margin-right:5px"></i>分享</div>
                        <div class="bdsharebuttonbox share_wrap" ref="share_wrap" style="width:100px;right:0;position:absolute;">
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <!-- <a href="#" class="bds_more" data-cmd="more"></a> -->
                        </div>
                      </span>
                      <!-- <span @click="correctionBtn" v-if="userType!=2" class="error_btn" :class="isError?'iconColor':''">
                        <i class="el-icon-circle-close"  style="margin-right:5px;"></i>纠错
                      </span> -->
                    </div>
                  </div>
                </div>
                <div class="article_read_content_audio audio_bg" v-if="detail.audio">
                  <div class="article_read_content_audiono" v-if="detail.audio=='无权限'" @click="videoNo"></div>
                  <!-- <aplayer
                      :music="{
                        title: ' ',
                        artist: ' ',
                        src: `${uploadUrl}file/?fileName=${detail.audio}`,
                        pic: 'https://moeplayer.b0.upaiyun.com/aplayer/secretbase.jpg'
                      }"
                    /> -->
                </div>
                <div class="article_read_content_inner">
                  <div class="article_read_content_block" v-if="detail.text">
                    <div class="title">正文内容</div>
                      <p class="txt" v-html="detail.text">
                    </p>
                  </div>

                </div>
                <div class="article_read_content_video" v-if="detail.video">
                  <div class="article_read_content_videono" v-if="detail.video=='无权限'" @click="videoNo"></div>
                  <video :src="fileUrl(detail.video)" controls></video>
                </div>
                <div class="articleOver bg" v-if="detail.messageCode==2 || detail.messageCode==6 " style="padding-top:10px">试读结束，
                  <a @click="loginIn">登录</a>
                  后继续阅读
                </div>
                <div class="articleOver" v-if="detail.messageCode==3 || detail.messageCode==1 || detail.messageCode==0">
                  <span class="limit_tips limit_bg">
                    {{detail.message}}
                  </span>
                </div>
                <div class="articleOver" v-if="detail.messageCode==4">
                  <div>继续阅读，请先通过以下方式获得阅读权限</div>
                  <div class="article_limit">
                    <div class="left_btn" @click="immediatelyBuy(detail.id)">
                      购买本篇：<span>￥{{detail.realPrice}} 
                      <del v-if="detail.price">￥{{detail.price}}</del></span>
                    </div>
                    <div class="right_btn" v-if="detail.bookId&&detail.bookId!=''" @click="immediatelyBuy(detail.bookId)">
                      购买整书：<span>
                      <span v-if="detail.bookRealPrice == 0">免费 </span>
                      <span v-else-if="detail.bookRealPrice == '' || detail.bookRealPrice == 'null'">未定价 </span>
                      <span v-else>￥{{detail.bookRealPrice}} </span>
                      <del v-if="detail.bookPrice">￥{{detail.bookPrice}}</del></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 评论区 -->
            <div class="writeBg" v-if="userType!=2">
              <div class="medetails_content_com">
                <div class="medetails_content_comTitle">评论</div>
                <div>
                  <div class="medetails_content_rate">
                    <span class="medetails_content_rateCom">星评：</span>
                    <el-rate v-model="value4" :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
                  </div>
                  <div class="articleTextarea">
                  <textarea class="medetails_content_textarea" v-model="textCont" name cols="113" rows="10"
                            placeholder="内容这么赞,快来评论吧..." style="width:853px;height:100px;" maxlength="300"></textarea>
                    <span>{{textCont.length}}/300</span>
                  </div>

                  <div style="width:100%; display: block;height:46px; padding-bottom: 10px;">
                    <div class="medetails_content_btn" @click="saveBtn">评论</div>
                  </div>
                </div>

                <div class="medetails_content_item" v-for="(val,index1) in commentList" :key="index1" style="margin-top: 26px;">
                  <div class="itemHeader">
                    <img :src=fileUrl(val.userImg) v-if="val.userImg">
                    <img src="@/assets/images/home/avatar.jpg" v-else>
                  </div>
                  <div class="listCont">
                    <div class="itemTit">
                      <span class="title">{{val.userName}}</span>
                      <div class="itemStar">
                      <span>
                        <img src="@/assets/images/personal/starty.png" alt="" v-for="(star,ind) in val.score" :key="ind">
                      </span>
                        <ul>
                          <li v-for="(item,index) in startNum" :key="index"></li>
                        </ul>
                      </div>
                      <span>{{val.releaseTime}}</span>
                    </div>

                    <div class="itemCont">
                      {{val.content}}
                    </div>
                    <div class="itemOper">
                      <div class="comNum" @click="lookCom(val.id)">
                        <span>{{val.replyNum}}</span>
                      </div>
                      <div class="thumbNum" @click="commentAgree(val.id,val)">
                        <img src="@/assets/images/resource/reply_agree_hover.png" alt="" v-if="val.isAgree">
                        <img src="@/assets/images/resource/reply_agree.png" alt="" v-else>
                        <span :class="val.isAgree ? 'fontColor' : ''">{{val.fabulousNum}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                 <router-link  class="medetails_content_more" target="_blank"
                    :to="{name: 'comments', query: { id:this.$route.query.id,type:detail.resourceType,name:detail.name}}"  
                    v-if="commentTotal>5" >
                    <div class="medetails_content_more" @click="linkHref" v-if="commentList.length>5">更多精彩评论>></div>
                  </router-link>
              </div>
            </div>
          </div>
          <!-- 右侧列表切换 -->
          <div class="sub_left pdf_read_left" style="height: max-content;padding-bottom:40px;">
            <div class="article_read_right">
              <div class="right_title">相关资源</div>
              <div class="article_read_list" v-if="recommendList && recommendList.length>0">
                <p v-for="(item,index) in recommendList" :key="item.id" @click="detailsPage(item.resourceId)">
                    <span>{{index+1}}</span>
                    {{item.name}}
                </p>
              </div>
              <div class="hot_list" v-if="recommendList.length==0"  style="text-align: center;width: 87%;height:20px;">
                暂无内容
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--纠错弹出框-->
    <div class="errorAll" v-if="isShowError">
      <div class="errorAlert">
        <div class="errorTop">
          <span>纠错</span>
          <span class="close" @click="isShowError=false">×</span>
        </div>
        <div class="errorText">
          <textarea name="" id="" cols="30" rows="10" placeholder="请在此处填写纠错内容. . ." maxlength="300"
                    v-model="textBig"></textarea>
          <span>{{this.textBig.length}}/300</span>
        </div>
        <div class="btn">
          <button class="submit" @click="submitBtn">提交</button>
        </div>
      </div>
    </div>
    <!-- 登录弹窗 -->
    <loginAlert :isShowChild="isShowAlert" @toFatherData="sendSonData"></loginAlert>
  </div>
</template>

<script>
  import aplayer from 'vue-aplayer'
  import myEditor from "@/components/editor"
  import "@static/css/home/articleread.less"
  import {
    articleDetailAPI,
    commentSaveAPI,
    getCommentListAPI,
    resourceAPI,
    saveCorrectAPI,
    cancelcollectionAPI,
    collectionAPI,
    commentAgreeAPI,
    commonDetailAPI,
  } from '@/api/comment/comments';
  import{ commonRecommendAPI } from '@/api/common';
  import { uploadUrl } from '@/utils/global'
  import navbar from '@/components/navbar.vue';

  
  export default {
    name: 'medetails',
    components: {
      navbar,
      myEditor,
      aplayer
    },
    data() {
      return {
        uploadUrl: uploadUrl,
        searchVal: {
          searchVal: '',
          national: '',
          nationalNum: '',
        },
        listQuery: {
          resourceId: null,
          resourceType: 3,
          type: 3,
          pageNum: 1,
          pageSize: 10
        },
        startNum: 5,
        activeName: 'first',
        id: '',
        detail: {},
        isShowError: false,
        textBig: '',
        resourceList: [],
        resourceType: null,
        pageNum: 0,
        pageSize: 10,
        commentList: [],
        commentTotal: 0,
        value4: 5,
        textCont: '',
        userName: localStorage.getItem("userName"),
        userType: localStorage.getItem("userType"),
        token: localStorage.getItem("Y-Token"),
        isCollection: false,
        isError: false,
        nationalNum: '',
        codeVal: '',
        recommendList: [],
        isShowAlert: false
      }
    },
    created() {
      this.id = this.$route.query.id;
      this.articleDetail(this.id);
    },
    mounted() {
      window._bd_share_main ? window._bd_share_main.init() : this.setShare()
    },
    watch: {
      $route() {
        this.articleDetail(this.id);
      },
    },
    methods: {
      /*视频无权限*/
      videoNo(){
        if(localStorage.getItem("Y-Token")) {
          this.$message.warning("您尚未登录，暂无播放权限")
        } else{
          this.$message.warning("您尚未购买，暂无播放权限")
        }
      },
      loginIn() {
        if(localStorage.getItem("Y-Token")) {
          this.isShowAlert = false;
        } else {
          this.isShowAlert = true;
        }
      },
      sendSonData(val) {//登录信息
        let self = this;
        self.isShowAlert = false;
        this.articleDetail(this.id);
        this.$emit('getloginData'); //弹窗登录信息
      },
      /*获取右侧列表*/
      rightList(id) {
        this.listQuery.resourceId = id
        commonRecommendAPI(this.listQuery).then(res => {
          if(res.data.code == 0) {
            this.recommendList = res.data.data
          }
        })
      },
      /*获取文章详情*/
      articleDetail(id) {
        this.id = id
        articleDetailAPI(this.id).then(res => {
          this.detail = res.data.data;
          this.isCollection = this.detail.isCollection;
          this.resourceType = res.data.data.resourceType;
          document.title = this.detail.name
          this.getCommentList(id,3);
          this.rightList(id)
        })
      },
      /*纠错按钮*/
      correctionBtn() {
        if(localStorage.getItem("Y-Token")) {
          this.isShowError = !this.isShowError;
          this.textBig = '';
        } else {
          this.isShowAlert = true;
        }

      },
      /*保存评论*/
      saveBtn() {
        let textCon = this.textCont.replace(/^\s+|\s+$/g, '')
        if(localStorage.getItem("Y-Token")) {
          if (textCon == '') {
            this.$message.warning("请填写评论内容！")
          } else {
            commentSaveAPI({
              content: textCon,//评论内容
              fatherId: 0,//父级评论id：0资源，其他评论id
              fatherName: '',//父级评论用户名
              id: '',//评论id
              mainId: 0,// 所属主评论id：0资源主评论，其他主评论id
              resourceType: this.resourceType,//资源类型 0全部1理论 2药物 3方剂 4临床 5医案 6文化 7机构 8医论 9其他 10医著 注：1-9与文章类型一致
              resourceId: this.id,//资源id
              resourceName: this.detail.name,//资源名称
              score: this.value4,
            }).then(res => {
              if (res.data.status) {
                this.$message.success("评论成功，请耐心等待审核！")
                this.getCommentList(this.id,3);
                this.textCont = '';
                this.value4 = 5;
              } else {
                this.$message.error(res.datas.msg)
              }
            })
          }
        } else {
          this.isShowAlert = true;
        }
      },

      /*获取评论列表*/
      getCommentList(id,type) {
        getCommentListAPI({
          resourceId: id,
          resourceType: type,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        }).then(res => {
          this.commentList = res.data.data.list;
          this.commentTotal = res.data.data.total;
        })
      },
      /*跳转到全部评论*/
      linkHref() {
        this.$router.push({name: 'comments', query: {id: this.id, type: this.detail.resourceType,name:detail.name}})
      },
      /*保存纠错*/
      submitBtn() {
        let time = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate() + ' ' + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds();
        let textCon = this.textBig.replace(/^\s+|\s+$/g, '')
        if (textCon == '') {
          this.$message.warning("请填写纠错内容！")
        } else {
          saveCorrectAPI({
            "content": textCon,
            "title": this.detail.name,
            "type": this.detail.resourceType,
          }).then(res => {
            if (res.data.status) {
              this.isShowError = false;
              this.$message.success("纠错内容提交成功！")
              this.isError = true
            } else {
              this.$message.error(res.data.msg)
            }
          })
        }
      },
      /*收藏*/
      tapCollection() {
        if(localStorage.getItem("Y-Token")) {
          let data = {
            goodsList: [{
              id: this.id,
              type: this.detail.resourceType
            }],
            // memberType: 1,
          }
          if (this.isCollection) {//收藏了
            cancelcollectionAPI(data).then(res => {
              if (res.data.status) {
                this.isCollection = false;
                this.$message.success("取消收藏")
              }
            })
          } else {
            collectionAPI(data).then(res => {
              if (res.data.status) {
                this.isCollection = true;
                this.$message.success("收藏成功")
              }
            })
          }
        } else {
          this.isShowAlert = true;

        }
      },

      lookCom(id) {
        // this.$router.push({name: 'commentReply', query: {id: id, type: this.detail.resourceType}})
        this.$router.push({name:'comments', query:{id:this.$route.query.id,type:this.detail.resourceType,name:this.detail.name,fatherId:id}})
      },
      /*点赞*/
      commentAgree(id, item) {
        if(localStorage.getItem("Y-Token")) {
          this.$forceUpdate()
          if (!item.isAgree) {
            commentAgreeAPI({
              commentId: id
            }).then(res => {
              if (res.data.status) {
                this.$message.success("点赞成功！")
                for (let i = 0; i < this.commentList.length; i++) {
                  if (this.commentList[i].id == id) {
                    this.$set(this.commentList[i], 'isAgree', !this.commentList[i].isAgree);
                    this.commentList[i].fabulousNum++;
                  }
                }
              } else {
                this.$message.error(res.data.msg)
              }
            })
          } else {//不可以取消点赞
            this.$message.warning('已点赞成功')
          }
        } else {
          this.isShowAlert = true;
        }
      },
      /*立即购买*/
      immediatelyBuy() {
        if(localStorage.getItem("Y-Token")) {
          this.$router.push({name: 'confirmOrder', query: {id: this.id, type: this.detail.resourceType}});
        } else {
          this.isShowAlert = true;
        }
      },
      detailsPage(id) {
        this.articleDetail(id)
      },
      setShare(){//分享
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdMiniList":false,
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"
            },
            "share":{},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["weixin","tsina","douban","qzone"]
            }
        };
        const shareDome = document.createElement('script');
        shareDome.type = 'text/javascript';
        shareDome.src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);
        this.$refs.share_wrap.appendChild(shareDome);
      },
    },
  }
</script>
