<template>
  <div class="article_body"  v-loading="loading">
    <div class="book_list" v-for="item in list" :key="item.id">
      <div class="image" v-if="item.cover">
        <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
      </div>
      <div class="right">
        <router-link :to="{name:'articleread',query:{ id:item.id }}">
          <div class="name" v-html="item.name" :title="item.name"></div>
        </router-link>
        <div class="description">{{item.text&&item.text.length>100?item.text.substr(0,100)+'...':item.text}}</div>
        <div class="price_list">
          <div class="article_price">
            <span class="free" v-if="item.realPrice == 0">免费</span>
            <span class="no_price" v-else-if="item.realPrice == ''||item.realPrice == null">未定价</span>    
            <span class="price" v-else>￥{{item.realPrice}}</span>
            <span class="line_price" v-if="item.price&&item.realPrice>0">￥{{item.price}}
              <span class="discount" v-if="item.discount">({{item.discount}}折)</span>
            </span>
          </div>
          <div class="article_browse">
            <span class="browse"><img src="@/assets/images/resource/read_hover.png" class="read">{{item.browseNum}}次浏览</span>
          </div>
          <div class="article_source" v-if="item.bookName || item.source">
            <span class="resource_name">来源：<span :class="item.bookId?'source_color':''">《</span></span>
            <span v-html="item.bookName" v-if="item.bookId" class="source source_color" @click="bookPage(item.bookId)"></span>
            <span v-else v-html="item.source" class="source"></span>
            <span :class="item.bookId?'resource_name source_color':'resource_name'">》</span>
          </div>
          <router-link target="_blank" :to="{name:'articleread',query:{id:item.id}}">
            <span class="readBtn" v-if="item.isStatus == 0"><i class="el-icon-view" style="margin-right:6px;"></i>阅读</span>
          </router-link>
          <span class="shop_btn"  v-if="item.isStatus == 2" @click="joinTip">加入购物车</span>
          <span class="shop_hover" v-if="item.isStatus == 1" @click="joinShopping(item.id,item.resourceType)">加入购物车</span>
        </div>
      </div>
    </div>

    <div v-if="list.length ==0 && loading == false" style="width: 600px; margin: 100px auto;text-align:center">
      <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
      <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
    </div>

    <!-- 分页 -->
    <div class="pagination_box" v-if="list && list.length > 0">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="listQuery.pageNum"
        :page-size="listQuery.pageSize"
        layout="prev, pager, next, total, jumper"
        :total="total">
      </el-pagination>
    </div>
    
    <loginAlert :isShowChild="isShowAlert"  @toFatherData="sendSonData"></loginAlert>
  </div>
</template>

<script>
import "@static/css/resource/article.less"
import { getListAPI } from '@/api/resource/index'
import { uploadUrl } from '@/utils/global'
import { shopCartAPI } from '@/api/common'
import Cookies from "js-cookie";

export default {
  name: 'article',
  data(){
    return {
      listQuery:{
        pageNum: 1,
        pageSize: 20,
        resourceType: 3, //文章
      },
      list: [],
      total: null,
      uploadUrl: uploadUrl,
      loading: true,
      isShowAlert:false,
      paramsObj: {},
    }
  },
  created(){
    this.$route.meta.title = '章节'
    if(this.$route.query) {
      this.getList(this.$route.query)
    }
  },
  destroyed(){
    Cookies.remove('content');
  },
  methods:{
    getList(obj) {//列表
      this.loading = true
      if(obj){ this.paramsObj = obj }
      let params = Object.assign(this.paramsObj,this.listQuery)
      getListAPI(params).then(res => {
        if(res.data.status){
          if(res.data.data.resList) {
            this.list = res.data.data.resList
          } else{
            this.list = []
          }
          if(res.data.data.totalCount){
            this.total = res.data.data.totalCount
            this.$emit("changeTotal",res.data.data)
          }
        }
        this.loading = false
      })
    },
    joinTip() { // 未定价提示
      this.$message.warning('资源更新中，敬请期待~')
    },
    joinShopping(id,type) { //加入购物车
      if(localStorage.getItem("Y-Token")){//判断是否登录
        shopCartAPI({
          goodsId: id,
          goodsType: type,
          num: 1
        }).then(res => {
          if(res.data.code>0) {
            this.$message.error(res.data.msg)
          } else if(res.data.code<0) {
            this.$message.error('添加购物车失败，请稍后再试')
          } else{
            this.$message.success('商品已加入购物车！')
          }
        })
      } else{
        this.isShowAlert=true;
      }
    },
    bookPage(id) {
      this.$router.push({name:'bookDetails',query:{id:id}})
    },
    sendSonData(val){/*子传父*/
      let self=this;
      self.isShowAlert=false;
      this.$emit('getloginData'); //弹窗登录信息
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
      window.scrollTo(0, 0)
    },
  }
}
</script>