<template>
  <div class='detailsPage'>
    <div class="details_top_box">
      <div class="details_main">
        <!-- 分享收藏模块 -->
        <div class="book_details_share">
          <div class="book_details_list share_list">
              <div class="share_box">
                <span>分享</span>
              </div>
              <div class="bdsharebuttonbox share_wrap" ref="share_wrap" style="width:100px;right:0;position:absolute;">
                  <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                  <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                  <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                  <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
              </div>
          </div>
          <div class="book_details_list" @click="tapCollection">
            <div v-if="!isCollection" class="noagreeH"><span><img src="@/assets/images/resource/icon_collection.png"></span>收藏</div>
            <div v-if="isCollection" class="agreeH"><span><img src="@/assets/images/resource/icon_collection_hover.png"></span>收藏</div>
          </div>
        </div>
        <div class="audio_box_left" style="border:none">
          <div class="video_box_top">
            <img :src=fileUrl(detail.cover) v-if="detail.cover">
            <img src="@/assets/images/resource/default_audio.png" alt="默认封面" v-else>
          </div>
          <!-- <audio :src=fileUrl(detail.audio) controls="controls" class="audio"></audio> -->
          <!-- <aplayer
            :music="{
              title: ' ',
              artist: ' ',
              src: fileUrl(detail.audio),
              pic: 'https://moeplayer.b0.upaiyun.com/aplayer/secretbase.jpg'
            }"
          />  -->
          <div class="artical-audio">
            <v-audio :audioUrl="detail.audio" :controlList="onlyOnePlaying"></v-audio>
          </div>
          <!-- <div class="notPay" @click="tipsResource" v-if="detail.messageCode"></div> -->
        </div>
        <div class="details_main_right">
          <div class="main_title">{{detail.name&&detail.name.length>46?detail.name.substring(0,46)+'...':detail.name}}</div>
          <div class="main_rate">
            <el-rate v-model="totalScore" disabled  :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
            <div class="main_read"><span>{{detail.browseNum}}</span>人阅读</div>
          </div>
          <div class="main_list">
            <div class="list">讲师：<span :class="detail.authorId?'color':''" @click="authorDetails(details.authorId)">
              {{detail.author}}</span>
            </div>
            <div class="list">上传时间：<span>{{detail.uploadTime&&detail.uploadTime.substr(0,11)}}</span></div>
            <div class="clear"></div>
            <div class="list">播放次数：<span>{{detail.clickNum}}</span> </div>
            <div class="list">资源大小：<span>{{detail.size}}</span></div>
            <div class="clear"></div>
            <div class="list">时长：<span>{{detail.timeLength}}</span></div>
          </div>
          <div class="main_pirce">
            <span class="free" v-if="detail.realPrice == 0">免费</span>
            <span class="no_price" v-else-if="detail.realPrice == ''|| detail.realPrice == null">未定价</span>    
            <span class="realPrice" v-else>￥{{detail.realPrice}}</span>
            <span class="price" v-if="detail.realPrice && detail.realPrice!=0 && detail.price">￥{{detail.price}}{{detail.discount?`(${detail.discount}折)`:''}}</span>
          </div>
          <div class="main_tips" v-if="detail.messageCode==0">资源更新中，敬请期待~</div>
          <div class="main_btns">
            <div class="shop_btn" v-if="detail.messageCode==4||detail.messageCode==2&&userType!=2" @click="immediatelyBuy()">立即购买</div>
            <div class="shop_car_btn" v-if="detail.messageCode==4||detail.messageCode==2&&userType!=2" @click="addShop()"></div>
          </div>
          <div class="main_buytip" v-if="detail.messageCode==3">
            温馨提示：{{detail.message}}
          </div>
        </div>
      </div>
    </div>
    <!-- 简介-目录-评论 -->
    <div class="details_content">
      <div class="details_left_con">
        <div class="content_title">
          <span @click="changeTab(1,'intro')" :class="tabId == 1?'color':''"><a name="#intro">简介</a></span>
          <img v-if="userType != 2" src="@/assets/images/home/split_hover_icon.png" class="split_img">
          <span v-if="userType != 2" @click="changeTab(3,'review')" :class="tabId == 3?'color':''"><a name="#review">
            评论</a>
          </span>
        </div>
        <div class="intro" id="intro">
          <div class="text">简介</div>
          <div class="description" v-html="detail.synopsis"></div>
        </div>
        <div class="review" id="review" v-if="userType != 2">
          <div class="review_title">评论</div>
          <div class="details_content_rate">
            <span class="details_content_rateCom">星评：</span>
            <el-rate v-model="reviewScore" :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
          </div>
          <div class="details_content_text">
            <textarea class="details_content_textarea" v-model="textCont" name cols="113" rows="10" placeholder="内容这么赞,快来评论吧..." style="width:843px;height:100px;" maxlength="300"></textarea>
            <div class="details_content_textNum">{{textCont.length}}/300</div>
          </div>
          <div style="width:100%; display: block;height:46px; padding-bottom: 10px;">
            <div class="details_content_btn" @click="saveBtn">评论</div>
          </div>
          <!-- 评论列表 -->
          <div class="details_content_item" v-for="(val,index) in commentList" :key="index" style="margin-top: 26px;">
            <div class="itemHeader">
              <img :src=fileUrl(val.userImg) v-if="val.userImg&&val.userImg!=''">
              <img src="@/assets/images/home/avatar.jpg" v-else>
            </div>
            <div class="listCont">
              <div class="itemTit">
                <span class="title">{{val.userName}}</span>
                <div class="itemStar">
                  <span><img src="@/assets/images/personal/starty.png" alt="" v-for="(star,ind) in val.score" :key="ind"></span>
                  <ul>
                    <li v-for="(item,index) in startNum" :key="index"></li>
                  </ul>
                </div>
                <span>{{val.releaseTime}}</span>
              </div>

              <div class="itemCont">
                {{val.content}}
              </div>
              <div class="itemOper">
                <div class="comNum" @click="lookCom(val.id)">
                  <span>{{val.replyNum}}</span>
                </div>
                <div class="thumbNum"  @click="commentAgree(val.id,val)">
                  <img src="@/assets/images/resource/reply_agree_hover.png" alt="" v-if="val.isAgree">
                  <img src="@/assets/images/resource/reply_agree.png" alt="" v-else>
                  <span :class="val.isAgree?'fontColor':''">{{val.fabulousNum}}</span>
                </div>
              </div>
            </div>

          </div>
          <!-- 更多评论 -->
          <router-link  class="medetails_content_more" target="_blank"
            :to="{name: 'comments',  query: { id:this.$route.query.id,type:detail.resourceType,name:detail.name}}"  
                  v-if="commentTotal>5">
            <div class="medetails_content_more" >更多精彩评论>></div>
          </router-link>
        </div>
      </div>
      <div class="recommend_details_right">
        <!-- 右侧列表切换 -->
        <div class="recommend_con">
          <div class="recommend_title">相关资源</div>
          <div class="recommend_list" v-if="recommendList && recommendList.length>0">
            <p v-for="(item,index) in recommendList" :key="index" @click="recommendDetails(item.resourceId,item.resourceType)">
              <span>{{index+1}}</span>
              {{item.name}}
            </p>
          </div>
          <div class="hot_list" v-if="recommendList.length==0"  style="text-align:center;margin-top:40px">
            暂无内容
          </div>
        </div>
      </div>
    </div>
    <loginAlert :isShowChild="isShowAlert"  @toFatherData="sendSonData"></loginAlert>
  </div>
</template>

<script>
  import '@static/css/resource/common.less'
  import { audioDetailAPI } from '@/api/resource/audio_details';
  import {
    commentSaveAPI,
    getCommentListAPI,
    collectionAPI,
    commentAgreeAPI,
    cancelcollectionAPI,
    shopCartAPI,
    commonRecommendAPI
  } from '@/api/common';
  import navbar from '@/components/navbar.vue';
  import aplayer from 'vue-aplayer'
  import VueAudio from '@/components/VueAudio.vue'

  export default {
    name: 'medetails',
    components: {
      navbar,
      aplayer,
      'v-audio': VueAudio,
    },
    data() {
      return {
        totalScore: 5,//总评分
        reviewScore: 5,
        startNum: 5,
        id: '',
        detail: {},
        resourceType: null,
        commentList: [],
        commentTotal: 0,
        textCont:'',
        isCollection:false,
        isShowAlert:false,
        refData:null,
        recommendList: [],
        index: 1,
        token: null,
        tabId: 1,
        userType: localStorage.getItem("userType"),
        listQuery: {
          resourceId: null,
          resourceType: 6,
          type: 6,
          pageNum: 1,
          pageSize: 10
        },
        onlyOnePlaying:'onlyOnePlaying'
      }
    },
    created() {
      // this.token = localStorage.getItem("Y-Token")
      this.id = this.$route.query.id;
      this.getDetail();
    },
    mounted() {
      this.refData=this.$refs;
      window._bd_share_main ? window._bd_share_main.init() : this.setShare()
    },
    watch: {
      $route() {
        this.id = this.$route.query.id;
        this.getCommentList();
        this.getDetail();
      },
    },
    methods: {
      getDetail() { //音频详情
        let self=this;
        audioDetailAPI(this.id).then(res => {
          this.detail = res.data.data;
          this.isCollection=this.detail.isCollection;
          document.title = this.detail.name
          if(res.data.data.resourceScore){//总评分赋值
            this.totalScore = res.data.data.resourceScore
          }
          this.getCommentList();
          this.getRecommendList();
        })
      },
      /*收藏*/
      tapCollection(){
        if(localStorage.getItem("Y-Token")){
          let data={goodsList:[{
            id:this.id,
            type:this.detail.resourceType
          }],
            memberType :1,
          }
          if(this.isCollection){//收藏了
            cancelcollectionAPI(data).then(res=>{
              if(res.data.status){
                this.isCollection=false;
                this.$message.success("取消收藏")
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }else{
            collectionAPI(data).then(res=>{
              if(res.data.status){
                this.isCollection=true;
                this.$message.success("收藏成功")
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }
        }else{
          this.isShowAlert=true;
        }
      },
      lookCom(id) {//回复
        this.$router.push({name:'comments', query:{id:this.$route.query.id,type:this.detail.resourceType,name:this.detail.name,fatherId:id}})
        // this.$router.push({name: 'commentReply', query: {id: id,type:this.detail.resourceType}})
      },
      sendSonData(val){ //登录
        let self=this;
        self.isShowAlert=false;
        this.getDetail();
        this.$emit('getloginData'); //弹窗登录信息
      },
      /*获取评论列表*/
      getCommentList() { // 资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
        getCommentListAPI({ resourceId: this.id, resourceType: this.detail.resourceType, pageNum: 1, pageSize: 5,}).then(res => {
          this.commentList = res.data.data.list;
          this.commentTotal = res.data.data.total;
        })
      },
      getRecommendList() {//推荐位列表
        this.listQuery.resourceId = this.id
        commonRecommendAPI(this.listQuery).then(res => {
          this.recommendList = res.data.data;
        })
      },
      recommendDetails(id,type) {//推荐详情
        this.$router.push({name: 'audioDetails', query: {id:id}})
      },
      saveBtn() {/*保存评论*/
        let textCon=this.textCont.replace(/^\s+|\s+$/g,'')
        if(localStorage.getItem("Y-Token")){
          if (textCon == '') {
            this.$message.warning("请填写评论内容！")
          } else {
            commentSaveAPI({
              content: textCon,//评论内容
              fatherId: 0,//父级评论id：0资源，其他评论id
              fatherName: '',//父级评论用户名
              id: '',//评论id
              mainId: 0,// 所属主评论id：0资源主评论，其他主评论id
              resourceType: this.detail.resourceType, // 资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
              resourceId: this.id,//资源id
              resourceName: this.detail.name,//资源名称
              score: this.reviewScore,
            }).then(res => {
              if(res.data.status){
                this.$message.success("评论成功，请耐心等待审核！")
                this.textCont=''; //清空input
                this.reviewScore=5; //恢复初始值5颗星
                this.getDetail(); //重新计算总评分
                this.getCommentList(); //重新加载评论列表
              }else{
                this.$message.error(res.datas.msg)
              }

            })

          }
        }else{
          this.isShowAlert=true;
        }
      },
      commentAgree(id,item){ /*点赞*/
        if(localStorage.getItem("Y-Token")){
          if(!item.isAgree){
            commentAgreeAPI({
              commentId:id
            }).then(res=>{
              if(res.data.status){
                this.$message.success("点赞成功！")
                for(let i=0;i<this.commentList.length;i++){
                  if(this.commentList[i].id==id){
                    this.$set(this.commentList[i], 'isAgree', !this.commentList[i].isAgree);
                    this.commentList[i].fabulousNum++;
                  }
                }
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }else{//不可以取消点赞
            this.$message.warning('已点赞成功')
          }
        }else{
          this.isShowAlert=true;
        }
      },
      addShop(){/*添加购物车*/
        if(localStorage.getItem("Y-Token")){
          shopCartAPI({
            "goodsId": this.id,
            "goodsType": this.detail.resourceType,
            "num": 1
          }).then(res=>{
            if (res.data.status){
              this.$message.success("商品已加入购物车")
            }else{
              this.$message.error(res.data.msg)
            }
          })
        }else{
          this.isShowAlert=true;
        }
      },
      tipsResource() {//是否购买并登录
        if(localStorage.getItem("Y-Token")){
          if(this.detail.messageCode == 4) {//没有购买
            this.$message.error(this.detail.message)
          }
        } else{
          this.isShowAlert=true;
        }
      },
      immediatelyBuy(){/*立即购买*/
        if(localStorage.getItem("Y-Token")){
          this.$router.push({name:'confirmOrder',query:{id:this.id,type:this.detail.resourceType}});
        }else{
          this.isShowAlert=true;
        }
      },
      changeTab(id,names){//切换tab
        this.tabId = id
        document.querySelector('#'+names).scrollIntoView(true);  
      },
      setShare(){//分享
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdMiniList":false,
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"
            },
            "share":{},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["weixin","tsina","douban","qzone"]
            }
        };
        const shareDome = document.createElement('script');
        shareDome.type = 'text/javascript';
        shareDome.src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);
        this.$refs.share_wrap.appendChild(shareDome);
      },
    }
  }
</script>
