<template>
  <div class="audio_body" v-loading="loading">
    <div class="book_list" v-for="item in list" :key="item.id">
      <div class="visited" v-if="hoverId == item.id">{{item.browseNum}}次浏览</div>
      <div class="cover">
        <router-link target="_blank" :to="{name:'audioDetails',query:{ id:item.id }}">
          <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover" class="list_image" @mouseenter="hoverImage(item.id)">
          <img src="@/assets/images/resource/default_audio.png" alt="默认封面" class="list_image" v-else @mouseenter="hoverImage(item.id)">
          <!-- <img src="@/assets/images/resource/audio.png" class="audio_icon"> -->
        </router-link>
      </div>
      <router-link target="_blank" :to="{name:'audioDetails',query:{ id:item.id }}"><div class="name" v-html="item.name"></div></router-link>
      <span class="free" v-if="item.realPrice == 0">免费</span>
      <span class="no_price" v-else-if="item.realPrice == ''||item.realPrice == null">未定价</span>    
      <span class="price" v-else>￥{{item.realPrice}}</span>
      <span class="line_price" v-if="item.price&&item.realPrice>0">￥{{item.price}}
        <span class="discount" v-if="item.discount">({{item.discount}}折)</span>
      </span>
    </div>

    <div v-if="list.length ==0 && loading == false" style="width: 600px; margin: 100px auto;text-align:center">
      <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
      <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
    </div>
    
    <!-- 分页 -->
    <div class="pagination_box" v-if="list && list.length > 0">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="listQuery.pageNum"
        :page-size="listQuery.pageSize"
        layout="prev, pager, next, total, jumper"
        :total="total">
      </el-pagination>
    </div>  

  </div>
</template>
<script>
import "@static/css/resource/audio.less"
import { getListAPI } from '@/api/resource/index'
import { uploadUrl } from '@/utils/global'
import Cookies from "js-cookie";

export default {
  name: 'book',
  data(){
    return {
      listQuery:{
        pageNum: 1,
        pageSize: 20,
        resourceType: 6, //音频
      },
      list: [],
      total: null,
      uploadUrl:uploadUrl,
      loading: false,
      isShowAlert: false,
      hoverId: null,
      paramsObj:{},
    }
  },
  created(){
    this.$route.meta.title = '音频'
    if(this.$route.query) {
      this.getList(this.$route.query)
    }
  },
  destroyed(){
    Cookies.remove('content');
  },
  methods:{
    getList(obj) {//列表
      this.loading = true
      if(obj){ this.paramsObj = obj }
      let params = Object.assign(this.paramsObj,this.listQuery)
      getListAPI(params).then(res => {
        if(res.data.status){
          if(res.data.data.resList) {
            this.list = res.data.data.resList
          } else{
            this.list = []
          }
          if(res.data.data.totalCount){
            this.total = res.data.data.totalCount
            this.$emit("changeTotal",res.data.data)
          }
        }
        this.loading = false
      })
    },
    hoverImage(id) {
      this.hoverId = id
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
      window.scrollTo(0, 0)
    },
  }
}
</script>