<template>
    <div class="book_body"  v-loading="loading">
      <div class="book_list" v-for="item in list" :key="item.id">
        <router-link target="_blank" :to="{name:'bookDetails',query:{ id:item.id}}">
          <div class="image">
            <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img">
            <img  src="@/assets/images/resource/book_default.png" v-else>
          </div>
        </router-link>
        <div class="right">
          <router-link target="_blank" :to="{name:'bookDetails',query:{ id:item.id }}">
            <div class="name">
              <span v-html="item.name"></span>
            </div>
          </router-link>
          <div class="author">
            <span :class="item.authorId?'names':''" @click="authorDetails(item.authorId)">
              {{item.author}}
            </span>
            <span class="text_style">|</span>
            <span class="times" v-if="item.publishTime">{{item.publishTime.substr(0,7)}}出版</span>  
          </div>
          <div class="description">{{item.description&&item.description.length>80?item.description.substr(0,80)+'...':item.description}}</div>
          <div class="price_list">
            <span class="free" v-if="item.realPrice == 0">免费</span>
            <span class="no_price" v-else-if="item.realPrice == ''||item.realPrice == null">未定价</span>    
            <span class="price" v-else>￥{{item.realPrice}}</span>
            <span class="line_price" v-if="item.price&&item.realPrice>0">￥{{item.price}}
              <span class="discount" v-if="item.discount">({{item.discount}}折)</span>
            </span>
            <span class="browse"><img src="@/assets/images/resource/read_hover.png" class="read">{{item.browseNum}}次浏览</span>
            <router-link target="_blank" :to="{name:'bookDetails',query:{ id:item.id }}">
              <span class="readBtn" v-if="item.isStatus == 0"><i class="el-icon-view" style="margin-right:6px;"></i>阅读</span>
            </router-link>
            <span class="shop_btn"  v-if="item.isStatus == 2&&userType != 2">加入购物车</span>
            <span class="shop_hover" v-if="item.isStatus == 1&&userType != 2" @click="joinShopping(item.id,item.resourceType,item.bookType)">加入购物车</span>
          </div>
        </div>
      </div>
      <!-- 暂无内容 -->
      <div v-if="list.length ==0 && loading == false" style="width: 600px; margin: 100px auto;text-align:center">
        <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
        <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
      </div>
      <!-- 分页 -->
      <div class="pagination_box" v-if="list && list.length > 0">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="listQuery.pageNum"
          :page-size="listQuery.pageSize"
          layout="prev, pager, next, total, jumper"
          :total="total">
        </el-pagination>
      </div>
      <!-- 登录弹窗 -->
      <loginAlert :isShowChild="isShowAlert" @toFatherData="sendSonData"></loginAlert>
      <!-- 加入购物车书本类型弹窗 -->
      <el-dialog class="bookTypeDialog" :visible.sync="isShowBookType" :show-close="false" :append-to-body="false">
        <booktip  @sendClose="close" @sendType="submitType"></booktip>
      </el-dialog>
    </div>
</template>
<script>
import "@static/css/resource/book.less"
import bookTip from '@/components/bookTip'
import { getListAPI } from '@/api/resource/index'
import { shopCartAPI } from '@/api/common'
import { uploadUrl } from '@/utils/global'
import Cookies from "js-cookie";
import { lchown } from 'fs';

export default {
  name: 'book',
  props:["searchData"],

  data(){
    return {
      listQuery:{
        pageNum: 1,
        pageSize: 20,
        resourceType: 1, //资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件、8专题、9课程
      },
      list: [],
      total: null,
      uploadUrl: uploadUrl,
      loading: false,
      isShowAlert: false,
      paramsObj: {},
      isShowBookType: false,
      bookType: null,
      bookId: null,
      userType: localStorage.getItem("userType"),
    }
  },
  created(){
    if(this.$route.query) {
      this.getList(this.$route.query)
    }
  },
  destroyed(){
    Cookies.remove('content'); //清空搜索词
  },
  methods:{
    getList(obj) {//列表
      if(obj){ this.paramsObj = obj }
      let params = Object.assign(this.paramsObj,this.listQuery)
      this.loading = true
      getListAPI(params).then(res => {
        if(res.data.code == 0){
          if(res.data.data.resList) {
            this.list = res.data.data.resList
          } else{
            this.list = []
          }
          if(res.data.data.totalCount){
            this.total = res.data.data.totalCount
            this.$emit("changeTotal",res.data.data)
          }
        }
        this.loading = false
      })
    },
    authorDetails(id) {//作者详情
      if(id){
        this.$router.push({ name: "doctorDetails",query:{id:id} });
      }
    },
    joinShopping(id,type,bookType) { //加入购物车
      this.bookId = id
      if(localStorage.getItem("Y-Token")){//判断是否登录
        if(bookType == 0) {
          this.isShowBookType = true
        } else {
          if(bookType == 1) {
            type = '1'
          } else {
            type = '11'
          }
          shopCartAPI({
            goodsId: id,
            goodsType: type,
            num: 1
          }).then(res => {
            if(res.data.code>0) {
              this.$message.error(res.data.msg)
            } else if(res.data.code<0) {
              this.$message.error('添加购物车失败，请稍后再试')
            } else{
              this.$message.success('商品已加入购物车！')
            }
          })
        }
      } else{
        this.isShowAlert=true;
      }
    },
    // 关闭对话框
    close() {
      this.isShowBookType = false
    },
    // 选择书本类型后确认加入购物车
    submitType(type) {
      shopCartAPI({
        goodsId: this.bookId,
        goodsType: type,
        num: 1
      }).then(res => {
        if(res.data.code>0) {
          this.$message.error(res.data.msg)
        } else if(res.data.code<0) {
          this.$message.error('添加购物车失败，请稍后再试')
        } else{
          this.$message.success('商品已加入购物车！')
        }
      })
      this.isShowBookType = false
    },
    sendSonData(val){/*子传父*/
      let self=this;
      self.isShowAlert=false;
      this.$emit('loginData')
    },
    handleCurrentChange(val) {//当前页更改
      this.listQuery.pageNum = val
      this.getList()
      window.scrollTo(0, 0)
    },

  },
  components: {
    booktip:bookTip,
  }
}
</script>