<template>
  <div class='detailsPage'>
    <div class="details_top_box">
      <div class="details_main"> 
        <!-- 分享收藏模块 -->
        <div class="book_details_share">
          <div class="book_details_list share_list">
              <div class="share_box">
                <span>分享</span>
              </div>
              <div class="bdsharebuttonbox share_wrap" ref="share_wrap" style="width:100px;right:0;position:absolute;">
                  <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                  <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                  <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                  <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
              </div>
          </div>
          <div class="book_details_list" @click="tapCollection" v-if="detail.bookType != 2">
            <div v-if="!isCollection" class="noagreeH"><span><img src="@/assets/images/resource/icon_collection.png"></span>收藏</div>
            <div v-if="isCollection" class="agreeH"><span><img src="@/assets/images/resource/icon_collection_hover.png"></span>收藏</div>
          </div>
        </div>
        <div class="details_main_left">
          <div class="cover_box">
            <img :src="`${uploadUrl}file/?fileName=${detail.bookCover}&isOnLine=true`" v-if="detail.bookCover" class="cover">
            <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-else  class="cover">  
          </div>
        </div>
        <div class="details_main_right">
          <div class="main_title">{{detail.name&&detail.name.length>46?detail.name.substring(0,46)+'...':detail.name}}</div>
          <div class="main_rate">
            <el-rate v-model="totalScore" disabled :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
            <div class="main_read"><span>{{detail.browseNum}}</span>人阅读</div>
          </div>
          <div class="main_list">
            <div class="list">作者：
              <span :class="detail.authorId?'color':''" @click="authorDetails(detail.authorId)">
                {{detail.author}}
              </span>
            </div>
            <div class="list">ISBN：<span>{{detail.isbn}}</span></div>
             <div class="clear"></div>
            <div class="list">页数：<span>{{detail.totalPages}}</span></div>
            <div class="list">版次：<span>{{detail.revision}}</span></div>
            <div class="clear"></div>
            <div class="list">开本：<span>{{detail.format}}</span></div>
            <div class="list">出版时间：<span>{{detail.publishTime&&detail.publishTime.substr(0,7)}}</span></div>
            <div class="clear"></div>
            <div class="list">出版社：<span>{{detail.publisher}}</span></div>
            <div class="list">所属分类：<span>{{detail.midpicid}}</span></div>
          </div>
          <div class="main_pirce book_main_pirce" v-if="detail.bookType == 1 || detail.bookType == 0">
            <span class="book_price_title">电子书:</span>
            <span class="free" v-if="detail.realPrice == 0">免费</span>
            <span class="no_price" v-else-if="!detail.realPrice && detail.realPrice != 0">未定价</span>    
            <span class="realPrice" v-else>￥{{detail.realPrice}}</span>
            <span class="price" v-if="detail.realPrice && detail.realPrice!=0 && detail.price">￥{{detail.price}}{{detail.discount?`(${detail.discount}折)`:''}}</span>
          </div>
          <div class="main_pirce book_main_pirce" v-if="detail.bookType == 2 || detail.bookType == 0">
            <span class="book_price_title">纸质书:</span>
            <span class="free" v-if="detail.entityRealPrice == 0">免费</span>
            <span class="no_price" v-else-if="!detail.entityRealPrice && detail.entityRealPrice != 0">未定价</span>    
            <span class="realPrice" v-else>￥{{detail.entityRealPrice}}</span>
            <span class="price" v-if="detail.entityRealPrice && detail.entityRealPrice!=0 && detail.entityPrice">￥{{detail.entityPrice}}</span>
          </div>
          <div class="main_tips" v-if="detail.messageCode==0">资源更新中，敬请期待~</div>
          <div class="main_btns">
            <div class="hover_btn"  v-if="detail.messageCode==4||detail.messageCode==2&&tryRead" @click="readDetails(detail)">试读</div>
            <div class="shop_btn" 
              v-if="((detail.messageCode==4||detail.messageCode==2) && userType!=2) || (detail.bookType==0 || detail.bookType==2)" 
              @click="immediatelyBuy(detail.resourceType,detail.bookType)">
              立即购买
            </div>
            <div class="shop_epub_btn" v-if="detail.isEpub==1&&detail.messageCode==null" @click="readDetails(detail)">EPUB阅读</div>
            <div class="shop_pdf_btn" v-if="detail.isPdf==1&&detail.messageCode==null" @click="readPdfDetails(detail)">PDF阅读</div>
            <!-- 加入购物车 -->
            <div class="shop_car_btn" 
              v-if="((detail.messageCode==4||detail.messageCode==2) && userType!=2) || (detail.bookType==0 || detail.bookType==2)" 
              @click="addShop(detail.resourceType,detail.bookType)">
            </div>
          </div>
          <div class="main_buytip" v-if="detail.messageCode==3||detail.messageCode==1">
            温馨提示：{{detail.messageCode==1?detail.message:'阅读全文请通过个人账号购买整本，或者联系管理员'}}
          </div>
        </div>
      </div>
    </div>
    <!-- 简介-目录-评论 -->
    <div class="details_content">
      <div class="details_left_con">
        <div class="content_title">
          <span @click="changeTab(1,'intro')" :class="tabId == 1?'color':''"><a name="#intro">简介</a></span>
          <img src="@/assets/images/home/split_hover_icon.png" class="split_img" v-if="tabId == 1">
          <img src="@/assets/images/home/split_icon.png" class="split_img" v-else>
          <span @click="changeTab(2,'catalogue')" :class="tabId == 2?'color':''"><a name="#catalogue">目录</a></span>
          <img src="@/assets/images/home/split_hover_icon.png" class="split_img" v-if="tabId != 1">
          <img src="@/assets/images/home/split_icon.png" class="split_img" v-else >
          <span v-if="userType != 2" @click="changeTab(3,'review')" :class="tabId == 3?'color':''"><a name="#review">评论</a></span>
        </div>
        <div class="intro" id="intro">
          <div class="text">简介</div>
          <div class="description" v-html="detail.summary"></div>
        </div>
        <div class="catalogue" id="catalogue">
          <div class="text">目录</div>
          <div class="catalogue_list" v-for="(item,index) in detail.chapterList" :key="index">
            <span v-if="isShowOpen?index<10 :index= index" @click="chapterRead(item)">{{item.chapterName}}</span>
          </div>
          <div v-if="!detail.chapterList || detail.chapterList.length == 0">
            <div v-html="detail.bookCatalog"></div>
          </div>

          <div class="medetails_content_extends" style="margin-top: 0" v-if="detail.chapterList&&detail.chapterList.length>10&&isShowOpen" @click="openBtn">
            <img class="medetails_content_imge" src="@/assets/images/home/extend.png">
            <span class="medetails_content_extend">展开</span>
          </div>

          <div class="medetails_content_extends" style="margin-top: 0" v-if="detail.chapterList&&detail.chapterList.length>10&&!isShowOpen" @click="openBtn">
            <img class="medetails_content_imge" src="@/assets/images/home/extend.png" style="transform:rotate(180deg)">
            <span class="medetails_content_extend">收起</span>
          </div>
        </div>
        <div class="review" id="review" v-if="userType != 2">
          <div class="review_title">评论</div>
          <div class="details_content_rate">
            <span class="details_content_rateCom">星评：</span>
            <el-rate v-model="reviewScore" :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
          </div>
          <div class="details_content_text">
            <textarea class="details_content_textarea" v-model="textCont" name cols="113" rows="10" placeholder="内容这么赞,快来评论吧..." style="width:843px;height:100px;" maxlength="300"></textarea>
            <div class="details_content_textNum">{{textCont.length}}/300</div>
          </div>
          <div style="width:100%; display: block;height:46px; padding-bottom: 10px;">
            <div class="details_content_btn" @click="saveBtn">评论</div>
          </div>
          <!-- 评论列表 -->
          <div class="details_content_item" v-for="(val,index) in commentList" :key="index" style="margin-top: 26px;">
            <div class="itemHeader">
              <img :src=fileUrl(val.userImg) v-if="val.userImg&&val.userImg!=''">
              <img src="@/assets/images/home/avatar.jpg" v-else>
            </div>
            <div class="listCont">
              <div class="itemTit">
                <span class="title">{{val.userName}}</span>
                <div class="itemStar">
                  <span><img src="@/assets/images/personal/starty.png" alt="" v-for="(star,ind) in val.score" :key="ind"></span>
                  <ul>
                    <li v-for="(item,index) in startNum" :key="index"></li>
                  </ul>
                </div>
                <span>{{val.releaseTime}}</span>
              </div>

              <div class="itemCont">
                {{val.content}}
              </div>
              <div class="itemOper">
                <div class="comNum" @click="lookCom(val.id)">
                  <span>{{val.replyNum}}</span>
                </div>
                <div class="thumbNum"  @click="commentAgree(val.id,val)">
                  <img src="@/assets/images/resource/reply_agree_hover.png" alt="" v-if="val.isAgree">
                  <img src="@/assets/images/resource/reply_agree.png" alt="" v-else>
                  <span :class="val.isAgree ? 'fontColor' : ''">{{val.fabulousNum}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- 更多评论 -->
          <router-link  class="medetails_content_more" target="_blank" 
            :to="{name: 'comments',  query: { id:this.$route.query.id,type:detail.resourceType,name:detail.name}}"  
                  v-if="commentTotal>5">
            <div class="medetails_content_more" >更多精彩评论>></div>
          </router-link>
        </div>
      </div>
      <div class="details_right_con">
        <div class="subleft_botTitle">热门图书</div>
        <div class="meDetail_textbookList" v-for="(book, index) in sameList" :key="index" @mousemove.prevent='mousemove(index)'>
          <div  v-if="isShowBook!=index" class="meDetail_textbookTitle">
            <div class="textbookList_num" >{{index+1}}</div>
            <div class="commentRight_tip" @click="linkDetail(book.id)">
              <div class="textbookList_text">{{book.name}}</div>
            </div>
          </div>
          <div class="meDetail_textbook"  v-if="isShowBook==index">
            <div class="textbook_number" >{{index+1}}</div>
            <img :src="`${uploadUrl}file/?fileName=${book.bookCover}&isOnLine=true`" v-if="book.bookCover" class="textbook_img" @click="linkDetail(book.id)">
            <img src="@/assets/images/resource/book_default.png" alt="默认封面" v-else  class="textbook_img" @click="linkDetail(book.id)">  
            <div class="commentRight_tip" @click="linkDetail(book.id)">
              <div class="textbook_title">{{book.name&&book.name.length>4?book.name.slice(0,4)+'...':book.name}}</div>
              <div class="textbook_author">{{book.author}}</div>
              <div class="commentRight_noprice" v-if="book.realPrice == null">未定价</div>
              <div class="commentRight_free" v-if="book.realPrice == 0">免费</div>
              <div class="commentRight_price" v-if="book.realPrice != null && book.realPrice != 0">￥{{book.realPrice?book.realPrice.toFixed(2):'0'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loginAlert :isShowChild="isShowAlert"  @toFatherData="sendSonData"></loginAlert>
     <!-- 加入购物车书本类型弹窗 -->
    <el-dialog class="bookTypeDialog" :visible.sync="isShowBookType" :show-close="false" :append-to-body="false">
      <booktip  @sendClose="close" @sendType="submitType"></booktip>
    </el-dialog>
  </div>
</template>

<script>
  import '@static/css/resource/common.less'
  import {ebookDetailAPI, getCommentListAPI, resourceAPI,commentSaveAPI,ebookOtherAPI,relevantArticleAPI,collectionAPI,commentAgreeAPI,cancelcollectionAPI,shopCartAPI} from '@/api/comment/comments';
  import navbar from '@/components/navbar.vue';
  import bookTip from '@/components/bookTip'
  import { uploadUrl } from '@/utils/global'

  export default {
    name: 'medetails',
    components: {
      navbar
    },
    data() {
      return {
        tryRead: true,
        isShowBookType:false,
        totalScore: 5,
        reviewScore: 5,
        startNum: 5,
        id: '',
        detail: {},
        resourceType: null,
        pageNum: 1,
        pageSize: 5,
        commentList: [],
        commentTotal: 0,
        textCont:'',
        sameList:[],
        isShowBook:null,
        isCollection:false,
        isShowAlert:false,
        refData:null,
        isShowOpen:true,
        uploadUrl: uploadUrl,
        tabId: 1, //tabid
        bookType: null,
        userType: localStorage.getItem("userType"),
        buttonType: null
      }
    },
    created() {
      this.id = this.$route.query.id;
      this.getDetail(); //图书详情
    },
    mounted() { //分享
      this.refData=this.$refs;
      window._bd_share_main ? window._bd_share_main.init() : this.setShare()
    },
    watch: {
      $route() {
        this.id = this.$route.query.id;
        this.getCommentList(); //评论列表
        this.getDetail();//详情列表
      },
    },
    methods: {
      // 关闭对话框
      close() {
        this.isShowBookType = false
      },
      submitType(type) {
        if(this.buttonType == 'addShop'){
          shopCartAPI({
            goodsId: this.detail.id,
            goodsType: type,
            num: 1
          }).then(res => {
            if(res.data.code>0) {
              this.$message.error(res.data.msg)
            } else if(res.data.code<0) {
              this.$message.error('添加购物车失败，请稍后再试')
            } else{
              this.$message.success('商品已加入购物车！')
            }
          })
        } else{
          this.$router.push({name:'confirmOrder',query:{id:this.id,type:type}});
        }
        this.isShowBookType = false
      },
      getDetail() {//详情
        let self=this;
        ebookDetailAPI(this.id).then(res => {
          this.detail = res.data.data;
          if(this.detail.isCollection){
            this.isCollection=this.detail.isCollection
          }
          if(this.detail.diyTypeList && this.detail.diyTypeList.length>0){
            this.$route.meta.title = this.detail.diyTypeList[0].showName
          }
          if(res.data.data.resourceScore){//总评分赋值
            this.totalScore = res.data.data.resourceScore
          }
          this.ebookOther(); //热门图书
          this.getCommentList(); //评论列表
        })
      },
      authorDetails(id) {//医家详情
        if(id){
          let routeData = this.$router.resolve({name:'doctorDetails', query:{id:id}})
          window.open(routeData.href,'_blank')
        }
      },
      /*收藏*/
      tapCollection(){
        if(localStorage.getItem("Y-Token")){
          let data={
            goodsList:[{ id:this.id, type:this.detail.resourceType }],
            memberType :1,
          }
          if(this.isCollection){//收藏了
            cancelcollectionAPI(data).then(res=>{
              if(res.data.status){
                this.isCollection=false;
                this.$message.success("取消收藏")
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }else{
            collectionAPI(data).then(res=>{
              if(res.data.status){
                this.isCollection=true;
                this.$message.success("收藏成功")
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }
        }else{
          this.isShowAlert=true;
        }
      },
      lookCom(id) {//跳转回复页面
        this.$router.push({name:'comments', query:{id:this.$route.query.id,type:this.detail.resourceType,name:this.detail.name,fatherId:id}})
      },
      /*展开按钮*/
      openBtn(){
        this.isShowOpen=!this.isShowOpen;
      },
      /*获取评论列表*/
      getCommentList() {
        getCommentListAPI({
          resourceId: this.id,
          resourceType: this.detail.resourceType, // 资源类型 1图书、3章节、4图片、5视频、6音频、7课件、8学者
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        }).then(res => {
          this.commentList = res.data.data.list;
          this.commentTotal = res.data.data.total;
        })
      },
      /*保存评论*/
      saveBtn() {
        let textCon=this.textCont.replace(/^\s+|\s+$/g,'')
        if(localStorage.getItem("Y-Token")){
          if (textCon == '') {
            this.$message.warning("请填写评论内容！")
          } else {
            commentSaveAPI({
              content: textCon,//评论内容
              fatherId: 0,//父级评论id：0资源，其他评论id
              fatherName: '',//父级评论用户名
              id: '',//评论id
              mainId: 0,// 所属主评论id：0资源主评论，其他主评论id
              resourceType: this.detail.resourceType, // 资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
              resourceId: this.id,//资源id
              resourceName: this.detail.name,//资源名称
              score: this.reviewScore,
            }).then(res => {
              if(res.data.status){
                this.$message.success("评论成功，请耐心等待审核！")
                this.getCommentList();
                this.textCont='';
                this.reviewScore=5;
              }else{
                this.$message.error(res.datas.msg)
              }
            })
          }
        }else{
          this.isShowAlert=true;
        }
      },
      /*热门图书列表*/
      ebookOther(){
        ebookOtherAPI({ id:this.id, num:6}).then(res=>{
          if(res.data.code ==0){
            if(res.data.data && res.data.data.length>0){
              this.sameList=res.data.data;
              this.isShowBook = 0
            }
          }
        })
      },
      /*跳转*/
      linkDetail(id){
        this.$router.push({name: 'bookDetails', query: {id: id}})
      },
      /*同类书*/
      mousemove(index){
        this.isShowBook=index;
      },
      /*点赞*/
      commentAgree(id,item){
        if(localStorage.getItem("Y-Token")){
          if(!item.isAgree){
            commentAgreeAPI({ commentId:id }).then(res=>{
              if(res.data.status){
                this.$message.success("点赞成功！")
                for(let i=0;i<this.commentList.length;i++){
                  if(this.commentList[i].id==id){
                    this.$set(this.commentList[i], 'isAgree', !this.commentList[i].isAgree);
                    this.commentList[i].fabulousNum++;
                  }
                }
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }else{//不可以取消点赞
            this.$message.warning('已点赞成功')
          }
        }else{
          this.isShowAlert=true;
        }
      },
      /*添加购物车*/
      addShop(type,bookType){
        this.buttonType = 'addShop'
        if(localStorage.getItem("Y-Token")){ //判断是否登录
          if(this.detail.bookType == 1 && this.detail.pdfFile == null && this.detail.epubFile == null){
            this.$message.warning('资源正在编辑中，不能操作')
          } else{
            if(bookType == 0) {//弹窗---既有电子书又有纸质书
              this.isShowBookType = true
            } else {
              if(bookType == 1) {//确定资源类型
                type = '1'//电子书
              } else {
                type = '11'//纸质书
              }
              shopCartAPI({
                "goodsId": this.id,
                "goodsType": type,
                "num": 1
              }).then(res=>{
                if (res.data.status){
                  this.$message.success("商品已加入购物车")
                }else{
                  this.$message.error(res.data.msg)
                }
              })
            }
          }
        }else{
          this.isShowAlert=true;
        }
      },
      /*立即购买*/
      immediatelyBuy(type,bookType){
        this.buttonType = 'immediatelyBuy'
        if(localStorage.getItem("Y-Token")){
          if(this.detail.bookType == 1 && this.detail.pdfFile == null && this.detail.epubFile == null){
            this.$message.warning('资源正在编辑中，不能操作')
          } else{
            if(bookType == 0) {//弹窗---既有电子书又有纸质书
              this.isShowBookType = true
            } else {
              if(bookType == 1) {//确定资源类型
                type = '1' //电子书
              } else {
                type = '11' //纸质书
              }
              this.$router.push({name:'confirmOrder',query:{id:this.id,type:type}});
            }
          }
        } else{
          this.isShowAlert=true;
        }
      },
      chapterRead(info){
        if(info.markid){//epub
          this.$router.push({path:'/ebook', query: {bookid: info.bookid, markid: info.markid, messageCode: this.detail.messageCode}})
        } else if(this.detail.isPdf == 1){
          window.open(`${this.uploadUrl}/file/?fileName=${this.detail.pdfFile}&isOnLine=true`)
        }
      },
      readDetails(detail) {//Epub阅读详情
        if(localStorage.getItem("Y-Token")){
          if(this.detail.bookType == 1 && this.detail.pdfFile == null && this.detail.epubFile == null){
            this.$message.warning('资源正在编辑中，不能操作')
          } else if(detail.isEpub == 1){
            this.$router.push({path:'/ebook', query: {bookid: detail.id, markid: detail.markid, messageCode: detail.messageCode, name: detail.name}})
          } else if(detail.isPdf == 1) {
            window.open(`http://test16.zhongdianyun.com:8690/${this.detail.pdfReadUrl}`)
            // window.open(`http://10.2.251.251:8690/${this.detail.pdfReadUrl}`)
          } else {
            this.tryRead = false
          }
        }else{
          this.isShowAlert=true;
        }
      },
      readPdfDetails(detail) {// pdf阅读详情
        if(localStorage.getItem("Y-Token")){
          if(this.detail.bookType == 1 && this.detail.pdfFile == null && this.detail.epubFile == null){
            this.$message.warning('资源正在编辑中，不能操作')
          } else{
            window.open(`http://test16.zhongdianyun.com:8690/${this.detail.pdfReadUrl}`)
            //  window.open(`http://10.2.251.251:8690/${this.detail.pdfReadUrl}`)
          }
        }else{
          this.isShowAlert=true;
        }
      },
      changeTab(id,names){//切换tab
        this.tabId = id
        document.querySelector('#'+names).scrollIntoView(true);  
      },
      setShare(){//分享
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdMiniList":false,
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"
            },
            "share":{},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["weixin","tsina","douban","qzone"]
            }
        };
        const shareDome = document.createElement('script');
        shareDome.type = 'text/javascript';
        shareDome.src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);
        this.$refs.share_wrap.appendChild(shareDome);
      },
      /*子传父-登录*/
      sendSonData(val){
        let self=this;
        self.isShowAlert=false;
        this.getDetail(); //图书详情
        this.$emit('getloginData'); //弹窗登录信息
      },
      closeLogin() {
        this.isShowAlert=false;
      },
    },
    components: {
      booktip:bookTip,
    }
  }
</script>
