<template>
  <div class="resource_wrap commonLeft">
    <div class="resource_con">
      <div class="reource_left">
        <div class="left_con">
          <div class="title">资源分类</div>
          <el-tree :data="resourceData" :props="defaultProps" @node-click="handleNodeClick" :highlight-current='true'></el-tree>
        </div>
        <div class="left_con" v-if="defaultWord != 'image'">
          <div class="title">高级搜索</div>
          <div class="search" v-if="defaultWord != 'doctor'">
            <span>标题:</span>
            <input type="text" v-model="listQuery.name">
          </div>
          <div class="search" v-if="defaultWord == 'doctor'">
            <span>作者:</span>
            <input type="text" v-model="listQuery.name">
          </div>
          <div class="search" v-else>
            <span>作者:</span>
            <input type="text" v-model="listQuery.author">
          </div>
          <div class="search" v-if="defaultWord == 'book' || defaultWord == 'article'">
            <span>关键词:</span>
            <input type="text" v-model="listQuery.keyword">
          </div>
          <div class="search" v-if="defaultWord == 'book'">
            <span>ISBN:</span>
            <input type="text" v-model="listQuery.isbn">
          </div>
          <div class="search" v-if="defaultWord == 'book'">
            <span>开始时间:</span>
              <el-date-picker
                v-model="listQuery.beginTime"
                type="month"
                :clearable='false'
                value-format='yyyy-MM'
                placeholder="选择月">
              </el-date-picker>
          </div>
          <div class="search" v-if="defaultWord == 'book'">
            <span>结束时间:</span>
              <el-date-picker
                v-model="listQuery.endTime"
                type="month"
                :clearable='false'
                value-format='yyyy-MM'
                placeholder="选择月">
              </el-date-picker>
          </div>
          <div class="btn" @click="searchList()">高级搜索</div>
        </div>
        <div class="left_con word_list" v-if="loginStatus != 1 && historyWord && historyWord.length>0">
          <div class="title">搜索历史</div>
          <span class="word" v-for="item in historyWord" :key="item.id" @click="searchWord(item.content)">{{item.content}}</span>
        </div>
      </div>
      <div class="resource_right">
        <div class="title_top">
          <span v-for="(item,index) in imgUrl" :key="index">
            <img src="@/assets/images/resource/split.png" class="split_image">
            <img :src="item.img" class="con_image" @click="bookPage(item.keyword,item.resource,item.namesZh)" v-if="defaultWord != item.keyword">
            <img :src="item.img_hover" class="con_image_hover" v-else>
          </span>
          <img src="@/assets/images/resource/split.png" class="split_image">
        </div>
        <div class="resource_list">
          <div class="list_keyword" v-for="item in labelList" :key="item.labelId">
            <span class="title">{{item.name}}：</span>
            <span @click="checkAll(item.labelContent)">全部</span>
            <span v-for="info in item.labelContent" :key="info.id" @click="changeLabel(info)">{{info.labelContent}}</span>
          </div>
          <div class="check_keyword" v-if="haveChooiceList && haveChooiceList.length>0">
            <span class="check_title">已选条件：</span>
            <span class="check_btn" v-for="item in haveChooiceList" :key="item.id">
              <span class="text">{{item.labelContent}}</span>
              <i @click="delLabel(item.code)">×</i>
            </span>
            <span class="clear_word" @click="clearAll()">清空全部</span>
          </div>
          <div class="search_list">
            排列:
            <span :class="orderByIndex == 1?'hover_color': 'search_word' " @click="orderBy(1)">
              关联度
              <img src="@/assets/images/resource/search_hover.png" class="icon" v-if="orderByIndex == 1">
              <img src="@/assets/images/resource/search.png" class="icon" v-else>
            </span>
            <span :class="orderByIndex == 2?'hover_color': 'search_word' " @click="orderBy(2,'uploadTime')">
              时间
              <img src="@/assets/images/resource/search_hover.png" class="icon" v-if="orderByIndex == 2">
              <img src="@/assets/images/resource/search.png" class="icon" v-else>
            </span>
            <span :class="orderByIndex == 3?'hover_color': 'search_word' " @click="orderBy(3,'browseNum')">
              人气
              <img src="@/assets/images/resource/search_hover.png" class="icon" v-if="orderByIndex == 3">
              <img src="@/assets/images/resource/search.png" class="icon" v-else>
            </span>
            <span class="total_pages">共<span style="color: #EB851F;margin: 0 4px;">{{total?total:'0'}}</span>条搜索结果</span>
          </div>
          <router-view ref="refPage" v-on:changeTotal="changePage"></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@static/css/home/resource.less"
import { getHistoryAPI, resourceDataAPI } from '@/api/resource/index'
import Cookies from "js-cookie";

export default {
  name: 'commonleft',
  data() {
    return {
      imgUrl:[
        {
          img: require('@/assets/images/resource/top_book.png'),
          img_hover: require('@/assets/images/resource/top_book_hover.png'),
          keyword: 'book',
          namesZh: '图书',
          resource: 1,
        },{
          img: require('@/assets/images/resource/top_chapter.png'),
          img_hover:  require('@/assets/images/resource/top_chapter_hover.png'),
          keyword: 'article',
          namesZh: '章节',
          resource: 3,
        },{
          img: require('@/assets/images/resource/top_image.png'),
          img_hover:  require('@/assets/images/resource/top_image_hover.png'),
          keyword: 'image',
          namesZh: '图片',
          resource: 4,
        },{
          img: require('@/assets/images/resource/top_video.png'),
          img_hover:  require('@/assets/images/resource/top_video_hover.png'),
          keyword: 'video',
          namesZh: '视频',
          resource: 5,
        },{
          img: require('@/assets/images/resource/top_audio.png'),
          img_hover:  require('@/assets/images/resource/top_audio_hover.png'),
          keyword: 'audio',
          namesZh: '音频',
          resource: 6,
        },{
          img: require('@/assets/images/resource/top_course.png'),
          img_hover:  require('@/assets/images/resource/top_course_hover.png'),
          keyword: 'file',
          namesZh: '课件',
          resource: 7,
        },{
          img: require('@/assets/images/resource/top_scholar.png'),
          img_hover:  require('@/assets/images/resource/top_scholar_hover.png'),
          keyword: 'doctor',
          namesZh: '学者',
          resource: 2,
        }
      ],
      searchValue: null,
      defaultWord:'book',
      loginStatus: 0,
      historyWord: [],
      listQuery:{
        name: null,
        author: null,
        keyword: null,
        beginTime:null,
        endTime:null,
      },
      orderByIndex: 1,
      resourceData: [],
      defaultProps: {
        children: 'children',
        label: 'showName'
      },
      total: null,
      labelList: [],
      haveChooiceList: [],
      arr: [],
      timeLimit: null,
    }
  },
  created () {
    if(this.$store.state.searchContent){//判断是否有搜索词
      this.listQuery.content = this.$store.state.searchContent
      this.$emit('getSearchWord',this.$store.state.searchContent)
    }
    if(this.$route.query.code) {//判断是否有分类
        this.listQuery.diyTypeCode = this.$route.query.code
      }
    if(Cookies.get('resourceName') && Cookies.get('resourceType')) {//判断资源类型
      
      this.bookPage(Cookies.get('resourceName'),Cookies.get('resourceType')) //图书列表
    } else{
      this.bookPage('book',1); //图书列表
    }
  },
  mounted () {
    this.getResourceData()
    this.getHistory()
  },
  methods: {
    searchCon() {//有搜索词--搜索
      this.listQuery.content = this.$store.state.searchContent
      window.scrollTo(0, 360)
      this.$refs.refPage.getList(this.listQuery)
      this.getHistory() //重新请求历史接口
    },
    searchList() {//左侧搜索
      // if (this.timeLimit) {
      //   this.listQuery.beginTime = this.timeLimit[0];
      //   this.listQuery.endTime = this.timeLimit[1];
      // } else {
      //   this.listQuery.beginTime = null;
      //   this.listQuery.endTime = null;
      // }
      this.listQuery.pageNum = 1;
      this.$refs.refPage.getList(this.listQuery)
    },
    orderBy(index,name) {//排序
      this.orderByIndex = index
      if (name) {
        this.listQuery.orderBy = name+' '+`desc` ;
      } else{
        this.listQuery.orderBy = null
      }
      this.listQuery.pageNum = 1;
      this.$refs.refPage.getList(this.listQuery)
    },
    getHistory() {//获取搜索历史列表
      if(localStorage.getItem("Y-Token")){//判断是否登录
        getHistoryAPI().then(res =>{
          if(res.data.status){
            this.historyWord = res.data.data
          }
        })
      } else{
        this.loginStatus = 1
      }
    },
    bookPage(names,index) {//资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
      this.listQuery.name = null
      this.listQuery.author = null
      this.listQuery.keyword = null
      this.listQuery.beginTime = null
      this.listQuery.endTime = null
      this.defaultWord = names //控制图片更改
      Cookies.set('resourceType',index);
      Cookies.set('resourceName',names);
      this.$router.push({//加载对应页面
        name: 'resource_'+names,
        query: this.listQuery,
      })
    },
    changeLabel(info) {//选择标签
      let isRepeat = this.haveChooiceList.every(el => el.code!= info.code)
      if(isRepeat){
        this.haveChooiceList.push(info)
        this.arr = []
        this.haveChooiceList.map(el =>{
          this.arr.push(el.code)
        })
        this.listQuery.labelContentDiyTypeCode = this.arr.join(",")
        this.$refs.refPage.getList(this.listQuery)
      }
    },
    delLabel(code) {//删除已选标签
      let index = this.arr.findIndex(el=> el == code)
      this.arr.splice(index,1)
      let chooiceIndex = this.haveChooiceList.findIndex(el=> el.code == code)
      this.haveChooiceList.splice(chooiceIndex,1)
      this.listQuery.labelContentDiyTypeCode = this.arr.join(",")
      this.$refs.refPage.getList(this.listQuery)
    },
    clearAll() {//清空全部
      this.arr = [];
      this.haveChooiceList = [];
      this.listQuery.labelContentDiyTypeCode = null
      this.$refs.refPage.getList(this.listQuery)
    },
    checkAll(list) {//全选
      list.map(el => {
        let index = this.arr.findIndex(info=> info == el.code)
        this.arr.splice(index,1)
        let chooiceIndex = this.haveChooiceList.findIndex(info=> info.code == el.code)
        this.haveChooiceList.splice(chooiceIndex,1)
      })
      this.listQuery.labelContentDiyTypeCode = this.arr.join(",")
      this.$refs.refPage.getList(this.listQuery)
    },
    getResourceData() {//获取资源分类
      resourceDataAPI().then(res => {
        if(res.data.code == 0){
          let obj = {
            code: null,
            showName:'全部',
          }
          res.data.data.unshift(obj)
          this.resourceData = res.data.data
        }
      })
    },
    changePage(params) {//标签
      if(params.labelList){
        this.labelList = params.labelList
      } else{
        this.labelList = []
      }
      this.total = params.totalCount //总页数
    },
    handleNodeClick(data) {
      this.listQuery.diyTypeCode = data.code
      this.listQuery.pageNum = 1;
      this.$refs.refPage.getList(this.listQuery)
    },
  }
}
</script>

<style lang="less">
.commonLeft .left_con{
  .el-input__prefix{
    display: none;
  }
  .el-icon-date{
    display: none;
  }
  .el-input__inner{
    width: 140px !important;
    border-radius: 0;
  }
  .el-input__suffix-inner{
    display:none;
  }
  .el-date-editor{
    display:inline;
  }
}
</style>
