<template>
  <div class="doctor_body" v-loading="loading">
    <div class="book_list" v-for="item in list" :key="item.id">
      <div class="image">
        <router-link target="_blank" :to="{name:'doctorDetails',query:{ id:item.id }}">
          <img :src="`${uploadUrl}file/?fileName=${item.img}&isOnLine=true`" v-if="item.img">
          <img src="@/assets/images/resource/doctor_default.png" alt="默认封面" v-else>
        </router-link>
      </div>
      <div class="right">
        <router-link target="_blank" :to="{name:'doctorDetails',query:{ id:item.id }}">
          <div class="name" v-html="item.name"></div>
        </router-link>
        <div class="reader">{{item.title}}</div>
        <div class="description">{{item.description&&item.description.length>100?item.description.substr(0,100)+'...':item.description}}</div>
        <span class="clickNum"><img src="@/assets/images/resource/read_hover.png" class="read">{{item.browseNum}}次浏览</span>
      </div>
    </div>

    <div v-if="list.length == 0 && loading == false" style="width: 600px; margin: 100px auto;text-align:center">
      <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
      <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
    </div>

    <!-- 分页 -->
    <div class="pagination_box" v-if="list && list.length > 0">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="listQuery.pageNum"
        :page-size="listQuery.pageSize"
        layout="prev, pager, next, total, jumper"
        :total="total">
      </el-pagination>
    </div>
    
  </div>
</template>
<script>
import "@static/css/resource/doctor.less"
import { getListAPI } from '@/api/resource/index'
import { uploadUrl } from '@/utils/global'
import Cookies from "js-cookie";

export default {
  name: 'book',
  data(){
    return {
      listQuery:{
        pageNum: 1,
        pageSize: 20,
        resourceType: 2, //资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
      },
      list: [],
      total: null,
      uploadUrl: uploadUrl,
      loading: false,
      paramsObj:{},
    }
  },
  created(){
    this.$route.meta.title = '学者'
    if(this.$route.query) {
      this.getList(this.$route.query)
    }
  },
  destroyed(){
    Cookies.remove('content');
  },
  methods:{
    getList(obj) {//列表
      this.loading = true
      if(obj){ this.paramsObj = obj }
      let params = Object.assign(this.paramsObj,this.listQuery)
      getListAPI(params).then(res => {
        if(res.data.status){
          if(res.data.data.resList){
            this.list = res.data.data.resList
          } else{
            this.list = []
          }
          if(res.data.data.totalCount){
            this.total = res.data.data.totalCount
            this.$emit("changeTotal",res.data.data)
          }
        }
        this.loading = false
      })
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
      window.scrollTo(0, 0)
    },
  }
}
</script>