<template>
        <div class='userother_content_bg'>
            <div class="userother_wrap">
                <div class="doctor_details">
                    <div class="userother_top">
                        <div class="userother_top_opt">
                            <div class="userother_opt_list share_list">
                                <el-button size="mini" style="background:#FFFDFA;" plain icon="el-icon-share">分享</el-button>
                                <div class="bdsharebuttonbox share_wrap" ref="share_wrap" style="width:100px;right:0;position:absolute;">
                                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                    <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                </div>
                            </div>
                        </div>
                        <div class="userother_top_more"  @click="open" v-if="form.description && form.description.length>300">
                            <span v-if="extend">展开</span>
                            <span v-else>收起</span>
                        </div>
                        <div class="userother_top_pic">
                            <img class="userother_top_img" :src="`${uploadUrl}file/?fileName=${form.faceImg}&isOnLine=true`" v-if="form.faceImg">
                            <img class="userother_top_img" src="@/assets/images/resource/doctor_default.png" v-else>
                        </div>
                        <div class="userother_top_content">
                            <div class="userother_top_content_tit">
                                {{form.name}}
                                <span>{{form.title}}</span>
                            </div>
                            <div class="userother_top_content_text">
                                <p v-html="form.text" v-if="extend"></p>
                                <p v-html="form.description" v-else></p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="userother_content">
                <div class="userother_content_left">
                    <el-tabs :tab-position="tabPosition" v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="相关著作" name="first">
                            <div v-if="list.length != 0">
                                <div class="userother_content_block" v-for="item in list" :key="item.id">
                                    <div class="doctor_image" @click="detailsPage(item.resourceType,item.id)" v-if="!(!item.bookCover && item.resourceType == 3)">
                                        <img class="userother_top_img" :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover" alt="推荐医家">
                                        <img  src="@/assets/images/resource/book_default.png" v-else>
                                    </div>
                                    <div class="doctor_con">
                                         <div class="userother_content_block_tit" @click="detailsPage(item.resourceType,item.id)">
                                             <span v-if="item.resourceType == 1">《{{item.name}}》</span>
                                             <span v-else>{{item.name}}</span>
                                         </div>
                                        <div class="userother_content_block_text" v-html="item.text" v-if="item.resourceType == 3"></div>
                                        <div class="userother_content_block_text" v-html="item.summary" v-else></div>
                                        <div class="userother_content_block_tag">
                                            <el-tag size="mini" style="cursor: pointer;" v-for="item in item.keyword" :key="item.id">{{item}}</el-tag>
                                        </div>   
                                    </div>
                                </div>
                                <div class="pagination_box">
                                    <el-pagination  @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
                                </div>
                            </div>
                            <div v-else style="margin: 50px auto;width: 600px; height: 460px;">
                                <img src="@/assets/images/home/no-content.jpg">
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
                <div class="userother_content_right">
                    <div class="userother_content_right_tit">推荐学者</div>
                    <div class="userother_content_right_cont">
                        <div class="userother_content_block" v-for="item in doctorList" :key="item.id">
                            <div class="userother_content_block_pic" @click="linkShowUser(item.id)">
                                <img class="userother_top_img" :src="`${uploadUrl}file/?fileName=${item.faceImg}&isOnLine=true`" v-if="item.faceImg" alt="推荐医家">
                                <img class="userother_top_img" src="@/assets/images/home/no-cover.jpg" v-else alt="推荐医家">
                            </div>
                            <div>
                                <div class="userother_content_block_tit" @click="linkShowUser(item.id)">{{item.name}}</div>
                                <div class="userother_content_block_text" v-html="item.description && item.description.length > 28 ? item.description.substr(0,28) + '...' : item.description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import "@static/css/medical_information/userother.less"
import "@static/css/common.less"
import { getCheckAPI , classicalAPI , getShareAPI , getEbookAPI  , relevantMedicalAPI , getquestionAPI , attentionAPI, cancelAttentionAPI , getAskAPI} from '@/api/medical/medical'
import { uploadUrl } from '@/utils/global'
import navbar from '@/components/navbar.vue';

export default {
    name: 'userother',
    components: {
      navbar
    },
    data(){
        return{
            id:null,
            uploadUrl: uploadUrl,
            tabPosition:"top",
            list: [],
            total: null,
            total1: null,
            pageIndex: '',
            shareList: [],
            ebookList: [],
            doctorList: [],
            form: {},
            dialogFormVisible: false,
            listQuery: {
                pageNum: 1,
                pageSize: 10
            },
            activeName: 'first',
            cancel: true,
            off: false,
            fatherId: this.$route.query.id,
            replyCancel: true,
            extend: true,
            on: true,
            userType: localStorage.getItem("userType"),
        }
    },
    created() {
        if(this.userType == 2) {// 普通用户userType为0，机构用户userType为2
            this.cancel = false
        }
    },
    mounted() {
        this.id=this.$route.query.id;
        this.checkDoctor(this.id) // 查询名医详情
        this.getclassical() // 相关著作
        this.relevantMedical(); // 相关名医
        window._bd_share_main ? window._bd_share_main.init() : this.setShare()
    },
    methods: {
        checkDoctor(id) {// 详情
            getCheckAPI(id).then(res => {
                this.form = res.data.data;
                this.form.text = this.form.description.length > 300 ? this.form.description.substr(0,300) + '...' : this.form.description
                document.title = this.form.name
                if(this.form.institutionName == null) {
                    this.on = false
                } else {
                    this.on = true
                }
            })
        },
        open() {
           this.extend = !this.extend
        },
        getclassical() {// 相关著作
            this.listQuery.oid = this.id
            classicalAPI(this.listQuery).then(res => {
                if(res.data.data && res.data.data.list) {
                    this.total = res.data.data.total;
                    let regex = /,|，|\\s+/;
                    res.data.data.list.map(node => {
                        if(node.summary && node.summary.length>120){
                            node.summary = node.summary.substr(0,120)+'...'
                        }
                        if(node.text && node.text.length>120){
                            node.text = node.text.substr(0,120)+'...'
                        }
                        if(node.keywords) {
                            return node.keyword = node.keywords.split(regex)
                        }
                    })
                    this.list = res.data.data.list
                } 
            })
        },
        detailsPage(type,id) { //详情页面跳转
            if(type ==1) {//图书
                this.$router.push({name: 'bookDetails', query: {id:id}})
            } else{//文章
                this.$router.push({name: 'articleread', query: {id:id}})
            }
        },
        relevantMedical () {// 相关名医
            relevantMedicalAPI({
                num: 5,
                id:this.fatherId
            }).then(res => {
                this.doctorList = res.data.data;
            })
        },
        handleCurrentChange(val) {
            this.listQuery.pageNum = val
            this.getclassical()
            window.scrollTo(0, 0)
        },
        linkShowUser(id){//展示其他医家内容
            this.id = id
            this.checkDoctor(id);
            this.getclassical()
            this.relevantMedical()
        },
        handleClick(tab, event) {
            console.log(tab);
        },
        setShare(){
            window._bd_share_config={
                "common":{
                    "bdSnsKey":{},
                    "bdText":"",
                    "bdMini":"2",
                    "bdMiniList":false,
                    "bdPic":"",
                    "bdStyle":"0",
                    "bdSize":"16"
                },
                "share":{},
                // "image":{
                //     "viewList":["weixin","tsina","douban","qzone"],
                //     "viewText":"分享到：","viewSize":"16"
                // },
                "selectShare":{
                    "bdContainerClass":null,
                    "bdSelectMiniList":["weixin","tsina","douban","qzone"]
                }
            };
            //const $el = document.querySelector('#baiduShare')
            //console.log($el,"$elllllllll")
            //$el&&this.$refs.share_wrap.removeChild($el)
            const shareDome = document.createElement('script');
            shareDome.type = 'text/javascript';
            shareDome.src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);
            //console.log(shareDome,"document.body")
            this.$refs.share_wrap.appendChild(shareDome);
        },
    }
}
</script>

<style>
    .userother_content .el-tabs__item,.is-active{
        color: #8C1515 !important;
    }
</style>
