<template>
    <div class="file_body" v-loading="loading">
      <div class="book_list" v-for="item in list" :key="item.id" @mouseenter="hoverFile(item.id)">
        <div class="times">上传时间：{{item.uploadTime.substr(0,11)}}</div>
        <div class="image_box">
          <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover" class="list_image">
          <img src="@/assets/images/resource/default_file.png" alt="默认封面" class="list_image" v-else>
        </div>
        <router-link target="_blank" :to="{name:'fileDetails',query:{id:item.id}}">
          <div class="name" v-html="item.name"></div>
        </router-link>
        <div class="visited"><img src="@/assets/images/resource/read_hover.png" class="read">{{item.browseNum}}次浏览<span>资源大小：{{item.size}}</span></div>
        <span class="free" v-if="item.realPrice == 0">免费</span>
        <span class="no_price" v-else-if="item.realPrice == ''||item.realPrice == null">未定价</span>    
        <span class="price" v-else>￥{{item.realPrice}}</span>
        <span class="line_price" v-if="item.price&&item.realPrice>0">￥{{item.price}}
          <span class="discount" v-if="item.discount">({{item.discount}}折)</span>
        </span>
        <div class="list_box" v-if="item.id == hoverid && userType != 2">
          <div class="btn" v-if="item.isStatus == 1" @click="joinShopping(item.id,item.resourceType)">加入购物车</div>
          <div class="load" v-if="item.isStatus == 0" @click="downLoad(item.messageCode,item.annex)">下载</div>
        </div>
      </div>
      
      <div v-if="list.length ==0 && loading == false" style="width: 600px; margin: 100px auto;text-align:center">
        <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
        <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
      </div>
      
      <!-- 分页 -->
      <div class="pagination_box" v-if="list && list.length > 0">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="listQuery.pageNum"
          :page-size="listQuery.pageSize"
          layout="prev, pager, next, total, jumper"
          :total="total">
        </el-pagination>
      </div>
      
      <loginAlert :isShowChild="isShowAlert"  @toFatherData="sendSonData"></loginAlert>
      
    </div>
</template>
<script>
import "@static/css/resource/file.less"
import { getListAPI } from '@/api/resource/index'
import { shopCartAPI } from '@/api/common'
import Cookies from "js-cookie";
import { uploadUrl } from '@/utils/global'

export default {
  name: 'book',
  data(){
    return {
      listQuery:{
        pageNum: 1,
        pageSize: 18,
        resourceType: 7, //资源类型 1图书、2医家、3文章、4图片、5视频、6音频、7课件
      },
      list: [],
      total: null,
      hoverid: null,
      loading: false,
      isShowAlert: false,
      uploadUrl: uploadUrl,
      userType: null,
      paramsObj: null,
      userType: localStorage.getItem("userType"),
    }
  },
  created(){
    this.$route.meta.title = '课件'
    if(this.$route.query) {
      this.getList(this.$route.query)
    }
  },
  destroyed(){
    Cookies.remove('content');
  },
  methods:{
    getList(obj) {//列表
      this.loading =true
      if(obj){ this.paramsObj = obj }
      let params = Object.assign(this.paramsObj,this.listQuery)
      getListAPI(params).then(res => {
        if(res.data.status){
          if(res.data.data.resList) {
            this.list = res.data.data.resList
          } else{
            this.list = []
          }
          if(res.data.data.totalCount){
            this.total = res.data.data.totalCount
            this.$emit("changeTotal",res.data.data)
          }
        }
        this.loading =false
      })
    },
    joinShopping(id,type) { //加入购物车
      if(localStorage.getItem("Y-Token")){//判断是否登录
        shopCartAPI({
          goodsId: id,
          goodsType: type,
          num: 1
        }).then(res => {
          if(res.data.code>0) {
            this.$message.error(res.data.msg)
          } else if(res.data.code<0) {
            this.$message.error('添加购物车失败，请稍后再试')
          } else{
            this.$message.success('商品已加入购物车！')
          }
        })
      } else{
        this.isShowAlert=true;
      }
    },
    downLoad(code,file) {//下载
      if(!code){
        window.open(`${this.uploadUrl}/file/?fileName=${file}`)
      } else{
        if(!localStorage.getItem("Y-Token")){//判断是否登录
          this.$router.push({path:'/login'});
        }else{
          window.open(`${this.uploadUrl}/file/?fileName=${file}`)
        }
      }
      
    },
    sendSonData(val){/*子传父*/
      let self=this;
      self.isShowAlert=false;
      this.$emit('getloginData'); //弹窗登录信息
    },
    hoverFile(id) {
      this.hoverid = id
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
      window.scrollTo(0, 0)
    },
  }
}
</script>