<template>
  <div class="login-register-entry">
    <!-- 注册 -->
    <v-register :showRegister="showRegister" @childEvent="pEvent"/>
    <!-- 登录 -->
    <div id="login" class="login-wrap" v-show="showLogin">
      <el-card class="login-wrap-inner">
        <el-tabs v-model="activeLoginType" @tab-click="handleChangeLoginTypeClick">
          <el-tab-pane label="快速登录" name="fast">
            <el-form :model="fastLoginForm" ref="fastLoginForm" class="fast-login-form">
              <el-form-item label="" prop="account">
                <el-input type="text" v-model.number="fastLoginForm.account" autocomplete="off" placeholder="手机号"></el-input>
              </el-form-item>
              <el-form-item label="" prop="code">
                <v-getCode @dealParent="getCode" :data="fastLoginForm.account" ref="phonecode"></v-getCode>
              </el-form-item>
              <div class="msgError" v-show="showError">{{this.msgError}}</div>
              <el-button type="primary" class="submit" @click="submitForm('fastLoginForm')">登录</el-button>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="账号登录" name="account">
            <el-form :model="accountLoginForm" ref="accountLoginForm" class="account-login-form">
              <el-form-item label="" prop="">
                <el-input type="text" v-model="accountLoginForm.account" autocomplete="off" placeholder="用户名或手机号"></el-input>
              </el-form-item>
              <el-form-item label="" prop="">
                <el-input type="password" v-model="accountLoginForm.password" autocomplete="off" placeholder="密码"></el-input>
              </el-form-item>
              <el-form-item label="" prop="code" v-show="showCode" class="img-code-item">
                <img :src="imgCodeUrl" class="img-code">
                <el-input type="text" v-model="accountLoginForm.code" autocomplete="off" placeholder="验证码"></el-input>
              </el-form-item>
              <div class="forget-psw">
                <span class="msgError" style="float:left; margin-top: 16px;" v-show="showError">{{this.msgError}}</span>
                <el-button type="text" @click="toRetrievePsw"><a href="javascript:void(0)">忘记密码</a></el-button>
              </div>
              <el-button type="primary" class="submit" @click="submitForm('accountLoginForm')">登录</el-button>
            </el-form>
          </el-tab-pane>
        </el-tabs>
        <!-- 第三方登录 -->
        <div class="third-login">
          <div>
            <el-button type="text"><i class="icon icon-qq"></i></el-button>
            <el-button type="text"><i class="icon icon-wx"></i></el-button>
          </div>
          <div><el-button type="text" @click="changeLoginResgiter('register')">立即注册</el-button></div>
        </div>
      </el-card>
    </div>
  </div>
</template>
<script>
  import md5 from 'js-md5';
  import Register from '@/components/Register/index';
  // import GetCode from '@/components/GetCode/index';
  import { modifySuccess, warningMessage, errorMessage } from '@/utils/tip';
  import { sudoRetrievePsw } from '@/utils/auth';
  import { isTelNum } from '@/utils/str';
  export default {
    data () {
      return {
        showRegister: false,
        showLogin: true,
        showError: true, //错误提示是否显示
        msgError: '', //错误提示信息
        showCode: false, //输错5次为true，显示图片验证码
        imgCodeUrl: '',//图片验证码url
        // 登录
        activeLoginType: 'fast', // fast-快速登录 account-账号登录
        fastLoginForm: {
          account: '',
          code: '',
        },
        accountLoginForm: {
          account: '',
          password: '',
          code: '',
          uuid: '',
        },
        queryValue: '', //接收其他平台传递参数
        // fastLoginFormRules: {
        //   telephone: [
        //     { type: 'number', validator: this.validateTelephone, trigger: 'blur' }
        //   ],
        //   code: [
        //     { validator: this.validateCode, trigger: 'blur' }
        //   ],
        // },
        // accountLoginFormRules: {
        //   code: [
        //     { validator: this.validateCode, trigger: 'blur' }
        //   ],
        // }
      }
    },
    created() {
      //判断是显示注册还是登录
      this.queryValue = this.$route.query;
      if (this.queryValue.type) {
        if (this.queryValue.type == 'login') {
          this.showRegister = false;
          this.showLogin = true;
        } else {
          this.showRegister = true;
          this.showLogin = false;
        }
      }
    },
    components: {
      'v-register': Register,
      'v-getCode': GetCode,
    },
    methods: {
      toRetrievePsw() {
        sudoRetrievePsw()
      },
      //注册组件回调
      pEvent(a){
        if (a == 'tologin') {
          this.showLogin = true;
          this.showRegister = false;
        }
      },
      changeLoginResgiter(type) {
        if (type==="register") {
          this.showRegister = true;
          this.showLogin = false;
        } else {
          this.showRegister = false;
          this.showLogin = true;
          this.activeLoginType = 'fast';
        }

        // 父子组件通信
        // this.$emit('changeLoginResgiter',[{ "showRegister": this.showRegister, "showLogin": this.showLogin }])
      },
      // 登录
      handleChangeLoginTypeClick(tab, event) {
        this.activeLoginType = tab.name;
        this.showError = false;
        this.msgError = '';
        tab.name == "fast" && this.$refs['fastLoginForm'].resetFields();
        tab.name == "account" && this.$refs['accountLoginForm'].resetFields();
      },
      // 获取验证码
      getCode() {
        const phone = this.fastLoginForm.account;
        if (!phone) {
          this.msgError = '请输入手机号码';
          return
        }
        if (!isTelNum(phone)) {
          this.msgError = '手机号格式不正确';
          return
        }
        this.$store.dispatch('LoginCode', { phone })
        .then(res => {
          if (res.code == 0) {
            modifySuccess('恭喜您，发送验证码成功');
          } else {
            errorMessage(res.msg);
          }
        })
      },
      check(formName) {
        if (formName == 'accountLoginForm') {
          if (!this.accountLoginForm.account) {
            this.showError = true;
            this.msgError = '请输入账号';
            return false;
          } else if (!this.accountLoginForm.password) {
            this.showError = true;
            this.msgError = '请输入密码';
            return false;
          } else {
            this.showError = false;
            return true;
          }
        } else if (formName == 'fastLoginForm'){
          this.fastLoginForm.code = this.$refs.phonecode.codeData;
          if (!this.fastLoginForm.account) {
            this.showError = true;
            this.msgError = '请输入账号';
            return false;
          } else if (!this.fastLoginForm.code) {
            this.showError = true;
            this.msgError = '请输入验证码';
            return false;
          } else {
            this.showError = false;
            return true;
          }
        }
      },
      submitForm(formName) {
        this.$refs[formName].resetFields();
        if (!this.check(formName)) {
          return;
        } else {
          switch (formName) {
            case 'accountLoginForm':
              this.accountLogin();
              break;
            case 'fastLoginForm':
              this.fastLogin();
              break;
            default:
              break;
          }
        }
      },
      // 账号登录
      accountLogin() {
        let md5Data = Object.assign({}, this.accountLoginForm);
        md5Data.password = md5((md5Data.password).toUpperCase());
        this.$store.dispatch('AccountLogin', {...md5Data})
        .then(res => {
          if (res.code == 0) {
            this.loginCallBack(res);
          } else {
            this.showError = true;
            this.msgError = res.data ? res.data : res.msg;
            //输错5次出现验证码
            if (res.msg == 5) {
               this.showCode = true;
               this.msgError = '需填写验证码登录';
               this.$store.dispatch('PermissionsCode')
               .then(codeRes => {
                  this.imgCodeUrl = codeRes.img;
                  this.accountLoginForm.uuid = codeRes.uuid;
               })
            }
          }
        })
      },
      // 快速登录
      fastLogin() {
        const params = this.fastLoginForm;
        this.$store.dispatch('FastLogin', {...params})
        .then(res => {
          if (res.code == 0) {
            this.loginCallBack(res);
          } else {
            this.msgError = res.msg;
          }
        })
      },
      loginCallBack (res) {
        window.location.reload();
      },
    }
  }
</script>
<style lang="scss">
  @import 'index'
</style>
