.login-register-entry{
  /*display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}


.login-wrap{
  width: 390px;
  /*padding: 10px;*/
  background-color: #fff;
  .login-wrap-inner{
    .msgError {
      color: #F40303;
      font-size:12px;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    .img-code-item {
      position: relative;
    }
    .img-code {
      position: absolute;
      left: 260px;;
      top: 7px;
      z-index: 100;
      height: 33px;
    }
    .el-tabs__nav-wrap::after{
      /*content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #E4E7ED;
      z-index: 1;*/
      width: 0;
      height: 0;
    }
    .el-tabs__nav{
      float: none;
      text-align: center;
      .el-tabs__active-bar{
        height: 0;
      }
      .el-tabs__item{
        font-size: 15px;
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
        color: #333333;
        line-height: 36px;
      }
      .el-tabs__item.is-active{
        color: #008AEF;
      }
    }

    /* 快速登录 */
    .fast-login-form,
    .account-login-form{
      button.submit{width: 100%;}
    }

    /* 账号登录 */
    .account-login-form{
      padding: 0;
      .forget-psw{
        width: 100%;
        text-align: right;
      }
    }

    /* 第三方登录 */
    // .third-login{
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-between;
    //   .icon{
    //     width: 20px;
    //     height: 20px;
    //     display: inline-block;
    //     vertical-align: middle;
    //   }
    //   .icon-qq{
    //     background: url("~@/assets/icon-login-qq.png");
    //     background-size: 100% 100%;
    //   }
    //   .icon-wx{
    //     background: url("~@/assets/icon-login-weixin.png");
    //     background-size: 100% 100%;
    //   }
    // }
  }
}

.register-wrap{
  width: 390px;
  /*padding: 10px;*/
  background-color: #fff;
    .register-wrap-inner{
      .el-tabs__nav-wrap::after{
        /*content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #E4E7ED;
        z-index: 1;*/
        width: 0;
        height: 0;
      }
      .el-tabs__nav{
        float: none;
        text-align: center;
        .el-tabs__active-bar{
          height: 0;
        }
        .el-tabs__item{
          font-size: 15px;
          font-family: MicrosoftYaHei-Bold;
          font-weight: bold;
          color: #333333;
          line-height: 36px;
        }
        .el-tabs__item.is-active{
          color: #008AEF;
        }
      }
    

    /* 个人会员注册 */
    .person-register-form,
    .org-register-form{
      button.submit{width: 100%;}
    }

  }

}








