<template>
<div style="background:#f8f8f8;overflow:hidden">
  <div class="index_medicine" id="index_medicine">
    <div class="medicine_title">
      <span v-for="(item,index) in nameList" :key="item.id">
        <span @click="changeList(item.id)" :class="titleIndex == item.id ?'clickHover':''" >{{item.name}}</span>
        <img src="@/assets/images/medical/split.png" class="medicine_split" v-if="index != nameList.length-1">
      </span>
      <!-- <span @click="changeList('养生知识',2)" :class="titleIndex == 2 ?'clickHover':''">养生知识</span> -->
      <div class="search">
        <input type="text" placeholder="——请输入要查询的关键字——" v-model="searchWord" maxlength="30">
        <img src="@/assets/images/subject/search.png" class="search_icon" @click="searchKeyWords">
      </div>
    </div>
    <div v-if="list.length != 0">
      <div class="sub_rightCon">
        <div v-for="item in list" :key="item.id">
          <router-link :to="{name: 'medicineDetails', query: { id: item.id, type:titleIndex}}">
            <div class="sub_rightcontent" >
                <div class="sub_rightcontentimg"></div>
                <div class="sub_rightcontenttop" v-if="item.topStatus == 1">置顶</div>
                <div class="sub_rightcontentli">
                    {{item.title && item.title.length > 25 ? item.title.substring(0,25)+'...' : item.title}}
                </div>
                <div class="sub_rightcontentdate">{{item.releaserTime}}</div>
            </div>
          </router-link>
        </div>
      </div>

      <div class="pagination_box">
          <el-pagination  @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
      </div>
    </div>

    <div v-if="total == 0 && searchNull == 1" style="width: 600px; margin: 100px auto;text-align:center">
      <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
      <p style="color:#AD9A83;font-size:26px;">抱歉，没有找到相关内容</p>
    </div>

    <div v-if="total == 0 && searchNull != 1" style="width: 600px; margin: 100px auto;text-align:center">
      <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
      <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
    </div>
  </div>
</div>
</template>

<script>
import navbar from '../../components/navbar.vue';
import "@static/css/medical_information/medicine.less"
import { getNameAPI, getListAPI } from '@/api/medical/medicine'

export default {
  name: 'medicine',
  data() {
    return {
      total: null,
      nameList:[],
      listQuery: {
          pageNum: 1,
          pageSize: 20,
          title: null,
      },
      titleIndex: 1,
      list: [],
      searchWord: null,
      searchNull: null,
    }
  },
  components: {
    navbar
  },
  created() {
    this.$route.meta.title = this.listQuery.name
    this.getName()
    this.getList()
  },
  methods: {
    getName() {
      getNameAPI({num:3}).then(res =>{
        if(res.data.code == 0){
          this.nameList = res.data.data
          this.changeList(res.data.data[0].id)
        } else {
          this.$message.error('获取数据失败,请稍后重试!')
        }
      })
    },
    // 搜索
    searchKeyWords() {
      this.listQuery.name = this.searchWord
      this.searchNull = 1
      this.getList()
    },
    // 获取列表
    getList() {
      getListAPI(this.listQuery).then(res => {
        if(res.data.code === 0) {
            this.list = res.data.data.list
            this.total = res.data.data.total
            if(this.list && this.list.length>0){
              this.searchNull = null
            }
        } else {
            this.$message.error('获取数据失败,请稍后重试!')
        }
      })
    },
    changeList(id) {
      this.listQuery.id = id
      this.titleIndex = id
      this.$route.meta.title = this.listQuery.name
      this.getList()
    },
    handleCurrentChange(val) {
        this.listQuery.pageNum = val
        this.getList()
        window.scrollTo(0, 0)
    },
  }
}
</script>

<style lang="less" scoped>
.index_header{
  height: 304px !important;
}
</style>

  
