<template>
  <div class="medicine_details">
    <div class="details_con">
      <div class="medicine_details_title">
            <span v-for="(item,index) in nameList" :key="item.id">
                <span :class="titleIndex == item.id ?'clickHover':''" >{{item.name}}</span>
                <img src="@/assets/images/medical/split.png" v-if="index != nameList.length-1">
            </span>
      </div>
      <div class="medical_wrap_title">{{resourceForm.title}}</div>   
      <div class="medical_wra_source">
          <span>发布时间：{{resourceForm.releaserTime}}</span>
          <span>来源：{{resourceForm.source}}</span>
          <span class="details_share">
            分享:
            <div class="bdsharebuttonbox share_box" ref="share_wrap">
                <!-- <a href="#" class="bds_more" data-cmd="more"></a> -->
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            </div>
          </span>
      </div>  
      <div class="medical_wra" v-html="resourceForm.content"></div>
    </div>
  </div>
</template>

<script>
import navbar from '../../components/navbar.vue';
import "@static/css/medical_information/medicine.less"
import { getNameAPI, medicalDetailsAPI } from '@/api/medical/medicine'

export default {
    data () {
        return {
            nameList: [],
            resourceForm: {
                title: null,
                source: null,
                content: null,
            },
            titleIndex: this.$route.query.type,
        }
    },
    components: {
        navbar
    },
    mounted () {
        this.getNameList()
        this.details()
        window._bd_share_main ? window._bd_share_main.init() : this.setShare()
    },
    methods: {
        getNameList() {
            getNameAPI({num:3}).then(res =>{
                if(res.data.code == 0){
                    this.nameList = res.data.data
                // this.changeList(res.data.data[0].id)
                } else {
                    this.$message.error('获取数据失败,请稍后重试!')
                }
            })
        },
        // 详情页
        details() {
            const id = this.$route.query.id;
            medicalDetailsAPI(id).then(res => {
                this.resourceForm = res.data.data;
            })
        },
        setShare(){
            window._bd_share_config={
                "common":{
                    "bdSnsKey":{},
                    "bdText":"",
                    "bdMini":"2",
                    "bdMiniList":false,
                    "bdPic":"",
                    "bdStyle":"0",
                    "bdSize":"16"
                },
                "share":{},
                "image":{
                    "viewList":["weixin","tsina","douban","qzone"],
                    "viewText":"分享到：","viewSize":"16"
                },
                "selectShare":{
                    "bdContainerClass":null,
                    "bdSelectMiniList":["weixin","tsina","douban","qzone"]
                }
            };
            //const $el = document.querySelector('#baiduShare')
            //$el&&this.$refs.share_wrap.removeChild($el)
            const shareDome = document.createElement('script');
            shareDome.type = 'text/javascript';
            shareDome.src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);
            this.$refs.share_wrap.appendChild(shareDome);
        }
    },
}
</script>

<style>

</style>
