<template>
  <div class="book_page" @click="searchDialog = false">
    <div class="book_page_header">
      <div class="book_header_content">
        <div class="book_header_text">
          <span @click="messagePage()">消息</span>
          <span class="book_split">|</span>
          <span v-if="userType!='2'" @click="shopping()">购物车</span>
          <span class="book_split" v-if="userType!='2'">|</span>
          <span v-if="userName">
            <span @click="personalIndex()">
              <img :src="`${uploadUrl}file/?fileName=${userImg}&isOnLine=true`" class="book_header_userImg" v-if="userImg && userImg!= 'null'">
              <img src="@/assets/images/subject/header.png" v-else class="book_header_userImg">
              {{userName && userName.length>4?userName.substr(0,4)+'...':userName}}
            </span>
            <span class="book_split">|</span>
            <span class="book_login_out" @click="loginOut()">退出</span>
          </span>
          <span v-else>
            <router-link :to="{name:'login'}">登录</router-link>
            &nbsp;/&nbsp;
            <router-link :to="{name:'register'}">注册</router-link>
          </span>
        </div>
        <div class="book_header_bottom">
          <router-link :to="{name:'index'}">
            <img src="@/assets/images/book_home/logo.png" class="book_header_logo">
          </router-link>
          <div class="book_header_search" @click="searchBtn()">搜索</div>
          <div class="book_search_box">
            <span @click.stop="searchDialog = !searchDialog">{{searchType}}</span>
            <img src="@/assets/images/book_home/bottom.png" @click.stop="searchDialog = !searchDialog">
            <input type="text" placeholder="请输入关键词" v-model="searchWord"> 
          </div>
          <!-- 下拉搜索列表 -->
          <div class="search_select_box" v-if="searchDialog">
            <div 
              v-for="item in searchList" :key="item.type"
              :class="searchType == item.name?'search_book_list search_hover_color':'search_book_list'" 
              @click="changeSearchType(item.name,item.type)">
              {{item.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book_nav">
      <div class="book_nav_content">
        <span class="nav_sort">全部产品分类</span>
        <router-link :to="{name:'index'}"><span class="book_nav_list">首页</span></router-link>
        <router-link :to="{name:'bookhome'}"><span class="book_nav_list">图书</span></router-link>
        <router-link :to="{name: 'resource_book'}"><span class="book_nav_list">资源</span></router-link>
        <span class="book_nav_list" @click="courseDetails()">在线课程</span>
        <router-link :to="{name:'medicine'}"><span class="book_nav_list">资讯</span></router-link>
      </div>
    </div>
    <div class="book_sort_content">
      <div class="book_sort_left">
        <div class="sort_list" v-for="item in sortList" :key="item.id" @click="sortPage(item.code)">{{item.showName}}</div>
      </div>
      <div class="book_sort_right">
        <el-carousel trigger="click" height="420px">
          <el-carousel-item v-for="(item,index) in imageList" :key="index">
            <img :src="`${uploadUrl}file/?fileName=${item.picture}&isOnLine=true`" @click="imageLink(item.url)">
          </el-carousel-item>
        </el-carousel>
      </div>
    </div>
    <!-- 新书推荐 -->
    <div class="book_home_content">
      <div class="book_title_box">
        <span class="book_title_con">新书推荐</span>
        <span class="book_title_english">\&nbsp;NEW BOOK RECOMMENDATION</span>
        <span class="book_right_more" @click="resourceBook()">更多>></span>
      </div>
      <div class="new_book_recommend">
        <div :class="newBookPrev?'prev_page':'prev_page no_prev_icon'" @click="newBookChange('prev')">
          <img src="@/assets/images/resource/prev.png">
        </div>
        <div :class="newBookNext && newBookQuery.pageNum<2?'next_page':'next_page no_prev_icon'" @click="newBookChange('next')">
          <img src="@/assets/images/resource/next.png">
        </div>
        <div class="book_recommend_list" v-for="item in newBookList" :key="item.id">
          <router-link :to="{name:'bookDetails', query:{id:item.id}}">
            <div class="new_book_imgbox">
              <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover" class="resommend_image">
              <img src="@/assets/images/resource/book_default.png" class="resommend_image" v-else>
            </div>
            <div class="recommend_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
          </router-link>
          <div class="recommend_author">
            {{item.author&&item.author.length>4?item.author.substr(0,4)+'...':item.author}}
            <span v-if="item.realPrice == 0" class="free_price">免费</span>
            <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
            <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
          </div>
        </div>
      </div>
      <!-- 分类 -->
      <div class="book_title_box">
        <span :class="sortNum == item.code?'book_title_con_name':'book_sort_list'" v-for="(item,index) in sortList" :key="index" @click="changeSort(item.code)">
          {{item.showName}}
        </span>
        <span class="book_right_more" @click="resourceBook()">更多>></span> 
      </div>
      <div class="book_sort_box">
        <div class="sort_left" v-if="sortData && sortData.length">
          <router-link :to="{name:'bookDetails', query:{id:sortData[0].id}}">
            <img :src="`${uploadUrl}file/?fileName=${sortData[0].bookCover}&isOnLine=true`" v-if="sortData[0].bookCover">
            <img src="@/assets/images/resource/book_default.png" v-else>
          </router-link>
          <div class="sort_title">{{sortData[0].name}}</div>
          <div class="sort_author">{{sortData[0].author}}
            <span v-if="sortData[0].realPrice == 0" class="free_price">免费</span>
            <span v-else-if="!sortData[0].realPrice && sortData[0].realPrice != 0" class="no_price">未定价</span>
            <span v-else>￥{{sortData[0].realPrice.toFixed(2)}}</span>
          </div>
        </div>
        <div class="sort_right">
          <div class="sort_list_con" v-for="(item,index) in sortData" :key="item.id" v-if="index != 0">
            <div class="sort_img_box">
              <router-link :to="{name:'bookDetails', query:{id:item.id}}">
                <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover">
                <img src="@/assets/images/resource/book_default.png" v-else>
              </router-link>
            </div>
            <div class="sort_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
            <div class="sort_author">
              {{item.author&&item.author.length>4?item.author.substr(0,4)+'...':item.author}}
              <span v-if="item.realPrice == 0" class="free_price">免费</span>
              <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
              <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 专题 ZT -->
      <div class="book_title_box">
        <span class="book_title_con">专题</span>
        <span class="book_title_english">\&nbsp;SPECIAI TOPIC</span>
        <router-link :to="{name:'subject'}">
          <span class="book_right_more">更多>></span>
        </router-link>
      </div>
      <div class="book_subject_box">
        <div class="subject_topbox">
          <router-link :to="{name:'subjectDetails', query:{id:subjectFirst.id}}">
            <img :src="`${uploadUrl}file/?fileName=${subjectFirst.cover}&isOnLine=true`" v-if="subjectFirst.cover" class="subject_cover">
            <img src="@/assets/images/resource/book_default.png" v-else class="subject_cover">
          </router-link>
          <div class="subject_box_title">{{subjectFirst.name}}</div>
          <div class="subject_box_author">
            <span>作者：<span class="subject_box_author_text">{{subjectFirst.author}}</span></span>
            <span class="subject_box_brewse">浏览量：{{subjectFirst.browseNum}}</span>
          </div>
          <div class="subject_box_content">
            <p>{{subjectFirst.synopsis&&subjectFirst.synopsis.length>150?subjectFirst.synopsis.substr(0,150)+'...':subjectFirst.synopsis}}</p>
          </div>
        </div>
        <div class="subject_bottombox">
          <img src="@/assets/images/resource/subject_left.png" class="subject_prev" v-if="subjectPrev" @click="subjectChange('prev')">
          <img src="@/assets/images/resource/subject_default_left.png" class="subject_prev" v-else>
          <img src="@/assets/images/resource/subject_right.png" class="subject_next" v-if="subjectNext && subjectQueryOther.pageNum<4" @click="subjectChange('next')">
          <img src="@/assets/images/resource/subject_default_right.png" class="subject_next" v-else>
          <div class="subject_list_box">
            <div class="subject_recommend_list" v-for="item in subjectList" :key="item.id">
              <div class="subject_img_box">
                <router-link :to="{name:'subjectDetails', query:{id:item.id}}">
                  <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
                  <img src="@/assets/images/resource/book_default.png" v-else>
                </router-link>
              </div>
              <div class="subject_recommend_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
              <div class="subject_recommend_author">{{item.author&&item.author.length>4?item.author.substr(0,4)+'...':item.author}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 人物 -->
      <div class="book_title_box">
        <span class="book_title_con">人物</span>
        <span class="book_title_english">\&nbsp;CHARACTER RECOMMENDATION</span>
        <span class="book_right_more" @click="resourcePage()">更多>></span>
      </div>
      <div class="book_author_box">
        <div class="book_author_left">
          <div class="book_author_imgbox">
            <router-link :to="{name: 'doctorDetails',query: {id:authorList.id}}">
              <img :src="`${uploadUrl}file/?fileName=${authorList.faceImg}&isOnLine=true`" v-if="authorList.faceImg" class="book_author_face">
              <img src="@/assets/images/resource/book_default.png" v-else class="book_author_face">
            </router-link>
          </div>
          <div :class="authorPrev?'prev_icon':'prev_icon no_prev_icon'" @click="changeAuthor('prev')">
            <img src="@/assets/images/resource/prev.png">
          </div>
          <div :class="authorNext && authorQuery.pageNum<3?'next_icon':'next_icon no_prev_icon'" @click="changeAuthor('next')">
            <img src="@/assets/images/resource/next.png">
          </div>
        </div>
        <div class="book_author_right">
          <div class="book_author_name">
            <router-link :to="{name: 'doctorDetails',query: {id:authorList.id}}">
              {{authorList.name}}
            </router-link>
          </div>
          <div class="book_author_descrption">
            {{authorList.description&&authorList.description.length>200?authorList.description.substr(0,200)+'...':authorList.description}}
          </div>
          <div v-if="authotRecommendList && authotRecommendList.length>0">
            <div class="book_author_list" v-for="item in authotRecommendList" :key="item.id">
              <div class="author_list_imgbox">
                <router-link :to="{name: 'bookDetails',query:{id:item.id}}">
                  <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover">
                  <img src="@/assets/images/resource/book_default.png" v-else>
                </router-link>
              </div>
              <div class="book_author_title">
                <router-link :to="{name: 'bookDetails',query:{id:item.id}}">
                  {{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}
                </router-link>
              </div>
              <div class="book_author_price">
                <span v-if="item.realPrice == 0" class="free_price">免费</span>
                <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
                <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
              </div>
            </div>
          </div>
          <div class="book_null_box" v-else>
            <img src="@/assets/images/book_home/null.png">
            暂无相关资源
          </div>
        </div>
      </div>
      <!-- 热销图书 -->
      <div class="book_title_box">
        <span class="book_title_con">热销图书</span>
        <span class="book_title_english">\&nbsp;HOT BOOKS</span>
        <span class="book_right_more" @click="resourceBook()">更多>></span>
      </div>
      <div class="hot_book_box">
        <div :class="hotBookPrev?'hot_prev_page':'hot_prev_page no_prev_icon'" @click="hotBookChange('prev')">
          <img src="@/assets/images/resource/prev.png">
        </div>
        <div :class="hotBookNext && hotBookQuery.pageNum<2?'hot_next_page':'hot_next_page no_prev_icon'" @click="hotBookChange('next')">
          <img src="@/assets/images/resource/next.png">
        </div>
        <div class="hot_book_list" v-for="(item,index) in hotBookList" :key="index">
          <div class="hot_book_imgbox">
            <router-link :to="{name:'bookDetails', query:{id:item.id}}">
              <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover">
              <img src="@/assets/images/resource/book_default.png" v-else>
            </router-link>
          </div>
          <div class="hot_book_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
          <div class="hot_book_author">
            {{item.author&&item.author.length>4?item.author.substr(0,4)+'...':item.author}}
            <span v-if="item.realPrice == 0" class="free_price">免费</span>
            <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
            <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
          </div>
        </div>
      </div>
    </div>
    <Footer style="clear:both"></Footer>
  </div>
</template>

<script>
import '@static/css/resource/book_home.less'
import Footer from '@/components/Footer.vue';
import Cookies from 'js-cookie';
import { uploadUrl } from '@/utils/global';
import { loginOutAPI } from '@/api/comment/comments';
import {hasCourseAPI} from '@/api/common';
import { getImageAPI, getSortAPI, getRecommondAPI } from '@/api/resource/book_home';

export default {
  name: 'bookhome',
  components: {
    Footer,
  },
  data() {
    return{
      uploadUrl: uploadUrl,
      imageList: [],
      sortList: [],
      newBookList:[],
      newBookQuery:{
        pageNum: 1,
        pageSize: 5,
        code: 'XSTJ',
      },
      newBookPrev: null,
      newBookNext: null,
      sortNum: null,
      sortQuery:{
        pageNum: 1,
        pageSize: 9,
        code: 'GFLTJTS',
      },
      sortData: [],
      subjectQuery:{
        pageNum: 1,
        pageSize: 1,
        code: 'ZT1',
      },
      subjectQueryOther:{
        pageNum: 1,
        pageSize: 5,
        code: 'ZT2',
      },
      subjectFirst:[],
      subjectList:[],
      subjectPrev: null,
      subjectNext: null,
      authorQuery:{
        pageNum: 1,
        pageSize: 1,
        code: 'RW',
      },
      authorList: [],
      authotRecommendList:[],
      authorPrev:null,
      authorNext:null,
      hotBookQuery:{
        pageNum: 1,
        pageSize: 5,
        code: 'RXTS',
      },
      hotBookList:[],
      hotBookPrev: null,
      searchList:[
        {name:'全库搜索',type:'resource'},
        {name:'图书专题',type:'subject'},
        {name:'在线课程',type:'coursehome'},
      ],
      hotBookNext: null,
      searchType: '全库搜索',
      searchDialog: false,
      searchWord: null,
      searchPage: 'resource',
      userType: localStorage.getItem("userType"),
      userName: localStorage.getItem("userName"),
      userImg: localStorage.getItem("userImg"),
    }
  },
  mounted(){
    this.getRecommendImage(); //获取推荐图片
    this.getSortList();//一级分类列表
    this.recommendList(this.newBookQuery);//推荐资源
    this.recommendList(this.subjectQuery);//专题--first
    this.recommendList(this.subjectQueryOther);//专题--other
    this.recommendList(this.authorQuery);//人物
    this.recommendList(this.hotBookQuery);//热门图书
  },
  methods:{
    courseDetails() {//课程详情
      hasCourseAPI().then(res =>{
        if(res.data.code == 0){
          if(res.data.data){
            this.$router.push({name:'coursepage'}) //课程推荐位
          } else{
            window.open('https://zfdxcbsts.tmall.com/index.htm?spm=a220o.1000855.w5002-15518525577.2.385d726fERBDhw');
          }
        }
      })
    },
    getRecommendImage() {//图片轮播--广告位图片
      getImageAPI({'signValue':'tsggw','num':8}).then(res => {
        if(res.data.code == 0){
          this.imageList = res.data.data
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    imageLink(url){//图片轮播--跳转
      window.open(url)
    },
    getSortList() {//一级分类列表
      getSortAPI().then(res =>{
        if(res.data.code == 0){
          this.sortList = res.data.data
          this.changeSort(res.data.data[0].code)
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    changeSort(code){//切换分类
      this.sortNum = code
      this.sortQuery.diyTypeCode = code
      this.recommendList(this.sortQuery)
    },
    recommendList(object) {//推荐位
      getRecommondAPI(object).then(res => {
        if(res.data.code == 0){
          if(object.code == 'XSTJ') {//新书推荐
            this.newBookList = res.data.data.recommendResourcePage.list
            this.newBookPrev = res.data.data.recommendResourcePage.hasPreviousPage
            this.newBookNext = res.data.data.recommendResourcePage.hasNextPage
          }
          if(object.code == 'GFLTJTS') {//分类
            this.sortData = res.data.data.recommendResourcePage.list
          }
          if(object.code == 'ZT1') {//专题1
            this.subjectFirst = res.data.data.recommendResourcePage.list[0]
          }
          if(object.code == 'ZT2') {//专题列表
            this.subjectList = res.data.data.recommendResourcePage.list
            this.subjectPrev = res.data.data.recommendResourcePage.hasPreviousPage
            this.subjectNext = res.data.data.recommendResourcePage.hasNextPage
          }
          if(object.code == 'RW') {//人物
            console.log(res.data.data.recommendResourcePage,66666);
            
            this.authorList = res.data.data.recommendResourcePage.list[0]
            this.authotRecommendList = res.data.data.recommendResourcePage.list[0].aboutEbookListVO
            this.authorNext = res.data.data.recommendResourcePage.hasNextPage
            this.authorPrev = res.data.data.recommendResourcePage.hasPreviousPage
          }
          if(object.code == 'RXTS') {//热门图书
            this.hotBookList = res.data.data.recommendResourcePage.list
            this.hotBookNext = res.data.data.recommendResourcePage.hasNextPage
            this.hotBookPrev = res.data.data.recommendResourcePage.hasPreviousPage
          }
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    newBookChange(params) {//新书推荐切换页面
       if(params == 'next'){//下一页
        if(this.newBookQuery.pageNum<2 && this.newBookQuery){
          this.newBookQuery.pageNum = this.newBookQuery.pageNum+1;
        }
      } else{//上一页
        if(this.newBookQuery.pageNum>1 && this.newBookQuery) {
          this.newBookQuery.pageNum = this.newBookQuery.pageNum-1;
        }
      }
      this.recommendList(this.newBookQuery);//推荐资源
    },
    subjectChange(params) {//专题推荐切换页面
      if(params == 'next'){//下一页
        this.subjectQueryOther.pageNum = this.subjectQueryOther.pageNum+1;
      } else{//上一页
        this.subjectQueryOther.pageNum = this.subjectQueryOther.pageNum-1;
      }
      this.recommendList(this.subjectQueryOther);//推荐资源
    },
    changeAuthor(params) {//切换作者
      if(params == 'next'){//下一页
        if(this.authorQuery.pageNum<3 && this.authorNext){
          this.authorQuery.pageNum = this.authorQuery.pageNum+1;
        }
      } else{//上一页
        if(this.authorQuery.pageNum>1 && this.authorPrev) {
          this.authorQuery.pageNum = this.authorQuery.pageNum-1;
        }
      }
      this.recommendList(this.authorQuery);//人物
    },
    hotBookChange(params) {//热门图书推荐切换页面
      if(params == 'next'){//下一页
        if(this.hotBookQuery.pageNum<2 && this.hotBookQuery){
          this.hotBookQuery.pageNum = this.hotBookQuery.pageNum+1;
        }
      } else{//上一页
        if(this.hotBookQuery.pageNum>1 && this.hotBookQuery) {
          this.hotBookQuery.pageNum = this.hotBookQuery.pageNum-1;
        }
      }
      this.recommendList(this.hotBookQuery);//热门图书
    },
    changeSearchType(name,type) {//切换搜索按钮
      this.searchType = name
      this.searchPage = type
      this.searchDialog = false
    },
    searchBtn() {//搜索按钮
      this.$store.commit('changeSearchWord',{searchContent:this.searchWord}) //更改vuex登录状态
      this.$router.push({name: this.searchPage})
    },
    resourcePage() {//全文检索--医家
      Cookies.set('resourceType',2);
      Cookies.set('resourceName','doctor');
      this.$router.push({name:'resource'})
    },
    resourceBook() {//全文检索--图书
      Cookies.set('resourceType',1);
      Cookies.set('resourceName','book');
      this.$router.push({name:'resource'})
    },
    sortPage(code){
      Cookies.set('resourceType',1);
      Cookies.set('resourceName','book');
      this.$router.push({name:'resource',query:{code:code}})
    },
    shopping() {//购物车
      if(localStorage.getItem("Y-Token")){//判断是否登录
        this.$router.push('/shoppingCart')
      } else{
        this.$router.push('/login')
      }
    },
    messagePage() {//消息
      if(localStorage.getItem("Y-Token")){//判断是否登录
        this.$router.push({name:'message'})
      } else{
        this.$router.push('/login')
      }
    },
    personalIndex() {//跳转个人中心
      if(this.userType == 2) {// 机构
        this.$router.push({name:'organizationIndex'})
      } else{// 个人
        this.$router.push({name:'personalIndex'})
      }
    },
    loginOut() {//退出登录
      loginOutAPI().then(res => {
        if (res.data.code == 0) {
          this.$message.success("退出登录成功！")
          localStorage.clear();
          this.$store.dispatch('setMessageNum')
          this.$router.push({name: 'login'})
        } else {
          this.$message.error(res.data.msg)
        }
      })
    }
  }
}
</script>