<template>
  <div class="coursePage">
    <div class="course_wrap">
      <div class="course_main">
        <!-- 分享收藏模块 -->
        <div class="course_details_share">
          <div class="course_details_list share_list">
            <div class="share_box">
              <span>分享</span>
            </div>
            <div
              class="bdsharebuttonbox share_wrap"
              ref="share_wrap"
              style="width:100px;right:0;position:absolute;"
            >
              <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
              <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
              <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            </div>
          </div>
          <div class="course_details_list" @click="tapCollection">
            <div v-if="!isCollection" class="noagreeH">
              <span>
                <img src="@/assets/images/index/noheart_icon.png" />
              </span>收藏
            </div>
            <div v-if="isCollection" class="agreeH">
              <span>
                <img src="@/assets/images/index/heart_icon.png" />
              </span>收藏
            </div>
          </div>
        </div>
        <div class="course_main_left">
            <img :src="fileUrl(detail.cover)" v-if="detail.cover" />
            <img src="@/assets/images/resource/default_video.png" alt="默认封面" v-else />
        </div>
        <div class="course_main_right">
          <div class="course_main_title">{{detail.name&&detail.name.length>46?detail.name.substring(0,46)+'...':detail.name}}</div>
          <div class="course_main_rate">
            <el-rate v-model="totalScore" disabled :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
          </div>
          <div class="course_main_list">
            <div class="list">讲师：<span class="color">{{detail.author}}</span></div>
            <div class="list">上线时间：<span>{{detail.uploadTime&&detail.uploadTime.substr(0,10)}}</span></div>
            <div class="list">播放次数：<span>{{detail.clickNum}}</span></div>
          </div>
          <div class="course_main_synopsis">
              <span class="synopsis">简介:</span>
              <p class="synopsis_text" v-html="detail.text" v-if="extend"></p>
              <p class="synopsis_text" v-html="detail.synopsis" v-else></p>
          </div>
          <div @click="open()" v-if="detail.synopsis && detail.synopsis.length > 180">
            <div class="course_main_extend" v-if="extend">展开<img src="@/assets/images/index/icon_zk.png" class="main_extend_img"></div>
            <div class="course_main_extend" v-else>收起<img src="@/assets/images/index/icon_sq.png" class="main_extend_img"></div>
          </div>
          <div class="course_main_pirce">
            <span v-if="detail.realPrice == 0">免费</span>
            <span v-else-if="detail.realPrice == ''|| detail.realPrice == null">未定价</span>
            <span v-else>￥{{detail.realPrice}}</span>
            <span class="price" v-if="detail.price">￥{{detail.price}}{{detail.discount?`(${detail.discount}折)`:''}}</span>
          </div>
          <div class="course_main_tips" v-if="detail.messageCode==0">资源更新中，敬请期待~</div>
          <div class="course_main_btns">
            <div class="course_shop_btn" v-if="detail.messageCode==4||detail.messageCode==2" @click="immediatelyBuy()">立即购买</div>
            <div class="course_shop_car_btn" v-if="detail.messageCode==4||detail.messageCode==2" @click="addShop()" ></div>
          </div>
          <div class="course_main_buytip" v-if="detail.messageCode==3">温馨提示：{{detail.message}}</div>
        </div>
      </div>
    </div>

    <!-- 简介-目录-评论 -->
    <div class="details_content">
      <div class="details_left_cont">
        <div class="content_title">
          <span @click="changeTab(1,'intro')" :class="tabId == 1?'color':''">
            <a name="#intro">课程目录</a>
          </span>
          <img src="@/assets/images/home/split_hover_icon.png" class="split_img" />
          <span @click="changeTab(2,'intro')" :class="tabId == 2?'color':''">
            <a name="#intro">配套资源</a>
          </span>
          <img src="@/assets/images/home/split_hover_icon.png" class="split_img" />
          <span @click="changeTab(3,'intro')" :class="tabId == 3?'color':''">
            <a name="#intro">配套图书</a>
          </span>
          <img src="@/assets/images/home/split_hover_icon.png" class="split_img" />
          <span v-if="userType != 2" @click="changeTab(4,'review')" :class="tabId == 4?'color':''">
            <a name="#review">评论</a>
          </span>
        </div>
        <div class="intro" id="intro">
          <div class="text">目录</div>
          <div class="catalogue">
            <div v-if="cateList&&cateList.length>0">
              <div class="cata_list"  v-for="(item,index) in cateList" :key="index">
                <div v-if="isShowOpen?index<8:index+1">
                  <span class="cata_list_hour">课时{{index+1}}</span>
                  <span class="cata_list_title" @click="cateDetails(item.resourceId)">{{item.name}}</span>
                  <span class="cata_list_time"><img src="@/assets/images/subject/video.png" style="margin-right:6px;"> <span style="display:inline-block;width:70px;">{{item.timeLength}}</span></span>
                </div>
              </div>
            </div>
            <div class="cata_extend" v-if="cateList&&cateList.length>8" @click="openBtn">
              <span v-if="isShowOpen"><img src="@/assets/images/subject/extend.png">展开</span>
              <span v-else><img src="@/assets/images/subject/show.png">收起</span>
            </div>
          </div>
        </div>
        <div class="details_resource">
            <div class="resource_title">配套资源</div>
            <div class="resource_con">
              <div v-if="resourceList && resourceList.length > 0">
                <div class="resource_list" v-for="(item,index) in resourceList" :key="index">
                  <div class="resource_img">
                    <img :src="fileUrl(item.cover)" v-if="item.cover" @click="fileDetails(item.resourceId)"/>
                    <img src="@/assets/images/resource/default_video.png" @click="fileDetails(item.resourceId)" alt="默认封面" v-else />
                    <div class="resource_pdf">{{item.formats}}</div>
                  </div>
                  <p @click="fileDetails(item.resourceId)">{{item.name}}</p>
                </div>
              </div>
            </div>
        </div>
        <div class="details_book">
            <div class="details_book_title">配套图书</div>
            <div class="details_book_con">
              <div v-if="bookList && bookList.length > 0">
                <div class="details_book_list" v-for="(item,index) in bookList" :key="index">
                  <div class="details_book_img">
                    <img :src="fileUrl(item.cover)" v-if="item.cover" @click="bookDetails(item.resourceId)"/>
                    <img src="@/assets/images/resource/default_video.png" @click="bookDetails(item.resourceId)" alt="默认封面" v-else />
                  </div>
                  <p @click="bookDetails(item.resourceId)">{{item.name&&item.name.length>15?item.name.substring(0,15)+'...':item.name}}</p>
                </div>
              </div>
            </div>
        </div>
        <div class="review" id="review" v-if="userType != 2">
          <div class="review_title">评论</div>
          <div class="details_content_rate">
            <span class="details_content_rateCom">星评：</span>
            <el-rate v-model="reviewScore" :colors="['#F66B20', '#F66B20', '#F66B20']"></el-rate>
          </div>
          <div class="details_content_text">
            <textarea
              class="details_content_textarea"
              v-model="textCont"
              name
              cols="113"
              rows="10"
              placeholder="内容这么赞,快来评论吧..."
              style="width:843px;height:100px;"
              maxlength="300"
            ></textarea>
            <div class="details_content_textNum">{{textCont.length}}/300</div>
          </div>
          <div style="width:100%; display: block;height:46px; padding-bottom: 10px;">
            <div class="details_content_btn" @click="saveBtn">评论</div>
          </div>
          <!-- 评论列表 -->
          <div
            class="details_content_item"
            v-for="(val,index) in commentList"
            :key="index"
            style="margin-top: 26px;"
          >
            <div class="itemHeader">
              <img :src="fileUrl(val.userImg)" v-if="val.userImg&&val.userImg!=''" />
              <img src="../../assets/images/personal/default.png" v-else />
            </div>
            <div class="listCont">
              <div class="itemTit">
                <span class="title">{{val.userName}}</span>
                <div class="itemStar">
                  <span>
                    <img
                      src="@/assets/images/personal/starty.png"
                      alt
                      v-for="(star,ind) in val.score"
                      :key="ind"
                    />
                  </span>
                  <ul>
                    <li v-for="(item,index) in startNum" :key="index"></li>
                  </ul>
                </div>
                <span>{{val.releaseTime}}</span>
              </div>

              <div class="itemCont">{{val.content}}</div>
              <div class="itemOper">
                <div class="comNum" @click="lookCom(val.id)">
                  <span>{{val.replyNum}}</span>
                </div>
                <div class="thumbNum" @click="commentAgree(val.id,val)">
                  <img src="@/assets/images/resource/reply_agree_hover.png" alt v-if="val.isAgree" />
                  <img src="@/assets/images/resource/reply_agree.png" alt v-else />
                  <span :class="val.isAgree?'fontColor':''">{{val.fabulousNum}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- 更多评论 -->
          <router-link
            class="medetails_content_more"
            target="_blank"
            :to="{name: 'comments',  query: { id:this.$route.query.id,type:detail.resourceType,name:detail.name}}"
            v-if="commentTotal>5"
          >
            <div class="medetails_content_more">更多精彩评论>></div>
          </router-link>
        </div>
      </div>
      <div class="recommend_details_right">
        <!-- 右侧列表切换 -->
        <div class="recommend_con">
          <div class="recommend_title">相关资源</div>
          <div class="recommend_list" v-if="courseResourceList && courseResourceList.length >0">
            <p v-for="(item,index) in courseResourceList" :key="index" @click="linkShow(item.resourceId)"><span>{{index+1}}</span>{{item.name}}</p>
          </div>
          <div class="hot_list" v-if="courseResourceList.length==0" style="text-align:center;margin-top:40px">暂无内容</div>
        </div>
      </div>
    </div>
    <loginAlert :isShowChild="isShowAlert" @toFatherData="sendSonData"></loginAlert>
  </div>
</template>

<script>
import "@static/css/home/course-details.less";
import { courseDetailsAPI, courseCommonAPI, courseResourceAPI } from '@/api/home/course';
import {
  commentSaveAPI,
  getCommentListAPI,
  collectionAPI,
  commentAgreeAPI,
  cancelcollectionAPI,
  shopCartAPI
} from "@/api/common";
import navbar from "@/components/navbar.vue";

export default {
  name: "medetails",
  components: {
    navbar
  },
  data() {
    return {
      totalScore: 5, //总评分
      reviewScore: 5,
      startNum: 5,
      id: "",
      detail: {},
      resourceType: null,
      commentList: [],
      commentTotal: 0,
      textCont: "",
      isCollection: false,
      isShowAlert: false,
      refData: null,
      recommendList: [],
      index: 1,
      token: null,
      tabId: 1,
      extend: true,
      isShowOpen:true,
      cateQuery: {
        resourceId: null,
        type: 5,
        pageNum: 1,
        pageSize: 40
      },
      resourceQuery: {
        resourceId: null,
        type: 7,
        pageNum: 1,
        pageSize: 4
      },
      bookQuery: {
        resourceId: null,
        type: 1,
        pageNum: 1,
        pageSize: 4
      },
      listQuery: {
        resourceId: null,
        resourceType: 9,
        type: 9,
        pageNum: 1,
        pageSize: 12
      },
      cateList: [],
      resourceList: [],
      bookList: [],
      courseResourceList: [],
      userType: localStorage.getItem("userType"),
    };
  },
  created() {
    this.token = localStorage.getItem("Y-Token");
    this.id = this.$route.query.id;
    this.getCourseDetail(this.id)
    // this.getDetail();
  },
  mounted() {
    this.id = this.$route.query.id;
    this.refData = this.$refs;
    window._bd_share_main ? window._bd_share_main.init() : this.setShare();
  },
  watch: {
    $route() {
      this.id = this.$route.query.id;
      this.getCommentList();
      this.getCourseDetail(this.id)
    }
  },
  methods: {
    // 详情
    getCourseDetail(id) {
      courseDetailsAPI(id).then(res => {
        if(res.data.code == 0) {
          this.detail = res.data.data
          this.isCollection = this.detail.isCollection;
          this.detail.text = this.detail.synopsis.length > 180 ? this.detail.synopsis.substr(0,180) + '...' : this.detail.synopsis
          if (res.data.data.resourceScore) {
            //总评分赋值
            this.totalScore = res.data.data.resourceScore;
          }
          this.listQuery.resourceId = id
          this.cateQuery.resourceId = id
          this.resourceQuery.resourceId = id
          this.bookQuery.resourceId = id
          this.getCommentList();
          this.getCourseResource(this.listQuery)
          this.getCourseCommon(this.cateQuery)
          this.getCourseCommon(this.resourceQuery)
          this.getCourseCommon(this.bookQuery)
        } else {
          this.$message.error('获取数据失败')
        }
      })
    },
    open() {
      this.extend = !this.extend
    },
    openBtn() {
      this.isShowOpen = !this.isShowOpen
    },
    // 目录/配套资源/配套图书
    getCourseCommon(object) {
      if(object.type == 5) { //目录
        courseCommonAPI(object).then(res => {
          if(res.data.code == 0) {
            this.cateList = res.data.data
          }
        })
      } else if(object.type == 7) { //配套资源
        courseCommonAPI(object).then(res => {
          if(res.data.code == 0) {
            this.resourceList = res.data.data
          }
        })
      } else if(object.type == 1) { //配套图书
        courseCommonAPI(object).then(res => {
          if(res.data.code == 0) {
            this.bookList = res.data.data
          }
        })
      }
    },
    // 目录跳转到视频详情
    cateDetails(id) {
      this.$router.push({name: 'videoDetails',query:{id: id}})
    },
    // 配套资源跳转到课件详情
    fileDetails(id) {
      this.$router.push({name: 'fileDetails',query: {id: id}})
    },
    // 配套图书跳转到图书详情
    bookDetails(id) {
      this.$router.push({name: 'bookDetails',query: {id: id}})
    },
    // 获取相关资源
    getCourseResource(obj) {
      courseResourceAPI(obj).then(res => {
        if(res.data.code == 0) {
          this.courseResourceList = res.data.data
        }
      })
    },
    // 相关资源
    linkShow(id) {
      this.id = id
      this.getCourseDetail(this.id)
    },
    /*收藏*/
    tapCollection() {
      if (this.token) {
        let data = {
          goodsList: [
            {
              id: this.id,
              type: this.detail.resourceType
            }
          ],
          memberType: 1
        };
        if (this.isCollection) {
          //收藏了
          cancelcollectionAPI(data).then(res => {
            if (res.data.status) {
              this.isCollection = false;
              this.$message.success("取消收藏");
            } else {
              this.$message.error(res.data.msg);
            }
          });
        } else {
          collectionAPI(data).then(res => {
            if (res.data.status) {
              this.isCollection = true;
              this.$message.success("收藏成功");
            } else {
              this.$message.error(res.data.msg);
            }
          });
        }
      } else {
        this.isShowAlert = true;
      }
    },
    lookCom(id) {
      //回复
      this.$router.push({
        name: "commentReply",
        query: { id: id, type: this.detail.resourceType }
      });
    },
    sendSonData(val) {//登录
      let self = this;
      self.isShowAlert = false;
      self.$emit('getloginData'); //弹窗登录信息
      self.getCourseDetail(self.id)
    },
    /*获取评论列表*/
    getCommentList() {
      // 资源类型 1图书、3章节、4图片、5视频、6音频、7课件、8学者
      getCommentListAPI({
        resourceId: this.id,
        resourceType: this.detail.resourceType,
        pageNum: 1,
        pageSize: 5
      }).then(res => {
        this.commentList = res.data.data.list;
        this.commentTotal = res.data.data.total;
      });
    },
    recommendDetails(id, type) {
      //推荐详情
      this.$router.push({ name: "audioDetails", query: { id: id } });
    },
    saveBtn() {
      /*保存评论*/
      let textCon = this.textCont.replace(/^\s+|\s+$/g, "");
      if (this.token) {
        if (textCon == "") {
          this.$message.warning("请填写评论内容！");
        } else {
          commentSaveAPI({
            content: textCon, //评论内容
            fatherId: 0, //父级评论id：0资源，其他评论id
            fatherName: "", //父级评论用户名
            id: "", //评论id
            mainId: 0, // 所属主评论id：0资源主评论，其他主评论id
            resourceType: this.detail.resourceType, // 资源类型 1图书、3章节、4图片、5视频、6音频、7课件、8学者
            resourceId: this.id, //资源id
            resourceName: this.detail.name, //资源名称
            score: this.reviewScore
          }).then(res => {
            if (res.data.status) {
              this.$message.success("评论成功，请耐心等待审核！");
              this.textCont = ""; //清空input
              this.reviewScore = 5; //恢复初始值5颗星
              this.getCourseDetail(this.id); //重新计算总评分
              this.getCommentList(); //重新加载评论列表
            } else {
              this.$message.error(res.datas.msg);
            }
          });
        }
      } else {
        this.isShowAlert = true;
      }
    },
    commentAgree(id, item) {
      /*点赞*/
      if (this.token) {
        if (!item.isAgree) {
          commentAgreeAPI({
            commentId: id
          }).then(res => {
            if (res.data.status) {
              this.$message.success("点赞成功！");
              for (let i = 0; i < this.commentList.length; i++) {
                if (this.commentList[i].id == id) {
                  this.$set(
                    this.commentList[i],
                    "isAgree",
                    !this.commentList[i].isAgree
                  );
                  this.commentList[i].fabulousNum++;
                }
              }
            } else {
              this.$message.error(res.data.msg);
            }
          });
        } else {
          //不可以取消点赞
          this.$message.warning("已点赞成功");
        }
      } else {
        this.isShowAlert = true;
      }
    },
    addShop() {
      /*添加购物车*/
      if (this.token) {
        shopCartAPI({
          goodsId: this.id,
          goodsType: this.detail.resourceType,
          num: 1
        }).then(res => {
          if (res.data.status) {
            this.$message.success("商品已加入购物车");
          } else {
            this.$message.error(res.data.msg);
          }
        });
      } else {
        this.isShowAlert = true;
      }
    },
    tipsResource() {
      //是否购买并登录
      if (this.token) {
        if (this.detail.messageCode == 4) {
          //没有购买
          this.$message.error(this.detail.message);
        }
      } else {
        this.isShowAlert = true;
      }
    },
    immediatelyBuy() {
      /*立即购买*/
      if (this.token) {
        this.$router.push({
          name: "confirmOrder",
          query: { id: this.id, type: this.detail.resourceType }
        });
      } else {
        this.isShowAlert = true;
      }
    },
    changeTab(id, names) {
      //切换tab
      this.tabId = id;
      document.querySelector("#" + names).scrollIntoView(true);
    },
    setShare() {
      //分享
      window._bd_share_config = {
        common: {
          bdSnsKey: {},
          bdText: "",
          bdMini: "2",
          bdMiniList: false,
          bdPic: "",
          bdStyle: "0",
          bdSize: "16"
        },
        share: {},
        selectShare: {
          bdContainerClass: null,
          bdSelectMiniList: ["weixin", "tsina", "douban", "qzone"]
        }
      };
      const shareDome = document.createElement("script");
      shareDome.type = "text/javascript";
      shareDome.src =
        "http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=" +
        ~(-new Date() / 36e5);
      this.$refs.share_wrap.appendChild(shareDome);
    }
  }
};
</script>
