<template>
<div style="background:#f8f8f8">
  <div class="course_page">
    <div class="resommend_adspace" v-if="adspace.picture">
      <img :src="`${uploadUrl}file/?fileName=${adspace.picture}&isOnLine=true`" @click="imageDetails(adspace.url)">
    </div>
    <!-- 课程推荐 -->
    <div class="book_title_box">
      <span class="book_title_con">课程推荐</span>
      <span class="book_title_english">\&nbsp;COURSE RECOMMENDATION</span>
      <router-link :to="{name: 'coursehome'}">
        <span class="book_right_more">更多>></span>
      </router-link>
    </div>
    <div class="course_recommend">
      <div class="course_list" v-for="item in courseList" :key="item.id">
        <div class="image_box">
          <router-link :to="{name:'courseDetails',query: {id:item.id}}">
            <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
            <img src="@/assets/images/resource/book_default.png" v-else>
            <div class="course_browse">{{item.browseNum}}次浏览</div>
          </router-link>
        </div>
        <div class="course_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
        <div class="course_description">{{item.synopsis&&item.synopsis.length>27?item.synopsis.substr(0,27)+'...':item.synopsis}}</div>
        <div class="course_author">
          <span>讲师：{{item.author}}</span>
          <span class="course_price">
            <span v-if="item.realPrice == 0" class="free_price">免费</span>
            <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
            <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- 推荐图片 -->
    <div class="resommend_image" v-if="recommendImg.picture">
      <img :src="`${uploadUrl}file/?fileName=${recommendImg.picture}&isOnLine=true`" @click="imageDetails(recommendImg.url)">
    </div>
    <!-- 最新课程 -->
    <div class="book_title_box">
      <span class="book_title_con">最新课堂</span>
      <span class="book_title_english">\&nbsp;LATEST CLASS</span>
      <router-link :to="{name: 'coursehome'}">
        <span class="book_right_more">更多>></span>
      </router-link>
    </div>
    <div class="course_recommend">
      <div class="course_list" v-for="item in newCourseList" :key="item.id">
        <div class="image_box">
          <router-link :to="{name:'courseDetails',query:{id:item.id}}">
            <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
            <img src="@/assets/images/resource/book_default.png" v-else>
            <div class="course_browse">{{item.browseNum}}次浏览</div>
          </router-link>
        </div>
        <div class="course_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
        <div class="course_description">{{item.synopsis&&item.synopsis.length>27?item.synopsis.substr(0,27)+'...':item.synopsis}}</div>
        <div class="course_author">
          <span>讲师：{{item.author}}</span>
          <span class="course_price">
            <span v-if="item.realPrice == 0" class="free_price">免费</span>
            <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
            <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- 推荐图片 -->
    <div class="resommend_image" v-if="recommendImgOther.picture">
      <img :src="`${uploadUrl}file/?fileName=${recommendImgOther.picture}&isOnLine=true`" @click="imageDetails(recommendImgOther.url)">
    </div>
    <!-- 热门课堂 -->
    <div class="book_title_box">
      <span class="book_title_con">热门课堂</span>
      <span class="book_title_english">\&nbsp;POPULAR CLASSROOM</span>
      <router-link :to="{name: 'coursehome'}">
        <span class="book_right_more">更多>></span>
      </router-link>
    </div>
    <div class="course_recommend">
      <div class="course_list" v-for="item in hotCourseList" :key="item.id">
        <div class="image_box">
          <router-link :to="{name:'courseDetails',query:{id:item.id}}">
            <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
            <img src="@/assets/images/resource/book_default.png" v-else>
            <div class="course_browse">{{item.browseNum}}次浏览</div>
          </router-link>
        </div>
        <div class="course_title">{{item.name&&item.name.length>10?item.name.substr(0,10)+'...':item.name}}</div>
        <div class="course_description">{{item.synopsis&&item.synopsis.length>27?item.synopsis.substr(0,27)+'...':item.synopsis}}</div>
        <div class="course_author">
          <span>讲师：{{item.author}}</span>
          <span class="course_price">
            <span v-if="item.realPrice == 0" class="free_price">免费</span>
            <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
            <span v-else>￥{{item.realPrice.toFixed(2)}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import '@static/css/home/course.less'
import { recommendAPI, recommendImgAPI, courseAdspaceAPI } from '@/api/home/course';
import { uploadUrl } from '@/utils/global';

export default {
  name: 'course',
  mounted () {
    this.getAdspace() //广告位
    this.getRecommendList(this.courseQuery); //课程推荐
    this.getImage(this.imageQuery) //获取图片
    this.getImage(this.imageLastQuery) //获取图片--last
    this.getRecommendList(this.newCourseQuery); //最新课程
    this.getRecommendList(this.hotCourseQuery); //热门课堂
  },
  data() {
    return{
      uploadUrl: uploadUrl,
      courseQuery:{//课程推荐
        pageNum: 1,
        pageSize: 4,
        code: 'KCTJ',

      },
      courseList: [],
      imageQuery:{//获取图片
        num: 1,
        signValue: 'kcggw_1'
      },
      imageLastQuery:{//获取图片--last
        num: 1,
        signValue: 'kcggw_2'
      },
      newCourseQuery:{//最新课程
        pageNum: 1,
        pageSize: 4,
        code: 'ZXKT',
      },
      newCourseList:[],
      hotCourseQuery:{//热门课程
        pageNum: 1,
        pageSize: 4,
        code: 'RMKT',
      },
      hotCourseList:[],
      adspace: {},
      recommendImg:{},
      recommendImgOther:{},
    }
  },
  methods: {
    getAdspace() {
      courseAdspaceAPI({num:1,signValue:'tssyggw'}).then(res => {
        console.log(res,9900);
        
        if(res.data.code == 0){
          this.adspace = res.data.data[0]
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    getRecommendList(object) {
      recommendAPI(object).then(res =>{
        if(res.data.code == 0){
          if(object.code == 'KCTJ'){//课程推荐
            this.courseList = res.data.data.recommendResourcePage.list
          } else if(object.code == 'ZXKT') {//最新课程
            this.newCourseList = res.data.data.recommendResourcePage.list
          } else if(object.code == 'RMKT') {//热门课程
            this.hotCourseList = res.data.data.recommendResourcePage.list
          }
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    getImage(object) {//广告位
      recommendImgAPI(object).then(res =>{
        if(res.data.code == 0){
          if(object.signValue == 'kcggw_1'){
            this.recommendImg =res.data.data[0]
          }
          if(object.signValue == 'kcggw_2'){
            this.recommendImgOther = res.data.data[0]
          }
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    imageDetails(params){//图片详情
      window.open(params)
     
    },
  }
}
</script>
