<template>
  <div style="background:#f8f8f8">
    <div class="course_home_page">
      <div class="course_left">
        <div class="course_con">
          <div class="title">资源分类</div>
          <el-tree :data="resourceData" :props="defaultProps" @node-click="handleNodeClick" :highlight-current='true'></el-tree>
        </div>
        <div class="course_con word_list" v-if="loginStatus != 1 && historyWord && historyWord.length>0">
          <div class="title">搜索历史</div>
          <div class="search_history_box">
            <span class="word" v-for="item in historyWord" :key="item.id" @click="searchWord(item.content)">{{item.content}}</span>
          </div>
        </div>
      </div>
      <div class="course_right">
        <div class="course_list">
          <!-- 标签 -->
          <div class="list_keyword" v-for="item in labelList" :key="item.labelId">
            <span class="title">{{item.name}}：</span>
            <span @click="checkAll(item.labelContent)">全部</span>
            <span v-for="info in item.labelContent" :key="info.id" @click="changeLabel(info)">{{info.labelContent}}</span>
          </div>
          <div class="check_keyword" v-if="haveChooiceList && haveChooiceList.length>0">
            <span class="check_title">已选条件：</span>
            <span class="check_btn" v-for="item in haveChooiceList" :key="item.id">
              <span class="text">{{item.labelContent}}</span>
              <i @click="delLabel(item.code)">×</i>
            </span>
            <span class="clear_word" @click="clearAll()">清空全部</span>
          </div>
          <!-- 排序 -->
          <div class="course_search">
            排列:
            <span :class="orderByIndex == 'uploadTime'?'hover_color': 'search_word' " @click="orderBy('uploadTime')">
              时间
              <img src="@/assets/images/resource/search_hover.png" class="icon" v-if="orderByIndex == 'uploadTime'">
              <img src="@/assets/images/resource/search.png" class="icon" v-else>
            </span>
            <span :class="orderByIndex == 'browseNum'?'hover_color': 'search_word' " @click="orderBy('browseNum')">
              人气
              <img src="@/assets/images/resource/search_hover.png" class="icon" v-if="orderByIndex == 'browseNum'">
              <img src="@/assets/images/resource/search.png" class="icon" v-else>
            </span>
            <span class="total_pages">共<span>{{total?total:'0'}}</span>条搜索结果</span>
          </div>
          <!-- 列表 -->
          <div class="course_list_box">
            <div class="course_con_list" v-for="(item,index) in courseList" :key="index" @click="courseDetails(item.id)">
              <div class="course_image">
                <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
                <img src="@/assets/images/resource/book_default.png" v-else>
                <div class="course_browse">{{item.browseNum}}次浏览</div>
              </div>
              <div class="course_title" v-html="item.name"></div>
              <div class="course_descrption">
                {{item.description&&item.description.length>25?item.description.substr(0,25)+'...':item.description}}
              </div>
              <div class="course_author">
                <span>讲师：{{item.author}}</span>
                <span class="course_price">
                  <span v-if="item.realPrice == 0" class="free_price">免费</span>
                  <span v-else-if="!item.realPrice && item.realPrice != 0" class="no_price">未定价</span>
                  <span v-else>￥{{item.realPrice}}</span>
                </span>
              </div>
            </div>
          </div>
          <!-- 暂无内容 -->
          <div  v-if="!courseList || courseList.length == 0" style="width: 600px; margin: 100px auto;text-align:center">
            <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
            <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
          </div>
          <!-- 分页 -->
          <div class="pagination_box" style="padding:50px 0" v-if="courseList && courseList.length > 0">
            <el-pagination
              @current-change="handleCurrentChange"
              :current-page="listQuery.pageNum"
              :page-size="listQuery.pageSize"
              layout="prev, pager, next, total, jumper"
              :total="total">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@static/css/home/couese-home.less'
import { getHistoryAPI, resourceDataAPI } from '@/api/resource/index'
import { courseListAPI } from '@/api/home/course';
import { get } from 'http';
import { uploadUrl } from '@/utils/global'

export default {
  name: 'coursehome',
  data() {
    return {
      uploadUrl: uploadUrl,
      resourceData:[],
      defaultProps: {
        children: 'children',
        label: 'showName'
      },
      labelList:[],
      orderByIndex: 1,
      total: null,
      haveChooiceList: [],
      listQuery:{
        pageNum: 1,
        pageSize: 20,
        resourceType:9,
      },
      courseList:[],
      historyWord: [],
      loginStatus: 0,

    }
  },
  mounted () {
    if(this.$store.state.searchContent){
      this.$emit('getSearchWord',this.$store.state.searchContent)
      this.listQuery.content = this.$store.state.searchContent
    }
    this.orderBy('uploadTime')
    this.getResourceData()
    this.getHistory()
  },
  methods: {
    searchCon() {//有搜索词
      this.listQuery.content = this.$store.state.searchContent
      this.getList()
    },
    getList() {//获取列表
      courseListAPI(this.listQuery).then(res => {
        if(res.data.code ==0){
          this.courseList = res.data.data.resList
          this.labelList = res.data.data.labelList
          this.total = res.data.data.totalCount
          this.getHistory()
        }
      })
    },
    changeLabel(info) {//选择标签
      let isRepeat = this.haveChooiceList.every(el => el.code!= info.code)
      if(isRepeat){
        this.haveChooiceList.push(info)
        this.arr = []
        this.haveChooiceList.map(el =>{
          this.arr.push(el.code)
        })
        this.listQuery.labelContentDiyTypeCode = this.arr.join(",")
        this.getList()
      }
    },
    delLabel(code) {//删除已选标签
      let index = this.arr.findIndex(el=> el == code)
      this.arr.splice(index,1)
      let chooiceIndex = this.haveChooiceList.findIndex(el=> el.code == code)
      this.haveChooiceList.splice(chooiceIndex,1)
      this.listQuery.labelContentDiyTypeCode = this.arr.join(",")
      this.getList()
    },
    clearAll() {//清空全部
      this.arr = [];
      this.haveChooiceList = [];
      this.listQuery.labelContentDiyTypeCode = null
      this.getList()
    },
    checkAll(list) {//全选
      list.map(el => {
        let index = this.arr.findIndex(info=> info == el.code)
        this.arr.splice(index,1)
        let chooiceIndex = this.haveChooiceList.findIndex(info=> info.code == el.code)
        this.haveChooiceList.splice(chooiceIndex,1)
      })
      this.listQuery.labelContentDiyTypeCode = this.arr.join(",")
      this.getList()
    },
    getResourceData() {//获取资源分类
      resourceDataAPI().then(res => {
        if(res.data.code == 0){
          this.resourceData = res.data.data
        }
      })
    },
    getHistory() {//获取搜索历史列表
      if(localStorage.getItem("Y-Token")){//判断是否登录
        getHistoryAPI({resourceType:9}).then(res =>{
          if(res.data.code == 0){
            this.historyWord = res.data.data
          }
        })
      } else{
        this.loginStatus = 1
      }
    },
    orderBy(name) {//排序
      this.orderByIndex = name
      if (name) {
        this.listQuery.orderBy = name+' '+`desc` ;
      } else{
        this.listQuery.orderBy = null
      }
      this.listQuery.pageNum = 1;
      this.getList()
    },
    handleNodeClick(data) {
      this.listQuery.diyTypeCode = data.code
      this.listQuery.pageNum = 1;
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
      window.scrollTo(0, 0)
    },
    courseDetails(id) {//课程详情
      this.$router.push({name:'courseDetails',query:{id: id}})
    },
  }
}
</script>