<template>
  <div id="app" class="userIndex" @click="searchDialog = false">
    <div class="index_header">
      <img class="indexImg" :src="`${uploadUrl}file/?fileName=${indexData.img}&isOnLine=true`">
      <div class="header_con">
        <div class="header_img">
          <img src="@/assets/images/index/logo.png">
        </div>
        <div class="header_nav">
          <span class="active">首页</span>
          <router-link :to="{name: 'bookhome'}"><span>图书</span></router-link>
          <router-link :to="{name: 'resource_book'}"><span>资源</span></router-link>
          <span @click="courseRecommoned()">在线课程</span>
          <router-link :to="{name: 'medicine' }"><span>资讯</span></router-link>
        </div>
        <div class="header_top">
          <div class="login" v-if="userName">
            <div class="message" @click="messagePage()">消息<i v-if="messageNum">{{messageNum>99?'99+':messageNum}}</i><span class="login_line">|</span></div>
            <div class="shopping" v-if="userType!='2'" @click="shopping">购物车<span class="login_line">|</span></div>
            <div class="person" @click="personalIndex()">
              <img :src="`${uploadUrl}file/?fileName=${userImg}&isOnLine=true`" v-if="userImg && userImg!= 'null'">
              <img  v-else  src="@/assets/images/home/avatar.jpg">
              <span >
                {{userName&&userName.length>4?userName.substr(0,4)+'...':userName}}
              </span>
              <span class="login_line">|</span>
            </div>
            <div class="loginout" @click="loginOut()">退出</div>
          </div>
          <div v-else>
            <div class="message out" @click="messagePage()">消息<i v-if="messageNum">{{messageNum>99?'99+':messageNum}}</i></div>
            <div class="shopping out" v-if="userType!='2'" @click="shopping"><img class="shopping_img" src="@/assets/images/index/cart.png">购物车</div>
            <div class="login">
              <router-link to="/login" style="color:#ffffff;"><span>登录</span></router-link> / 
              <router-link to="/register" style="color: #ffffff;"><span>注册</span></router-link>
            </div>
          </div>
        </div>
        <div class="index_search">
          <div class="searchBox_index">
            <span @click.stop="searchDialog = !searchDialog">{{searchType}}</span>
            <img src="@/assets/images/book_home/bottom.png" @click.stop="searchDialog = !searchDialog" class="serach_index_img">
            <input type="text" v-model="searchWord" placeholder="请输入关键字" maxLength="30">
            <img src="@/assets/images/index/search.png" class="search_bg"  @click="searchBtn()">
            <!-- 搜索列表 -->
            <!-- <div class="searchTip" v-if="isShow">
              <div class="content_list" v-for="item in searchTipList" :key="item" v-if="searchTipList && searchTipList != []" @click="searchBtn(item)">{{item}}</div>
            </div> -->
          </div>
          <!-- 下拉搜索列表 -->
          <div class="search_select_box" v-if="searchDialog">
            <div 
              v-for="item in searchList" :key="item.type"
              :class="searchType == item.name?'search_book_list search_hover_color':'search_book_list'" 
              @click="changeSearchType(item.name,item.type)">
              {{item.name}}
            </div>
          </div>
          <!-- 热搜词 -->
          <div class="keyword" v-if="wordList && wordList.length>0">
            热搜词：
            <span v-for="item in wordList" :key="item.id" @click="searchKeyword(item.hotSearchWord)">
              {{item.hotSearchWord && item.hotSearchWord.length>8?item.hotSearchWord.substr(0,8):item.hotSearchWord}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- 学科分类 -->
    <div class="index_subject" >
      <div class="subject_con">
        <div class="subject_text">学科分类</div>
        <div class="subject_list">
          <div class="subject_listCon" :class="isShowSubject==index?'active':''" v-for="(item,index) in bookNavList" :key="index" @click="commonClassfiy(item.code)" @mouseenter.prevent="changeEnter(index)" :style="{background: 'url('+'../../../../static/index/'+item.bookCode+'.png)'}">
            <!-- 滑过之前的样式 -->
            <div class="subject_listConBlo" v-if="isShowSubject != index">
              <img src="@/assets/images/index/biao.png">
              <div class="subject_listTitle">{{item.showName}}</div>
            </div>
            <!-- 滑过之后的样式 -->
            <div class="subject_listConHover" v-if="isShowSubject == index">
              <img src="@/assets/images/index/top_ico.png">
              <div class="subject_extendTitle">
                <img src="@/assets/images/index/left_ico.png">
                <span>{{item.showName}}</span>
                <img src="@/assets/images/index/right_ico.png">
              </div>
              <img src="@/assets/images/index/bot_ico.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home_recommend">
      <div class="index_recommend">
        <div class="recommend_con">
          <!-- 推荐图书 -->
          <div class="recommend_wrap">
            <div class="recommend_top">推荐图书</div>
            <div class="recommend_book_list">
              <div class="recommend_list">
                <div class="recommend_listNav">
                  <div class="recommend_listTop" v-if="bookNavList && bookNavList.length > 0">
                    <div :class="isShowNav==index?'recommend_navText fontColor':'recommend_navText'"  v-for="(item,index) in bookNavList" :key="index" @click="bookNav(index)">{{item.showName}}<span>|</span></div>
                  </div>
                </div>
                <div class="recommend_listCon">
                  <div v-if="bookList&&bookList.length>0">
                    <div :class="bookPrev&&bookList.length>0?'recommend_listLeft active':'recommend_listLeft'"  @click="changeBook('prev')"><img src="@/assets/images/index/left.png"></div>
                    <div :class="reviewId != item.id?'recommend_bookList':'recommend_bookList hoverClass'" v-for="(item) in bookList" :key="item.id">
                      <div class="recommend_outlist">
                        <img :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" v-if="item.bookCover" @mouseenter="hoverResource(item.id)" @click="bookDetails(item.id)">
                        <img src="@/assets/images/resource/book_default.png" v-else @mouseenter="hoverResource(item.id)" @click="bookDetails(item.id)">
                        <div class="recommoend_right" v-if="reviewId == item.id" >
                          <p class="title" @click="bookDetails(item.id)">{{item.name && item.name.length>6?item.name.substr(0,6)+'...':item.name}}</p>
                          <p class="author">{{item.author && item.author.length>5?item.author.substr(0,5)+'...':item.author}}</p>
                          <div class="description" style="min-height:90px">{{item.summary && item.summary.length>40?item.summary.substr(0,40)+"...":item.summary}}</div>
                          <div class="btn" v-if="item.realPrice && item.realPrice != 0">￥{{item.realPrice.toFixed(2)}}</div>
                          <div class="free" v-if="item.realPrice == 0">免费</div>
                          <div class="no_price" v-if="!item.realPrice && item.realPrice!= 0">未定价</div>
                        </div>
                        <div v-if="reviewId != item.id" class="default_content">
                          <p class="default_title">{{item.name && item.name.length>6?item.name.substr(0,6)+'...':item.name}}</p>
                          <p class="default_author">{{item.author && item.author.length>5?item.author.substr(0,5)+'...':item.author}}</p>
                        </div>
                      </div>
                    </div>
                    <div :class="bookNext&&bookList.length>0?'recommend_listRight active':'recommend_listRight '" @click="changeBook('next')"><img src="@/assets/images/index/right.png"></div>
                  </div>
                  <div class="recommend_noBook" v-else>
                    <img src="@/assets/images/index/no_book.png">
                    <div class="noText">暂无相关资源</div>
                  </div>
                  <div class="more_btn" v-if="bookList&&bookList.length>0" @click="commonDetails('book',1,'图书')">&lt;更多&gt;</div>
                </div>
              </div>
              <div class="recommend_ranking">
                <div class="subleft_botTitle"><img src="@/assets/images/index/icon_paihang.png">总排行榜</div>
                <div class="meDetail_textbookList" v-for="(item,index) in sumList" :key="index" @mousemove.prevent='mousemove(index)'>
                  <div v-if="isShowBook!=index" class="meDetail_textbookTitle">
                    <div class="textbookList_num" >{{index+1}}</div>
                    <div class="commentRight_tip">
                      <div class="textbookList_text">{{item.name}}</div>
                    </div>
                  </div>
                  <div class="meDetail_textbook"  v-if="isShowBook==index">
                    <div class="textbook_number" >{{index+1}}</div>
                    <img class="textbook_img" v-if="item.bookCover" @click="bookDetails(item.id)" :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`">
                    <img v-else src="@/assets/images/resource/book_default.png" class="textbook_img" @click="bookDetails(item.id)">
                    <div class="commentRight_tip" >
                      <div class="textbook_title" @click="bookDetails(item.id)">{{item.name&&item.name.length>5?item.name.substring(0,5)+'...':item.name}}</div>
                      <div class="textbook_author">{{item.author}}</div>
                      <div class="commentRight_noPrice" v-if="item.realPrice == null">未定价</div>
                      <div class="commentRight_free" v-if="item.realPrice == 0">免费</div>
                      <div class="commentRight_price" v-if="item.realPrice != null && item.realPrice != 0">￥{{item.realPrice.toFixed(2)}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 推荐课程 -->
          <div class="recommend_course">
            <div class="recommend_course_title">推荐课程</div>
            <div class="recommend_course_con" v-if="courseList && courseList.length>0">
              <div class="recommend_course_list" v-for="(item,index) in courseList" :key="index">
                <div class="recommend_course_img">
                  <img v-if="item.cover" @click="courseDetails(item.id)" :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" class="view_img">
                  <img v-else @click="courseDetails(item.id)" src="@/assets/images/resource/default_video.png" class="view_img">
                  <div class="recommend_course_view">{{item.browseNum}}次浏览</div>
                </div>
                <div class="recommend_course_text">
                  <p class="recommend_course_text_title" @click="courseDetails(item.id)">{{item.name&&item.name.length>12?item.name.substring(0,12)+'...':item.name}}</p>
                  <p class="recommend_course_text_con">{{item.synopsis&&item.synopsis.length>30?item.synopsis.substring(0,30)+'...':item.synopsis}}</p>
                </div>
                <img src="@/assets/images/index/jintou_kc.png" @click="courseDetails(item.id)" class="recommend_course_icon">
              </div>
            </div>
            <router-link :to="{name: 'coursehome'}">
              <div class="recommend_course_more">&lt;更多&gt;</div>
            </router-link>
          </div>
        </div>
      </div>
      <!-- 推荐章节 -->
      <div class="recommend_chapter">
        <div class="recommend_chapter_wrap">
          <div class="recommoend_con" >
            <div class="recommoend_left"><img src="@/assets/images/index/tit_tjzj.png" class="right"></div>
            <div class="recommoend_Cright">
              <div class="recommend_list" v-for="item in readList" :key="item.id">
                <div class="recommend_common">
                  <p class="recommend_title" :title="item.name">
                    <img src="@/assets/images/home/list_style.png">
                    <router-link :to="{name:'articleread',query:{id:item.id}}">
                      {{item.name && item.name.length>25?item.name.substr(0,25)+'...':item.name}}
                    </router-link>
                  </p>
                  <p class="recommend_source">
                    来源：
                    <span v-if="item.bookId" >
                      <router-link class="recommend_tit_a" :to="{name: 'bookDetails',query:{id:item.bookId}}">
                        《{{item.bookName&&item.bookName.length>10?item.bookName.substr(0,10)+'...':item.bookName}}》
                      </router-link>
                    </span>
                    <span v-else>《{{item.source&&item.source.length>10?item.source.substr(0,10)+'...':item.source}}》</span>
                  </p>
                </div>
                <p class="recommend_description">
                  {{item.synopsis && item.synopsis.length>120?item.synopsis.substr(0,120)+'...':item.synopsis}}
                </p>
              </div>
            </div>
            <div class="more_con" @click="commonDetails('article',3,'章节')">&lt;更多&gt;</div>
          </div>
        </div>
      </div>
      <!-- 资讯 -->
      <div class="recommend_information">
        <div class="recommend_information_con">
          <div class="recommend_information_left" v-if="adspace.picture">
            <img :src="`${uploadUrl}file/?fileName=${adspace.picture}&isOnLine=true`" @click="imageDetails(adspace.url)">
          </div>
          <div class="recommend_information_right">
            <router-link :to="{name: 'medicine' }">资讯</router-link>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue';
import '@static/css/index.less'
import { keywordAPI, recommendListAPI, recommendNavListAPI } from '@/api/home/index'
import { courseAdspaceAPI } from '@/api/home/course';
import { linksAPI, dictionaryAPI, footerAPI, searchTipAPI, bookSumRankingAPI, messageAPI, getIndexImgAPI, hasCourseAPI } from '@/api/common'
import {qqLoginAPI,wxLoginAPI} from '@/api/login/index'
import { uploadUrl } from '@/utils/global';
import {searchListAPI, loginOutAPI} from '@/api/comment/comments';
import Cookies from 'js-cookie';
import { log } from 'util';

export default {
  name:'home',
  data() {
    return{
      yizuList: [],
      isShowBook: null,
      isShowSubject: null,
      userType:null,
      havMessage: null,
      isShowNav:0,
      wordList:[],
      doctorList: [],
      videoList: [],
      readList: [],
      bookList: [],
      courseList: [],
      bookNavList: [],
      uploadUrl: uploadUrl,
      hoverId: null,
      reviewId: null,
      searchValue: null,
      bookListQuery: { //推荐图书--有分页（设计图展示3条）
        pageNum:1,
        pageSize:3,
        code:'TJTS',
        diyTypeCode: '01'
      },
      bookTotal: null,
      courseListQuery: { //推荐课程--没有分页
        pageNum: 1,
        pageSize: 4,
        code: 'TJKC'
      },
      videoListQuery: { //中医讲堂--有分页(产品没有分页功能，设计图要分页功能，按照设计题走)
        pageNum:1,
        pageSize:4,
        code:'HOME_1',
      },
      videoTotal: null,
      audioListQuery: { //中医之声--有分页(产品没有分页功能，设计图要分页功能，按照设计题走)
        pageNum:1,
        pageSize:4,
        code:'HOME_2',
      },
      audioTotal: null,
      readListQuery: { //推荐阅读--有分页(产品没有分页功能，设计图要分页功能，按照设计题走)
        pageNum:1,
        pageSize:4,
        code:'TJZJ',
      },
      sumList: [],
      sumListQuery: { // 总排行榜
        id: 2,
        num: 7
      },
      resourceData:[
        {
          keyword: 'book',
          namesZh: '图书',
          resource: 1,
        },
        {
          keyword: 'article',
          namesZh: '章节',
          resource: 3,
        },
        {
          keyword: 'image',
          namesZh: '图片',
          resource: 4,
        },{
          keyword: 'video',
          namesZh: '视频',
          resource: 5,
        }, {
          keyword: 'audio',
          namesZh: '音频',
          resource: 6,
        }, {
          keyword: 'file',
          namesZh: '课件',
          resource: 7,
        }, {
          keyword: 'doctor',
          namesZh: '学者',
          resource: 2,
        }
      ],
      resourceWord: '图书',
      listShow: null,
      resourceDetails: {},
      searchTipList: [],
      isShow: false,
      accountShow: false,
      timeOutFlag: false,
      bookNext: null,
      bookPrev: null,
      searchWord: null,
      searchDialog: false,
      searchType: '全库搜索',
      searchPage: 'commonleft',
      searchList:[
        {name:'全库搜索',type:'commonleft'},
        {name:'图书专题',type:'subject'},
        {name:'在线课程',type:'coursehome'},
      ],
      indexData: {},
      userType: localStorage.getItem("userType"),
      userName: localStorage.getItem("userName"),
      userImg: localStorage.getItem("userImg"),
      messageNum: null,
      adspace: {}
    }
  },
  components: {
    Footer
  },
  created() {
    document.title = '中国政法教育资源平台'
    this.getKeyword() //获取热搜词
    this.getrecommend(this.courseListQuery) //推荐课程--没有分页
    this.getrecommend(this.readListQuery) //推荐章节--没有分页
    this.getrecommend(this.bookListQuery)//推荐图书--有分页
    this.getRecommendNav()
    this.getSumRanking()
    this.getMessage()
    this.getIndexImg()
    this.getAdspace() //广告位
  },
  methods: {
    getAdspace() {
      courseAdspaceAPI({num:1,signValue:'syggw'}).then(res => {
        if(res.data.code == 0){
          this.adspace = res.data.data[0]
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    courseRecommoned() {
      hasCourseAPI().then(res =>{
        if(res.data.code == 0){
          if(res.data.data){
            this.$router.push({name:'coursepage'}) //课程推荐位
          } else{
            window.open('https://zfdxcbsts.tmall.com/index.htm?spm=a220o.1000855.w5002-15518525577.2.385d726fERBDhw');
          }
        }
      })
    },
    getIndexImg() { //首页背景封面
      const data = {
        code: 'SYFM',
        pageNum: 1,
        pageSize: 10
      }
      getIndexImgAPI(data).then(res => {
        if(res.data.code == 0) {
          this.indexData = res.data.data
        }
      })
    },
    getMessage() {
      messageAPI().then(res => {
        if (res.data.data > 0) {
          this.messageNum = res.data.data
        } else {
          this.messageNum = null
        }
      })
    },
    changeSearchType(name,type) {//切换搜索按钮
      this.searchType = name
      this.searchPage = type
      this.searchDialog = false
    },
    // 学科分类鼠标移入
    changeEnter(index){
      //清除所有背景a
      this.bookNavList.map((ele,ind) => {
        // 给所有对象增加bookCode属性，用来改变背景图片
        ele.bookCode = ele.code
        this.bookNavList[ind].bookCode=ele.bookCode.replace('a','')
      })
      this.bookNavList[index].bookCode = this.bookNavList[index].bookCode+'a'
      this.isShowSubject = index
    },
    hoverResource(id) {//动画
      this.reviewId = id
    },
    getKeyword() {//获取热搜词
      keywordAPI({num:6}).then(res => {
        if(res.data.status == true){
          this.wordList = res.data.data
        }
      })
    },
    // 获取推荐图书导航列表
    getRecommendNav() {
      recommendNavListAPI().then(res => {
        if(res.data.code == 0) {
          this.bookNavList = res.data.data
          this.isShowSubject = 0
          this.changeEnter(0)
        }
      })
    },
    // 推荐图书导航
    bookNav(index) {
      this.isShowNav = index
      if(index==this.isShowNav) {
        this.bookListQuery.diyTypeCode = '0'+(index+1)
        this.bookListQuery.pageNum = 1
        this.getrecommend(this.bookListQuery)
      }
    },
    getrecommend(object) {//获取推荐位列表
      recommendListAPI(object).then(res => {
        if(res.data.status == true){
          if(object.code == 'TJTS') { //推荐图书
            this.bookList = res.data.data.recommendResourcePage.list
            if(res.data.data.recommendResourcePage.list && res.data.data.recommendResourcePage.list.length>0){
              this.reviewId = res.data.data.recommendResourcePage.list[0].id
              this.bookTotal = res.data.data.recommendResourcePage.pages
              this.bookNext = res.data.data.recommendResourcePage.hasNextPage
              this.bookPrev = res.data.data.recommendResourcePage.hasPreviousPage
            }
          } else if(object.code == 'TJKC') { //推荐课程
            if(res.data.data.recommendResourcePage.list && res.data.data.recommendResourcePage.list.length>0) {
              this.courseList = res.data.data.recommendResourcePage.list
            }
          } else if(object.code == 'TJZJ') { //推荐章节
            if(res.data.data.recommendResourcePage.list && res.data.data.recommendResourcePage.list.length>0) {
              this.hoverId = res.data.data.recommendResourcePage.list[0].id
              this.readList = res.data.data.recommendResourcePage.list
            }
          }
        }
      })
    },
    // 获取总排行榜
    getSumRanking() {
      bookSumRankingAPI(this.sumListQuery).then(res => {
        if(res.data.code == 0) {
          this.sumList = res.data.data;
          this.isShowBook = 0
        }
      })
    },
    commonDetails(names,index,nameszh) {// 资源页面
      Cookies.set('resourceName',names);
      Cookies.set('resourceType',index);
      Cookies.set('resourceNameZh',nameszh);
      this.$router.push({name: 'commonleft'})
    },
    commonClassfiy(code) { //学科分类跳转至资源页面选中分类
      this.$router.push({name: 'commonleft',query: {code: code}})
    },
    searchBtn() {//搜索按钮
      this.$store.commit('changeSearchWord',{searchContent:this.searchWord}) //更改vuex状态
      this.$router.push({name: this.searchPage})
    },
    // 推荐图书跳转到图书详情
    bookDetails(id) {
      this.$router.push({name: 'bookDetails',query: {id: id}})
    },
    // 推荐课程跳转到在线课程详情
    courseDetails(id) {
      this.$router.push({name: 'courseDetails',query: {id: id}})
    },
    /*搜索按钮*/
    // searchBtn(content){
    //   if(this.resourceDetails.resource){
    //     Cookies.set('resourceName',this.resourceDetails.keyword);
    //     Cookies.set('resourceType',this.resourceDetails.resource);
    //     Cookies.set('resourceNameZh',this.resourceDetails.namesZh);
    //   } else{
    //     Cookies.set('resourceName','book');
    //     Cookies.set('resourceType',1);
    //     Cookies.set('resourceNameZh','图书');
    //   }
    //   if(content) {
    //     Cookies.set('content',content);
    //   }
    //   this.$router.push({path: '/resource'})
    // },
    searchKeyword(content) {//热搜词
      Cookies.set('resourceName','book');
      Cookies.set('resourceType',1);
      Cookies.set('resourceNameZh','图书');
      Cookies.set('content',content);
      this.$router.push({path: '/resource'})
    },
    // searchTip(content) {//搜索提示
    //   if(content){
    //     let data = 1
    //     if(this.resourceDetails.resource){//没有选择数据类型
    //       data = this.resourceDetails.resource
    //     }
    //     searchTipAPI({
    //       content,
    //       resourceType:data
    //     }).then(res =>{
    //       if(res.data.code == 0){
    //         if(res.data.data && res.data.data.length>0){
    //           this.searchTipList = res.data.data
    //           this.isShow = true
    //         } else{
    //           this.isShow = false
    //         }
    //       }
    //     })
    //   } else{
    //     this.isShow = false
    //   }
    // },
    changeBook(params) { //切换图书
      if(params == 'next') {
        if(this.bookNext) {
          this.bookListQuery.pageNum = this.bookListQuery.pageNum+1
          this.getrecommend(this.bookListQuery)
        }
      } else { 
        if(this.bookPrev) {
          this.bookListQuery.pageNum = this.bookListQuery.pageNum-1
          this.getrecommend(this.bookListQuery)
        }
      }
    },
    checkTitle(id) {
      this.hoverId = id
    },
    mousemove(index) {
      this.isShowBook = index
    },
    shopping() {//购物车
      if(localStorage.getItem("Y-Token")){//判断是否登录
        this.$router.push('/shoppingCart')
      } else{
        this.$router.push('/login')
      }
    },
    messagePage() {//消息
      if(localStorage.getItem("Y-Token")){//判断是否登录
        this.$router.push({name:'message'})
      } else{
        this.$router.push('/login')
      }
    },
    changeResource(item) {//改变资源
      this.listShow = false
      this.resourceWord = item.namesZh
      this.resourceDetails = item
    },
    personalIndex() {//跳转个人中心
      if(this.userType == 2) {// 机构
        this.$router.push({path:'/organizationIndex'})
      } else{// 个人
        this.$router.push({path:'/personalIndex'})
      }
    },
    toggleList() {//切换个人中心
      this.accountShow = !this.accountShow
    },
    loginOut() {//退出登录
      loginOutAPI().then(res => {
        if (res.data.code == 0) {
          this.$message.success("退出登录成功！")
          localStorage.clear();
          this.$store.dispatch('setMessageNum')
          this.$router.push({name: 'login'})
        } else {
          this.$message.error(res.data.msg)
        }
      })
    },
    imageDetails(params){//广告位跳转
      window.open(params)
    },
  }
}
</script>
