<template>
    <div id="message-details">
        <div class="message_content">
            <div class="message_wrap" style="margin-bottom: 20px;">
                <!--面包屑-->
                <navbar></navbar>
                <div class="message_wrap_con" style=" min-height: 550px;">
                    <div class="message_wrap_s">
                        <div class="message_wrap_title">{{resourceForm.title}}</div>
                        <div class="message_wrap_source">
                            <span class="message_wrap_source_time">发布时间：{{resourceForm.sendTime}}</span>
                        </div>
                    </div>
                    <div class="message_wrap_text" v-html="resourceForm.content"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import navbar from '../../components/navbar.vue';
import '@static/css/personal/message.less'
import { getDetailsAPI } from '@/api/home/message'
import { messageAPI } from '@/api/common'

export default {
    components: { navbar },
    data() {
        return {
            resourceForm: {
                title: null,
                content: null
            }
        }
    },
    mounted() {
        this.details()
        // this.$store.dispatch('setMessageNum')

    },
    methods: {
        details() { // 详情页
            const id = this.$route.query.id;
            getDetailsAPI(id).then(res => {
                this.resourceForm = res.data.data;
                this.getMessage()
            })
        },
        getMessage() {
            messageAPI().then(res => {
                if (res.data.data > 0) {
                    this.messageNum = res.data.data
                } else {
                    this.messageNum = null
                }
                this.$emit('getloginData')
            })
        },
        infoMessage() {
            this.$router.push({path: '/message'})
        }
    }
}
</script>

<style>

</style>
