<template>
    <div id="message-details">
        <div class="message_content">
            <div class="message_wrap">
                <!--面包屑-->
                <navbar></navbar>
                <div class="message_main">
                    <div class="message_main_top">
                        <div class="message_main_top_left">
                            <div class="message_main_top_left_info" @click="infoMessage" :class="cancel == true ? 'fontSize' : ''">
                                系统消息
                                <div class="message_main_top_left_num is-fixed" v-if="form.total != 0">{{form.total}}</div>
                            </div>
                        </div>
                        <div class="message_main_top_right" v-if="off"  @click="delInfo">清空消息</div>
                    </div>
                    <!-- 系统消息列表 -->
                    <div class="message_main_bot" v-if="cancel" v-loading="loading">
                        <div class="message_main_bot_wrap">
                            <div v-if="list.length != 0">
                                <div class="message_main_bott_wrap" @mouseenter="showHide(item.id)" @mouseleave="hide" v-for="item in list" :key="item.id">
                                    <router-link :to="{name: 'messageDetails', query: {id: item.id}}">
                                        <div class="message_main_bot_circle" v-if="item.status == 0"></div>
                                        <div :class="item.status == 1?'message_main_bot_title hoverColor':'message_main_bot_title'" >{{item.title}}</div>
                                    </router-link>
                                    <div class="message_main_bot_time">{{item.sendTime}}</div>
                                    <div :class="item.status == 1?'message_main_bot_text hoverColor':'message_main_bot_text'">
                                        {{item.content&&item.content.length>200?item.content.substr(0,200)+'...':item.content}}
                                    </div>
                                    <div class="message_main_bot_del" @click="del(item.pmmId)" v-if="show && item.id == id">
                                        <img src="@/assets/images/personal/del.png">删除
                                    </div>
                                </div>
                            </div>
                            <div class="message_main_no_message" v-else>
                                <img src="@/assets/images/home/no-message.jpg">
                            </div>
                        </div>
                        <div class="pagination_box" v-if="list.length > 0">
                            <el-pagination  :page-size="listQuery.pageSize" @current-change="handleCurrentChange" :current-page="listQuery.pageNum"   layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 清空消息对话框 -->
            <el-dialog title="提示" :visible.sync="DialogVisible" width="20%">
                <div class="el-dialog_text" style="font-size:16px">确定清空全部消息？</div>
                <div class="dialog_foot">
                    <div class="dialog_confirm" @click="confirm">确定</div>
                    <div class="dialog_cancel" @click="DialogVisible = false">取消</div>
                </div>
            </el-dialog>

            <!-- 删除对话框 -->
            <el-dialog title="提示" :visible.sync="delDialogVisible" width="20%">
                <div class="el-dialog_text" style="font-size:16px">确定要删除当前记录吗?</div>
                <div class="dialog_foot">
                    <div class="dialog_confirm" @click="confir">确定</div>
                    <div class="dialog_cancel" @click="delDialogVisible = false">取消</div>
                </div>
            </el-dialog>
        </div>
  </div>
</template>

<script>
import navbar from '@/components/navbar.vue';
import '@static/css/personal/message.less'
import '@static/css/common.less'
import { getListAPI , delInfoAPI , deleAPI , getListsAPI} from '@/api/home/message'

export default {
    components: { navbar },
    data () {
        return {
            listQuery: {
                pageNum: 1,
                pageSize: 10
            },
            query: {
                pageNum: 1,
                pageSize: 10
            },
            total: null,
            list: [],
            answerList: [],
            show: false,
            id: null,
            pmmId: null,
            DialogVisible: false,
            delDialogVisible: false,
            cancel: true,
            open: true,
            off: true,
            form: {
                total: null
            },
            message: null,
            userType: null,
            loading: true,
            userType: localStorage.getItem("userType"),
        }
    },
    created() {
        if(this.userType) {// 判断是专家用户还是普通用户，普通用户userType为0，专家用户userType为1
            if(this.userType == 1) {
                this.open = false
            } else {
                this.open = true
            }
        }
        this.getList()
    },
    mounted() {
      this.infoMessage()
      this.$store.dispatch('setMessageNum')
    },
    methods: {
        // 系统消息
        infoMessage() {
            this.getList()
            this.listQuery = {
                pageNum: 1,
                pageSize: 10
            }
            this.cancel = true
        },
        // 获取系统消息列表
         getList() {
             this.loading = true
             getListAPI(this.listQuery).then(res => {
                 this.list = res.data.data.list
                 this.total = res.data.data.total
                 this.form.total = res.data.data.total
                 this.message = this.list.length;
                 if(this.total == 0) {
                    this.off = false
                 }
                 this.loading = false
             })
         },
        //  清空消息
        delInfo() {
            this.DialogVisible = true
        },
        confirm() {
            delInfoAPI().then(res => {
                if(res.data.code === 0) {
                    this.$emit('changeMessage')
                    this.$message.success('清空成功');
                    this.DialogVisible = false
                    this.getList()
                    // this.off = true
                }
            })
        },
        // 删除
        del(pmmId) {
            this.pmmId = pmmId
            this.delDialogVisible = true
        },
        confir() {
            deleAPI(this.pmmId).then(res => {
                if(res.data.code === 0) {
                    this.$emit('changeMessage')
                    this.$message.success('删除成功');
                    this.delDialogVisible = false
                    this.getList()
                
                }
            })
        },
        
        // 删除标签显示或隐藏
        showHide(id) {
            this.show = true;
            this.id = id
        },

        hide() {
            this.show = false;
        },

        // 翻页
        handleCurrentChange(val) {
            this.listQuery.pageNum = val
            this.getList()
            window.scrollTo(0, 0)
        },

        handleChange(val) {
            this.query.pageNum = val
            this.getAnswerList()
            window.scrollTo(0, 0)
        },
    }
}

</script>

<style>

</style>
