<template>
<div style="background:#f8f8f8">
  <div class="sort_page">
    <div class="sort_page_list">
      <div class="sort_top_box">
        <div class="sort_name">宪法及宪法相关法</div>
        <div class="sort_resource">图书资源：<span>458套</span></div>
        <div class="sort_section">章节资源：<span>15487套</span></div>
      </div>
      <div class="sort_bottom_box">
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sort_page_list">
      <div class="sort_top_box">
        <div class="sort_name">宪法及宪法相关法</div>
        <div class="sort_resource">图书资源：<span>458套</span></div>
        <div class="sort_section">章节资源：<span>15487套</span></div>
      </div>
      <div class="sort_bottom_box">
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sort_page_list">
      <div class="sort_top_box">
        <div class="sort_name">宪法及宪法相关法</div>
        <div class="sort_resource">图书资源：<span>458套</span></div>
        <div class="sort_section">章节资源：<span>15487套</span></div>
      </div>
      <div class="sort_bottom_box">
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sort_page_list">
      <div class="sort_top_box">
        <div class="sort_name">宪法及宪法相关法</div>
        <div class="sort_resource">图书资源：<span>458套</span></div>
        <div class="sort_section">章节资源：<span>15487套</span></div>
      </div>
      <div class="sort_bottom_box">
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sort_page_list">
      <div class="sort_top_box">
        <div class="sort_name">宪法及宪法相关法</div>
        <div class="sort_resource">图书资源：<span>458套</span></div>
        <div class="sort_section">章节资源：<span>15487套</span></div>
      </div>
      <div class="sort_bottom_box">
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sort_page_list">
      <div class="sort_top_box">
        <div class="sort_name">宪法及宪法相关法</div>
        <div class="sort_resource">图书资源：<span>458套</span></div>
        <div class="sort_section">章节资源：<span>15487套</span></div>
      </div>
      <div class="sort_bottom_box">
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
        <div class="sort_btm_list">
          <div class="sort_con_title">互联网环境下知识产权制度变迁</div>
          <div class="sort_con_author">
            <span>作者：沙丽金</span>
            <span class="sort_con_price">￥39.90</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import '@static/css/home/sortpage.less'

export default {
  
}
</script>