<template>
    <div class='subject_content_bg'>
        <div class="subject_wrap">
            <div class="subject_details">
                <div class="subject_top">
                    <div class="subject_top_opt">
                        <div class="subject_opt_list share_list">
                            <el-button size="mini" style="background:#FFFDFA;" plain icon="el-icon-share">分享</el-button>
                            <div class="bdsharebuttonbox share_wrap" ref="share_wrap" style="width:100px;right:0;position:absolute;">
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            </div>
                        </div>
                    </div>
                    <div class="subject_top_more"  @click="open" v-if="form.synopsis && form.synopsis.length>300">
                        <span v-if="extend">展开</span>
                        <span v-else>收起</span>
                    </div>
                    <div class="subject_top_pic">
                        <img class="subject_top_img" :src="`${uploadUrl}file/?fileName=${form.cover}&isOnLine=true`" v-if="form.cover">
                        <img class="subject_top_img" v-else src="@/assets/images/resource/doctor_default.png">
                    </div>
                    <div class="subject_top_content">
                        <div class="subject_top_content_tit">{{form.name}}</div>
                        <div class="subject_top_content_author">作 者：{{form.author}}</div>
                        <div class="subject_top_content_text">
                            <p v-html="form.text" v-if="extend"></p>
                            <p v-html="form.synopsis" v-else></p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="subject_main">
            <div class="subject_content_right">
                <div class="subject_content_right_tit">相关资源</div>
                <div class="subject_content_right_cont">
                    <div v-if="resourceList && resourceList.length > 0">
                        <div class="subject_content_block" v-for="(item,index) in resourceList" :key="index" @click="linkShowUser(item.id)">
                            <div class="subject_content_block_icon">{{index+1}}</div>
                            <div class="subject_content_block_name">{{item.name&&item.name.length>12?item.name.substring(0,12)+'...':item.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subject_content_left">
                <el-tabs :tab-position="tabPosition" v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="相关图书" name="first">
                        <div class="subject_content_list" >
                            <div v-if="ebookList && ebookList.length > 0">
                                <div class="subject_content_list_book" v-for="(item,index) in ebookList" :key="index">
                                    <div class="subject_content_list_img">
                                        <router-link :to="{name:'bookDetails',query:{id:item.id}}">
                                            <img v-if="item.bookCover" :src="`${uploadUrl}file/?fileName=${item.bookCover}&isOnLine=true`" class="subject_book_img">
                                            <img v-else src="@/assets/images/resource/book_default.png" class="subject_book_img" >
                                        </router-link>
                                    </div>
                                    <div class="subject_book_text">
                                        <p class="subject_book_title">
                                            <router-link :to="{name:'bookDetails',query:{id:item.id}}">
                                                {{item.name&&item.name.length>8?item.name.substring(0,8)+'...':item.name}}
                                            </router-link>
                                        </p>
                                        <p class="subject_book_isbn">ISBN {{item.isbn&&item.isbn.length>8?item.isbn.substring(0,8)+'...':item.isbn}}</p>
                                        <p class="subject_book_author">
                                            <span class="author">{{item.author&&item.author.length>4?item.author.substring(0,4)+'...':item.author}}著</span>
                                            <span class="free" v-if="item.realPrice == 0">免费</span>
                                            <span class="no-price" v-else-if="item.realPrice == null">未定价</span>
                                            <span class="price" v-else>￥{{item.realPrice.toFixed(2)}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div v-else style="margin: 50px auto;width: 600px; height: 460px;">
                                <img src="@/assets/images/home/no-content.jpg">
                            </div>
                        </div>
                        <div class="pagination_box" v-if="ebookList&&ebookList.length>0">
                            <el-pagination  @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" layout="prev, pager, next, total, jumper" :total="total"></el-pagination>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>

<script>
import "@static/css/home/subject-details.less"
import { getSubjectDetailsAPI, getSubjectBookListAPI, getSubjectResourceAPI } from '@/api/home/subject'
import { uploadUrl } from '@/utils/global'
import navbar from '@/components/navbar.vue';

export default {
    name: 'userother',
    components: {
      navbar
    },
    data(){
        return{
            id:this.$route.query.id,
            uploadUrl: uploadUrl,
            tabPosition:"top",
            pageIndex: '',
            ebookList: [],
            total: null,
            resourceList: [],
            form: {},
            dialogFormVisible: false,
            listQuery: {
                pageNum: 1,
                pageSize: 12
            },
            activeName: 'first',
            cancel: true,
            off: false,
            fatherId: this.$route.query.id,
            userType: '',
            replyCancel: true,
            extend: true,
            on: true,
            userType: localStorage.getItem("userType"),
        }
    },
    created() {
        if(this.userType == 2) {// 普通用户userType为0，机构用户userType为2
            this.cancel = false
        }
    },
    mounted() {
        this.getSubjectDetails(this.id) //查询专题详情
        this.getBookList() //相关图书
        this.getResourceList() //相关资源
        window._bd_share_main ? window._bd_share_main.init() : this.setShare()
    },
    methods: {
        // 获取专题详情
        getSubjectDetails(id) {
            getSubjectDetailsAPI(id).then(res => {
                if(res.data.code == 0) {
                    this.form = res.data.data;
                    this.form.text = this.form.synopsis.length > 300 ? this.form.synopsis.substr(0,300) + '...' : this.form.synopsis
                }
            })
        },
        // 相关图书
        getBookList() {
            this.listQuery.id = this.id
            getSubjectBookListAPI(this.listQuery).then(res => {
                if(res.data.code == 0) {
                    this.ebookList = res.data.data.list;
                    this.total = res.data.data.total;
                }
            })
        },
        // 相关资源
        getResourceList() {
            getSubjectResourceAPI({id:this.id,num:5}).then(res => {
                console.log(res,6666);
                if(res.data.code == 0) {
                    this.resourceList = res.data.data
                }
            })
        },
        // checkDoctor(id) {// 详情
        //     getCheckAPI(id).then(res => {
        //         this.form = res.data.data;
        //         this.form.text = this.form.description.length > 300 ? this.form.description.substr(0,300) + '...' : this.form.description
        //         document.title = this.form.name
        //         if(this.form.institutionName == null) {
        //             this.on = false
        //         } else {
        //             this.on = true
        //         }
        //     })
        // },
        open() {
           this.extend = !this.extend
        },
        detailsPage(type,id) { //详情页面跳转
            if(type ==1) {//图书
                this.$router.push({name: 'bookDetails', query: {id:id}})
            } else{//文章
                this.$router.push({name: 'articleread', query: {id:id}})
            }
        },
        handleCurrentChange(val) {
            this.listQuery.pageNum = val
            this.getBookList()
            window.scrollTo(0, 0)
        },
        linkShowUser(id){//展示其他医家内容
            this.id = id
            this.getSubjectDetails(id);
            this.getBookList()
            this.getResourceList()
        },
        handleClick(tab, event) {
            console.log(tab);
        },
        // 分享
        setShare(){
            window._bd_share_config={
                "common":{
                    "bdSnsKey":{},
                    "bdText":"",
                    "bdMini":"2",
                    "bdMiniList":false,
                    "bdPic":"",
                    "bdStyle":"0",
                    "bdSize":"16"
                },
                "share":{},
                // "image":{
                //     "viewList":["weixin","tsina","douban","qzone"],
                //     "viewText":"分享到：","viewSize":"16"
                // },
                "selectShare":{
                    "bdContainerClass":null,
                    "bdSelectMiniList":["weixin","tsina","douban","qzone"]
                }
            };
            //const $el = document.querySelector('#baiduShare')
            //console.log($el,"$elllllllll")
            //$el&&this.$refs.share_wrap.removeChild($el)
            const shareDome = document.createElement('script');
            shareDome.type = 'text/javascript';
            shareDome.src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5);
            //console.log(shareDome,"document.body")
            this.$refs.share_wrap.appendChild(shareDome);
        },
    }
}
</script>

<style>
    .subject_main .el-tabs__item,.is-active{
        color: #7E0204 !important;
    }
</style>
