<template>
  <div style="background:#f8f8f8">
    <div class="subject_body">
      <div class="subject_search">
        排列:
        <span :class="timeOrder?'subject_order subject_order_hover':'subject_order'" @click="changeOrder('time')">时间
          <img src="@/assets/images/subject/icon_default.png" v-if="!timeOrder">
          <img src="@/assets/images/subject/icon_hover.png" v-else>
        </span>
        <span :class="clickOrder?'subject_order subject_order_hover':'subject_order'" @click="changeOrder('click')">人气
          <img src="@/assets/images/subject/icon_default.png" v-if="!clickOrder">
          <img src="@/assets/images/subject/icon_hover.png" v-else>
        </span>
        <span class="subject_total">共<span>{{total?total:'0'}}</span>条搜索结果</span>
      </div>
      <div class="subject_content">
        <div class="subject_list" v-for="item in subjectList" :key="item.id" @click="detailsPage(item.id)">
          <div class="subject_image_box">
            <img :src="`${uploadUrl}file/?fileName=${item.cover}&isOnLine=true`" v-if="item.cover">
            <img src="@/assets/images/resource/book_default.png" v-else>
          </div>
          <div class="subject_right_box">
            <div class="subject_title" v-html="item.name"></div>
            <div class="subject_author">{{item.author}}</div>
            <div class="description">{{item.description&&item.description.length>135?item.description.substr(0,135)+'...':item.description}}</div>
            <div class="browse">
              <img src="@/assets/images/subject/browse.png">
              {{item.browseNum}}
              <router-link :to="{name:'subjectDetails',query:{id:item.id}}">
                <span>查看详情>></span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <!-- 暂无内容 -->
      <div  v-if="!subjectList || subjectList.length == 0" style="width: 600px; margin: 100px auto;text-align:center">
        <img src="@/assets/images/medical/null.png" style="margin-bottom:40px;">
        <p style="color:#AD9A83;font-size:26px;">抱歉，暂无相关内容</p>
      </div>
      <!-- 分页 -->
      <div class="pagination_box" style="background:#f8f8f8" v-if="subjectList && subjectList.length>0">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page="listQuery.pageNum"
          :page-size="listQuery.pageSize"
          layout="prev, pager, next, total, jumper"
          :total="total">
        </el-pagination>
      </div>

    </div>
  </div>
</template>

<script>
import "@static/css/home/subject.less"
import { subjectListAPI } from '@/api/home/subject'
import { uploadUrl } from '@/utils/global';

export default {
  name: 'subject',
  data() {
    return{
      total:0,
      listQuery:{
        pageNum: 1,
        pageSize: 10,
        resourceType: 8, //课程
      },
      timeOrder: false,
      clickOrder: false,
      subjectList: [],
      uploadUrl: uploadUrl,
    }
  },
  mounted () {
    if(this.$store.state.searchContent){
      this.listQuery.content = this.$store.state.searchContent
      this.$emit('getSearchWord',this.$store.state.searchContent)
    }
    this.getList()
    this.changeOrder('time');
  },
  methods:{
    searchCon() {//有搜索词
      this.listQuery.content = this.$store.state.searchContent
      this.getList()
    },
    getList() {
      subjectListAPI(this.listQuery).then(res =>{
        if(res.data.code == 0){
          this.subjectList = res.data.data.resList
          this.total = res.data.data.totalCount
        } else{
          this.$message.error(res.data.msg)
        }
      })
    },
    changeOrder(type) {//更改排序
      if(type == 'time'){
        this.timeOrder = !this.timeOrder
        this.clickOrder = false
        this.listQuery.orderBy = 'uploadTime desc' ;
      } else{
        this.clickOrder = !this.clickOrder
        this.timeOrder = false
        this.listQuery.orderBy = 'browseNum desc' ;
      }
      this.getList()
    },
    detailsPage(id){//跳转专题详情
      this.$router.push({name:'subjectDetails',query:{id:id}})
    },
    handleCurrentChange(val) {
      window.scrollTo(0, 0)
    },
  }
}
</script>
