@import './assets/css/reset.scss';

//公用css
$defaultColor: #660D0D;
.ahover {
  a:hover {
    color:  #B61313;
  }
}
#app {
  font-family: 'MicrosoftYaHei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mian-page {
  width: 100%;
  min-height: 800px;
  padding-bottom: 50px;
}

$main-color: #5474CE;

//清除浮动
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//圆角边框
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//跨浏览器的透明度设置
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

//单行文本溢出省略显示
@mixin text-ellipsis () {
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
    word-break:break-all;
}

//多行文本溢出省略显示
@mixin text-more-ellipsis ($line) {
    line-height: 24px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    word-break:break-all;
}

//背景图片
@mixin imgRetina($url, $extension, $width, $height, $position: center, $repeat: no-repeat) {
     background: url($url + '.' + $extension) $repeat $position;
          
     @media 
     screen and (-webkit-min-device-pixel-ratio: 2),
     screen and (   min--moz-device-pixel-ratio: 2),
     screen and (   -moz-min-device-pixel-ratio: 2),
     screen and (     -o-min-device-pixel-ratio: 2/1),
     screen and (        min-device-pixel-ratio: 2),
     screen and (             min-resolution: 192dpi), 
     screen and (             min-resolution: 2dppx) {    
        background: url($url + '@2x' + '.' + $extension) $repeat $position;
        background-size: $width $height;
     }
}





.w80p{
  width: 80%;
  min-width: 877px;
  max-width: 1130px;
  /*margin: 0 auto;*/
}

.hide{ display: none!important; }


/*** 返回顶部***/
.extend-opt{
  position: fixed;
  bottom: 40%;
  right: 20px;
  cursor: pointer;
  background: #fff;
  z-index: 99;
  .shouji-erweima,
  .go-to-top{
    width: 60px;
    height: 64px;
    background-color: #0089EE;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      width: 22px;
      height: 23px;
      display: block;
      margin-bottom: 6px;
    }
  }
  .shouji-erweima{
    background-color: #fff;
    color: #666666;
    border: 1px solid #E3E3E3;
    position: relative;
    i {
      background: url("~@/assets/icon_shoujiban.png") center center no-repeat;
      background-size: 100% 100%;
    }
    .large{
      display: none;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: -104px;
      border: 1px solid #EDEDED;
      padding: 5px;
      background-color: #fff;
      img{ width: 100%; height: 100%; }
    }
  }
  .shouji-erweima:hover{
    .large{ display: block; }
  }
  .go-to-top{
    background-color: #0089EE;
    color: #fff;
    border: 1px solid #0089EE;
    i {
      background: url("~@/assets/icon_fanhui.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }
}

/* 公共login 弹窗 */
.login-box{
  .el-dialog {
    width: 390px !important;
  }
  .el-dialog__body, .el-dialog__header {
    padding: 0px;
  }
}
