<template style="height:100%;background:#fff">
  <div id="login">
    <div class="login_content">
      <div class="login_outside">
        <div class="login_box">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="快速登录" name="phone_login">
              <div class="login_account">
                <el-input type="text" placeholder="手机号" v-model="phone" @input="changeTipPhone" clearable></el-input>
              </div>
              <div class="phone_code">
                <el-input v-model="smsCode" placeholder="手机验证码"  @keyup.enter.native="phoneLoginBtn" @input="changeTipPhone"></el-input>
                <span class="register_text" @click="getCode" v-if="times == 60">获取验证码</span>
                <span class="register_tips" v-else>{{times}}s</span>
              </div>
              <div class="login_tip">
                <span class="login_error_tips">{{phoneTipText}}</span>
              </div>
              <div class="login_btn" @click="phoneLoginBtn">登录</div>
              <div class="login_bottom">
                <a href="https://graph.qq.com/oauth2.0/authorize?client_id=appid&redirect_uri=url&state=state&response_type=code&state=1"><img src="@/assets/images/login/qq.png"></a>
                <a href="https://open.weixin.qq.com/connect/qrconnect?appid=APPID&redirect_uri=http://218.245.4.93:8090/fg/mall/index.html&response_type=code&scope=snsapi_login&state=2"><img src="@/assets/images/login/wx.png"></a>
                <router-link :to="{path:'/register'}">
                  <span class="login_register" @click="registerPage">立即注册</span>
                </router-link>
              </div>
            </el-tab-pane>

            <el-tab-pane label="账号登录" name="account_login">
              <div class="login_account">
                <el-input type="text" placeholder="账号" v-model="account" @input="changeTip" clearable @keyup.enter.native="loginBtn" @blur="havError"></el-input>
              </div>
              <div class="login_password">
                <el-input type="password" placeholder="密码" v-model="password" @input="changeTip" clearable @keyup.enter.native="loginBtn"></el-input>
              </div>
              <div class="login_code" v-if="errorTimes == 1">
                <input type="text" placeholder="验证码" v-model="code" @input="changeTip"/>
                <img :src="codeImage" class="login_codeImg" @click="changeCode">
              </div>
              <div class="login_tip">
                <span class="login_error_tips">{{tipText}}</span>
                <router-link to='/password'>
                  <span class="login_forget_password">忘记密码</span>
                </router-link>
              </div>
              <div class="login_btn" @click="loginBtn">登录</div>
              <div class="login_bottom">
                <a href="https://graph.qq.com/oauth2.0/authorize?client_id=appid&redirect_uri=url&state=state&response_type=code&state=1"><img src="@/assets/images/login/qq.png"></a>
                <a href="https://open.weixin.qq.com/connect/qrconnect?appid=APPID&redirect_uri=http://218.245.4.93:8090/fg/mall/index.html&response_type=code&scope=snsapi_login&state=2"><img src="@/assets/images/login/wx.png"></a>
                <router-link :to="{path:'/register'}">
                  <span class="login_register" @click="registerPage">去注册</span>
                </router-link>
              </div>
            </el-tab-pane>

          </el-tabs>
        </div>
      </div>
    </div>
    <LoginFooter></LoginFooter>
  </div>
</template>

<script>
import "@static/css/login/index.less";
import LoginFooter from '@/components/LoginFooter.vue'
import { loginAPI, codeAPI, errorAPI, phoneLoginAPI, phoneSmsAPI } from '@/api/login/index'
import { messageAPI } from '@/api/common'
import md5 from 'js-md5';
var data = '';
var timerInterval = null;

export default {
  name: 'login',
  data(){
    return {
      status:null,
      activeName:'phone_login',
      phone: null,
      smsCode: null,
      phoneTipText: null,

      account:'',
      password:'',
      code:'',
      tipText: null,
      errorTimes: null,
      codeImage:null,
      // uuid: null,
      times: 60,
    }
  },
  components:{
    LoginFooter
  },
  destroyed () {
    window.clearInterval(timerInterval)
  },
  methods:{
    handleClick(tab, event) {
      this.tipText = ''
      this.phoneTipText = '' //清空提示
    },
    havError() {//登录错误次数
      errorAPI({account:this.account}).then(res => {
        if(res.data.data>5){
          this.errorTimes = 1
          this.changeCode()
        }
      })
    },
    getCode() {//获取手机短信验证码
      let regs =  /^((13[0-9])|(17[0-1,6-8])|(15[^4,\\D])|(18[0-9]))\d{8}$/;
      if (this.phone == null || this.phone.replace(/(^\s*)|(\s*$)/g, "") == "") {
        this.phoneTipText = '请输入手机号'
        return
      }
      if(!regs.test(this.phone)){
        this.$message.error('请输入正确的手机号')
      } else {//获取验证码
        phoneSmsAPI({phone:this.phone}).then(res => {
          if(res.data.code >0) {
            this.phoneTipText = res.data.msg
          } else if (res.data.code <0) {
            this.phoneTipText = '发送失败，请稍后再试'
          } else if(res.data.code == 0){
            this.$message.success('发送成功，请注意查收')
            this.timesDown()
          }
        })
      }
    },
    timesDown() {//倒计时
      const that = this
      timerInterval = setInterval(that.intervalFun, 1000);
    },
    intervalFun() {
      const that = this
      if(that.times == 0){
        that.times = 60
        window.clearInterval(timerInterval)
      } else{
        that.times = that.times-1
      }
    },
    loginBtn() {//登录
      this.tipText = null
      //判断账号
      if (this.account == null || this.account.replace(/(^\s*)|(\s*$)/g, "") == "") {
        this.tipText = '请输入账号'
        return
      } else if(this.account.length<4 || this.account.length>20) {
        this.tipText = '请输入4-20字符以内的账号!'
        return
      }
      //判断密码
      if (this.password == null || this.password.replace(/(^\s*)|(\s*$)/g, "") == "") {
        this.tipText = '请输入密码'
        return
      }
      if(this.errorTimes == 1){//判断验证码
        //判断code
        if (this.code == null || this.code.replace(/(^\s*)|(\s*$)/g, "") == "") {
          this.tipText = '请输入验证码'
          return
        }
        data = {
          account: this.account,
          password: md5(this.password).toUpperCase(),
          uuid: this.uuid,
          code: this.code
        }
      } else{
        data = {
          account: this.account,
          password: md5(this.password).toUpperCase()
        }
      }
      loginAPI(data).then(res => {
        if(res.data.code >0 && res.data.code != 4 && res.data.code != 30) {
          this.tipText = res.data.msg
        } else if(res.data.code == 30) {
          this.tipText = '机构用户在线人数已满，请稍候再试'
        } else if (res.data.code < 0) {
          this.tipText = '登录失败，请稍后再试'
        } else if(res.data.code == 0){
          this.$message.success('登录成功')
          localStorage.clear(); //Cookies.remove('uuid') Cookies.remove('codeImg')
          localStorage.setItem('Y-Token', res.data.data.token)//token
          localStorage.setItem("userName", res.data.data.nickName?res.data.data.nickName:res.data.data.account);//名字
          localStorage.setItem("userType", res.data.data.level); //用户类型 0--普通用户 2--机构用户（1--专家用户）
          localStorage.setItem('userImg',res.data.data.img); //头像
          localStorage.setItem('userPhone',res.data.data.phone); //用户手机号
          this.$router.push({name:'index'})
          this.$store.dispatch('setMessageNum') //消息条数
        } else if(res.data.code == 4){//密码错误-五次以上需要输入验证码
          this.tipText = '账号密码不匹配！'
          if (res.data.msg >= 5) {//次数
            this.errorTimes = 1
            this.changeCode()
          }
        } else if(res.data.code == 3) {//验证码错误
          this.changeCode()
        }
      })
    },
    phoneLoginBtn() {//快速登录
      this.phoneTipText = null
      let regs =  /^((13[0-9])|(17[0-1,6-8])|(15[^4,\\D])|(18[0-9]))\d{8}$/;
      //判断账号
      if (this.phone == null || this.phone.replace(/(^\s*)|(\s*$)/g, "") == "") {
        this.phoneTipText = '请输入手机号'
        return
      }
      if(!regs.test(this.phone)){
        this.phoneTipText = '请输入正确的手机号'
        return
      }
      if (this.smsCode == null || this.smsCode.replace(/(^\s*)|(\s*$)/g, "") == "") {
        this.phoneTipText = '请输入验证码'
        return
      }
      data = {
        account: this.phone,
        code: this.smsCode
      }
      phoneLoginAPI(data).then(res => {
        if(res.data.code == 0) {
          this.$message.success('登录成功')
          localStorage.setItem('Y-Token', res.data.data.token)//token
          localStorage.setItem("userName", res.data.data.nickName?res.data.data.nickName:res.data.data.account);//名字
          localStorage.setItem("userType", res.data.data.level); //用户类型 0--普通用户 2--机构用户（1--专家用户）
          localStorage.setItem('userImg',res.data.data.img); //头像
          localStorage.setItem('userPhone',res.data.data.phone); //用户手机号
          this.$router.push({name:'index'})
          this.$store.dispatch('setMessageNum') //消息条数
        } else if(res.data.code > 0) {
          this.phoneTipText = res.data.msg
        } else{
          this.phoneTipText = '登录失败，请稍后再试'
        }
      })
    },
    changeCode() {//更改图形验证码
      codeAPI().then(res => {
        this.codeImage = res.data.img
        this.uuid = res.data.uuid
      })
    },
    registerPage() {//跳转注册页面
      this.$router.push('/register');
    },
    changeTip( ){//更改错误提示
      this.tipText = null
    },
    changeTipPhone( ) {//更改手机号登录的错误提示
      this.phoneTipText = null
    },
    /*QQ登录*/
    QQlogin(){

    },
    /*wx登录*/
    WXlogin(){

    },

  }
}
</script>
