.article_body {
  overflow: hidden;
  background: #fff;
  min-height: 500px;
}
.article_body .book_list {
  border-bottom: 1px dotted #DDD4C3;
  padding: 24px 26px;
  overflow: hidden;
  display: flex;
  background: #fff;
}
.article_body .image {
  width: 166px;
  height: 186px;
  margin-right: 16px;
  line-height: 186px;
  text-align: center;
}
.article_body .image img {
  max-width: 166px;
  max-height: 186px;
  display: inline-block;
  vertical-align: middle;
}
.article_body .right {
  flex: 1;
}
.article_body .right .name {
  font-size: 18px;
  color: #494137;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 5px;
  min-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 660px;
}
.article_body .right .description {
  line-height: 20px;
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
  min-height: 40px;
}
.article_body .right .price_list {
  color: #999999;
  font-size: 14px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.article_body .right .price_list .article_price,
.article_body .right .price_list .article_browse,
.article_body .right .price_list .article_source {
  float: left;
}
.article_body .right .price_list .article_price .free {
  font-size: 16px;
  color: #11AA18;
}
.article_body .right .price_list .article_price .price {
  color: #E40000;
}
.article_body .right .price_list .article_price .no_price {
  color: #EB851F;
  font-size: 16px;
}
.article_body .right .price_list .article_price .line_price {
  text-decoration: line-through;
  margin-left: 12px;
}
.article_body .right .price_list .article_price .discount {
  margin-right: 20px;
}
.article_body .right .price_list .article_browse {
  margin-left: 12px;
}
.article_body .right .price_list .article_source {
  margin-left: 34px;
  width: 40%;
}
.article_body .right .price_list .article_source .resource_name {
  float: left;
}
.article_body .right .price_list .article_source .source {
  float: left;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article_body .right .price_list .article_source .source_color {
  color: #8C1515;
  cursor: pointer;
}
.article_body .right .resource {
  color: #999;
  margin-left: 12px;
  display: inline-block;
  width: 60%;
  line-height: 24px;
  margin-top: 8px;
}
.article_body .right .resource span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
.article_body .right .read {
  margin-right: 4px;
}
.article_body .right .shop_btn,
.article_body .right .shop_hover,
.article_body .right .shop_link {
  color: #C8C0B9;
  width: 99px;
  background-image: url(../../../src/assets/images/resource/shopping.png);
  float: right;
  text-align: center;
  background-size: 100% 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.article_body .right .shop_hover {
  color: #967454;
  background-image: url(../../../src/assets/images/resource/shopping_link.png);
}
.article_body .right .shop_hover:hover {
  color: #C8C0B9;
  width: 99px;
  background-image: url(../../../src/assets/images/resource/shopping.png);
  float: right;
  text-align: center;
  background-size: 100% 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #861C1E;
  background-image: url(../../../src/assets/images/resource/shopping_link.png);
}
.article_body .right .shop_link {
  color: #861C1E;
  background-image: url(../../../src/assets/images/resource/shopping_link.png);
}
.article_body .right .readBtn {
  width: 102px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #EA8422;
  border-radius: 4px;
  float: right;
  cursor: pointer;
}
