.article_body{
  overflow: hidden;
  background: #fff;
  min-height: 500px;
  .book_list{
    border-bottom: 1px dotted #DDD4C3;
    padding: 24px 26px;
    overflow: hidden;
    display: flex;
    background: #fff;
  }
  .image{
    width: 166px;
    height: 186px;
    margin-right: 16px;
    line-height: 186px;
    text-align: center;
    img{
      max-width: 166px;
      max-height: 186px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .right{
    flex:1;
    .name{
      font-size:18px;
      color:rgba(73,65,55,1);
      line-height:24px;
      margin-bottom: 20px;
      margin-top: 5px;
      min-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 660px;
    }
    .description{
      line-height: 20px;
      font-size:14px;
      color: #666;
      margin-bottom: 40px;
      min-height: 40px;
    }
    .price_list{
      color: #999999;
      font-size:14px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      .article_price,.article_browse,.article_source{
        float: left;
      }
      .article_price{
        .free{
          font-size: 16px;
          color: #11AA18;
        }
        .price{
          color: #E40000;
        }
        .no_price{
          color: #EB851F;
          font-size: 16px;
        }
        .line_price{
          text-decoration: line-through;
          margin-left: 12px;
        }
        .discount{
          margin-right: 20px;
        }
      }
      .article_browse{
        margin-left: 12px;
      }
      .article_source{
        margin-left: 34px;
        width: 40%;
        .resource_name{
          float: left;
        }
        .source{
          float: left;
          max-width: 60%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .source_color{
          color:#8C1515;
          cursor: pointer;
        }
      }
    }
    .resource{
      color: #999;
      margin-left: 12px;
      display: inline-block;
      width: 60%;
      line-height: 24px;
      margin-top: 8px;
      span{
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80%;
      }
    }
    .read{
      margin-right: 4px;
    }
    .shop_btn,.shop_hover,.shop_link{
      color: #C8C0B9;
      width: 99px;
      background-image: url(../../../src/assets/images/resource/shopping.png);
      float: right;
      text-align: center;
      background-size: 100% 100%;
      font-size:14px;
      font-weight:bold;
      cursor: pointer;
    }
    .shop_hover{
      color: #967454;
      background-image: url(../../../src/assets/images/resource/shopping_link.png);
      &:hover{
        .shop_link
      }
    }
    .shop_link{
      color: #861C1E;
      background-image: url(../../../src/assets/images/resource/shopping_link.png);
    }
    .readBtn{
      width: 102px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      color: #fff;
      background: #EA8422;
      border-radius: 4px;
      float: right;
      cursor: pointer;
    }
  }
}


