.book_page {
  overflow: hidden;
  background: #fff;
  background-image: url(../../../src/assets/images/resource/hot_book_bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
}
.book_page .book_page_header {
  background-image: url(../../../src/assets/images/book_home/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}
.book_page .book_header_content {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  position: relative;
}
.book_page .book_header_content .book_header_text {
  color: #887E7E;
  font-size: 12px;
  float: right;
  margin-top: 10px;
  line-height: 25px;
}
.book_page .book_header_content .book_header_text .book_split {
  margin: 0 9px;
}
.book_page .book_header_content .book_header_text span {
  float: left;
  cursor: pointer;
}
.book_page .book_header_content .book_header_text span a {
  color: #887E7E;
}
.book_page .book_header_content .book_header_text .book_header_userImg {
  float: left;
  margin-right: 7px;
}
.book_page .book_header_content .book_header_text img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.book_page .book_header_content .book_header_text .book_login_out {
  cursor: pointer;
}
.book_page .book_header_content .book_header_bottom {
  padding-top: 46px;
}
.book_page .book_header_content .book_header_bottom .book_header_logo {
  width: 221px;
  display: inline-block;
  margin-top: -16px;
}
.book_page .book_header_content .book_header_bottom .book_search_box {
  float: right;
  border: solid 1px #BBBBBB;
  background: #f2f2f2;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 34px;
  width: 310px;
}
.book_page .book_header_content .book_header_bottom .book_search_box span {
  margin-left: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.book_page .book_header_content .book_header_bottom .book_search_box img {
  margin-right: 14px;
  cursor: pointer;
  width: 7px;
}
.book_page .book_header_content .book_header_bottom .book_search_box input {
  border: none;
  height: 34px;
  background: #f2f2f2;
  outline: none;
  width: 60%;
  display: inline-block;
}
.book_page .book_header_content .book_header_bottom .search_select_box {
  position: absolute;
  right: 290px;
  top: 100px;
  width: 98px;
  height: 118px;
  background-image: url(../../../src/assets/images/book_home/select_bg.png);
  background-repeat: no-repeat;
  z-index: 10;
}
.book_page .book_header_content .book_header_bottom .search_select_box .search_book_list {
  font-size: 14px;
  line-height: 28px;
  margin-left: 18px;
  color: #999999;
  cursor: pointer;
}
.book_page .book_header_content .book_header_bottom .search_select_box .search_book_list:first-child {
  margin-top: 20px;
}
.book_page .book_header_content .book_header_bottom .search_select_box .search_hover_color {
  color: #8C1515;
}
.book_page .book_header_content .book_header_bottom .book_header_search {
  float: right;
  width: 66px;
  height: 36px;
  background: #394E79;
  color: #fff;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
.book_page .book_nav {
  background: #8C1515;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.book_page .book_nav .book_nav_content {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
}
.book_page .book_nav .book_nav_content a {
  color: #fff;
}
.book_page .book_nav span {
  font-size: 16px;
}
.book_page .book_nav .nav_sort {
  width: 174px;
  height: 50px;
  background: #A91010;
  display: inline-block;
  padding-left: 26px;
  margin-right: 63px;
}
.book_page .book_nav .book_nav_list {
  margin-right: 100px;
  cursor: pointer;
}
.book_page .book_sort_content {
  height: 420px;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.book_page .book_sort_content .book_sort_left {
  float: left;
  height: 420px;
  width: 200px;
  background: #F7F7F7;
}
.book_page .book_sort_content .book_sort_left .sort_list {
  height: 46px;
  color: #666666;
  cursor: pointer;
  width: 172px;
  padding-left: 28px;
  line-height: 46px;
  border-bottom: 1px solid #E3E3E3;
  background: #F7F7F7;
}
.book_page .book_sort_content .book_sort_left .sort_list:last-child {
  border-bottom: none;
}
.book_page .book_sort_content .book_sort_left .sort_list:hover {
  color: #fff;
  background: #394E79;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #394E79;
}
.book_page .book_sort_content .book_sort_left .sort_list:first-child {
  color: #fff;
  background: #394E79;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #394E79;
}
.book_page .book_sort_content .book_sort_left .hover_list {
  color: #fff;
  background: #394E79;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #394E79;
}
.book_page .book_sort_content .book_sort_right {
  float: left;
  width: 1000px;
}
.book_page .book_sort_content .book_sort_right img {
  display: inline-block;
  width: 1000px;
  height: 420px;
}
.book_page .book_home_content {
  width: 1200px;
  margin: 0 auto;
}
.book_page .book_title_box {
  height: 54px;
  border-bottom: solid 2px #8C1515;
  margin-top: 70px;
  line-height: 54px;
  clear: both;
}
.book_page .book_title_box .book_title_con {
  height: 54px;
  width: 150px;
  display: inline-block;
  text-align: center;
  background-image: url(../../../src/assets/images/home/btn_icon.png);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 22px;
}
.book_page .book_title_box .book_title_con_name {
  height: 54px;
  background-image: url(../../../src/assets/images/home/btn_icon.png);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  background-size: 100% 100%;
}
.book_page .book_title_box .book_right_more {
  float: right;
  color: #666666;
  cursor: pointer;
  font-size: 14px;
}
.book_page .book_title_box .book_title_english {
  color: #999999;
  font-size: 16px;
  margin-left: 8px;
}
.book_page .book_title_box .book_sort_list {
  cursor: pointer;
  font-size: 16px;
  margin: 15px;
}
.book_page .new_book_recommend {
  margin-top: 52px;
  position: relative;
  overflow: hidden;
}
.book_page .prev_page,
.book_page .next_page {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 105px;
  background: #394E79;
  text-align: center;
  cursor: pointer;
}
.book_page .prev_page img,
.book_page .next_page img {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
}
.book_page .prev_page {
  left: 0;
}
.book_page .next_page {
  right: 0;
}
.book_page .no_prev_icon {
  background: rgba(0, 0, 0, 0.1);
}
.book_page .book_recommend_list {
  float: left;
  width: 218px;
  height: 300px;
  text-align: center;
  font-size: 14px;
  margin-right: 27.5px;
  box-sizing: border-box;
}
.book_page .book_recommend_list:hover {
  background: #F8F8F8;
  border: solid 1px #E6E6E6;
}
.book_page .book_recommend_list:last-child {
  margin-right: 0;
}
.book_page .book_recommend_list .new_book_imgbox {
  width: 218px;
  height: 202px;
  line-height: 202px;
  text-align: center;
  margin-top: 19px;
}
.book_page .book_recommend_list .resommend_image {
  max-width: 143px;
  max-height: 200px;
  border: 1px solid #ececec;
}
.book_page .book_recommend_list .recommend_title {
  font-size: 14px;
  color: #333;
  margin-top: 14px;
}
.book_page .book_recommend_list .recommend_author {
  margin-top: 14px;
}
.book_page .book_recommend_list .recommend_author span {
  color: #EC383D;
  margin-left: 15px;
}
.book_page .book_recommend_list .recommend_author .free_price {
  color: #11AA18;
}
.book_page .book_recommend_list .recommend_author .no_price {
  color: #EB851F;
}
.book_page .book_sort_box {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 20px;
}
.book_page .book_sort_box .sort_left {
  float: left;
  width: 358px;
  height: 500px;
  text-align: center;
  color: #333333;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 20px;
}
.book_page .book_sort_box .sort_left img {
  max-width: 236px;
  height: 337px;
  border: 1px solid #ececec;
  display: inline-block;
  margin-top: 40px;
  cursor: pointer;
}
.book_page .book_sort_box .sort_left .sort_title {
  margin-top: 30px;
  font-size: 18px;
}
.book_page .book_sort_box .sort_left .sort_author {
  font-size: 14px;
  margin-top: 17px;
}
.book_page .book_sort_box .sort_left .sort_author span {
  color: #EC383D;
}
.book_page .book_sort_box .sort_left .sort_author .free_price {
  color: #11AA18;
}
.book_page .book_sort_box .sort_left .sort_author .no_price {
  color: #EB851F;
}
.book_page .book_sort_box .sort_right {
  float: left;
  width: 810px;
  margin-left: 10px;
}
.book_page .book_sort_box .sort_right .sort_list_con {
  width: 200px;
  float: left;
  box-sizing: border-box;
  border-right: solid 1px #E7E7E7;
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 20px;
  height: 211px;
}
.book_page .book_sort_box .sort_right .sort_img_box {
  width: 200px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.book_page .book_sort_box .sort_right .sort_img_box img {
  max-width: 106px;
  max-height: 148px;
  display: inline-block;
  border: 1px solid #ececec;
  cursor: pointer;
}
.book_page .book_sort_box .sort_right .sort_title {
  margin-top: 15px;
}
.book_page .book_sort_box .sort_right .sort_author {
  margin-top: 8px;
}
.book_page .book_sort_box .sort_right .sort_author span {
  color: #EC383D;
}
.book_page .book_sort_box .sort_right .sort_author .free_price {
  color: #11AA18;
}
.book_page .book_sort_box .sort_right .sort_author .no_price {
  color: #EB851F;
}
.book_page .book_subject_box {
  margin-top: 40px;
  overflow: hidden;
}
.book_page .subject_topbox {
  margin-bottom: 18px;
  overflow: hidden;
}
.book_page .subject_topbox .subject_cover {
  width: 218px;
  height: 306px;
  margin-right: 24px;
  float: left;
  border: 1px solid #ececec;
}
.book_page .subject_topbox .subject_box_title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin: 20px 0;
  margin-left: 270px;
}
.book_page .subject_topbox .subject_box_author {
  font-size: 14px;
  color: #666666;
  margin-left: 270px;
}
.book_page .subject_topbox .subject_box_author .subject_box_author_text {
  color: #CB1E27;
}
.book_page .subject_topbox .subject_box_author .subject_box_brewse {
  margin-left: 68px;
}
.book_page .subject_topbox .subject_box_content {
  height: 156px;
  width: 930px;
  background-image: url(../../../src/assets/images/resource/subject_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 244px;
  margin-top: 44px;
  overflow: hidden;
}
.book_page .subject_topbox .subject_box_content p {
  margin: 40px 70px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 28px;
}
.book_page .subject_bottombox {
  position: relative;
}
.book_page .subject_bottombox .subject_prev,
.book_page .subject_bottombox .subject_next {
  position: absolute;
  display: inline-block;
  height: 18px;
  top: 140px;
  cursor: pointer;
}
.book_page .subject_bottombox .subject_prev {
  left: 0;
}
.book_page .subject_bottombox .subject_next {
  right: 0;
}
.book_page .subject_bottombox .subject_recommend_list {
  height: 302px;
  width: 244px;
  border-left: solid 1px #E7E7E7;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #333;
  float: left;
}
.book_page .subject_bottombox .subject_recommend_list:hover {
  background: #fff;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.06);
}
.book_page .subject_bottombox .subject_recommend_list:first-child {
  width: 231px;
  border-left: none;
}
.book_page .subject_bottombox .subject_recommend_list:last-child {
  width: 231px;
}
.book_page .subject_bottombox .subject_recommend_list .subject_img_box {
  width: 244px;
  height: 194px;
  line-height: 194px;
  text-align: center;
  margin-top: 18px;
}
.book_page .subject_bottombox .subject_recommend_list img {
  max-width: 138px;
  max-height: 192px;
  display: inline-block;
  border: 1px solid #ececec;
}
.book_page .subject_bottombox .subject_recommend_list .subject_recommend_title {
  margin-top: 22px;
}
.book_page .subject_bottombox .subject_recommend_list .subject_recommend_author {
  margin-top: 12px;
}
.book_page .book_author_box {
  overflow: hidden;
  margin-top: 34px;
}
.book_page .book_author_left {
  float: left;
  width: 310px;
  height: 416px;
  text-align: center;
  margin-right: 60px;
  position: relative;
}
.book_page .book_author_left .book_author_imgbox {
  width: 310px;
  height: 416px;
  line-height: 416px;
  text-align: center;
  overflow: hidden;
}
.book_page .book_author_left .book_author_face {
  width: 308px;
  height: auto;
  display: inline-block;
  border: 1px solid #ececec;
}
.book_page .book_author_left .prev_icon,
.book_page .book_author_left .next_icon {
  width: 40px;
  height: 40px;
  background: rgba(57, 78, 121, 0.9);
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.book_page .book_author_left .prev_icon img,
.book_page .book_author_left .next_icon img {
  height: 20px;
  margin-top: 10px;
  display: inline-block;
}
.book_page .book_author_left .prev_icon {
  left: 0;
}
.book_page .book_author_left .next_icon {
  right: 0;
}
.book_page .book_author_left .no_prev_icon {
  background: rgba(0, 0, 0, 0.1);
}
.book_page .book_author_right {
  float: left;
  color: #333;
  width: 822px;
}
.book_page .book_author_right .book_author_name {
  font-size: 24px;
  margin-top: 13px;
  font-weight: bold;
}
.book_page .book_author_right .book_author_name a {
  color: #333;
}
.book_page .book_author_right .book_author_descrption {
  font-size: 14px;
  margin-top: 28px;
  line-height: 24px;
  min-height: 125px;
}
.book_page .book_author_right .book_null_box {
  line-height: 54px;
  color: #999999;
  width: 180px;
  margin: 0 auto;
  margin-top: 80px;
}
.book_page .book_author_right .book_null_box img {
  float: left;
  margin-right: 14px;
}
.book_page .book_author_right .book_author_list {
  float: left;
  width: 163px;
  margin-top: 36px;
  text-align: center;
  font-size: 14px;
  color: #333;
  border-right: 1px solid #E7E7E7;
}
.book_page .book_author_right .book_author_list:last-child {
  border: none;
}
.book_page .book_author_right .book_author_list .author_list_imgbox {
  width: 163px;
  height: 130px;
  line-height: 130px;
  text-align: center;
}
.book_page .book_author_right .book_author_list img {
  max-width: 92px;
  max-height: 128px;
  border: 1px solid #ececec;
}
.book_page .book_author_right .book_author_list .book_author_title {
  margin-top: 18px;
}
.book_page .book_author_right .book_author_list .book_author_title a {
  color: #333333;
}
.book_page .book_author_right .book_author_list .book_author_price {
  margin-top: 10px;
}
.book_page .book_author_right .book_author_list .book_author_price span {
  color: #EC383D;
}
.book_page .book_author_right .book_author_list .book_author_price .free_price {
  color: #11AA18;
}
.book_page .book_author_right .book_author_list .book_author_price .no_price {
  color: #EB851F;
}
.book_page .hot_book_box {
  height: 442px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.book_page .hot_book_box .hot_prev_page,
.book_page .hot_book_box .hot_next_page {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 183px;
  background: #394E79;
  text-align: center;
  cursor: pointer;
}
.book_page .hot_book_box .hot_prev_page img,
.book_page .hot_book_box .hot_next_page img {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
}
.book_page .hot_book_box .hot_prev_page {
  left: 0;
}
.book_page .hot_book_box .hot_next_page {
  right: 0;
}
.book_page .hot_book_box .no_prev_icon {
  background: rgba(0, 0, 0, 0.1);
}
.book_page .hot_book_list {
  float: left;
  width: 218px;
  height: 302px;
  margin-top: 52px;
  color: #333;
  font-size: 14px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.14);
  margin-right: 27px;
}
.book_page .hot_book_list:last-child {
  margin-right: 0;
}
.book_page .hot_book_list .hot_book_imgbox {
  width: 218px;
  height: 185px;
  text-align: center;
  line-height: 185px;
  margin-top: 22px;
}
.book_page .hot_book_list .hot_book_imgbox img {
  max-width: 139px;
  max-height: 183px;
  border: 1px solid #ececec;
}
.book_page .hot_book_list .hot_book_title {
  margin-top: 20px;
}
.book_page .hot_book_list .hot_book_author {
  margin-top: 12px;
}
.book_page .hot_book_list .hot_book_author span {
  color: #EC383D;
  margin-left: 15px;
}
.book_page .hot_book_list .hot_book_author .free_price {
  color: #11AA18;
}
.book_page .hot_book_list .hot_book_author .no_price {
  color: #EB851F;
}
