.book_body {
  overflow: hidden;
  background: #fff;
  min-height: 500px;
}
.book_body .book_list {
  border-bottom: 1px dotted #DDD4C3;
  padding: 24px 26px;
  overflow: hidden;
  display: flex;
  background: #fff;
}
.book_body .image {
  width: 164px;
  height: 184px;
  margin-right: 16px;
  text-align: center;
  line-height: 182px;
  border: 1px solid #ececec;
}
.book_body .image img {
  max-width: 162px;
  max-height: 182px;
  display: inline-block;
  cursor: pointer;
}
.book_body .right {
  flex: 1;
  overflow: hidden;
}
.book_body .right .name {
  font-size: 18px;
  color: #494137;
  line-height: 24px;
  margin: 5px 0px 12px 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 660px;
}
.book_body .right .author {
  color: #901414;
  font-size: 14px;
  margin-bottom: 15px;
}
.book_body .right .author .names {
  cursor: pointer;
  color: #26486D;
}
.book_body .right .author .text_style {
  margin: 0 6px;
  color: #999999;
}
.book_body .right .author .times {
  color: #999999;
}
.book_body .right .description {
  line-height: 24px;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
  min-height: 48px;
}
.book_body .right .price_list {
  color: #999999;
  font-size: 14px;
}
.book_body .right .free {
  color: #11AA18;
  font-size: 16px;
}
.book_body .right .price {
  color: #E40000;
  font-size: 16px;
}
.book_body .right .no_price {
  color: #EB851F;
}
.book_body .right .line_price {
  text-decoration: line-through;
  margin-left: 12px;
}
.book_body .right .discount {
  margin-right: 20px;
}
.book_body .right .browse {
  margin-left: 12px;
}
.book_body .right .read {
  margin-right: 4px;
}
.book_body .right .shop_btn,
.book_body .right .shop_hover {
  color: #C8C0B9;
  width: 99px;
  background-image: url(../../../src/assets/images/resource/shopping.png);
  float: right;
  text-align: center;
  background-size: 100% 100%;
  font-size: 14px;
  font-weight: bold;
}
.book_body .right .shop_hover {
  cursor: pointer;
  color: #861C1E;
  background-image: url(../../../src/assets/images/resource/shopping_link.png);
}
.book_body .right .shop_link {
  color: #861C1E;
  background-image: url(../../../src/assets/images/resource/shopping_link.png);
}
.book_body .right .readBtn {
  width: 102px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #EA8422;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
.book_body .bookTypeDialog {
  margin: 0 auto;
}
.book_body .bookTypeDialog .el-dialog {
  width: 360px;
}
.book_body .bookTypeDialog .el-dialog__header {
  display: none !important;
}
.book_body .bookTypeDialog .el-dialog__body {
  width: 360px !important;
  height: 200px !important;
  padding: 0 !important;
}
