.book_body{
  overflow: hidden;
  background: #fff;
  min-height: 500px;
  .book_list{
    border-bottom: 1px dotted #DDD4C3;
    padding: 24px 26px;
    overflow: hidden;
    display: flex;
    background: #fff;
  }
  .image{
    width: 164px;
    height: 184px;
    margin-right: 16px;
    text-align: center;
    line-height: 182px;
    border: 1px solid #ececec;
    img{
      max-width: 162px;
      max-height: 182px;
      display: inline-block;
      cursor: pointer;
    }
  }
  .right{
    flex:1;
    overflow: hidden;
    .name{
      font-size:18px;
      color:rgba(73,65,55,1);
      line-height:24px;
      margin: 5px 0px 12px 0;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 660px;
    }
    .author{
      color: #901414;
      font-size:14px;
      margin-bottom: 15px;
      .names{
        cursor: pointer;
        color: #26486D;
      }
      .text_style{
        margin: 0 6px;
        color: #999999;
      }
      .times{
        color: #999999;
      }
    }
    .description{
      line-height: 24px;
      font-size:14px;
      color: #666;
      margin-bottom: 30px;
      min-height: 48px;
    }
    .price_list{
      color: #999999;
      font-size:14px;
    }
    .free{
      color: #11AA18;
      font-size: 16px;
    }
    .price{
      color: #E40000;
      font-size: 16px;
    }
    .no_price{
      color: #EB851F;
    }
    .line_price{
      text-decoration: line-through;
      margin-left: 12px;
    }
    .discount{
      margin-right: 20px;
    }
    .browse{
      margin-left: 12px;
    }
    .read{
      margin-right: 4px;
    }
    .shop_btn,.shop_hover{
      color: #C8C0B9;
      width: 99px;
      background-image: url(../../../src/assets/images/resource/shopping.png);
      float: right;
      text-align: center;
      background-size: 100% 100%;
      font-size:14px;
      font-weight:bold;
    }
    .shop_hover{
      cursor: pointer;
      color: #861C1E;
      background-image: url(../../../src/assets/images/resource/shopping_link.png);
    }
    .shop_link{
      color: #861C1E;
      background-image: url(../../../src/assets/images/resource/shopping_link.png);
    }
    .readBtn{
      width: 102px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background: #EA8422;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      float: right;
      cursor: pointer;
    }
  }
  .bookTypeDialog {
    margin: 0 auto;
    .el-dialog {
      width: 360px;
    }
    .el-dialog__header {
      display: none !important; 
    }
    .el-dialog__body {
      width: 360px !important;
      height: 200px !important;
      padding: 0 !important;
    }
  }
  
}


