.navs {
  background: #fff !important;
}
.detailsPage {
  position: relative;
  overflow: hidden;
  background: #f8f8f8;
}
.detailsPage .details_top_box {
  width: 100%;
  background: #fff;
  overflow: hidden;
  border-bottom: solid 6px;
  border-image: url(../../../src/assets/images/resource/border.png) 30 30 round round;
}
.detailsPage .details_main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
  position: relative;
}
.detailsPage .details_main .book_details_share {
  position: absolute;
  right: 0;
  top: 40px;
}
.detailsPage .details_main .book_details_share .book_details_list {
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
.detailsPage .details_main .book_details_share .book_details_list.share_list {
  position: relative;
}
.detailsPage .details_main .book_details_share .book_details_list.share_list:hover .share_wrap {
  display: block;
}
.detailsPage .details_main .book_details_share .book_details_list .share_box {
  width: 60px;
  height: 30px;
  color: #cccccc;
  background: #fff;
  border: 1px solid #cccccc;
  line-height: 30px;
  background-image: url(../../../src/assets/images/resource/icon_share.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 10px 8px;
  display: inline-block;
  cursor: pointer;
}
.detailsPage .details_main .book_details_share .book_details_list .share_box span {
  margin-left: 27px;
  font-size: 12px;
}
.detailsPage .details_main .book_details_share .book_details_list .share_box:hover {
  border: 1px solid #EA8422;
  background-image: url(../../../src/assets/images/resource/icon_share_hover.png);
}
.detailsPage .details_main .book_details_share .book_details_list .share_box:hover span {
  color: #EA8422;
}
.detailsPage .details_main .book_details_share .book_details_list .share_wrap {
  display: none;
}
.detailsPage .details_main .book_details_share .book_details_list .noagreeH,
.detailsPage .details_main .book_details_share .book_details_list .agreeH {
  width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  color: #cccccc;
  cursor: pointer;
  line-height: 30px;
}
.detailsPage .details_main .book_details_share .book_details_list .noagreeH img,
.detailsPage .details_main .book_details_share .book_details_list .agreeH img {
  width: 12px;
  margin-left: 9px;
  padding-right: 5px;
  float: left;
  margin-top: 9px;
}
.detailsPage .details_main .book_details_share .book_details_list .agreeH {
  color: #EA8422;
  border: 1px solid #EA8422;
}
.detailsPage .details_main .image_box_left {
  width: 500px;
  height: 360px;
  margin-right: 40px;
  border: solid 1px #EFE8DC;
  text-align: center;
  position: relative;
}
.detailsPage .details_main .image_box_left .detailOut {
  position: absolute;
  width: 75px;
  height: 30px;
  background: #f44f4a;
  opacity: 0.8;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  line-height: 30px;
}
.detailsPage .details_main .image_box_left .image_cover_box {
  line-height: 360px;
}
.detailsPage .details_main .image_box_left .image_cover_box img {
  max-width: 480px;
  max-height: 340px;
  display: inline-block;
  vertical-align: middle;
}
.detailsPage .details_main .image_box_left .mecontent_image_cover {
  background: #fff;
  opacity: .7;
  width: 500px;
  height: 360px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.detailsPage .details_main .video_box_left {
  width: 500px;
  height: 360px;
  margin-right: 40px;
  border: solid 1px #EFE8DC;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.detailsPage .details_main .video_box_left video {
  width: 360px;
  height: 360px;
  margin: 4px auto;
}
.detailsPage .details_main .video_box_left .video_box {
  width: 500px;
  height: 360px;
  margin: 4px auto;
  line-height: 360px;
  position: relative;
}
.detailsPage .details_main .video_box_left .video_box .cover {
  max-width: 500px;
  max-height: 360px;
  display: inline-block;
  vertical-align: middle;
}
.detailsPage .details_main .video_box_left .video_box .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.detailsPage .details_main .audio_box_left {
  width: 500px;
  height: 360px;
  margin-right: 40px;
  border: solid 1px #EFE8DC;
  text-align: center;
  position: relative;
}
.detailsPage .details_main .audio_box_left .video_box_top {
  width: 500px;
  height: 287px;
  line-height: 287px;
  border: solid 1px #E3E3E3;
}
.detailsPage .details_main .audio_box_left .video_box_top img {
  max-width: 288px;
  max-height: 204px;
  display: inline-block;
  vertical-align: middle;
}
.detailsPage .details_main .audio_box_left .artical-audio {
  background-image: url(../../../src/assets/images/audio/border.png);
}
.detailsPage .details_main .audio_box_left .audio {
  margin-top: 20px;
}
.detailsPage .details_main .audio_box_left .notPay {
  position: absolute;
  width: 100%;
  height: 63px;
  bottom: 0;
}
.detailsPage .details_main .file_box_left {
  width: 500px;
  height: 360px;
  margin-right: 40px;
  border: solid 1px #EFE8DC;
  text-align: center;
  position: relative;
}
.detailsPage .details_main .file_box_left .cover_box {
  line-height: 360px;
}
.detailsPage .details_main .file_box_left .file_cover {
  max-height: 340px;
  max-width: 480px;
  display: inline-block;
  vertical-align: middle;
}
.detailsPage .details_main .details_main_left {
  width: 360px;
  height: 360px;
  margin-right: 40px;
  border: solid 1px #EFE8DC;
  text-align: center;
  position: relative;
}
.detailsPage .details_main .details_main_left .cover_box {
  line-height: 360px;
}
.detailsPage .details_main .details_main_left .cover {
  display: inline-block;
  max-width: 250px;
  max-height: 310px;
  vertical-align: middle;
}
.detailsPage .details_main .details_main_left .detailOut {
  position: absolute;
  width: 75px;
  height: 30px;
  background: #f44f4a;
  opacity: 0.8;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  line-height: 30px;
}
.detailsPage .details_main .details_main_left .mecontent_image_cover {
  background: #fff;
  opacity: .7;
  width: 360px;
  height: 360px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.detailsPage .details_main .details_main_left .audio {
  margin-top: 20px;
}
.detailsPage .details_main .details_main_left .notPay {
  position: absolute;
  width: 100%;
  height: 63px;
  bottom: 0;
}
.detailsPage .details_main .details_main_right {
  flex: 1;
}
.detailsPage .details_main .details_main_right .clear {
  clear: both;
}
.detailsPage .details_main .details_main_right .main_title {
  width: 490px;
  font-size: 24px;
  color: #222222;
  cursor: pointer;
}
.detailsPage .details_main .details_main_right .main_rate {
  background: #F5F5F5;
  padding: 10px 20px;
  overflow: hidden;
  margin-top: 15px;
}
.detailsPage .details_main .details_main_right .main_rate .el-rate,
.detailsPage .details_main .details_main_right .main_rate .main_review,
.detailsPage .details_main .details_main_right .main_rate .main_read {
  float: left;
  color: #967454;
  margin-right: 10px;
}
.detailsPage .details_main .details_main_right .main_list {
  margin-top: 30px;
  color: #666666;
  font-size: 14px;
  overflow: hidden;
}
.detailsPage .details_main .details_main_right .main_list .list {
  margin-right: 90px;
  float: left;
  margin-bottom: 15px;
  min-width: 200px;
}
.detailsPage .details_main .details_main_right .main_list span {
  cursor: pointer;
}
.detailsPage .details_main .details_main_right .main_list .color {
  color: #8C1515;
  cursor: pointer;
}
.detailsPage .details_main .details_main_right .main_list .color a {
  color: #8C1515;
}
.detailsPage .details_main .details_main_right .main_pirce {
  clear: both;
  padding-top: 15px;
}
.detailsPage .details_main .details_main_right .main_pirce span {
  font-size: 24px;
}
.detailsPage .details_main .details_main_right .main_pirce .free {
  color: #11AA18;
}
.detailsPage .details_main .details_main_right .main_pirce .no_price {
  color: #EB851F;
}
.detailsPage .details_main .details_main_right .main_pirce .realPrice {
  color: #E40000;
}
.detailsPage .details_main .details_main_right .main_pirce .price {
  margin-left: 10px;
  color: #999999;
  text-decoration: line-through;
  font-size: 14px;
}
.detailsPage .details_main .details_main_right .book_main_pirce {
  display: inline-block;
  margin-right: 55px;
}
.detailsPage .details_main .details_main_right .book_main_pirce .book_price_title {
  color: #666666;
  font-size: 14px;
}
.detailsPage .details_main .details_main_right .main_tips {
  font-size: 16px;
  color: #B37022;
  line-height: 24px;
  margin-top: 10px;
  clear: both;
}
.detailsPage .details_main .details_main_right .main_btns {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
  clear: both;
}
.detailsPage .details_main .details_main_right .main_btns .hover_btn,
.detailsPage .details_main .details_main_right .main_btns .shop_btn {
  width: 102px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  color: #F7FAFD;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  margin-right: 16px;
}
.detailsPage .details_main .details_main_right .main_btns .shop_epub_btn,
.detailsPage .details_main .details_main_right .main_btns .shop_pdf_btn {
  float: left;
  width: 104px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #F7FAFD;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}
.detailsPage .details_main .details_main_right .main_btns .shop_epub_btn {
  background: #394E79;
  margin-right: 14px;
}
.detailsPage .details_main .details_main_right .main_btns .shop_epub_btn:hover {
  background: #506795;
}
.detailsPage .details_main .details_main_right .main_btns .shop_pdf_btn {
  background: #8C1515;
  margin-right: 14px;
}
.detailsPage .details_main .details_main_right .main_btns .shop_pdf_btn:hover {
  background: #A52626;
}
.detailsPage .details_main .details_main_right .main_btns .hover_btn {
  background: #394E79;
}
.detailsPage .details_main .details_main_right .main_btns .hover_btn:hover {
  background: #506795;
}
.detailsPage .details_main .details_main_right .main_btns .shop_btn {
  background: #901414;
}
.detailsPage .details_main .details_main_right .main_btns .shop_btn:hover {
  background: #A52626;
}
.detailsPage .details_main .details_main_right .main_btns .shop_car_btn {
  background-image: url(../../../src/assets/images/resource/details_shopping.png);
  width: 99px;
  height: 19px;
  line-height: 18px;
  margin-top: 10px;
  cursor: pointer;
  float: left;
}
.detailsPage .details_main .details_main_right .main_btns .shop_car_btn:hover {
  color: #506795;
}
.detailsPage .details_main .details_main_right .main_btns .download_btn {
  float: left;
  width: 102px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  font-weight: bold;
  background: #CCCCCC;
  border-radius: 4px;
  color: #ffff;
  text-align: center;
  margin-right: 16px;
}
.detailsPage .details_main .details_main_right .main_btns .download_btn:hover {
  background: #BEBEBE;
}
.detailsPage .details_main .details_main_right .main_btns .tips {
  clear: both;
  color: #C9151E;
}
.detailsPage .details_main .details_main_right .main_buytip {
  color: #C9151E;
}
.detailsPage .details_content {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 14px;
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
}
.detailsPage .details_content .details_left_con {
  width: 866px;
  padding: 0 35px;
  background: #fff;
  float: left;
}
.detailsPage .details_content .details_left_con .content_title {
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  color: #333;
  border-bottom: 4px solid;
  border-image: url(../../../src/assets/images/personal/comTit.png) 27 27 27 27 round round;
}
.detailsPage .details_content .details_left_con .content_title a {
  color: #333;
  cursor: pointer;
}
.detailsPage .details_content .details_left_con .content_title img {
  margin: 0 20px;
}
.detailsPage .details_content .details_left_con .color {
  color: #7E0204;
}
.detailsPage .details_content .details_left_con .color a {
  color: #8C1515;
}
.detailsPage .details_content .details_left_con .intro,
.detailsPage .details_content .details_left_con .catalogue {
  padding-top: 28px;
}
.detailsPage .details_content .details_left_con .intro .text,
.detailsPage .details_content .details_left_con .catalogue .text {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 24px;
}
.detailsPage .details_content .details_left_con .intro .text img,
.detailsPage .details_content .details_left_con .catalogue .text img {
  float: left;
  width: 20px;
  margin-right: 6px;
}
.detailsPage .details_content .details_left_con .intro .description,
.detailsPage .details_content .details_left_con .catalogue .description {
  min-height: 30px;
  margin-bottom: 20px;
  color: #666666 !important;
  text-indent: 2em;
  line-height: 28px;
  font-size: 14px;
}
.detailsPage .details_content .details_left_con .catalogue {
  border-top: dotted 1px #DDD4C3;
}
.detailsPage .details_content .details_left_con .catalogue .catalogue_list {
  line-height: 40px;
  color: #333333;
  cursor: pointer;
}
.detailsPage .details_content .details_left_con .catalogue .medetails_content_extends {
  margin: 36px 0 70px 30px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}
.detailsPage .details_content .details_left_con .catalogue .medetails_content_extends .medetails_content_imge {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.detailsPage .details_content .details_left_con .catalogue .medetails_content_extends .medetails_content_extend {
  color: #B37022;
  margin-left: 5px;
}
.detailsPage .details_content .details_left_con .review {
  margin-top: 40px;
}
.detailsPage .details_content .details_left_con .review .review_title {
  border-bottom: 1px solid #E0E0E0;
  font-size: 16px;
  font-weight: bold;
  color: #901414;
  line-height: 40px;
  margin-bottom: 32px;
}
.detailsPage .details_content .details_left_con .review .review_title::after {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: #901414;
}
.detailsPage .details_content .details_left_con .review .details_content_rate {
  margin-bottom: 18px;
  overflow: hidden;
}
.detailsPage .details_content .details_left_con .review .details_content_rate span {
  float: left;
}
.detailsPage .details_content .details_left_con .review .details_content_rate .el-rate {
  float: left;
}
.detailsPage .details_content .details_left_con .review .details_content_text {
  position: relative;
}
.detailsPage .details_content .details_left_con .review .details_content_text .details_content_textarea {
  background-color: #F4F4F4;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 16px 10px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
}
.detailsPage .details_content .details_left_con .review .details_content_text .details_content_textNum {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #aaa;
}
.detailsPage .details_content .details_left_con .review .details_content_btn {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: right;
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
  background: #394E79;
}
.detailsPage .details_content .details_left_con .review .details_content_item {
  overflow: hidden;
  margin-top: 26px;
  border-bottom: 1px dashed #DDD4C3;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}
.detailsPage .details_content .details_left_con .review .details_content_item .itemHeader {
  width: 54px;
  height: 54px;
  background: #f5f5f5;
  border-radius: 50%;
  margin-right: 20px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .itemHeader img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont {
  flex: 1;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit {
  width: 100%;
  height: 32px;
  overflow: hidden;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit span.title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
  float: left;
  display: block;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit .itemStar {
  float: left;
  position: relative;
  width: 120px;
  height: 30px;
  left: 20px;
  top: 0;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit .itemStar span {
  position: absolute;
  top: 5px;
  z-index: 3;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit .itemStar span img {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit .itemStar ul {
  position: absolute;
  z-index: 2;
  top: 5px;
  overflow: hidden;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit .itemStar ul li {
  float: left;
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 5px;
  background: url("../../../src/assets/images/personal/startk.png") no-repeat;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemTit span:last-child {
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemCont {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #555555;
  line-height: 26px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 5px;
  padding-bottom: 22px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .comNum {
  padding-left: 20px;
  background: url("../../../src/assets/images/resource/reply_info.png") no-repeat center left;
  margin-right: 23px;
  cursor: pointer;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .comNum:hover {
  background: url(../../../src/assets/images/resource/reply_info_hover.png) no-repeat center left;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .comNum:hover span {
  color: #EA8422;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .comNum span {
  line-height: 26px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .thumbNum {
  background-position: 0px 4px;
  cursor: pointer;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .thumbNum img {
  margin-top: -3px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .thumbNum span {
  line-height: 26px;
}
.detailsPage .details_content .details_left_con .review .details_content_item .listCont .itemOper .thumbNum span.fontColor {
  color: #EA8422;
}
.detailsPage .details_content .details_left_con .review .details_content_item ul,
.detailsPage .details_content .details_left_con .review .details_content_item li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.detailsPage .details_content .details_left_con .review .medetails_content_more {
  color: #901414;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 42px auto 0;
  padding-bottom: 30px;
}
.detailsPage .details_content .details_right_con {
  float: right;
  padding-bottom: 28px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
  width: 250px;
}
.detailsPage .details_content .details_right_con .subleft_botTitle {
  height: 40px;
  line-height: 40px;
  color: #8C1515;
  background: #F8F8F8;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: solid 3px #8C1515;
}
.detailsPage .details_content .details_right_con .subleft_botTitle img {
  float: left;
  height: 12px;
  margin-top: 14px;
  margin-right: 6px;
}
.detailsPage .details_content .details_right_con .meDetail_textbookList {
  width: 250px;
  height: auto;
  margin: 16px 14px 0;
}
.detailsPage .details_content .details_right_con .meDetail_textbookList .meDetail_textbookTitle {
  width: 250px;
  display: block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}
.detailsPage .details_content .details_right_con .meDetail_textbookList .textbookList_num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #F3F3F3;
  color: #666666;
  float: left;
  margin-right: 12px;
  border-radius: 50%;
}
.detailsPage .details_content .details_right_con .meDetail_textbookList .textbookList_text {
  color: #333333;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.detailsPage .details_content .details_right_con .meDetail_textbook {
  width: 270px;
  height: 139px;
  display: block;
  overflow: hidden;
  margin: 15px auto 0px;
  border-bottom: 1px dashed #E6E6E6;
  background: #fff;
  font-size: 14px;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .commentRight_tip {
  width: 100px;
  float: left;
}
.detailsPage .details_content .details_right_con .meDetail_textbook img {
  width: 80px;
  height: 108px;
  border: 1px solid #ececec;
  object-fit: cover;
  float: left;
  object-position: top;
  /*这行都可以不写，object-position 默认就是 center*/
}
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_number,
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_img,
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_tip {
  float: left;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_number {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #FEAA5B;
  color: #fff;
  border-radius: 50%;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_img {
  margin: 0 12px;
  cursor: pointer;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_tip {
  width: 100px;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_title {
  color: #555;
  width: 100px;
  cursor: pointer;
  font-size: 14px;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .textbook_author {
  color: #999999;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 34px;
  margin-bottom: 10px;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .commentRight_price {
  color: #E51312;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .commentRight_free {
  color: #11AA18;
}
.detailsPage .details_content .details_right_con .meDetail_textbook .commentRight_noprice {
  color: #EB851F;
}
.detailsPage .details_content .recommend_details_right {
  width: 250px;
  box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
  float: right;
  font-size: 14px;
}
.detailsPage .details_content .recommend_details_right .recommend_con {
  overflow: hidden;
  height: max-content;
  padding-bottom: 40px;
  background: #fff;
  border: solid 1px #E7E4E1;
}
.detailsPage .details_content .recommend_details_right .recommend_con .recommend_title {
  height: 40px;
  line-height: 40px;
  color: #8C1515;
  background: #F8F8F8;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: solid 3px #8C1515;
}
.detailsPage .details_content .recommend_details_right .recommend_con .recommend_title img {
  margin-right: 6px;
}
.detailsPage .details_content .recommend_details_right .recommend_con .recommend_list p {
  color: #4A433A;
  line-height: 30px;
  margin: 10px 0;
  cursor: pointer;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detailsPage .details_content .recommend_details_right .recommend_con .recommend_list p span {
  background: #f6f3ee;
  color: #666666;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin: 0 14px;
}
.detailsPage .details_content .recommend_details_right .recommend_con .recommend_list p:hover span {
  background: #FEAA5B;
  color: #fff;
}
.detailsPage .bookTypeDialog {
  margin: 0 auto;
}
.detailsPage .bookTypeDialog .el-dialog {
  width: 360px;
}
.detailsPage .bookTypeDialog .el-dialog__header {
  display: none !important;
}
.detailsPage .bookTypeDialog .el-dialog__body {
  width: 360px !important;
  height: 200px !important;
  padding: 0 !important;
}
