.navs{
  background: #fff !important;
}
.detailsPage{
  position: relative;
  overflow: hidden;
  background: #f8f8f8;
  .details_top_box{
    width: 100%;
    background: #fff;
    overflow: hidden;
    border-bottom: solid 6px;
    border-image: url(../../../src/assets/images/resource/border.png) 30 30 round round;
  }
  .details_main{//详情
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 40px 0;
    position: relative;
    .book_details_share { //分享
      position: absolute;
      right: 0;
      top: 40px;
      .book_details_list {
        float: left;
        margin-right: 10px;
        font-size: 12px;
        &.share_list {
          position: relative;
          &:hover {
            .share_wrap{
              display: block;
            }
          }
        }
        .share_box{
          width: 60px;
          height: 30px;
          color: #cccccc;
          background: #fff;
          border:1px solid #cccccc;
          line-height: 30px;
          background-image: url(../../../src/assets/images/resource/icon_share.png);
          background-repeat: no-repeat;
          background-size: 14px;
          background-position: 10px 8px;
          display: inline-block;
          cursor: pointer;
          span{
            margin-left: 27px;
            font-size:12px;
          }
          &:hover{
            border: 1px solid #EA8422;
            background-image: url(../../../src/assets/images/resource/icon_share_hover.png);
            span{
              color: #EA8422;
            }
            
          }
        }
        .share_wrap {
          display: none;
        }
        .noagreeH,.agreeH {
          width: 60px;
          height: 30px;
          background: #fff;
          border: 1px solid #cccccc;
          border-radius: 2px;
          color: #cccccc;
          cursor: pointer;
          line-height: 30px;
          img {
            width: 12px;
            margin-left: 9px;
            padding-right: 5px;
            float: left;
            margin-top: 9px;
          }
        }
        .agreeH{
          color: #EA8422;
          border: 1px solid #EA8422;
        }
      }
    }
    // 图片左侧
    .image_box_left{
      width: 500px;
      height: 360px;
      margin-right: 40px;
      border: solid 1px #EFE8DC;
      text-align: center;
      position: relative;
      .detailOut {
        position: absolute;
        width: 75px;
        height: 30px;
        background: rgba(244, 79, 74, 1);
        opacity: 0.8;
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 24px;
        text-align: center;
        line-height: 30px;
      }
      .image_cover_box{
        line-height: 360px;
        img{
          max-width: 480px;
          max-height: 340px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .mecontent_image_cover{
        background: #fff;
        opacity: .7;
        width: 500px;
        height: 360px;
        position: absolute;
        left: 0px;
        top: 0px; 
      }
    }
    //视频左侧
    .video_box_left{
      width: 500px;
      height: 360px;
      margin-right: 40px;
      border: solid 1px #EFE8DC;
      text-align: center;
      position: relative;
      overflow: hidden;
      video{
        width: 360px;
        height: 360px;
        margin: 4px auto;
      }
      .video_box{
        width: 500px;
        height: 360px;
        margin: 4px auto;
        line-height: 360px;
        position: relative;
        .cover{
          max-width: 500px;
          max-height: 360px;
          display: inline-block;
          vertical-align: middle;
        }
        .icon{
          position: absolute;
          left: 50%;
          top: 50%;   
          transform: translate(-50%, -50%);   
        }
      }
    }
    //音频左侧
    .audio_box_left{
      width: 500px;
      height: 360px;
      margin-right: 40px;
      border: solid 1px #EFE8DC;
      text-align: center;
      position: relative;
      .video_box_top{
        width: 500px;
        height: 287px;
        line-height: 287px;
        border:solid 1px #E3E3E3;
        img{
          max-width: 288px;
          max-height: 204px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .artical-audio{
        background-image: url(../../../src/assets/images/audio/border.png);
      }
      .audio{
        margin-top: 20px;
      }
      .notPay{
        position: absolute;
        width: 100%;
        height: 63px;
        bottom: 0;
      }
    }
    //课件详情
    .file_box_left{
      width: 500px;
      height: 360px;
      margin-right: 40px;
      border: solid 1px #EFE8DC;
      text-align: center;
      position: relative;
      .cover_box{
        line-height: 360px;
      }
      .file_cover{//课件
        max-height: 340px;
        max-width: 480px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .details_main_left{
      width: 360px;
      height: 360px;
      margin-right: 40px;
      border: solid 1px #EFE8DC;
      text-align: center;
      position: relative;
      .cover_box{
        line-height: 360px;
      }
      .cover{
        display: inline-block;
        max-width: 250px;
        max-height: 310px;
        vertical-align: middle;
      }
      //图片
      .detailOut {
        position: absolute;
        width: 75px;
        height: 30px;
        background: rgba(244, 79, 74, 1);
        opacity: 0.8;
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 24px;
        text-align: center;
        line-height: 30px;
      }
      .mecontent_image_cover{
        background: #fff;
        opacity: .7;
        width: 360px;
        height: 360px;
        position: absolute;
        left: 0px;
        top: 0px; 
      }
      .audio{
        margin-top: 20px;
      }
      .notPay{
        position: absolute;
        width: 100%;
        height: 63px;
        bottom: 0;
      }
    }
    .details_main_right{
      flex: 1;
      .clear{
        clear: both;
      }
      .main_title{
        width: 490px;
        font-size: 24px;
        color: #222222;
        cursor: pointer;
      }
      .main_rate{
        background: #F5F5F5;
        padding: 10px 20px; 
        overflow: hidden;
        margin-top: 15px;
        .el-rate,.main_review,.main_read{
          float: left;
          color: #967454;
          margin-right: 10px;
        }
      }
      .main_list{
        margin-top: 30px;
        color: #666666;
        font-size: 14px;
        overflow: hidden;
        .list{
          margin-right: 90px;
          float: left;
          margin-bottom: 15px;
          min-width: 200px;
        }
        span{
          cursor: pointer;
        }
        .color{
          color: #8C1515;
          cursor: pointer;
          a {
            color: #8C1515;
          }
        }
      }
      .main_pirce{
        clear: both;
        padding-top: 15px;
        span{
          font-size:24px;
        }
        .free {
          color: #11AA18;
        }
        .no_price {
          color: #EB851F;
        }
        .realPrice {
          color: #E40000;
        }
        .price{
          margin-left: 10px;
          color: #999999;
          text-decoration: line-through;
          font-size: 14px;
        }
      }
      .book_main_pirce{
        display: inline-block;
        margin-right: 55px;
        .book_price_title{
          color: #666666;
          font-size:14px;
        }
      }
      .main_tips{
        font-size: 16px;
        color: #B37022;
        line-height: 24px;
        margin-top: 10px;
        clear: both;
      }
      .main_btns{
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 10px;
        clear: both;
        .hover_btn,.shop_btn{
          width: 102px;
          height: 36px;
          font-size: 14px;
          font-weight: bold;
          border-radius: 4px;
          text-align: center;
          line-height: 36px;
          color: #F7FAFD;
          cursor: pointer;
          float: left;
          margin-bottom: 20px;
          margin-right: 16px;
        }
        .shop_epub_btn,.shop_pdf_btn {
          float: left;
          width: 104px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          color: #F7FAFD;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          border-radius: 4px;
        }
        .shop_epub_btn {
          background: #394E79;
          margin-right: 14px;
          &:hover {
            background: #506795;
          }
        }
        .shop_pdf_btn {
          background: #8C1515;
          margin-right: 14px;
          &:hover {
            background: #A52626;
          }
        }
        .hover_btn {
          background: #394E79;
          &:hover {
            background: #506795;
          }
        }
        .shop_btn{
          background: #901414;
          &:hover {
            background: #A52626;
          }
        }
        .shop_car_btn{
          background-image: url(../../../src/assets/images/resource/details_shopping.png);
          width: 99px;
          height: 19px;
          line-height: 18px;
          margin-top: 10px;
          cursor: pointer;
          float: left;
          &:hover {
            color: #506795;
          }
        }
        .download_btn{
          float:left;
          width:102px;
          height:36px;
          line-height: 36px;
          cursor: pointer;
          font-weight: bold;
          background: #CCCCCC;
          border-radius: 4px;
          color: #ffff;
          text-align: center;
          margin-right: 16px;
          &:hover {
            background: #BEBEBE;
          }
        }
        .tips{
          clear: both;
          color:#C9151E;
        }
      }
      .main_buytip{
        color: #C9151E;
      }
    }
  }
  .details_content{//详情-简介-目录-评论
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 14px;
    position: relative;
    z-index: 5;
    margin-bottom: 40px;
    .details_left_con{
      width: 866px;
      padding: 0 35px;
      background: #fff;
      float: left;
      .content_title{
        height: 80px;
        line-height: 80px;
        font-size:22px;
        color: #333; 
        border-bottom: 4px solid;
        border-image: url(../../../src/assets/images/personal/comTit.png) 27 27 27 27 round round;
        a{
          color: #333; 
          cursor: pointer;
        }
        img{
          margin: 0 20px;
        }
        
      }
      .color{
        color: #7E0204;
        a{
          color: #8C1515;
        }
      }
      .intro,.catalogue{
        padding-top: 28px;
        .text{
          color: #333333;
          font-size:16px;
          font-weight:bold;
          line-height: 20px;
          margin-bottom: 24px;
          img{
            float: left;
            width: 20px;
            margin-right: 6px;
          }
        }
        .description{
          min-height: 30px;
          margin-bottom: 20px;
          color: #666666 !important;
          text-indent: 2em;
          line-height: 28px;
          font-size: 14px;
        } 
      }
      .catalogue{
        border-top: dotted 1px #DDD4C3;
        .catalogue_list{
          line-height: 40px;
          color:#333333;
          cursor: pointer;
        }
        .medetails_content_extends {
          margin: 36px 0 70px 30px;
          cursor: pointer;
          display: block;
          overflow: hidden;
          .medetails_content_imge {
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
          }
          .medetails_content_extend {
            color: #B37022;
            margin-left: 5px;
          }
        }
      }
      .review{
        margin-top: 40px;
        .review_title{
          border-bottom: 1px solid #E0E0E0;
          font-size:16px;
          font-weight:bold;
          color:#901414;
          line-height: 40px;
          margin-bottom: 32px;
          &::after {
            content: "";
            display: block;
            width: 32px;
            height: 2px;
            background: #901414;
          }
        }
        .details_content_rate {
          margin-bottom: 18px;
          overflow: hidden;
          span {
            float: left;
          }
          .el-rate {
            float: left;
          }
        }
        .details_content_text{
          position: relative;
          .details_content_textarea {
            background-color: #F4F4F4;
            outline: none;
            border-radius: 3px;
            border: none;
            padding: 16px 10px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
          }
          .details_content_textNum{
            position: absolute;
            bottom:8px;
            right:10px;
            color:#aaa;
          }
        }
        .details_content_btn {
          width: 80px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          float: right;
          color: #fff;
          cursor: pointer;
          margin-top: 16px;
          background: #394E79;
        }
        .details_content_item {
          overflow: hidden;
          margin-top: 26px;
          border-bottom: 1px dashed #DDD4C3;
          margin-bottom: 10px;
          width: 100%;
          display: flex;
          .itemHeader {
            width: 54px;
            height: 54px;
            background: #f5f5f5;
            border-radius: 50%;
            margin-right: 20px;
            img {
              width: 54px;
              height: 54px;
              border-radius: 50%;
            }
          }
          .listCont {
            flex: 1;
            .itemTit {
              width: 100%;
              height: 32px;
              overflow: hidden;
              span.title {
                font-family: MicrosoftYaHei-Bold;
                font-weight: bold;
                color: rgba(51, 51, 51, 1);
                line-height: 24px;
                float: left;
                display: block;
              }
              .itemStar {
                float: left;
                position: relative;
                width: 120px;
                height: 30px;
                left: 20px;
                top: 0;
                span {
                  position: absolute;
                  top: 5px;
                  z-index: 3;
                  img {
                    float: left;
                    display: block;
                    width: 13px;
                    height: 13px;
                    overflow: hidden;
                    margin-right: 5px;
                  }
                }
                ul {
                  position: absolute;
                  z-index: 2;
                  top: 5px;
                  overflow: hidden;
                  li {
                    float: left;
                    display: block;
                    width: 13px;
                    height: 13px;
                    overflow: hidden;
                    margin-right: 5px;
                    background: url("../../../src/assets/images/personal/startk.png") no-repeat;
                  }
                }
              }
              span:last-child {
                font-size: 12px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                color: rgba(183, 183, 183, 1);
                line-height: 24px;
                margin: 0;
                padding: 0;
              }
            }
            .itemCont {
              font-size: 14px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              color: rgba(85, 85, 85, 1);
              line-height: 26px;
            }
            .itemOper {
              height: 30px;
              display: flex;
              justify-content: flex-end;
              align-content: center;
              font-size: 12px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              color: rgba(170, 170, 170, 1);
              margin-top: 5px;
              padding-bottom: 22px;
              .comNum {
                padding-left: 20px;
                background: url("../../../src/assets/images/resource/reply_info.png") no-repeat center left;
                margin-right: 23px;
                cursor: pointer;
                &:hover {
                  background: url(../../../src/assets/images/resource/reply_info_hover.png) no-repeat center left;
                  span {
                    color: #EA8422;
                  }
                }
                span {
                  line-height: 26px;
                }
              }
              .thumbNum {
                img {
                  margin-top: -3px;
                }
                background-position: 0px 4px;
                cursor: pointer;
                span {
                  line-height: 26px;
                  &.fontColor {
                    color: #EA8422;
                  }
                }
              }
            }
          }
          ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
          }
        }
        .medetails_content_more {
          color: #901414;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
          margin: 42px auto 0;
          padding-bottom: 30px;
        }
      }
    }
    // 图书右侧
    .details_right_con{
      float: right;
      padding-bottom: 28px;
      background: #fff;
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
      width: 250px;
      .subleft_botTitle {
        height: 40px;
        line-height: 40px;
        color: #8C1515;
        background: #F8F8F8;
        padding-left: 10px;
        font-size:16px;
        font-weight:bold;
        border-top: solid 3px #8C1515;
        img{
          float: left;
          height: 12px;
          margin-top: 14px;
          margin-right: 6px;
        }
      }
      .meDetail_textbookList {
        width: 250px;
        height:auto;
        margin: 16px 14px 0;
        .meDetail_textbookTitle{
          width: 250px;
          display: block;
          height:18px;
          line-height: 18px;
          font-size: 14px;
        }
        .textbookList_num {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background-color: #F3F3F3;
          color: #666666;
          float: left;
          margin-right: 12px;
          border-radius: 50%;
        }
        .textbookList_text {
          color: #333333;
          width:200px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          cursor: pointer;
        }
      }
      .meDetail_textbook{
        width: 270px;
        height: 139px;
        display: block;
        overflow: hidden;
        margin: 15px auto 0px;
        border-bottom: 1px dashed #E6E6E6;
        background: #fff;
        font-size: 14px;
        .commentRight_tip {
          width: 100px;
          float: left;
        }
        img {
          width: 80px;
          height: 108px;
          border: 1px solid #ececec;
          object-fit: cover;
          float: left;
          object-position: top;  /*这行都可以不写，object-position 默认就是 center*/
        }
        .textbook_number, .textbook_img, .textbook_tip {
          float: left;
        }
        .textbook_number {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background-color: #FEAA5B;
          color: #fff;
          border-radius: 50%;
        }
        .textbook_img {
          margin: 0 12px;
          cursor: pointer;
        }
        .textbook_tip {
          width: 100px;
        }
        .textbook_title {
          color: #555;
          width: 100px;
          cursor: pointer;
          font-size: 14px;
        }
        .textbook_author {
          color: #999999;
          width: 100px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          margin-top: 34px;
          margin-bottom: 10px;
        }
        .commentRight_price{
          color: #E51312;
        }
        .commentRight_free {
          color: #11AA18;
        }
        .commentRight_noprice {
          color: #EB851F;
        }
      }
    }
    //推荐位右侧
    .recommend_details_right {
      width: 250px;
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.04);
      float: right;
      font-size:14px;
      .recommend_con{
        overflow: hidden;
        height: max-content;
        padding-bottom:40px;
        background: #fff;
        border: solid 1px #E7E4E1;
        .recommend_title{
          height: 40px;
          line-height: 40px;
          color: #8C1515;
          background: #F8F8F8;
          padding-left: 10px;
          font-size:16px;
          font-weight:bold;
          border-top: solid 3px #8C1515;
          img{
            margin-right: 6px;
          }
        }
        .recommend_list{
          p{
            color: #4A433A;
            line-height: 30px;
            margin: 10px 0;
            cursor: pointer;
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            span{
              background: RGBA(246, 243, 238, 1);
              color: #666666;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              display: inline-block;
              text-align: center;
              line-height: 20px;
              margin: 0 14px;
            }
            &:hover{
              span{
                background: #FEAA5B;
                color: #fff;
              }
            }
          }
          
        }
      }
    }
  }
  .bookTypeDialog {
    margin: 0 auto;
    .el-dialog {
      width: 360px;
    }
    .el-dialog__header {
      display: none !important; 
    }
    .el-dialog__body {
      width: 360px !important;
      height: 200px !important;
      padding: 0 !important;
    }
  }
}