.doctor_body {
  overflow: hidden;
  background: #fff;
  min-height: 500px;
}
.doctor_body .book_list {
  border-bottom: 1px dotted #DDD4C3;
  padding: 24px 0;
  margin: 0 26px;
  overflow: hidden;
  display: flex;
}
.doctor_body .image {
  width: 166px;
  height: 186px;
  margin-right: 16px;
  line-height: 186px;
  text-align: center;
}
.doctor_body .image img {
  max-width: 166px;
  max-height: 186px;
  display: inline-block;
  vertical-align: middle;
}
.doctor_body .right {
  flex: 1;
}
.doctor_body .right .name {
  font-size: 18px;
  color: #494137;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
  max-width: 660px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.doctor_body .right .reader {
  color: #999;
  font-size: 14px;
  margin-bottom: 23px;
  cursor: pointer;
}
.doctor_body .right .reader:hover {
  color: #8C1515;
}
.doctor_body .right .description {
  line-height: 20px;
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
  width: 700px;
  word-wrap: break-word;
}
.doctor_body .right .clickNum {
  float: right;
  color: #999999;
  font-size: 14px;
}
.doctor_body .right .clickNum img {
  margin-right: 5px;
}
