.doctor_body{
  overflow: hidden;
  background: #fff;
  min-height: 500px;
  .book_list{
    border-bottom: 1px dotted #DDD4C3;
    padding: 24px 0;
    margin: 0 26px;
    overflow: hidden;
    display: flex;
  }
  .image{
    width: 166px;
    height: 186px;
    margin-right: 16px;
    line-height: 186px;
    text-align: center;
    img{
      max-width: 166px;
      max-height: 186px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .right{
    flex:1;
    .name{
      font-size:18px;
      color:rgba(73,65,55,1);
      line-height:24px;
      margin-bottom: 20px;
      margin-top: 5px;
      cursor: pointer;
      max-width: 660px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .reader{
      color: #999;
      font-size:14px;
      margin-bottom: 23px;
      cursor: pointer;
      &:hover{
        color: #8C1515;
      }
    }
    .description{
      line-height: 20px;
      font-size:14px;
      color: #666;
      margin-bottom: 40px;
      width: 700px;
      word-wrap:break-word;
    }
    .clickNum{
      float: right;
      color: #999999;
      font-size:14px;
      img{
        margin-right: 5px;
      }
    }
   
  }
}


