.file_body {
  padding-top: 30px;
  overflow: hidden;
  background: #fff;
  min-height: 500px;
}
.file_body .book_list {
  width: 276px;
  margin-left: 26px;
  float: left;
  position: relative;
  cursor: pointer;
  margin-bottom: 36px;
  border: solid 1px #EEEEEE;
  height: 340px;
}
.file_body .list_box {
  width: 276px;
  height: 197px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.file_body .list_box .btn,
.file_body .list_box .load {
  width: 122px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  background-image: url(../../../src/assets/images/resource/shop_text.png);
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 87px;
}
.file_body .list_box .load {
  width: 82px;
}
.file_body .times {
  position: absolute;
  width: 266px;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  top: 165px;
  left: 0;
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
}
.file_body .image_box {
  height: 197px;
  width: 276px;
  line-height: 197px;
  text-align: center;
}
.file_body .list_image {
  max-width: 276px;
  max-height: 197px;
  display: inline-block;
  vertical-align: middle;
}
.file_body .name {
  font-size: 16px;
  color: #494137;
  margin: 19px 0 14px 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.file_body .name:hover {
  color: #771f1d;
}
.file_body .visited {
  color: #999999;
  margin-left: 18px;
  margin-bottom: 22px;
  font-size: 14px;
}
.file_body .visited .read {
  margin-right: 5px;
}
.file_body .visited span {
  float: right;
  margin-right: 21px;
}
.file_body .price,
.file_body .free,
.file_body .no_price {
  color: #E40000;
  font-size: 14px;
  margin-right: 15px;
  margin-left: 18px;
}
.file_body .price {
  font-size: 16px;
}
.file_body .free {
  color: #11AA18;
}
.file_body .no_price {
  color: #EB851F;
}
.file_body .line_price {
  text-decoration: line-through;
  color: #CCCCCC;
  font-size: 12px;
}
