.file_body{
  padding-top: 30px;
  overflow: hidden;
  background: #fff;
  min-height: 500px;
  .book_list{
    width: 276px;
    margin-left: 26px;
    float: left;
    position: relative;
    cursor: pointer;
    margin-bottom: 36px;
    border: solid 1px #EEEEEE;
    height: 340px;
  }
  .list_box{
    width: 276px;
    height: 197px;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0,0,0,0.5);
    .btn,.load{
      width: 122px;
      height: 23px;
      line-height: 23px;
      text-align: center;
      background-image: url(../../../src/assets/images/resource/shop_text.png);
      background-repeat: no-repeat;
      background-size: 100% 100% ;
      color: #fff;
      font-size:16px;
      font-weight: bold;
      margin: 0 auto;
      margin-top: 87px;
    }
    .load{
      width: 82px;
    }
  }
  .times{
    position: absolute;
    width: 266px;
    height: 30px;
    line-height: 30px;
    background:rgba(0,0,0,0.3);
    opacity:0.7;
    top: 165px;
    left: 0;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
  }
  .image_box{
    height: 197px;
    width: 276px;
    line-height: 197px;
    text-align: center;
  }
  .list_image{
    max-width: 276px;
    max-height: 197px;
    display: inline-block;
    vertical-align: middle;
  }
  .name{
    font-size:16px;
    color:rgba(73,65,55,1);
    margin: 19px 0 14px 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    &:hover{
      color: #771f1d;
    }
  }
  .visited{
    color: #999999;
    margin-left: 18px;
    margin-bottom: 22px;
    font-size:14px;
    .read{
      margin-right: 5px;
    }
    span{
      float: right;
      margin-right: 21px;
    }
  }
  .price,.free,.no_price{
    color: #E40000;
    font-size:14px;
    margin-right: 15px;
    margin-left: 18px;
  }
  .price{
    font-size: 16px;
  }
  .free{
    color: #11AA18;
  }
  .no_price{
    color: #EB851F;
  }
  .line_price{
    text-decoration: line-through;
    color: #CCCCCC;
    font-size:12px;
  }
}


