.image_body{
  padding-top: 30px;
  overflow: hidden;
  background: #fff;
  min-height: 500px;
  .book_list{
    width: 200px;
    margin-left: 26px;
    float: left;
    position: relative;
    cursor: pointer;
    height: 240px;
    margin-bottom: 10px;
  }
  .visited{
    position: absolute;
    width: 190px;
    height: 30px;
    line-height: 30px;
    background:rgba(0,0,0,0.3);
    top: 112px;
    left: 0;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
  }
  .imgBox{
    width: 200px;
    height: 142px;
    text-align: center;
    line-height: 142px;
  }
  .list_image{
    max-width: 200px;
    max-height: 142px;
    line-height: 142px;
    display: inline-block;
    vertical-align: middle;
    // object-fit: cover;
    // object-position: top;  /*这行都可以不写，object-position 默认就是 center*/
  }
  .name{
    font-size:16px;
    color:rgba(73,65,55,1);
    margin: 20px 0 18px 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price{
    color: #E40000;
    margin-right: 15px;
    font-size:14px;
  }
  .free{
    color: #11AA18;
  }
  .no_price{
    color: #EB851F;
  }
  .line_price{
    text-decoration: line-through;
    color: #CCCCCC;
    font-size:12px;
  }
}


