.video_body {
  padding-top: 30px;
  overflow: hidden;
  background: #fff;
  min-height: 500px;
}
.video_body .book_list {
  height: 240px;
  width: 200px;
  margin-left: 26px;
  float: left;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}
.video_body .visited {
  position: absolute;
  width: 190px;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.3);
  top: 112px;
  left: 0;
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
  z-index: 99;
}
.video_body .cover {
  position: relative;
  width: 200px;
  height: 142px;
  line-height: 142px;
  text-align: center;
}
.video_body .cover .list_image {
  max-width: 200px;
  max-height: 142px;
  display: inline-block;
  vertical-align: middle;
}
.video_body .cover .video_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.video_body .name {
  font-size: 16px;
  color: #494137;
  margin: 20px 0 18px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.video_body .price {
  color: #E40000;
  margin-right: 15px;
  font-size: 14px;
}
.video_body .free {
  color: #11AA18;
  font-size: 14px;
}
.video_body .no_price {
  color: #EB851F;
  font-size: 14px;
}
.video_body .line_price {
  text-decoration: line-through;
  color: #CCCCCC;
  font-size: 12px;
}
