.video_body{
  padding-top: 30px;
  overflow: hidden;
  background: #fff;
  min-height: 500px;
  .book_list{
    height: 240px;
    width: 200px;
    margin-left: 26px;
    float: left;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .visited{
    position: absolute;
    width: 190px;
    height: 30px;
    line-height: 30px;
    background:rgba(0,0,0,0.3);
    top: 112px;
    left: 0;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    z-index: 99;
  }
  .cover{
    position: relative;
    width: 200px;
    height: 142px;
    line-height: 142px;
    text-align: center;
    .list_image{
      max-width: 200px;
      max-height: 142px;
      display: inline-block;
      vertical-align: middle;
    }
    .video_icon{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
    }
  }
  .name{
    font-size:16px;
    color:rgba(73,65,55,1);
    margin: 20px 0 18px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
  .price{
    color: #E40000;
    margin-right: 15px;
    font-size:14px;
  }
  .free{
    color: #11AA18;
    font-size:14px;
  }
  .no_price{
    color: #EB851F;
    font-size:14px;
  }
  .line_price{
    text-decoration: line-through;
    color: #CCCCCC;
    font-size:12px;
  }
}


