#index_medicine {
  width: 1060px;
  height: 100%;
  padding: 40px 70px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  min-height: 400px;
  padding-top: 0;
  margin-bottom: 38px;
  border: solid 1px #E7E6E4;
}
#index_medicine input::-webkit-input-placeholder {
  color: #ccc;
}
#index_medicine .medicine_title {
  color: #333;
  padding-top: 46px;
  padding-bottom: 77px;
}
#index_medicine .medicine_title span {
  cursor: pointer;
  font-size: 22px;
}
#index_medicine .medicine_title span:hover {
  color: #8C1515;
}
#index_medicine .medicine_title .medicine_split {
  padding: 0 20px;
}
#index_medicine .medicine_title .clickHover {
  color: #8C1515;
}
#index_medicine .medicine_title .search {
  float: right;
  width: 320px;
  height: 38px;
  overflow: hidden;
  border: #E3E3E3 solid 1px;
  border-radius: 19px;
  cursor: pointer;
}
#index_medicine .medicine_title input {
  width: 80%;
  padding-left: 16px;
  height: 38px;
  line-height: 38px;
  color: #771F1E;
  outline: none;
  border: 0;
}
#index_medicine .medicine_title .search_icon {
  float: right;
  padding: 0;
  margin-top: 10px;
  margin-right: 15px;
}
#index_medicine .sub_rightcontent {
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  color: #72695D;
}
#index_medicine .sub_rightcontent:hover .sub_rightcontentimg {
  background-image: url(../../../src/assets/images/medical/li-hover.png);
}
#index_medicine .sub_rightcontent:hover .sub_rightcontentli,
#index_medicine .sub_rightcontent:hover .sub_rightcontentdate {
  color: #8C1515;
}
#index_medicine .sub_rightcontent .sub_rightcontentimg {
  width: 16px;
  height: 13px;
  float: left;
  background-image: url(../../../src/assets/images/medical/li.png);
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-right: 6px;
}
#index_medicine .sub_rightcontent .sub_rightcontenttop {
  float: left;
  width: 34px;
  height: 18px;
  background: #F98512;
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 12px;
  margin-right: 5px;
}
#index_medicine .sub_rightcontent .sub_rightcontentli {
  float: left;
  margin-right: 10px;
  color: #333;
}
#index_medicine .sub_rightcontent .sub_rightcontentli span {
  display: inline-block;
  width: 34px;
  height: 18px;
  background: #F87E7E;
  border-radius: 2px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  margin-right: 2px;
}
#index_medicine .sub_rightcontent .sub_rightcontentdate {
  float: right;
  color: #C6C6C6;
}
.medicine_details {
  width: 100%;
  padding-bottom: 80px;
  background: #f8f8f8 !important;
}
.nav {
  width: 1200px;
  margin: 0 auto;
}
.details_con {
  width: 1078px;
  margin: 0 auto;
  background: #fff;
  padding: 66px 66px;
  padding-top: 0;
}
.medical_wrap_title {
  text-align: center;
  font-size: 24px;
  color: #000000;
  padding-bottom: 28px;
}
.medical_wra_source {
  text-align: center;
  margin-bottom: 38px;
  color: #72695D;
  font-size: 14px;
}
.medical_wra_source span {
  margin-right: 20px;
  float: left;
}
.medical_wra_source span:first-child {
  margin-left: 384px;
}
.medical_wra_source .details_share {
  float: right;
}
.medical_wra {
  padding: 0 30px;
  color: #555555;
}
.medical_wra img {
  max-width: 1000px;
}
.medical_wra span {
  font-size: 14px !important;
  font-family: MicrosoftYaHei !important;
  line-height: 30px !important;
}
.medicine_details_title {
  color: #333;
  padding-top: 46px;
  padding-bottom: 65px;
}
.medicine_details_title span {
  cursor: pointer;
  font-size: 22px;
}
.medicine_details_title span:hover {
  color: #8C1515;
}
.medicine_details_title .clickHover {
  color: #8C1515;
}
.medicine_details_title .search {
  float: right;
  padding-left: 16px;
  width: 320px;
  border: #CEC6BB solid 1px;
  border-radius: 19px;
  cursor: pointer;
}
.medicine_details_title input {
  width: 280px;
  height: 38px;
  line-height: 38px;
  color: #771F1E;
  outline: none;
  border: 0;
}
.medicine_details_title .search_icon {
  float: right;
  padding: 0;
  margin-top: 10px;
  margin-right: 15px;
}
.medicine_details_title img {
  padding: 0 20px;
}
.medicine_details .share_box {
  display: inline-block;
  vertical-align: middle;
}
