
.userother_content_bg{
    background-color: #FAFAFA;
    padding-bottom:20px;
    background-image: url(../../../src/assets/images/resource/bg.png);
    background-repeat: repeat;
    position: relative;
    width: 100%;
    .left_bg{//背景左下
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .right_bg{//背景右下
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .userother_content_bg_banner{
        position: absolute;
        width: 100%;
        height: 440px;
        top:0;
        z-index: -1;
    }
    .userother_content_bg_flower1{
        content:"";
        position: absolute;
        top:352px;
        right: 0;
        width: 208px;
        height: 418px;
        background-image: url(../../../src/assets/images/medical/emblazonry-right.png);
        background-repeat: no-repeat;
        z-index: -2;
    }
    .userother_content_bg_flower2{
        content:"";
        position: absolute;
        left:0px;
        bottom: 0px;
        width: 301px;
        height: 622px;
        background-image: url(../../../src/assets/images/medical/emblazonry-left.png);
        background-repeat: no-repeat;
        z-index: -2;
    }
}
.userother_wrap{
    border-bottom: 6px solid;
    border-image: url(../../../src/assets/images/resource/split_bottom.png) 27 27 27 27 round round;
    margin: 0px auto;
    background:#fff;
    margin-bottom: 14px;
    .doctor_details{
        width: 1200px;
        margin: 0 auto;
        background:#fff;
    }
    .userother_icon{
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top:6px;
        margin-right: 7px;
        vertical-align: top;
        &.build_icon{
            background:url(../../../src/assets/images/medical/userother_build_icon.png) no-repeat;
        };
        &.doctor_icon{
            background:url(../../../src/assets/images/medical/userother_doctor_icon.png) no-repeat;
        }
    }
    .userother_top{
        padding: 0 35px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        box-sizing: border-box;
        position: relative;
        padding-bottom: 86px;
        &.bg{
            height: 440px;
            background-image: url()
        }
        .userother_top_opt{
            position: absolute;
            top:35px;
            right: 30px;
            .userother_opt_list{
                float: left;
                color: #606266;
                &.share_list {
                    position: relative;
                    &:hover {
                        .share_wrap {
                            display: block;
                        }
                    }
                }
                .el-button{
                    margin-right: 10px;
                }
                .share_wrap {
                    display: none;
                }
            }
        }
        .userother_top_pic{
            margin-top: 28px;
            margin-right: 40px;
            float: left;
            .userother_top_img{
                box-shadow: 10px 10px 0px #E3E3E3;
                width: 230px;
                height: 285px;
                cursor: pointer;
            }
        }
        .userother_top_more{
            position: absolute;
            bottom: 45px;
            right:47px;
            width: 112px;
            height: 27px;
            line-height: 45px;
            color: #AF997F;
            font-size:14px;
            background:url(../../../src/assets/images/medical/userother_btn_bg.png);
            cursor: pointer;
            background-size: 100% 100%;
            span{
                margin-left: 10px;
            }
        }
        .userother_top_content{
            margin-top:46px;
            padding-left: 270px;
            .userother_top_content_tit{
                font-size: 22px;
                margin-bottom: 24px;
                color:#333333;
                span{
                    font-size:14px;
                    color: #999999;
                    margin-left: 10px;
                }
            }
            .userother_top_content_text{
                color: #666666;
                line-height: 28px;
                p {
                    width: 856px;
                    word-wrap:break-word;
                }
            }
        }

    }
}
.userother_content{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 5;
    .userother_content_block{
        border-bottom:1px solid #EDEDED;
        padding-bottom: 22px;
        padding-top:30px;
        width: 100%;
        display: flex;
        .doctor_image{
            width: 108px;
            height: 135px;
            border: 1px solid #ececec;
            margin-right: 19px;
            cursor: pointer;
            img{
                width: 108px;
                height: 135px;
                object-fit: cover;
                object-fit: top;
            }
        }
        .doctor_con{
            flex: 1;
        }
        .userother_content_block_tit{
            color: #333;
            font-size: 18px;
            margin-bottom: 18px;
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .userother_content_block_text{
            line-height: 24px;
            color: #666666;
            margin-bottom:26px;
        }
        .userother_content_block_tag .el-tag{
            border:none;
            background: #F5EDE5;
            color: #96764E;
            line-height: 20px;
        }
    }

    .userother_content_left{
        width: 876px;
        padding:16px 36px;
        float: left;
        box-sizing: border-box;
        background-color: #fff;
        .el-tabs__content {
            margin-top: -42px;
            padding-top: 42px;
        }
        .el-tabs__nav-wrap::after{
            background-color: transparent;
            height: 6px;
            background-image: url(../../../src/assets/images/medical/userother_left-tab-line.png);
        }
        .el-tabs__nav-scroll{
            margin-left: 0px;
            position: relative;
            .el-tabs__active-bar{
                display: none
            }
            .el-tabs__item{
                font-size: 18px;
            }
            .el-tabs__item:hover {
                color: #2473D6;
                cursor: pointer;
            }
        }
        .el-tabs__item.is-active{
            color:#2473D6;
            font-weight:bold;
        }
        .userother_content_block_pic{
            padding-right: 15px;
            float: left;
            img {
                width: 82px;
                height: 106px;
                cursor: pointer;
            }
        }
    }
    .userother_content_right{
        width: 310px;
        float: right;
        background-color: #fff;
        .userother_content_right_tit{
            color:#8C1515;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            padding-left: 13px;
            position: relative;
            background: #F8F8F8;
            border-top: 3px solid #8C1515;
        }
        .userother_content_right_cont {
            padding: 0 20px 37px;
            box-sizing: border-box;
        }
        .userother_content_block{
            display: flex;
            .userother_content_block_pic{
                width: 92px;
                height: 118px;
                padding-right: 15px;
                img {
                    width: 92px;
                    height: 118px;
                    object-fit: cover;
                    object-position: top;
                    cursor: pointer;
                }
            }
            .userother_content_block_tit{
                color:#555;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 18px;
                &:hover{
                    color: #409EFF;
                }
            }
            .userother_content_block_text{
                color: #666;
                word-wrap : break-word ;
                width: 168px;
                height: 68px;
                font-size: 14px;
                margin: 0;
            }
        }
    }
}

.userother-footer .footerCon{
    height: 192px !important;
    overflow: hidden;
}
.pad-top-60{
    padding-top:60px;
}

#bdshare_weixin_qrcode_dialog.bd_weixin_popup {
    left: 1270px !important;
    top: 550px !important;
}
