<!-- 开通vip -->
<template>
  <div>
    <!-- 登录弹窗 -->
    <div class="login-box">
      <el-dialog
        clsss="login-box-dialog"
        :visible.sync="logindialogShow"
        :show-close="false"
        :append-to-body="false" >
        <!-- <v-Login></v-Login> -->
      </el-dialog>
    </div>
    
  </div>
</template>
<script >
  import { isLogin } from '@/utils/auth'
  import Login from '@/components/Login';
  export default{
    props: ['visible'],
    data() {
      return {
        isLogin: isLogin() || false,
        logindialogShow: false,
      }
    },
    components: {
      'v-Login': Login,
    },
    methods: {
      login() {
        this.logindialogShow = true,
        this.closeDialog()
      },
      closeDialog() {
        this.visible = false
        this.$emit('childEvent',{visible: false})
      },
      submit() {
        
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import 'index'
</style>




