/* 购买vip 弹窗 */
// .vip-dialog{
//   .el-dialog__header{ background-color: #F4F4F4; }
//   .dialog-title{
//     width: 100%;
//     display: flex;
//     align-items: center;
//     img{
//       width: 40px;
//       height: 40px;
//       border-radius: 50%;
//       margin-right: 10px;
//     }
//     i.huiyuan{
//       width: 18px;
//       height: 18px;
//       display: inline-block;
//       background: url('~@/assets/icon_huiyuan_pre.png') center center no-repeat;
//       background-size: 100% 100%;
//     }
//     span{
//       color: #999;
//       font-size:14px;
//       font-family:MicrosoftYaHei;
//       font-weight:400;
//       margin-left: 10px;
//     }
//     .not-login{
//       display: flex;
//       align-items: center;
//       i.huiyuan{
//         background: url('~@/assets/icon_huiyuan_nor.png') center center no-repeat;
//         background-size: 100% 100%;
//       }
//       a{
//         width:80px;
//         height:30px;
//         background:rgba(196,161,95,1);
//         border-radius:14px;
//         color: #fff;
//         display: inline-block;
//         text-align: center;
//         line-height: 30px;
//         vertical-align: middle;
//         margin-left: 10px;
//       }
//     }
//   }
//   .pay-list{
//     display: flex;
//     .pay-item{
//       flex: 1;
//       margin: 5px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       border: 1px solid #D5D5D5;
//       font-family:MicrosoftYaHei;
//       font-weight:400;
//       position: relative;
//       cursor: pointer;
//       padding: 10px 0;
//       span{ margin-bottom: 10px; }
//       i.tuijian{
//         text-align: center;
//         width: 40px;
//         height: 21px;
//         color: #fff;
//         background-color: #F1BD41;
//         border-radius:10px 0px 10px 0px;
//         position: absolute;
//         top: -10px;
//         left: 0;
//       }
//       .time{
//         color: #333;
//         font-size:14px;
//       }
//       .price{
//         height:16px;
//         font-size:16px;
//         font-family:MicrosoftYaHei-Bold;
//         font-weight:bold;
//         color: #F4494A;
//         s{
//           color: #AFAFAF;
//           font-size: 14px;
//         }
//       }
//       .discounts{
//         font-size:12px;
//         color: #F4494A;
//       }
//     }
//     .pay-item.active,
//     .pay-item:hover{
//       border:2px solid rgba(241,189,65,1);
//       box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.18);
//     }
//   }
//   .pay-type{
//     h3{
//       font-size:16px;
//       font-family:MicrosoftYaHei-Bold;
//       font-weight:bold;
//       color:rgba(51,51,51,1);
//       padding: 10px 0;
//       border-bottom: 1px solid #EEEEEE;
//       position: relative; 
//     }
//    h3:after{
//     content: "";
//     width:62px;
//     height:2px;
//     position: absolute;
//     left: 0;
//     bottom: -1px;
//     background:#0089EE;
//    }
//   }
//   .pay-down-info{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 30px;
//     a,span{ display: block; }
//     .down-left{
//       color: #999;
//       font-size:14px;
//       font-family:MicrosoftYaHei;
//       font-weight:400;
//       text-align: center;
//       img{
//         width: 120px;
//         height: 120px;
//         margin-bottom: 10px;
//       }
//     }
//     .down-right{
//       color: #999;
//       font-size:16px;
//       font-family:MicrosoftYaHei;
//       font-weight:400;
//       margin-left: 20px;
//       i{
//         width: 39px;
//         height: 39px;
//         display: inline-block;
//         margin: 15px 10px 0 0;
//       }
//       i.zhifubao{
//         background: url('~@/assets/icon_zhifubao.png') center center no-repeat;
//         background-size: 100% 100%;
//       }
//       i.weixin{
//         background: url('~@/assets/icon_weixin.png') center center no-repeat;
//         background-size: 100% 100%;
//       }
//     }
//   }
// }

